[2022-01-13 16:04] #802 closed, assigned to XVilka

[2022-01-13 16:05] ret2libc commented on #209
Nothing particular to do with this issue. We have already another issue about updating binutils. Apart from that I think most code has been confined in subprojects, so that's already good enough.

Can we close this @XVilka ?

[2022-01-13 16:30] #209 closed, assigned to nobody

[2022-01-13 16:31] #70 closed

[2022-01-13 16:33] XVilka commented on #973
It will be fixed by removing legacy signatures at 0.5.0. Until then I think it's better to keep this open.

[2022-01-13 17:08] ret2libc commented on #973
@XVilka Do you refer to zignature.c file? The file you mentioned in the description does not exist anymore.

[2022-01-13 17:16] wargio commented on #973
they still do exists, they have just been moved, but is ok, because i'm going to handle this issue.

[2022-01-14 11:05] XVilka opened #2205 "Wrong `__stack_chk_guard` naming in ARMv7 binaries"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian ARMv7
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARMv7 32bit
| `rizin -v` full output, **not trun

[2022-01-14 16:52] #2179 closed, assigned to nobody

[2022-01-14 18:18] XVilka opened #2210 "i386 librz/debug/p/debug_native.c:1533:8: warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]"
[code]
[code]

[2022-01-14 18:21] XVilka commented on #2210
Maybe we could add a new macro something like `#define RZ_PTR_TO_INT64(ptr) ((ut64)(intptr_t)(ptr))` and use it instead

[2022-01-17 09:35] segevfiner opened #2216 "Visual panels mode sometimes doesn't restore terminal modes correctly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10.0.19044.0 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not t

[2022-01-17 09:44] segevfiner opened #2217 "Setting `scr.pager=less` on Windows causes rizin to hang"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10.0.19044.0 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not t

[2022-01-17 09:56] ret2libc commented on #2217
Could not reproduce on linux. Maybe something windows specific. Will need to check.

[2022-01-17 09:57] ret2libc commented on #2216
Thanks for the well done report. BTW, how did you create those gif? :)

[2022-01-17 10:01] segevfiner commented on #2217
Very likely to be Windows specific. Hence the "Windows" on the title, and why I also listed my terminal setup.

[2022-01-17 10:04] segevfiner commented on #2216
https://www.cockos.com/licecap/

[2022-01-17 13:09] kazarmy opened #2218 "`.bf` extension should identify file as bf if contents are not recognized"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86_64 20.04
| File format of the file you reverse (mandatory)      | bf
| Architecture/bits of the file (mandatory)            | bf
| `rizin -v` full output, **not truncat

[2022-01-17 17:08] erosenst opened #2219 "TMS320x2806x support ?"
Hello is it possible to get TMS320 variants get supported?

They are common in on/off-grid solar power inverters and orginal PIP / clones have firmware issues.

You can find test firmwares: https://forums.aeva.asn.au/viewtopic.php?f=64&t=4332

And there is some datasheet:
https://www.ti.com/lit/ug/spruh18h/spruh18h.pdf?ts=1642277203844

Thank you

[2022-01-18 10:10] DhruvaG2000 commented on #2210
Can you please provide the steps needed to reproduce these warnings?

[2022-01-18 10:13] XVilka commented on #2210
See our Docker CI job, you need the i386 one.

[2022-01-18 10:38] DhruvaG2000 commented on #2210
Can you provide the link to the specific job? I was unable to locate any ``i386`` or 32 bit related jobs under [actions/ci](https://github.com/rizinorg/rizin/actions/workflows/ci.yml)

[2022-01-18 12:45] DhruvaG2000 commented on #613
The challenge in using ``**`` as the new operator would be that the way operations are implemented currently is using a char input to a switch statement. If there's an easy work around for this please do let me know.

[2022-01-18 12:50] wargio commented on #613
you can switch to `*` and then check if the next char is another `*`

[2022-01-18 13:12] ret2libc commented on #613
See for example how `RNCROR` `RNCSHR` and `RNCGT` are handled.

[2022-01-18 13:33] DhruvaG2000 commented on #613
Thanks @ret2libc this pointer helped alot. now `**` works 😄

[2022-01-20 16:23] #208 closed

[2022-01-20 18:44] Maijin opened #2227 "Support yara in rz-sign"
**Is your feature request related to a problem? Please describe.**
Support yara in rz-sign, at this stage it is more a nice to have, I wouldn't prioritize that but in the long run I think it would be very useful to have it in core.

**Describe the solution you'd like**
Ability to dump a signature as yara or import a rule as yara

[2022-01-21 21:27] re-fox commented on #2173
Updating with information from ASAN
[code]

[2022-01-22 16:33] #2218 closed, assigned to nobody

[2022-01-23 04:05] XVilka opened #2239 "Update Tree-Sitter to 0.20.x series"
- [ ] In rzshell parser
- [ ] In C types parser

https://github.com/tree-sitter/tree-sitter/releases/tag/v0.20.6

[2022-01-24 08:37] ret2libc commented on #2173
Thanks for your additional info. I will look at this in the next day!

[2022-01-24 16:51] segevfiner commented on #2216
This is most likely caused by improper saving/restoring of the terminal mouse mode by the panels mode using calls like https://github.com/rizinorg/rizin/blob/66d6bb94388045cc87e6d7e2b5e1ce78e1061c0b/librz/core/tui/panels.c#L6019

visual mode also messes with this setting which is likely why opening and closing it fixes this.

[2022-01-24 17:00] segevfiner commented on #2217
It hangs here: https://github.com/rizinorg/rizin/blob/66d6bb94388045cc87e6d7e2b5e1ce78e1061c0b/librz/util/w32-sys.c#L77

This is because, just like in Linux (And other Unix-likes), OS pipes have a fixed size buffer and once it is full, writing to them blocks. On Windows it is common to just write to `stdin` after starting the process, as the process reading `stdin` will block waiting for it anyhow

[2022-01-24 17:00] ret2libc commented on #2216
Thanks for digging a bit more into this! I didn't have time for this yet. If you feel like it, we of course appreciate PR as well; :D

[2022-01-24 17:03] segevfiner commented on #2216
I will have to dig further in to figure out what the correct mouse mode setting should be first. Don't want to just blindly change stuff 😝

[2022-01-24 19:05] segevfiner commented on #2216
Looking into `rz_cons_enable_mouse`, it seems the escape sequences used are fscked up.

Documented here: https://invisible-island.net/xterm/ctlseqs/ctlseqs.html.

`\x1b[?1000;1006;1015h` Sets modes 1000, 1006, and 1015 (`DECSET`)
`"\x1b[?1001r"` Restore saved mode 1001 (`XTRESTORE`), but it was never saved anywhere to begin with? This doesn't seem to make any sense.
`"\x1b[?1000l"` Reset mode 1000

[2022-01-24 21:35] segevfiner opened #2247 "Not analyzing an x64 SEH handler after RaiseException"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated**

[2022-01-25 11:05] XVilka commented on #727
Fixed by @DMaroo

[2022-01-25 11:05] #727 closed, assigned to nobody

[2022-01-25 14:53] segevfiner commented on #2216
@ret2libc I'm not seeing rizin sending `\x1b[...T` (`CSI Ps ; Ps ; Ps ; Ps ; Ps T`) which is used by highlight tracking (It basically allows a TUI/curses style program to control mouse highlighting so you can select stuff with the mouse inside widgets and the like), so it is likely the correct pair is `"\x1b[?1000;1006;1015h"` & `"\x1b[?1000;1006;1015l"`. Should I make a PR with this change?

[2022-01-25 16:03] segevfiner commented on #2217
I think one correct way to fix this is to move the `WriteFile` to a background thread that will be joined once we finish reading the output from the process and the process ends. Not sure what threading API should be used inside rizin. Although this is Windows specific code anyhow. Otherwise we can try overlapped I/O but that seems a bit like overkill.

[2022-01-26 09:30] wargio commented on #2216
can you verify that these changes does not affect also the prompt and powershell terminals?

[2022-01-26 09:37] segevfiner commented on #2216
@wargio In what way?

[2022-01-26 10:30] segevfiner commented on #2247
Also of note is that `RaiseException` is marked as `noreturn`, yet I think it does return if a debugger swallows the exception. But I'm not sure.

[2022-01-26 10:56] wargio commented on #2216
just do the same test on the other 2 terminals.

[2022-01-26 11:17] segevfiner commented on #2216
Manually tested on Widows pwsh 7.2.1 and cmd running on both wt.exe (Windows Terminal) and classic conhost on Windows 10.0.19044.0 and seems to work fine.

[2022-01-26 11:27] segevfiner commented on #2247
Doing `tn- RaiseException` makes analysis continue and see the jmp and the code following it. But it still seems to miss the exception handler even with `analysis.trycatch` enabled. I think there is also another function that contains the expression in the `__except` clause which could technically be detected and named.

[2022-01-26 13:55] segevfiner commented on #2247
Looks like for the binary I supplied, this is never entered: https://github.com/rizinorg/rizin/blob/56c6e8384b540ee8379e993eb41f02fbd93e5fdf/librz/analysis/fcn.c#L790-L815

Even with enabling `analysis.trycatch` which is obviously required and setting `tn- RaiseException` it looks like it never reaches a point where it will consider the `try`.

[2022-01-26 14:09] DhruvaG2000 opened #2253 "Math operations: integrate floating point support"
**Is your feature request related to a problem? Please describe.**
Currently the math operations do not return floating or double answers as can be seen in the output below:
[code]

**Describe the solution you'd like**
The answer should return the floating point and double result as well instead of zero

[2022-01-26 16:40] thestr4ng3r commented on #2195
I would also add the option to search for files that export a given symbol name

[2022-01-26 21:47] #2216 closed, assigned to nobody

[2022-01-27 06:49] DhruvaG2000 commented on #2195
Seems like this issue is being partially solved in PR https://github.com/rizinorg/rizin/pull/2256 but isn't linked here.

[2022-01-27 09:19] ret2libc commented on #2217
@GustavoLCR input on this?

[2022-01-27 13:49] #613 closed, assigned to nobody

[2022-01-27 17:36] segevfiner commented on #2247
Argh. Apparently the `try` flags are not created by default even when you enable `analysis.trycatch`. I had to do `.iw`. So the following sequence for the given binary:
[code]
Produces:
[code]
Which has this suspicious assertions, though I'm not yet sure what it means. And the disassembly:
![image](https://user-images.githubusercontent.com/24731903/151412145-fbc87229-524f-409e-8f78-6682d118e89d.pn

[2022-01-28 09:09] DhruvaG2000 commented on #900
I would like to suggest, ``iA`` where ``A`` could stand for "all" - ``ii``, ``ir``, ``is``?
The output would look something like:
``[0x00001040]> iA``
ii | ir  | is
---|---|---
nth vaddr      bind   type   lib name  |  paddr      target     type  |  vaddr   size
1   0x00000000                               |
2   0x000eefbee   |
3   0.00xx0x0x0   |

(pardon my terrible formatting as I have done it

[2022-01-28 10:06] PeiweiHu commented on #2195
Now https://github.com/rizinorg/rizin/pull/2256 supports both `-I `and `-S`.

[2022-01-28 10:39] ret2libc commented on #900
To be honest it is not clear to me what @XVilka is suggesting exactly. Could you provide more details about this and a concrete example of what you had in mind?

[2022-01-28 14:47] segevfiner commented on #2247
This change got it working for the test binary:
[code]
(Can submit a PR with this if wanted, note that this code also has a stray debugging `eprintf` in it).

Using the following command sequence:
[code]
(Might want to consider unsetting noreturn on RaiseException by default (And maybe RtlRaiseException?, or others?))

But I still wasn't able to get it to analyze `OutputDebugStringA` in KernelBase

[2022-01-28 15:32] segevfiner commented on #2247
Yep. The `.pdata` or exception directory for kernelbase.dll seems to have way more entries than what `iw` prints, so it is likely that rizin doesn't understand all the formats of unwind info that exist there.

Like the code in https://github.com/rizinorg/rizin/blob/6af80b33a79b65cfbaf735a00c4e6b796b8b9933/librz/bin/p/bin_pe64.c#L361 is pretty weird, like it might only tries to parse C++ try catcho

[2022-01-28 17:16] segevfiner opened #2265 "WARNING: (../../../../rizin/librz/type/helpers.c:516):rz_type_cond_invert: code should not be reached"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated**

[2022-01-29 09:46] h4x5p4c3 commented on #2173
i did encounter a similar issue with my arch linux

[2022-01-29 10:12] segevfiner opened #2267 "td, to: Does not print any errors"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated**

[2022-01-29 10:18] segevfiner opened #2268 "Support defining `t` types from `pf` format strings, including from existing saved ones"
**Is your feature request related to a problem? Please describe.**
There are currently two type format supported by rizin. The `pf` format strings, and the C11 syntax supported by `t`. While you can get a `pf` format string for a `t` type and even use `tp` to instantly use it to print (You will have to edit the string if you want it saved as a `pf.something`). There doesn't seem to be a way to qui

[2022-01-29 13:03] segevfiner opened #2269 "Jumping by mouse click in visual panels mode doesn't add to seek history"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated**

[2022-01-29 13:15] segevfiner opened #2270 "Rizin errors/crashes when parsing a specific PDB generated by MSVC2019"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated**

[2022-01-31 07:10] segevfiner commented on #2269
Seems like this even sometimes bugs out and clicking the mouse just jumps to somewhere that seems pretty random...

[2022-01-31 09:20] ret2libc commented on #2247
@GustavoLCR did you implement this?

[2022-01-31 09:27] ret2libc commented on #2173
This should be fixed now in `dev` branch. Please re-open if I'm wrong.

[2022-01-31 09:27] #2173 closed, assigned to ret2libc

[2022-01-31 09:28] ret2libc commented on #2268
@XVilka opinions on this?

[2022-01-31 09:33] ret2libc commented on #2270
Thanks a lot for all these reports, we really appreciate them!

I noticed one thing:
[code]

Where did you take this rizin? Could you make sure to use the latest stable version available or dev?

[2022-01-31 09:36] segevfiner commented on #2270
I did. That's just a copy pasta error. I'll edit this to the correct version.

[2022-01-31 11:41] segevfiner opened #2271 "Analyze Windows x86 (32-Bit) MSVC C++ and SEH exception handling"
**Is your feature request related to a problem? Please describe.**
Rizin doesn't analyze exception handlers in Windows x86 MSVC binaries, which is information that can be useful.

**Describe the solution you'd like**
Rizin will be able to auto-analyze exception handling code in Windows x86 MSVC binaries, both the C++ and SEH (SEH3/SEH4) variants.

**Describe alternatives you've considered**
Analyz

[2022-02-02 03:31] XVilka commented on #1961
Yes

[2022-02-02 17:12] thestr4ng3r commented on #2239
This patch can also be removed after updating: https://github.com/rizinorg/rizin/commit/a9785645273cd5f142c02ddb6c4082f87c4f2d82

[2022-02-02 17:16] komugi64 opened #2277 "Relocations are sometimes not patched correctly in the dissassembly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo Linux 64-bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86
| `rizin -v` full output, **not trunc

[2022-02-02 19:46] komugi64 commented on #2277
I also have a file with really weird string relocations (a kernel module from SecurityCTF 2019) :
[chall.ko.zip](https://github.com/rizinorg/rizin/files/7989388/chall.ko.zip)

- objdump and readelf don't find the values for the relocations
- rizin and r2 display different values that seem to come from nowhere
- but the printk's work correctly when the module is loaded

#### Respective outputs of r

[2022-02-03 06:52] thestr4ng3r commented on #2277
Patching works now, but the reloc info in e.g. `ir` still shows `0x800020b` without the added value from the bytes below (e.g. 0x11). This should probably be fixed after #2277

[2022-02-03 08:37] segevfiner opened #2280 "Install plugins on Windows"
**Is your feature request related to a problem? Please describe.**
I want to be able to install plugins on Windows. The current `rz-pm` is a shell script tailored for Linux/macOS, and the plugins still use the radare2 old ACR build system, as such there is no convenient way to build plugins on Windows.

**Describe the solution you'd like**
Being able to install plugins on Windows. Need a different

[2022-02-03 09:49] ret2libc commented on #2280
There was already a starting point of rz-pm in golang and we have plans to continue it, time permitting, however it is still there... Yes, rz-pm bash script is no good for Windows. Hopefully by mid year or so we can have rz-pm basic functionalities working in golang and all major OS. I'm not sure it makes sense to keep this task opened though, as we have already https://github.com/rizinorg/rz-pm/

[2022-02-03 10:30] segevfiner commented on #2280
Up to you. Can just move it there or close it altogether. I just wanted to point out the divergence in terms of radare2's rz-pm where they choose to abandon the Go implementation and implement something in C.

P.S. If you're feeling adventurous, it might be possible, as an interim solution, to get `rz-pm` working with msys2 using mingw gcc (Assuming the ABI is compatible) or some msvc wrapper scri

[2022-02-03 13:46] #1587 closed, assigned to XVilka, ret2libc

[2022-02-06 10:44] kazarmy opened #2288 "pdf: Incorrect disassembly after `..`"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86-64 20.04
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated** (mandatory)

[2022-02-07 07:00] XVilka commented on #2280
Closing in favor of https://github.com/rizinorg/rz-pm/issues/6 and https://github.com/rizinorg/rz-pm/issues/12

[2022-02-07 07:00] #2280 closed, assigned to nobody

[2022-02-07 09:31] ret2libc commented on #2288
This does not seem about disassembly, but it seems a bug somewhere in `pdf`, because actually the function is analyzed and disassembled correctly.

If you look at the graph indeed:
![image](https://user-images.githubusercontent.com/562321/152761672-3eea594d-8a55-4fbc-85f0-cb1156a32dc5.png)

Also, using `pdr`:
[code]

That said, there is definitely a bug in `pdf`.

[2022-02-07 09:33] ret2libc opened #2290 "Libs should have the right soversion"
See https://github.com/radareorg/radare2/issues/18621 for more details.

[2022-02-07 10:02] segevfiner opened #2291 ""aaa" causes warning eprintf "Register wasn't found at the given delta" when analyzing KernelBase.dll"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64 64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated**

[2022-02-07 10:18] #2253 closed, assigned to nobody

[2022-02-07 10:23] kazarmy commented on #2288
I agree with you that there is a bug in the `pdf` output.

[2022-02-07 17:44] #1589 closed, assigned to ret2libc

[2022-02-08 17:03] #2288 closed, assigned to nobody

[2022-02-10 10:40] ret2libc commented on #2149
@borzacchiello could you check on current `dev` branch if this is still present? I think there was some work done on a similar bug.

[2022-02-10 10:42] XVilka opened #2298 "API for the graph access"
Currently some of the graph features are implemented only in commands or in `RzGraph` and `RzAGraph` structures. But those APIs and structures aren't complete or good enough to perform a comparison, for example, of CFGs between two different functions or files, e.g. for `rz-diff` purpose but from the API.

[2022-02-10 10:43] ret2libc commented on #677
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:43] ret2libc commented on #1205
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:46] ret2libc commented on #1698
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:47] ret2libc commented on #1836
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:50] ret2libc commented on #1592
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:50] ret2libc commented on #1533
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:51] ret2libc commented on #1495
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:51] ret2libc commented on #1475
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:51] ret2libc commented on #1437
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:51] ret2libc commented on #1311
I didn't see any work on this during this time, so I doubt it will be done for 0.4.0.
I'm removing the 0.4.0 milestone for now until someone starts to actively looking at this.

cc @XVilka

[2022-02-10 10:53] ret2libc commented on #1272
@XVilka Was this solved? I remember seeing something about this, but I'm not sure...

[2022-02-10 10:53] ret2libc commented on #1256
@XVilka could we update this? If it's done, let's close. If not and it requires a lot of time, let's remove it from 0.4.0.

[2022-02-10 10:59] ret2libc commented on #1013
I think this was fixed in https://github.com/rizinorg/rizin/pull/1997 and other following PRs.

Could you test on dev if it works for you?
You should see with `rizin -H` both RZ_LIBR_PLUGINS and RZ_USER_PLUGINS that makes sense.

[2022-02-10 11:00] ret2libc commented on #747
@XVilka @thestr4ng3r can we close this? We are not following r2 anymore, I think.

[2022-02-10 11:15] wargio commented on #747
for me is ok to close this.

[2022-02-10 12:18] ret2libc commented on #2298
RzGraph is quite generic and should remain so IMO.

What are exactly the API you are missing?

Differences in graphs is a very specific thing that needs to be done by the user of the API, not the API itself imo. Are two graphs the same based on the structure of the nodes? On the content of the nodes? On something else?

RzGraph deals only with the data structure, but it has no idea what's inside e

[2022-02-10 12:56] chinggg commented on #2072
Rizin can detect function at `0x424250` but name it as `sym.main`. The address of symbol flag `main` seems to be wrong.
[code]

Radare2 seems to be right
[code]

Using gdb to debug rizin, we can see that in `num_callback()`,  `rz_analysis_get_function_byname("main")` does not return valid result so it use the result of `rz_flag_get("main")`, which is `0x824250`
[code]

To solve this problem:
1. Wh

[2022-02-10 13:54] XVilka commented on #2298
Differences in graphs are required for the `rz-diff` and Cutter diff plugins.

[2022-02-10 13:56] XVilka commented on #1272
@ret2libc no, not completely at least.

[2022-02-10 13:58] XVilka commented on #1698
It is being worked on in https://github.com/rizinorg/rizin/pull/1699 and very important.

[2022-02-10 14:07] XVilka commented on #747
Certain changes in ELF parsing are worth packporting.

[2022-02-10 14:12] ret2libc commented on #1272
@XVilka Can you provide precise instructions to see what's wrong then? There is just a title in this issue.

[2022-02-10 14:12] ret2libc commented on #2298
Ok, implement them there. What's the problem with that? What kind of API do you need? If there is no real and concrete proposal, let's close this.

[2022-02-10 14:49] kazarmy commented on #2072
`get_main_offset_linux_64_pie()` returns the correct address (`0x424250`) and `0x400000` happens to be the virtual address of the first LOAD segment (which I suspect is involved somehow). I don't have much time to work on this, so if you can solve this mystery, that would be great!

[2022-02-10 15:52] kazarmy opened #2299 "`?p` should be independent of `io.va`"
`?p` should be independent of the value of `io.va` since it should always treat its argument as a virtual address.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 x86_64
| File format of the file you reverse (mand

[2022-02-10 21:34] re-fox opened #2300 "[FLIRT] - zfs not completing"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, **not truncated** (

[2022-02-11 04:39] DMaroo commented on #1272
@ret2libc I opened a PR to fix it, but the code I pushed up till now just feels too "hacky" and does not feel generic. I am unable to find a good and general way to parse such types and print them. I have put this issue on hold, because I need some time to think what would be the best way to fix it generically. Meanwhile, I am working on porting search commands (`/`) which is much more specific.

[2022-02-11 07:55] s0i37 commented on #590
I have tested with last commit:

[code]

On remote machine:

[code]

It is doesn't work:
[code]
./rizin -D winkd winkd://10.0.0.64:5005:1.2.3.4
...
Opened kdnet 10.0.0.64:5005:1.2.3.4 with fd 0x56459548f080
[code]
U 10.0.0.1:5005 -> 10.0.0.64:5005 #13
  MDBG...x..2.h....Hp.X'i.E.......f..x..
[code]

[2022-02-11 08:36] ret2libc commented on #2300
cc @wargio

[2022-02-11 08:57] borzacchiello commented on #2149
Yes it was fixed :). Thanks.
I'm closing the issue.

[2022-02-11 08:57] #2149 closed, assigned to nobody

[2022-02-11 10:47] wargio commented on #2300
Thank you for the bug report :)

[2022-02-11 12:01] #2300 closed, assigned to wargio

[2022-02-11 12:53] kazarmy commented on #2072
The problem with `sym.main` as you alluded here (apart from the possibility of it actually containing an incorrect address) is that it might not even exist.

[2022-02-11 16:36] #2299 closed, assigned to nobody

[2022-02-12 19:25] ajakk opened #2307 "Two small memory leaks"
Each of the attached files (when un-gzipped) produce memory leaks, one example:

[code]

### Expected behavior

Memory shouldn't be leaked.

### Actual behavior

A small amount of memory is leaked.

[id 000009,sig 06,src 012103+009495,time 506124955,op splice,rep 8.gz](https://github.com/rizinorg/rizin/files/8054346/id.000009.sig.06.src.012103%2B009495.time.506124955.op.splice.rep.8.gz)

[id 00074

[2022-02-13 02:43] chinggg commented on #2072
You mean this binary does not even have symbol `main`? But I can see the symbol `main` using some tools (except `objdump -t` because this binary has only `.dynsym`)

[code]

What confuses me is why `rz-bin` has the output of `paddr=0x24250` but `p->binsym(bf, 2)` returns `0x424250`

[2022-02-13 03:34] kazarmy commented on #2072
This binary does not have symbol `main`: https://github.com/rizinorg/rizin-testbins/blob/master/elf/analysis/fedora_35_x86_64bit_ls and it cannot be assumed that future binaries will have that symbol.

This probably suggests the cause of this issue but the code still needs to be fixed.

[2022-02-13 03:43] XVilka opened #2308 "Support packing and alignment in C data structures (RzTypes) properly"
As a follow up of https://github.com/rizinorg/rizin/pull/2230 discussion we should design and implement properly various arrangements of structures and unions that can be packed, aligned, and have other similar attributes.

[2022-02-13 08:30] #2291 closed, assigned to nobody

[2022-02-13 13:22] XVilka opened #2313 "Fix Windows `clang-cl` installer builds"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (m

[2022-02-13 13:31] #2217 closed, assigned to nobody

[2022-02-13 13:47] chinggg commented on #2072
I have debug and see the value returned by `rz_read_le32` is `0x424250`, but it should be `0x24250` since it is paddr, is there anything special about the condition `bo=24`? May be the value should not be returned directly?
[code]

[2022-02-13 13:59] kazarmy commented on #2072
It should be the offset for the `mov rdi`.

Maybe.

[2022-02-13 14:41] XVilka commented on #1013
@dmknght could you please test it and write here if it was fixed?

[2022-02-13 15:05] AKACHI-4 commented on #2307
can u explain a bit about it ......... ?

[2022-02-13 16:45] ajakk commented on #2307
Sure. huntr.dev released a new batch of radare2 CVEs, which were all vulnerabilities that were fuzzed out of radare2. I tested all of the inputs against Rizin, and the only impact in Rizin was these two memory leaks out of the 6 radare2 CVEs that were released.

[2022-02-13 19:12] segevfiner commented on #2247
With latest changes:
1. It does seem to analyze more exception handlers, not sure if it's all of them (Didn't compare the output manually).
2. I think it still links the exception handler to the `try` flag rather than the opcode before the `catch` flag.
3. `tn- RaiseException` is still required.
4. You still need to manually run `.iw` & `e analysis.trycatch=true`.
5. Haven't checked how it handles

[2022-02-14 03:13] XVilka commented on #2247
We will need to add a better test for this as well.

[2022-02-14 06:07] XVilka commented on #2298
Duplicate of https://github.com/rizinorg/rizin/issues/992

[2022-02-14 06:07] #2298 closed, assigned to nobody

[2022-02-14 08:33] XVilka opened #2316 "Rizin cannot find `main` or `sym.main` function in V850 ELF"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | NEC V850
| `rizin -v` full output, **not tru

[2022-02-14 09:23] XVilka opened #2317 "Rizin cannot detect variables in NEC (Renesas) V850 ELF binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | NEC V850
| `rizin -v` full output, **not tru

[2022-02-14 09:36] ret2libc commented on #2308
To clarify for the future: the packad, aligned, etc. should be attributes of the structure itself and they should be computed without having to use a different API.

[2022-02-14 13:04] #882 closed, assigned to nobody

[2022-02-14 16:05] #2072 closed, assigned to nobody

[2022-02-15 09:11] ret2libc commented on #2313
Should be fixed with new meson version 0.61.2, released yesterday. See https://github.com/rizinorg/rizin/pull/2321 .

[2022-02-15 09:11] #2313 closed, assigned to nobody

[2022-02-16 05:59] XVilka commented on #272
I does work with FLIRT signatures, and old ones will be removed in 0.5.0 release. Thus moving the milestone, but not yet closing until removal is done.

[2022-02-16 07:47] s0i37 commented on #590
Also I've checked winkd with pipe:

`qemu ... -chardev socket,id=serial0,path=/tmp/serial0,nowait,server -serial chardev:serial0`

[code]

[code]

In each case rizin/r2 hangs

[2022-02-16 07:53] XVilka commented on #590
@GustavoLCR could you please take a look when you have time?

[2022-02-16 11:16] s0i37 opened #2327 "Tracing back doesn't restore memory"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86 64
| File format of the file you reverse (mandatory)      | ELF (debug mode)
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, *

[2022-02-16 14:55] ret2libc commented on #2327
cc @yossizap

[2022-02-16 15:30] dmknght commented on #1013
Hello team! Sorry for late reply and testing. I completely forgot about this. I confirm this issue is completed on my side.
![image](https://user-images.githubusercontent.com/29118926/154298147-f3d5d010-4aa4-45f6-ac90-914ddd5241bc.png)

[2022-02-16 15:30] #1013 closed, assigned to ret2libc

[2022-02-17 08:02] ret2libc opened #2329 "Add rz-libyara build to release CI"
If we want rz-libyara to not break it should be checked in the CI before each release. It should have a job similar to build-rzpipe and build-extras.

[2022-02-18 02:22] wargio commented on #2329
the plugin should be built with cutter, so it will be tested for each release on cutter.

[2022-02-19 22:47] dogtopus opened #2338 "pswj does not return 16-bit wide string as expected"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | Any
| `rizin -v` full output, **not truncat

[2022-02-20 18:40] dmknght opened #2342 "Add default enums to database"
**Is your feature request related to a problem? Please describe.**
There are many const values in default libs have readable names. During programming time, it's easy to understand. For example, I have this code:
[code]
Const values are `int`. So when Rizin disassembly the code, It looks harder to understand, requires users checking the documentation (or the header files of source code).
![image](

[2022-02-20 19:06] dmknght commented on #2342
Update: `deroad` sent the db of linux-functions on telegram https://github.com/rizinorg/rizin/blob/dev/librz/analysis/d/functions-linux.sdb.txt so i think it's possible to do this idea but it requires different db reader method.

[2022-02-21 11:00] dmknght commented on #2342
Update: There are some examples in MacOS db https://github.com/rizinorg/rizin/blob/dev/librz/analysis/d/types-macos.sdb.txt#L4

[2022-02-21 12:29] dmknght opened #2344 "Command `aht` doesn't work for custom enum type"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Parrot 5.0 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trun

[2022-02-21 13:51] #578 closed, assigned to nobody

[2022-02-21 13:51] #580 closed, assigned to nobody

[2022-02-21 13:56] ret2libc commented on #581
Let's choose:

[2022-02-21 13:57] #582 closed, assigned to nobody

[2022-02-21 13:57] ret2libc commented on #582
very niche feature, I think. I don't see this being done any time soon. Closing for now.

[2022-02-23 05:11] XVilka opened #2357 "libzip subproject - cannot find size of the `off_t` type with Muon"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2022-02-23 08:11] ret2libc opened #2359 "Generate help of a command at runtime"
**Is your feature request related to a problem? Please describe.**
Some commands like `woE` and `woD` accept as `algo` argument one of the supported crypto algorithms, which are dynamic based on which plugins are loaded in Rizin. I would like to have the algorithms listed as part of `woE?`, in a `detail` section of the command help, however right now the detail part is just static, defined in the

[2022-02-23 14:33] ret2libc commented on #1342
I propose to remove this. @XVilka @ITAYC0HEN @thestr4ng3r @wargio @kazarmy

[2022-02-23 15:40] wargio commented on #1342
yes, is better to uniform

[2022-02-23 17:16] thestr4ng3r commented on #1342
remove

[2022-02-24 09:38] ret2libc opened #2363 "Remove command `0` (alias for `s 0x...`)"

[2022-02-25 05:17] #2270 closed, assigned to nobody

[2022-02-25 08:36] ret2libc commented on #129
I'd move this to idea repo. @XVilka ok?

[2022-02-25 09:25] #2359 closed, assigned to ret2libc

[2022-02-25 11:40] #2167 closed, assigned to nobody

[2022-02-25 15:46] ret2libc commented on #2059
Please see if https://github.com/rizinorg/rizin/pull/2365 makes sense when you can :)

[2022-03-01 17:53] DMaroo commented on #923
I think this issue is still relevant and should not be closed. The legacy tests should be ported to the new miniunit test format. It will be much better, and uniform that way.

[2022-03-02 09:29] #1511 closed, assigned to nobody

[2022-03-02 09:39] #2059 closed, assigned to ret2libc

[2022-03-03 14:30] XVilka commented on #189
@GustavoLCR please update this issue by removing (or ticking) of what had been done. Or maybe close this one and open a separate issues for things that are still missing or could be done, if there is anything valuable.

[2022-03-04 00:27] XVilka commented on #2357
With the latest Muon it becomes an error on the configuration phase:
[code]

[2022-03-04 14:30] #2338 closed, assigned to wargio

[2022-03-05 07:10] XVilka commented on #1556
Should be fixed by using `meson test --print-errorlogs` in Appveyor and GitHub CI Windows.

[2022-03-06 15:54] #1556 closed, assigned to ret2libc, kazarmy, GustavoLCR

[2022-03-07 07:54] ret2libc commented on #1429
@wargio ping?

[2022-03-07 11:20] wargio commented on #1429
no i do not remember doing this.

[2022-03-09 14:10] #2363 closed, assigned to nobody

[2022-03-10 07:33] PeiweiHu commented on #2195
I forgot to add `closes ##` in pr. This issue was solved in https://github.com/rizinorg/rizin/pull/2256 and can be closed.

[2022-03-10 11:57] #2265 closed, assigned to nobody

[2022-03-12 12:42] kholis1 commented on #1058
So the issue here is that one thread can call `setlocale() ` but at the same time another thread could call `wcstombs()` ?

[2022-03-12 13:11] wargio commented on #1058
potentially, but the issue itself is linked to the concurrent access to a global variable, and needs to be replaced with the thread safe one.

[2022-03-14 02:47] #2267 closed, assigned to nobody

[2022-03-15 15:58] #1058 closed, assigned to nobody

[2022-03-16 01:15] sezc opened #2413 "cannot do xref on string"
I'm trying to find where a string is used on the code of a UEFI firmware for a Xiaomi phone (Poco M3), but it shows nothing on the xref.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ubuntu x64 21.04
| File format of the fil

[2022-03-16 14:59] haeter525 opened #2416 "Some method references in Dex are missing"
### Work environment

| Questions                                             | Answers                                                      |
| ----------------------------------------------------- | ------------------------------------------------------------ |
| OS/arch/bits (mandatory)                              | Ubuntu 20.04                                                 |
| File format o

[2022-03-17 10:11] ret2libc commented on #2413
@sezc do you know where this string is referenced? Are we sure that it is referenced anywhere and not maybe through obfsucated code?

[2022-03-17 10:14] ret2libc commented on #2416
@wargio is this because `invoke-virtual/range` is used? Maybe it is not considered? I'm no expert...

[2022-03-17 10:39] wargio commented on #2416
probably is linked to the same bug as the other invoke-virtual

[2022-03-18 16:29] #2239 closed, assigned to ret2libc

[2022-03-21 07:44] ret2libc commented on #1286
This issue seems to be still present, however I'd change the title because the problem seems to be just with some architectures.

[2022-03-21 20:01] #730 closed, assigned to nobody

[2022-03-23 00:58] ajakk commented on #2307
Since this is unfixed, [here's another one](https://github.com/radareorg/radare2/files/8302777/tests_65185.zip)

[code]

[2022-03-24 00:27] #1674 closed, assigned to ret2libc

[2022-03-24 08:54] #336 closed, assigned to nobody

[2022-03-24 09:23] wargio commented on #2416
The method called at 0x000496f6 is an import (therefore not resolved) but the code that was supposed to do this was commented.
I pushed a fix to handle it and gave a quick check to verify there were no other jumps missing.

[2022-03-24 12:47] XVilka commented on #1475
Only partially resolved.

[2022-03-25 14:28] ajakk opened #2448 "Heap buffer overread in bin_symbols.c:parseDragons"
This issue is the same as radare2's: https://huntr.dev/bounties/a7546dae-01c5-4fb0-8a8e-c04ea4e9bac7/

Using the [reproducer](https://github.com/radareorg/radare2/files/8330269/tests_65306.zip) linked in the above report, there is a heap overread in bin_symbols.c:parseDragons:

[code]

[2022-03-25 22:08] wargio commented on #1392
print_code.c was removed here https://github.com/rizinorg/rizin/pull/2444

[2022-03-26 11:59] #2448 closed, assigned to nobody

[2022-03-27 12:50] thestr4ng3r commented on #1835
A bit more context: `i~bits` returning 16 is not wrong, it only indicates thumb mode. However also in thumb mode, addresses are still 32-bit, which is already expressed correctly by `rz_analysis_get_address_bits()`. Only the type handling has to pick it up too.

[2022-03-27 13:53] #1835 closed, assigned to thestr4ng3r

[2022-03-28 07:58] XVilka opened #2458 "Binary mask output/input for `rz-ax`."
It's common in various datasheets to have particular bits set, e.g. `[0] - RST, [5-7] - MSK, [15-31] - DATA`.

With long numbers, e.g. 64bit numbers, counting manually these bits is painful, and calling external commands, e.g. Python is suboptimal.

The idea is to allow a new bit mode for `rz-ax` that will print something like this:
[code]
Or something similar

[2022-03-28 08:04] ret2libc commented on #2458
I'm not sure I understand how it works

[2022-03-28 08:54] DhruvaG2000 commented on #1330
To add more info about DWARF ``.debug_sup`` section:

For description of each of these I referred to [pg 213 DWARF Debugging Information Format Version 5](https://dwarfstd.org/doc/DWARF5.pdf)

Few additional links that may help:
- [binutils-gdb commit: Add initial support for .debug_sup sections](https://sourceware.org/git/?p=binutils-gdb.git;a=commitdiff;h=e38332c286bb96026fadc128170303cc4e935225

[2022-03-30 14:45] fr0ster opened #2470 "Debugging in rizin and strange warnings about ptrace_getregset"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 11/Intel/x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | Intel/x64
| `rizin -v` full output, **not

[2022-03-31 14:46] ret2libc opened #2474 "C parser fails to load ELF file format"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated**

[2022-03-31 14:55] ret2libc commented on #2474
`pf.elf_header` seems to work. even though there are the errors.

[2022-04-01 00:55] haeter525 opened #2475 "Include the library name of symbol in command `isj`"
**Is your feature request related to a problem? Please describe.**

Hi. I currently use Rizn to develop a core library for [Quark-Engine](https://github.com/quark-engine). I plan to use command `isj` to get the method information in a DEX. However, I encountered a problem when parsing the library name (or class name in the perspective of object-oriented languages).

The problem is that in the outp

[2022-04-01 02:14] XVilka opened #2476 "../subprojects/rzwinkd/winkd.c:652:19: runtime error: load of value 32, which is not a valid value for type 'bool'"
I know, it's a bug that's probably triggered because of the incomplete PDB download, but nevertheless worth fixing.
[code]
https://github.com/rizinorg/rizin/runs/5774830729?check_suite_focus=true#step:17:536

[2022-04-01 02:37] ccworld1000 opened #2477 "Is it convenient to provide static library SDK in release version?"
**Is your feature request related to a problem? Please describe.**
Is it convenient to provide static library SDK in release version?

**Describe the solution you'd like**
It is possible to integrate SDK directly and do some other things

**Describe alternatives you've considered**
It is possible to integrate SDK directly and do some other things

[2022-04-01 02:45] ccworld1000 commented on #2477
Under the macOS platform, I want to try the RZ library and do something.

[2022-04-01 02:47] #2477 closed, assigned to nobody

[2022-04-01 06:14] chinggg commented on #2474
`rizin 0.3.1 @ linux-x86-64` also has the error but `radare2 5.6.6` doesn't. This seems to be related to the enum type parser. See https://github.com/rizinorg/rizin/blob/dev/librz/type/parser/types_parser.c#L950-L951 for the error

https://github.com/rizinorg/rizin/blob/dev/librz/type/parser/types_storage.c#L526-L530 Does the errors just mean the enum types are already defined

[2022-04-01 07:26] haeter525 opened #2479 "Append descriptor to the method name in command `icmj`"
**Is your feature request related to a problem? Please describe.**

Hi there!
When searching for alternative solutions for #2475, I found a possible command called `icmj`, which lists method information from the perspective of object-oriented languages.

However, after testing, the output JSON structure seems not to include the method descriptor, which could be an issue when users need to distingu

[2022-04-01 07:41] ret2libc commented on #2470
I cannot reproduce on Fedora 35, x86_64.
[code]

[2022-04-01 07:49] ret2libc commented on #2479
@wargio thoughts on this?

[2022-04-01 07:58] ret2libc commented on #2479
[code]

Just to understand.. Do you want the `name` value shown in the table above rather than the name shown in the json?

[2022-04-01 09:34] wargio commented on #2479
yeah it makes sense. i will check it out today.

[2022-04-01 09:57] #2475 closed, assigned to nobody

[2022-04-01 10:38] haeter525 commented on #2416
Hi @wargio. Thanks for the correction.
However, after days of digging, I wonder if it would be possible to have other solutions for this issue. Here are my thoughts.
1. It seems like Rizin supports resolving imports on ELF binaries. I tested USR/LS with commands adapted from the above and found this feature works.
2. Dex binaries often use external libraries for fundamental operations. Therefore,

[2022-04-01 10:54] haeter525 commented on #2479
Yes! I would like the `name` value shown in the table above to be printed in the JSON.

Thank you, @ret2libc and @wargio, for the quick reply!

[2022-04-01 12:25] wargio commented on #2416
I do not understand how radare2 can support it when the jump itself is disabled.. https://github.com/radareorg/radare2/blob/master/libr/anal/p/anal_dalvik.c#L1072

[2022-04-01 13:59] #2479 closed, assigned to nobody

[2022-04-01 16:04] wargio commented on #2416
i'm working to add also getting xrefs on this

[2022-04-01 19:10] wargio commented on #2416
@haeter525 please check the PR.
it now adds the reloc support and you will get the xrefs.

[2022-04-02 03:42] GustavoLCR commented on #2476
Is this a false positive? I don't get the UB here https://github.com/rizinorg/rizin/blob/7586b3152300c6f219c4516d82dfd365e8b5e0d9/subprojects/rzwinkd/winkd.c#L652

[2022-04-02 07:54] fr0ster commented on #2470
Hi

I written about other version of rizin
[code]
I try update source and check again

[2022-04-02 08:31] fr0ster commented on #2470
Anyway I got same mistakes
[code]

[2022-04-02 14:23] #2416 closed, assigned to wargio

[2022-04-02 23:53] haeter525 commented on #2416
Not sure the reason why Radare2 supports it, either. But the Xref to most imports does exist. Here's how I test it.

[code]

Thank for the quick patch!
However, some Xrefs are still missing with it. I doubt if it was caused by the caller and the callee both using the same address.

[code]

[code]

[2022-04-03 01:23] wargio commented on #2416
Ok i have looked at it and seems that the issue was due imports also being in a structure in which i never thought it would be due the super calls

[2022-04-03 01:26] wargio commented on #2416
This is the new output from the PR above
[code]

[2022-04-03 03:04] XVilka commented on #2476
Probably a false positive then, you are right. Closing.

[2022-04-03 03:04] #2476 closed, assigned to GustavoLCR

[2022-04-03 07:44] #2124 closed, assigned to ret2libc, GustavoLCR

[2022-04-03 12:19] #2088 closed, assigned to nobody

[2022-04-03 14:34] wargio commented on #2416
@haeter525 please can you confirm there are no more missing xrefs?

[2022-04-03 16:26] #1287 closed, assigned to nobody

[2022-04-03 18:08] haeter525 commented on #2416
Hi @wargio. Most xrefs work fine. Thanks.
But there are four ones still not resolved in this sample. It seems Rizin didn't check parent classes for the implementation of the callees. And I believe they are the last four missing xrefs.

Addresses: `4295335392`, `4295337516`,  `4295337568`, and `4295337616`.

[code]

[2022-04-04 01:19] wargio commented on #2416
@haeter525 also that bug should be fixed. can you check again?

[2022-04-04 04:13] haeter525 commented on #2416
@wargio That bug was fixed. And I will test more samples to check if any other types of xrefs are missing. Thank you for all the help! :smile:

[2022-04-04 05:22] XVilka commented on #2474
It's not a bug. It tries to redefine the type `elf_type`, for example, that is already presented during the loading of the binary:
[code]
I am not sure what is the best course of action then. The rest of the enums that don't overlap loaded just fine.

[2022-04-04 08:33] XVilka commented on #1272
No quick solution, requires more refactoring and debugging, I am moving to the next milestone.

[2022-04-04 11:35] #2474 closed, assigned to nobody

[2022-04-04 12:19] ret2libc commented on #2470
Could it be some debian-specific thing? Are you in a container? Is kernel.yama.ptrace_scope set to 0?

[2022-04-04 18:58] fr0ster commented on #2470
I set kernel.yama.ptrace_scope into 0 but it doesn't give any effect
Maybe it really debian-specific things.
I remember I had problem with radare2 2 years ago
https://github.com/radareorg/radare2/issues/17919

[2022-04-05 09:23] ret2libc commented on #2470
Thank you for the reference, it helped! Could you please test https://github.com/rizinorg/rizin/pull/2501 and see if the errors make sense now?

[2022-04-05 09:49] fr0ster commented on #2470
Thanks

I pulled branch ignore-x86-xstate-enodev-error, build new rizin and check on rizin -d /bin/ls,
It works, thanks
I found one problem only:
If I open binary for debug and run execution by dc command I get message "PTRACE_CONT: No such process" after doo/ood comand. If I din't give dc command then doo/ood doesn't give message about PTRACE
[code]

[2022-04-05 10:02] ret2libc commented on #2470
do you mean `PTRACE_CONT: No such process`?

[2022-04-05 10:04] fr0ster commented on #2470
If I open binary for debug and run execution by dc command I get message "PTRACE_CONT: No such process" after doo/ood comand. If I din't give dc command then doo/ood doesn't give message about PTRACE
[code]

[2022-04-05 10:06] ret2libc commented on #2470
Yes I can reproduce that, but that's a separate problem and it doesn't seem to cause any harm at the moment. I'm going to investigate though, thanks!

[2022-04-05 10:12] ret2libc commented on #2470
By the way, could you test the branch again? I had to add a small fix because it was wrong.

[2022-04-05 10:24] fr0ster commented on #2470
Thanks, I checked last commit, debug works
Can I close issue?

[2022-04-05 12:14] #2470 closed, assigned to nobody

[2022-04-05 12:14] XVilka commented on #2082
@Rot127 looks like it's Hexagon ELF-related issue, please take a look when you have time.

[2022-04-06 01:05] haeter525 commented on #2416
Hi @wargio. Unfortunately, I also found xrefs missing in [this sample](https://github.com/quark-engine/apk-malware-samples/raw/master/14d9f1a92dd984d6040cc41ed06e273e.apk). After some tests, I think those missing xrefs can be categorized into two groups.

1. Most of them point to methods with large sizes. And printing the bytecodes of those methods causes Rizin to show an error. Thus, I doubt ther

[2022-04-06 12:38] wargio commented on #2416
regarding those xrefs, i do not think is a mistake that they do not have valid addresses
![image](https://user-images.githubusercontent.com/561184/161974355-6ec7f1ee-44dd-452a-8744-79770c5eef8f.png)
Tbh, i do not know what to do in this case, but i can check why those numbers are there

[2022-04-06 19:33] DhruvaG2000 commented on #1330
Update: I found this conversation: https://groups.google.com/g/clang-built-linux/c/eJaHe30-0JY/m/y3LHcQUfBAAJ?pli=1

A comment says,

future-proof.).
No compiler produces .debug_sup section. It could be from some
post-processing tool which is unrelated to the linker.

so it apparently is not a compiler thing. I wonder what "post-processing tool" it maybe then.
It maybe a good idea to email binutil

[2022-04-06 19:45] DhruvaG2000 commented on #2458
@XVilka currently ``rz-ax -B`` does  ``str -> bin`` conversion.

We will have to come up with a different parameter, but this feature sounds like a great idea! Especially coming from an embedded background I know the pain of manually counting set bits and their positions.

I suggest we use ``rz-ax -p`` (p for position perhaps? not the most intuitive but this is letter is not used currently) to bas

[2022-04-06 19:58] DhruvaG2000 opened #2512 "move bin -> str to rz_util"
Refer [rz-ax.c#L400](https://github.com/rizinorg/rizin/blob/dev/librz/main/rz-ax.c#L400).
Moving this binary to string converter to ``rz_util/rz_str.h`` will help create an ``RZ_API`` which can b reused in other places.

Could probably name it ``rz_bin_to_str()``

[2022-04-07 00:10] XVilka commented on #2458
@DhruvaG2000 yes, sounds good.

[2022-04-07 14:41] #2185 closed, assigned to nobody

[2022-04-08 03:12] haeter525 commented on #2416
Hi @wargio. Thanks for the reply. I'm still trying to find more clues for this case.

Currently, I found the information provided by command `icm` is wrong. For the callees in the first group, it gives library names different from those in command `is`. Moreover, according to Jadx, those methods with such library names didn't exist in this sample.

[code]
![Screenshot from 2022-04-08 10-33-46](htt

[2022-04-09 04:50] XVilka commented on #2210
@DhruvaG2000 it's in the Docker building job: https://github.com/rizinorg/rizin/runs/5884381978?check_suite_focus=true#step:9:7948

[2022-04-09 22:30] ajakk commented on #2307
The [samples](https://drive.google.com/drive/folders/1fy6fxIxRijdK1U7GhwVNQCF-RtDa3vSQ) from [this](https://huntr.dev/bounties/47422cdf-aad2-4405-a6a1-6f63a3a93200) radare2 huntr.dev report also produce similarly small leaks (same leaks for all three samples):

[code]

[2022-04-10 03:53] XVilka commented on #1300
Will be solved by removing old signatures after the 0.4.0 release.

[2022-04-11 00:33] wargio commented on #2416
i have found the issue, now i have to find the exact cause.

[2022-04-11 23:12] wargio commented on #2416
i have found the cause. the issue is due a missing of a small check which is related to the data section.
i will add the command `dexs` to dump the dex structure which outputs like `dexdump`

[2022-04-11 23:58] wargio commented on #2416
https://github.com/rizinorg/rizin/pull/2535 @haeter525 can you check again? i have verified the whole dex by hand with dexdump, looks the same to me.

[2022-04-12 04:38] #2082 closed, assigned to ret2libc, Rot127

[2022-04-12 15:13] #2458 closed, assigned to nobody

[2022-04-12 15:37] haeter525 commented on #2416
@wargio #2535 fixed the above issue. The xrefs are all resolved. Greatly appreciate your help!

[2022-04-12 16:32] wargio commented on #2416
no, thank you for finding the bug and validating the code :)

[2022-04-12 17:54] DhruvaG2000 commented on #2512
No longer required as discussed here: https://github.com/rizinorg/rizin/pull/2533#issuecomment-1094728338

[2022-04-12 17:54] #2512 closed, assigned to nobody

[2022-04-13 13:20] ajakk opened #2540 "12kb memory leak via non-freed sdb object"
Make sure you are testing using the latest git version of rizin before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo amd64
| F

[2022-04-13 13:25] XVilka commented on #1926
@wargio could you please check if debugger works and close this if it is?

[2022-04-13 13:32] XVilka commented on #2277
@thestr4ng3r the link you put is wrong I suppose?

[2022-04-13 13:34] wargio commented on #1926
the debugger does not work

[2022-04-13 13:37] #2195 closed, assigned to nobody

[2022-04-13 13:43] XVilka commented on #1803
@Rot127 since you will compare the PPC uplifting results with the debugger anyway, I am assigning this to you, could be done easily in that process.

[2022-04-13 23:05] wargio commented on #1926
[code]

[2022-04-14 04:24] TheNewJavaman commented on #301
+1, as a new user I expected `?` to work, and didn't find out about `??` until I came across this issue.

[2022-04-15 04:44] TheNewJavaman opened #2544 "Off_t undefined when writing plugin in Windows"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 Pro amd64 21H2
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | N/A
| `rizin -v` full output, **not

[2022-04-15 04:45] TheNewJavaman commented on #2544
Also, I switched to C++ for unrelated reasons (vectors + maps made things easier for the plugin), and the problem has persisted.

[2022-04-15 21:20] ajakk commented on #1789
There's only been four minor releases, and distros (well, at least Gentoo) is still hacking around the issue.

[2022-04-16 11:21] #1445 closed, assigned to nobody

[2022-04-16 18:47] p371jah commented on #2413
The string is referenced from offset table at 0xbbe10. But you should set base address to 0 first.

[2022-04-17 16:01] thestr4ng3r commented on #2277
I can only guess now, but I probably meant #1699

[2022-04-18 22:15] TheNewJavaman opened #2551 "VS Code as editor throws error on Windows"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 Pro 21H2/x64
| File format of the file you reverse (mandatory)      | exe
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not t

[2022-04-18 22:17] TheNewJavaman commented on #2551
Works find for notepad, though

[2022-04-19 13:16] DMaroo commented on #2551
I am unable to reproduce the error. Try using `e cfg.editor="code --wait"` once. Does it still give an error?

[2022-04-19 17:13] TheNewJavaman commented on #2551
@DMaroo That worked, please feel free to close the issue unless you think this should be added to the docs

[2022-04-19 17:53] DMaroo commented on #2551
I think this would be more relevant to VSCode docs than Rizin docs. However, any contributions to the doc are helpful.

[2022-04-19 17:53] #2551 closed, assigned to nobody

[2022-04-19 19:28] #559 closed, assigned to nobody

[2022-04-19 19:28] #555 closed, assigned to nobody

[2022-04-19 19:28] #562 closed, assigned to nobody

[2022-04-20 19:12] iGr33k commented on #1828
Issue is still present.

[2022-04-21 14:18] wargio opened #2554 "rewrite `rz_core_print_disasm_json` and `rz_core_print_disasm`"
the functions `rz_core_print_disasm_json` and `rz_core_print_disasm` needs to be refactored or better rewritten and deprecated since used only in the oldshell.

These functions depends also on some other code that prints disassembly which also needs to be rewritten.

[2022-04-23 12:12] PAI5REECHO opened #2560 "Microsoft Windows 10 Pro for Workstations (Version 10.0.19044 Build 19044) missing KD profile."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| Host OS/arch/bits (mandatory)                             | Linux 5.17.1, NixOS, 22.05 (Quokka), 22.05.20220417.1ffba9f
| Guest OS being kernel debugged | Microsoft Windows 10 Pro for Workstations (Version `10.0.19044 Build 19044`)
|

[2022-04-23 12:14] p371jah opened #2561 "afs/afsj return different argument count"
Binary: `elf/ls` from https://github.com/rizinorg/rizin-testbins
Cmd: `s 0x13c70;af;afs;afsj`
Output:
[code]

[2022-04-24 03:47] #282 closed, assigned to nobody

[2022-04-24 09:16] #630 closed, assigned to nobody

[2022-04-25 18:37] b1llow commented on #2554
Hi! Do you have plans to write this?

[2022-04-25 19:00] wargio commented on #2554
not yet, if you want to take this, i'm ok with that.

[2022-04-26 10:20] XVilka commented on #2560
It's a missing profile for your system, see [`subprojects/rzwinkd/profiles.h`](https://github.com/rizinorg/rizin/blob/dev/subprojects/rzwinkd/profiles.h).

If you enable debug output, it should print the values that you have on your machine, see [`winkd_read_ver()`](https://github.com/rizinorg/rizin/blob/dev/subprojects/rzwinkd/winkd.c#L817) function.

[2022-04-26 11:22] PAI5REECHO commented on #2560
I recently changed back to running Windows 11 Pro for Workstation since I was having this problem. I'm not able to dump the winkd version information anymore, sorry.

[2022-04-26 17:25] Rot127 commented on #1306
Capstone supports them since 4.0 (since ~2019: https://www.capstone-engine.org/Version-4.0-changelog). If someone has a binary we should test it actually does not work.

[2022-04-26 21:28] wargio commented on #1306
i guess you can build an example with something like this:
[code]

[2022-04-27 07:00] KhazAkar opened #2568 "Installer detected in VirusTotal (Cynet) as malicious"
Hi,
Regarding to this VirusTotal report, installer is detected as malicious by Cynet. Is this False Positive? I just want a confirmation, since there's ongoing approval process, and they told me to contact you about that.
https://www.virustotal.com/gui/file/00f69a6bfab66a8387a3ecdf0e1587ea262359d3c0497393c45bdb6d62ba2776

[2022-04-27 08:00] #1831 closed, assigned to nobody

[2022-04-27 08:02] ret2libc commented on #1831
I'm closing this. Table is a specific output format, if we want no spaces we can use json format or others.

[2022-04-27 15:21] ret2libc commented on #2277
Closing because it is fixed:

[code]

[2022-04-27 15:21] #2277 closed, assigned to nobody

[2022-04-27 15:29] ret2libc commented on #2540
@ajakk FYI https://github.com/rizinorg/rizin/blob/dev/BUILDING.md#build-with-asanubsan this is another way to compile with ASAN, in theory no matter which options you have to specify for your specific compiler.

[2022-04-28 09:49] wargio commented on #2568
Yes it is indeed a false positive.

[2022-04-28 14:27] #2568 closed, assigned to nobody

[2022-04-29 16:10] #594 closed, assigned to nobody

[2022-04-29 16:10] #660 closed, assigned to nobody

[2022-05-02 04:27] XVilka commented on #317
It requires changes in the `pf` code `librz/type/format.c`, it's better to postpone.

[2022-05-02 08:18] ret2libc commented on #419
No need to keep an issue for this, I'd say.

[2022-05-02 08:18] #419 closed, assigned to nobody

[2022-05-02 11:22] #1921 closed, assigned to nobody

[2022-05-03 03:08] #2561 closed, assigned to nobody

[2022-05-03 04:16] XVilka opened #2582 "test_rz_buf_fwd_scan test fails on System Z"
Likely the reason is some endian-dependency, take a look at https://github.com/rizinorg/rizin/blob/dev/DEVELOPERS.md#manage-endianness

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu System Z (S390)
| File format of the

[2022-05-03 10:10] XVilka opened #2583 "Fix the `rz_core_syscall_*()` and `rz_syscall_*()` syscall resolution"
Currently, the syscall resolution code is hacky and quite limited.

It leads to the different behavior between `rz_syscall_get()` and `rz_syscall_get_num()` functions, and failure to resolve some of the cases: `rz_core_syscall_as_string(core, 4, 0x0`) returns `read(0)`, not `stat()`.

The task would be probably to refactor syscall searching code and adding more tests, especially for non-x86 archit

[2022-05-03 10:13] #2128 closed, assigned to nobody

[2022-05-03 14:24] #2210 closed, assigned to nobody

[2022-05-03 17:37] wargio opened #2587 "Dalvik - Resolve also xrefs that points to unknown functions due malicious code"
When analyzing some malware (like the one linked below) sometimes the analysis breaks and leaves some conditional jumps without resolving the next basic block.

Example:
[code]

All the `???` are conditional jumps that were not solved; seems that enabling `analysis.jmp.cref` resolves some but sometimes a conditional jump falls in between instructions, like below:

![image](https://user-images.gith

[2022-05-03 18:18] #563 closed, assigned to nobody

[2022-05-03 18:18] #566 closed, assigned to nobody

[2022-05-03 18:33] U039b commented on #2587
Regarding `method.public.static.Lcom_network_android_a_c_.a_Landroid_content_Context_I_V`.

Disassembly version with JEB
[code]

Decompiled version with JEB
[code]

[2022-05-04 09:20] haeter525 opened #2588 "Failed to specify which Dex to parse in a multidex APK"
Hi there!

I currently use Rizin to analyze a multidex APK. I chose [this sample](https://github.com/rizinorg/rizin/files/8618944/c02bd4289acacf65d9cb70ce42d0ff27.zip) (Password: infected) as my target and tried to get data from all its Dex files respectively with command `ou`. However, an error occurred.

### Work environment

| Questions                                             | Answers

[2022-05-04 10:14] ret2libc commented on #2588
cc @wargio

[2022-05-05 04:39] #2582 closed, assigned to nobody

[2022-05-06 07:07] ret2libc commented on #2544
Hi! Could you share part of your code at least? I'm not really interested in the body of your functions, just the basic stuff to try and reproduce. Thanks!

[2022-05-06 08:10] ret2libc commented on #2544
In the meantime, I think this is a better way to deal with our cmake package:

[code]

To find the Rizin component (and the others), I think you should do
[code]

[2022-05-06 14:27] ret2libc commented on #2102
This is probably going to be long term, as even if meson makes a release now we don't want to bump the required version of meson too soon to have some kind of compatibility with distros.

[2022-05-06 14:29] ret2libc commented on #743
This was done already. Snap missing from the checklist above, but I think we can close this.

[2022-05-06 14:29] #743 closed, assigned to ret2libc

[2022-05-06 14:33] ret2libc commented on #387
Done. https://github.com/rizinorg/rizin/blob/dev/INSTALL.md#linux

[2022-05-06 14:33] #387 closed, assigned to nobody

[2022-05-06 16:15] #1514 closed, assigned to ret2libc

[2022-05-06 18:16] wargio commented on #2588
I think this is a misusage of rizin.
technically to open just one dex file, you need to call `apk://app.apk//classes.dex` (be sure to have a `//` after the extension).

[2022-05-07 07:57] ITAYC0HEN opened #2593 "Support anterior comments"
**Is your feature request related to a problem? Please describe.**
Currently, rizin does not support Anterior (and Posterior) comments.

![image](https://user-images.githubusercontent.com/20182642/167244515-8298ef68-9b14-420d-9b5a-5686782717cc.png)

https://hex-rays.com/blog/igor-tip-of-the-week-14-comments-in-ida/#:~:text=Anterior%20and%20posterior%20comments

We do have `asm.cmt.right` configura

[2022-05-07 11:50] haeter525 commented on #2588
@wargio. Thanks for the reply!

I tried the path with both commit d8ed585cba557985fb46e10693f1f6726dd75bf2 and the [latest commit](https://github.com/rizinorg/rizin/commit/0ff979f2c7655a46581f1750b2c06178717c5747). But, they all gave the following error.
Have I missed something? Thanks.

[code]

[2022-05-07 16:26] wargio commented on #2588
that error is weird, why it loads the bin but throws an error?

[2022-05-08 09:10] #1591 closed, assigned to nobody

[2022-05-09 08:37] ret2libc commented on #301
The best way to make this consistent across all configs is probably to rework a bit the config nodes/options so that each option also has a description and then identify the `=?` in the handler of the `e` commands. Right now instead, it is the responsibility of each config variable to print options according to `??`/`?` values. This current approach is of course very inconsistent and hard to modif

[2022-05-10 02:17] #42 closed

[2022-05-10 02:22] #2560 closed, assigned to GustavoLCR

[2022-05-10 02:27] #2307 closed, assigned to nobody

[2022-05-10 02:27] #2540 closed, assigned to nobody

[2022-05-10 05:16] PAI5REECHO opened #2596 "Unable to connect to winkd (Windows 11 Pro for Workstations Build 22000.co_release.210604-1628)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | `Linux 5.17.5, NixOS, 22.05 (Quokka), 22.05.20220505.c777cdf`
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            |

[2022-05-10 10:29] XVilka commented on #2596
@PAI5REECHO I suppose it is a regression, right? Was it working before the PR was merged?

[2022-05-10 14:57] #1789 closed, assigned to ret2libc

[2022-05-10 19:04] #2290 closed, assigned to ret2libc

[2022-05-11 02:55] PAI5REECHO commented on #2596
@XVilka yes

[2022-05-11 10:39] #2596 closed, assigned to GustavoLCR

[2022-05-11 22:43] #766 closed, assigned to nobody

[2022-05-12 11:16] #2587 closed, assigned to nobody

[2022-05-12 11:50] PAI5REECHO opened #2608 "Support single step debugging for winkd"
`winkd` currently doesn't implement single stepping. Just opening this to track it as an issue.

[2022-05-12 15:27] haeter525 opened #2609 "Missing methods in multidex APK"
Hi, I recently found when opening a multidex APK with `apk://app.apk`, Rizin didn't get all methods in the sample. Instead, command `icm` showed that methods in some Dex files were missing.

### Work environment
| Questions                                             | Answers                                                      |
| ----------------------------------------------------- | ---------

[2022-05-13 08:09] ret2libc commented on #2609
cc @wargio

[2022-05-13 09:23] ghost opened #2611 "Windows dynamic releases"
I would like to link my code to rizin dynamically on the Windows platform.
(Eg.: Just like how cutter links to rizin)

Right now, my best options are either:
- Build my own
- Rip Cutter's rizin build

It would be really helpful to also release a dynamic build, where I have all the required DLLs and LIBs needed.

[2022-05-13 10:23] ret2libc commented on #1429
I'm going to close this because TBH I do not see any special improvements to the output... If we notice, we are going to fix it.

[2022-05-13 10:23] #1429 closed, assigned to ret2libc

[2022-05-14 13:23] XVilka commented on #38
@ITAYC0HEN we greatly improved our string detection and handling, could you please check if it's good enough for you?

[2022-05-14 13:26] XVilka commented on #470
Most of it was addressed already, could you please recheck @Maijin?

[2022-05-14 13:38] Maijin commented on #470
Hey so I checked and unfortunately no the issue is far from being completed:

- `iIt` shows in `iI?` but doesn't work
- `iI` field names are still quite obscure and should be full not shorten
- Still a lot of checks not covered by `iI` but covered by checksec (Fortified, etc.) both for PE and ELF see README for full list

[2022-05-14 14:35] XVilka opened #2614 "Split RzBin PE parser into pieces and refactor to be endianness-indepentent"
Currently the PE parser is located in `librz/bin/format/pe/pe.c` - just one huge C file. Idea is to split the parser into multiple files like it was done with ELF and make sure we don't read data directly into the C structures. We should use `rz_buf_*_bleXX*` functions to handle the endianess properly.

See:
- `librz/bin/format/pe/`
- `librz/bin/format/elf/`

Related to https://github.com/rizinorg

[2022-05-14 14:39] ret2libc commented on #38
I already checked this few days ago and those same strings are still there

[2022-05-15 04:41] XVilka commented on #2269
There were some conversions from `rz_core_cmd*("s ...")` calls in the `librz/core/tui/panels.c` file to use the C API directly. It's probably just some function was used `rz_core_seek()` instead the one that saves history.

[2022-05-15 04:44] XVilka commented on #2268
It's possible but hard to do in the current state of `pf` (see `librz/type/format.c`). At first, it would be necessary to refactor the `pf` parsing and processing to provide nicer API - https://github.com/rizinorg/rizin/issues/905. Also, there should be some changes in the `pf` syntax to better correspond between `pf` and `t` formats - https://github.com/rizinorg/rizin/issues/783. After these are

[2022-05-15 04:47] XVilka commented on #2227
@wargio wasn't this already done?

[2022-05-15 05:01] GustavoLCR commented on #2608
Single stepping works if you set `e dbg.bpinmaps=false`, but I should fix the mapping so it isn't necessary

[2022-05-15 06:12] XVilka commented on #1931
@thestr4ng3r assigning you since you have the machine. It's low-priority, obviously, though.

[2022-05-15 06:35] XVilka commented on #2544
We also could add/improve a small CMake-based test for plugins with our CI, like we have one for Meson:
- https://github.com/rizinorg/rizin/blob/dev/.github/workflows/ci.yml#L559
- https://github.com/rizinorg/rizin/tree/dev/.github/cmake_test
- https://github.com/rizinorg/rizin/blob/dev/.github/workflows/ci.yml#L833

cc @thestr4ng3r @GustavoLCR

[2022-05-15 06:54] XVilka commented on #1580
We could make a simple Python script that would detect those functions, also extend it to detect the presence of the Doxygen comments.

[2022-05-15 07:02] XVilka commented on #1392
Also relevant https://github.com/rizinorg/rizin/pull/2417 by @Rot127

[2022-05-15 09:06] Maijin commented on #2227
Yep it's done

[2022-05-15 09:06] #2227 closed, assigned to wargio

[2022-05-15 16:09] ITAYC0HEN commented on #38
Yup, still there

[2022-05-16 08:04] ret2libc commented on #2544
I don't see a real difference for what concerns this bug with regards to the existing cmake_test and a plugin. Actually, we already test CMake config files on Windows, so until we get more info from @TheNewJavaman I am not sure what to do about this issue.

[2022-05-16 08:15] ret2libc commented on #470
It is working, it's the default mode you see when you do `iI`.

Agree.

[2022-05-16 08:53] Rot127 commented on #1951
[Sourcetrail](https://github.com/CoatiSoftware/Sourcetrail) seems to be able to generate such call graphs.
But it is discontinued since roughly 2 years.

[2022-05-16 11:16] #866 closed, assigned to nobody

[2022-05-17 12:10] ret2libc commented on #2544
Ping @TheNewJavaman

[2022-05-19 20:25] wargio commented on #2588
I can confirm is not a real error, essentially tries to reopen the same file but fails, because it was already opened before.

[2022-05-20 22:44] PAI5REECHO opened #2627 "WinKD (WinDbg backend) `dcu` (debug continue until) to address broken"
The `dcu` (**d**ebugger **c**ontinue **u**ntil) command no longer functions after the recent changes to the winkd debugger backend. It was working previously so this seems like a behavior regression with the recent changes. I'm using a Linux host and Windows 11 Pro for Workstation guest.

### Work environment

| Questions                                            | Answers
|----------------------

[2022-05-23 07:37] ret2libc commented on #2588
Is it or is it not a real error? I see the message above, but also a PR that says to fix this issue.

[2022-05-23 08:54] wargio commented on #2588
no, is just missing a check. i will fix this.

[2022-05-25 13:06] #2544 closed, assigned to ret2libc

[2022-05-25 14:52] #2611 closed, assigned to ret2libc

[2022-05-26 08:15] ret2libc commented on #1755
For now, nothing to do here... Let's see if at some point we can use https://mesonbuild.com/Builtin-options.html#pkgconfig-module .

[2022-05-26 13:42] chr-chr opened #2640 "Fix: format PE32+ baddr"
I got a PE32+ binary with baddr = 0x0 which is not "messed up".

I see no reason to set this to 0x10000

[code]

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse

[2022-05-26 13:43] #1903 closed, assigned to ret2libc

[2022-05-26 13:44] XVilka commented on #2640
Can you share the file?

[2022-05-26 13:52] chr-chr commented on #2640
no

[2022-05-26 15:46] chr-chr commented on #2640
[code]
where are those test files?

Is there anything in the PE32 spec that makes baddr=0x0 to 0x10000 ?!

[2022-05-27 16:55] XVilka commented on #2640
See also https://reverseengineering.stackexchange.com/questions/6242/windows-why-is-the-imagebase-default-0x400000

[2022-05-30 07:33] ret2libc commented on #1726
I am commenting to remove the stale tag... Anyway, I personally don't plan to fix this in `nz` assembler, but IMHO we should just default to Keystone assembler going forward. There are so many more instructions missing.

[2022-05-30 07:41] ret2libc commented on #2014
I'm closing this as I don't think there's any point in having half-bytes handling. We can definitely improve on the error-message side, but as things are anyway read byte by byte a user should provide the full byte.

[2022-05-30 07:41] #2014 closed, assigned to nobody

[2022-05-30 11:43] XVilka opened #2647 "WARNING: Library target 'rz_util' has 'name_prefix' set. Compilers may not find it from its '-lrz_util' linker flag in the 'rz_util.pc' pkg-config file."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x86_64 MSVC 2017
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not t

[2022-05-30 12:28] haeter525 opened #2648 "Command `is` gives inaccurate information for methods in APK"
Hi, there. I recently found the `is` command gives incomplete return types for some methods in APKs. Since that information may mislead the user to incorrect classes, I think it could be considered an issue.

### Work environment

| Questions                                             | Answers                                                      |
| ----------------------------------------------

[2022-05-31 14:56] #1756 closed, assigned to nobody

[2022-06-02 08:59] ret2libc commented on #2647
I think this can be closed... we set suffix/prefix on purpose, see meson.build:
[code]

[2022-06-02 21:58] ret2libc commented on #232
I think this issue should be a bit more concrete and specific in order for people to be actionable.

[2022-06-03 19:15] ret2libc commented on #2640
I still need to understand what is the real problem with your binary. Can you show me the problem?

[2022-06-03 21:16] chr-chr commented on #2640
My binary got this problem:

Having 0x0 as ImageBase it gets relocated by rizin to 0x10000 which is wrong.

Manually using -B is bugged (project saving)
also using 'o <file> <baddr>' does not work in case baddr=0x0

also see

https://github.com/rizinorg/rizin/pull/2641

[2022-06-03 23:34] ret2libc commented on #2640
What is wrong exactly? Is your binary relocatable? I think UEFI app are, as they could be loaded at different addresses based on several things. So, in theory, i think there should be no problems with the binary being moved to 0x10000. Do you see some wrong value? Could you share at least part of the disassembly you see wrong?

[2022-06-04 00:47] chr-chr commented on #2640
I have several PE32+binaries from an UEFI arm64 bootloader.

Their fields clearly say: ImageBase = 0x0 which is correct.

Is there any reason to add 0x10000 ?
This way they all load incorrect.
Also "o file 0x0" does not work!

Looong answer:
https://github.com/rizinorg/rizin/pull/2641

[2022-06-04 07:44] ret2libc commented on #2640
I understand that image base says 0. I also understand that there should be a way to have an address different from 0x10000, if one wants so.

However you keep not answering the question. What is wrong with your binaries exactly? Assume for a moment that they are loaded at an addr!=0(which actually is the case because UEFI app should be relocated and could be/are loaded at a different addresses ea

[2022-06-04 09:58] chr-chr commented on #2640
You set me up.

I briefly described this Problem. Look at "Actual behavior" and "Expected behavior".

There is _nothing_ wrong with my binaries.

rizin is loading with an offset which is just wrong !!

This was discussed here: https://github.com/rizinorg/rizin/pull/2641

[2022-06-04 14:16] chr-chr commented on #2640
I reworked the patches according to comments

[2022-06-04 16:31] XVilka commented on #2627
Should be fixed now. Please comment here if it still isn't, and we will reopen.

[2022-06-04 16:31] #2627 closed, assigned to GustavoLCR

[2022-06-04 18:15] ret2libc commented on #2640
What I am saying is that unless there are other bugs in the PE code, you should not see any problem whether rizin loads the UEFI app at 0x10000, 0, 0x3000000 or 0xcafe0000, because the UEFI system can (and does AFAIK) load your UEFI application at an address different from 0 usually and it relocates the app, so there should be no problem having the binary loaded there.

Do you see any problem with

[2022-06-04 21:06] chr-chr commented on #2640
You are alright about relocation, that should just work but

Simply yes. The mapping all gets ImageBase as an offset. I was using stable version, the analysis tools failed finding references, problems with cutter, missing xrefs, reloading project was a pain, ... it all worked just halfway.

Ok, Actually I fail to reproduce with dev version, seems to work better. Got to compile cutter aswell.

[2022-06-06 06:35] haeter525 commented on #2609
Hi guys. Is there any update on this issue?

We(@18z, @pulorsok, and me, the Quark team) recently plan to use Rizin as the default upstream of our Android analysis framework, [Quark-Engine](https://github.com/quark-engine/quark-engine).

We believe that solving this issue is a huge step toward our goal. So, if there is anything we can do to help, please feel free to let me know. Thank you!

[2022-06-06 07:02] ret2libc commented on #2609
@wargio ?

[2022-06-06 08:59] wargio commented on #2609
let me check, not sure if i have patched it or not.

[2022-06-06 09:36] wargio commented on #2609
Ok, this was not patched because requires to fix a huge bug which is linked to opening multiple files which i could not fix due how much work it requires.
@haeter525 unfortunately for now this cannot be fixed, i suggest to open the dex files individually for now, but i will 100% fix this for 0.5.0

[2022-06-06 09:38] wargio commented on #2609
essentially the method is not missing, is just in the classes2.dex, which is not selected when you open the file, theoretically you should be able to use `ou` to change the file and see it, but even that command is busted and cannot be fixed due how rizin/r2 works due the huge bug on opening multiple files.

[2022-06-06 16:31] #2647 closed, assigned to nobody

[2022-06-07 10:18] #2357 closed, assigned to nobody

[2022-06-08 09:33] darkseid-is opened #2675 "Follow child doest not work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 5.16.18-1kali1, x86_64
| File format of the file you reverse (mandatory)      |  ELF
| Architecture/bits of the file (mandatory)            |  x86/64
| `rizin -v` full outp

[2022-06-08 10:08] elicn opened #2676 "Project ignores custom binary base address"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10
| File format of the file you reverse (mandatory)      | PE32+
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated

[2022-06-08 10:22] ret2libc commented on #2676
Related to https://github.com/rizinorg/cutter/issues/2541 , https://github.com/rizinorg/rizin/issues/713 and https://github.com/rizinorg/rizin/issues/714

[2022-06-08 12:52] XVilka commented on #154
Fixed by https://github.com/rizinorg/rizin/commit/782fcd5257f6f16f924162675c2f0f6189f864a4

[2022-06-08 12:52] #154 closed, assigned to nobody

[2022-06-08 12:53] XVilka opened #2679 "Fix broken `rz-gg` tests"
[code]
...and many others

Tests are located in [`test/db/tools/rz_gg`](https://github.com/rizinorg/rizin/blob/dev/test/db/tools/rz_gg).

See more information:
- https://github.com/rizinorg/rizin/commit/782fcd5257f6f16f924162675c2f0f6189f864a4
- https://github.com/rizinorg/rizin/pull/2428

[2022-06-08 14:13] XVilka commented on #942
Was largely done, cc @ret2libc

[2022-06-08 14:38] ret2libc commented on #942
The idea of having a issue with a checklist is good though.

[2022-06-08 17:47] bdemick opened #2680 "ELF arch handling"
**Is your feature request related to a problem? Please describe.**
The ELF plugin [defaults to returning x86](https://github.com/rizinorg/rizin/blob/782fcd5257f6f16f924162675c2f0f6189f864a4/librz/bin/format/elf/elf_info.c#L1405) when `e_machine` is `EM_NONE` or not present in the [arch_translation_table](https://github.com/rizinorg/rizin/blob/782fcd5257f6f16f924162675c2f0f6189f864a4/librz/bin/form

[2022-06-08 19:18] elicn commented on #2676
Indeed, it looks like a duplication of rizinorg/cutter#2541
Feel free to close / keep opened based on the org policy.

[2022-06-09 07:53] ret2libc commented on #2680
Hi, thanks for the issue! I think what you said is 100% right. If you want to create a PR for the fix, we'd be happy to review it and merge it. I think there was no real reason for having x86 as default case.

[2022-06-09 14:30] bdemick commented on #2680
Right on. Will get a PR submitted very soon, and thanks for the quick response!

[2022-06-10 14:51] haeter525 opened #2685 "Wrong method references in multidex APK"
Hi. I found there may be an issue parsing method references in multidex APKs. Some of the xrefs provided by Rizin are wrong, especially those pointing to external libraries.

Since #2609 describes a bug related to opening multidex APKs, I doubt whether it's the root cause of this issue.

### Work environment

| Questions                                             | Answers

[2022-06-10 16:35] #1981 closed, assigned to nobody

[2022-06-10 22:33] XVilka commented on #1320
Thank you, @mdonoughe!
I think we can close this then.

[2022-06-10 22:33] #1320 closed, assigned to nobody

[2022-06-13 13:16] #2680 closed, assigned to nobody

[2022-06-14 00:02] XVilka opened #2692 "Debugger disassembly problem after "continue""
Linux
`rizin -d /bin/ls dcu main; dbH @i:3; pd 10; dc; pd 10` at that point, you see that PC has been increased, but the last `pd 10` returns the same disassembly as before the last `dc`. It is probably not updated core->block or something like that.

reported by @ret2libc

[2022-06-14 12:55] XVilka opened #2695 "Refactor use of `core->block` to the transparent IO access"
To avoid the need of manually keeping it in mind when using the API.

Should use the transparent RzIO and RzCore API without the need to work with block or blocksize

I propose the new API that will handle all reads and writes itself:
- `RZ_API bool rz_core_io_read_at(RzCore *core, ut64 offset, ut64 len, ut64 *read)`
- `RZ_API bool rz_core_io_write_at(RzCore *core, ut64 offset, ut64 len, ut64 *wri

[2022-06-14 14:14] #1836 closed, assigned to nobody

[2022-06-14 14:57] XVilka opened #2696 "Debugging is broken on MacOS x86 and ARMv8, Linux ARMv8"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS x86, MacOS ARM64 (13.x), Linux ARMv8 (Alpine)
| File format of the file you reverse (mandatory)      | Mach-O, ELF
| Architecture/bits of the file (mandatory)            | x

[2022-06-14 15:27] #2692 closed, assigned to nobody

[2022-06-14 23:35] XVilka commented on #2696
https://github.com/rizinorg/rizin/commit/3dfc4b13097b468d66b857db5d7c0020b1767369 improved the situation but didn't completely fixed it. Rizin shows errors during the loading and stepping doesn't work properly:
[code]

[2022-06-15 22:04] ret2libc opened #2699 "RIP register not tracked on 32bit binary on Windows x64"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | 32
| `rizin -v` full output, **not truncated** (ma

[2022-06-15 22:05] ret2libc commented on #2699
Debugging a 64bit file seems to show the right registers and the tracking of rip works well.

[2022-06-15 23:32] XVilka commented on #2699
@GustavoLCR could you please take a look, if you have time?

[2022-06-16 10:14] #2029 closed, assigned to nobody

[2022-06-17 13:15] #2699 closed, assigned to GustavoLCR

[2022-06-17 15:24] XVilka opened #2703 "Fix Android NDK builds"
[code]

[2022-06-18 03:13] XVilka opened #2704 "Rewrite GPL-only code"
To become compatible with LGPL and other licenses, allowing Rizin library to be used anywhere.

# Disassemblers

- [x] SH [`librz/asm/arch/sh/gnu`](https://github.com/rizinorg/rizin/tree/dev/librz/asm/arch/sh/gnu) by @DMaroo, see https://github.com/rizinorg/rizin/pull/2518
- [x] Tricore [`librz/asm/arch/tricore/gnu`](https://github.com/rizinorg/rizin/tree/dev/librz/asm/arch/tricore/gnu) by @imbill

[2022-06-20 10:12] #2703 closed, assigned to nobody

[2022-06-20 18:12] wargio opened #2714 "Add test for wai command"
The command `wai <instructions1> <instructions2> ... ` which should assemble instruction(s) and write bytes inside the current instruction boundaries is not tested within `test/db/`

This instruction also is not mapped on the book.

What the command does is tring to fit a new instruction within the boundaries of the old one.

for example in x86 changing a long instruction like `lea` which may use

[2022-06-22 18:09] ret2libc opened #2725 "No-return functions info are not correctly used/propagated"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated** (man

[2022-06-22 20:46] wargio opened #2727 "Implement RZ_CMD_ARG_TYPE_FOLDER"
Would be nice to have RZ_CMD_ARG_TYPE_FOLDER (including auto completion) which can be very useful.

[2022-06-23 01:12] altaic opened #3363 "Command 'iAj' causes crash and command 'iA' incorrect for arm arch"
**Environment information**
* Operating System: macOS 12.4
* Cutter version: 2.0.5
* Obtained from:
  - [ ] Built from source
  - [x] Downloaded release from Cutter website or GitHub
  - [ ] Distribution repository
* File format: arm binary (GD32F307 microcontroller)

**Describe the bug**

After loading an arm binary (setting analysis disabled, the architecture='arm', bits=16, endianness='little',

[2022-06-23 06:56] ret2libc commented on #3363
@altaic are you able to download/test https://github.com/rizinorg/cutter/suites/6895909402/artifacts/267486351 ?

[2022-06-23 14:03] XVilka commented on #3363
I cannot reproduce on either `dev` or `stable` (using the ELF files)

[2022-06-23 14:27] thestr4ng3r commented on #3363
Can be reproduced with a raw binary blob, rather than e.g. an elf

[2022-06-23 18:52] #614 closed, assigned to nobody

[2022-06-24 04:40] altaic commented on #3363
@thestr4ng3r Yes, I was using a raw binary (as I noted for a GD32F307 microcontroller).

[2022-06-24 06:31] b1llow commented on #2554
the `rz_core_print_disasm` and `RzDisasmState`, the related code is about 5000 lines, so complicated

https://github.com/rizinorg/rizin/blob/74e499a1813aa6e04b505b863b3251ba10ac2e0d/librz/core/disasm.c#L80-L5734

[2022-06-24 08:03] wargio commented on #2554
welcome to my every day nightmare :/

[2022-06-25 10:15] PeiweiHu opened #2738 "An integer overflow is found in get_long_object()"
# Crash

In Rizin of the current version, an integer overflow is found in get_long_object(). It further leads to a heap buffer overflow. The attacker can launch the DoS attack with a malformed binary.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2022-06-25 10:58] #2738 closed, assigned to nobody

[2022-06-25 11:59] kazarmy opened #2740 "is: Repeated symbols"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncate

[2022-06-25 13:02] thestr4ng3r opened #2741 "pdJ produces too few lines if blocksize is too small"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.4.0 @ darwin-arm-64 commit: 7158b6192549322e51779ca74c9ec96b977124ec, build: 2022-06-25__11:16:03

### Expected behavior

`pdJ <n>` should produce an array that has at l

[2022-06-26 02:50] dmknght opened #2742 "Analysis got the wrong Jump value"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Parrot OS 5.0.1 amd64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | `ELF 64-bit LSB shared object, x86-64,

[2022-06-26 16:46] ret2libc commented on #2742
Why do you say that the instructions after the `ret` should not be in the function? There is a `je 0x46e58` so it is correct that the basic block at 0x46e58 is part of the function.

What is not right is that function fcn.00013000 is a no-return function, so the instructions at 0x00046e72 should not be there. However this issue is already tracked at https://github.com/rizinorg/rizin/issues/2725 so

[2022-06-26 16:46] #2742 closed, assigned to nobody

[2022-06-26 17:24] dmknght commented on #2742
Hello! I think i misunderstood the actual problem of this issue. I checked my note again and the issue is when decompiled code (with ghidra plugin) showed the instructions of the next function until it reached the `ret` instruction of next function.
![image](https://user-images.githubusercontent.com/29118926/175826248-c4e1e6f9-beef-4295-a3db-0be6d27c4066.png)

After check the binary again and read

[2022-06-27 01:30] qux-bbb opened #2744 "Dump some bytes to file"
When I debug a program, I can not find a way to dump some bytes to file.
Some friends try to help me to solve the problem, and one of them told me maybe should have a command like 'wtf'(write to file) to do the thing.

Thank you all guys very much!

[2022-06-27 23:35] XVilka opened #2749 "Building with Muon: /subprojects/libzip-1.7.3/lib/zip_name_locate.c:65:41: error: ‘strcasecmp’ undeclared (first use in this function); did you mean ‘strncmp’?"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 36 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2022-06-27 23:40] XVilka commented on #2271
@GustavoLCR could you please take a look?

[2022-06-27 23:46] XVilka commented on #1956
@ret2libc since you are working on RzHash renaming in https://github.com/rizinorg/rizin/pull/2745, I wonder if it makes sense to make in one go.

[2022-06-28 02:04] archcloudlabs commented on #2744
Good news @qux-bbb you can do this today!
the command `px` will print a specific number of bytes in a hexdump format.
You can simply redirect the output to a file from the rizin shell.

Example

[code]

To dump a specific number of bytes, specify the number after px. Ex: ```px 10```
All options can be seen via `px?`

[2022-06-28 02:50] qux-bbb commented on #2744
Thanks!
This is what I need: `pr 32 @ 0x00006c10 > /tmp/bytes_here`

[2022-06-28 02:50] #2744 closed, assigned to nobody

[2022-06-28 07:29] ret2libc commented on #1956
After all, for now I agree with @wargio this might not be needed.

[2022-06-28 07:29] #1956 closed, assigned to nobody

[2022-06-28 09:03] ret2libc commented on #1580
@wingdeans you did something in this regard, didn't you?

[2022-06-28 14:06] wingdeans commented on #1580
I dumped the binary symbols using readelf and checked that every function in the rizin headers was in the dump using libclang's Python bindings. #2719
We could also try using rizin to get the symbols.

As for doxygen, I remember libclang does have `getBriefComment` to get the doc comment for a declaration, but I'll have to test.

[2022-06-28 16:13] XVilka opened #2750 "In `Vv` mode allow filter flags in the left column"
When you open `Vv` mode on the left you could see the list of the flags. It is somewhat similar to the default Cutter interface.
Unlike Cutter, Rizin doesn't have key to enter filter of these flags by name/pattern. It would be highly useful to have that feature and key.

[2022-06-28 16:18] XVilka opened #2751 "`v` mode starts from the offset entered before going to `V` mode, not the current selected function"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS Monterey ARM64
| File format of the file you reverse (mandatory)      | MachO
| Architecture/bits of the file (mandatory)            | ARM64
| `rizin -v` full output, **not

[2022-06-28 17:11] #1580 closed, assigned to ret2libc

[2022-06-28 18:09] PeiweiHu opened #2752 "A heap buffer overflow is found in tui"
# Crash

Make sure you are testing using the latest git version of rizin before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux n

[2022-06-28 23:49] #272 closed, assigned to wargio

[2022-06-28 23:49] #973 closed, assigned to wargio

[2022-06-28 23:49] #1300 closed, assigned to wargio

[2022-06-28 23:49] #1311 closed, assigned to XVilka, Basstorm

[2022-06-29 01:29] #2752 closed, assigned to nobody

[2022-06-29 12:18] 7ingsong opened #2756 "PPC big-endian VLE incorrectly disassemble"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10
| File format of the file you reverse (mandatory)      | Firmware baremetal
| Architecture/bits of the file (mandatory)            | PPC, Big-endian, VLE
| `rizin -v` f

[2022-06-29 13:01] wargio commented on #2756
interesting, i will check it on the libvle side. thanks for reporting it, but i see an issue, you did not select the vle in the cpu
run `e asm.cpu=vle`

[2022-06-29 13:30] 7ingsong commented on #2756
The option asm.cpu=vle is not obvious, maybe better make option "e asm.cpu=ppc.vle", because ARM also has VLE (thumb mode)

[2022-06-29 13:32] wargio commented on #2756
hmm that is a good point.

[2022-06-29 13:42] wargio commented on #2756
![image](https://user-images.githubusercontent.com/561184/176451092-ad1f8af8-e6f4-4d8a-a145-1dbbb0bc8517.png)
I can confirm that it is a problem of configuration, but i will take the cpu name advice.

[2022-06-29 13:54] XVilka commented on #2756
Would be nice also to have an integration test for this scenario.

[2022-06-29 14:00] wargio commented on #2756
@7ingsong what is the binary license?

[2022-06-29 14:38] 7ingsong commented on #2756
What do you mean?

[2022-06-29 14:42] 7ingsong commented on #2756
@wargio Works fine with options:

"e asm.arch=ppc"
"e asm.cpu=vle"
"e cfg.bigendian=true"
"e asm.bits=16"

[2022-06-29 15:09] wargio commented on #2756
i would like to add it to our bin repository as a test, but i cannot do it if is copyrighted

[2022-06-29 15:53] ITAYC0HEN commented on #60
Yeah, IMO there is a redundent information. I am not speaking about the function prototype (although I think it might be redundant as well), But I do speak about the "full flag name" that is shown, with "sym.imp....".
Whoever enabled real name wouldn't want to see this :D Otherwise, they would disable "realname" and get a cleaner output (which should be less-clean than with realname enabled)

[2022-06-30 08:46] 7erduk commented on #2756
It is fine, You can add it.

[2022-06-30 13:15] ret2libc opened #2760 "Add command to generate a C/C++ string"
**Is your feature request related to a problem? Please describe.**
I want to copy some bytes from a file as a string in a C program.

**Describe the solution you'd like**
Something under `pc` (e.g. `pcc` or `pcS`) or under `ps` (e.g. `psc`) to print the bytes as a C string.

**Describe alternatives you've considered**
None.

**Additional context**
Currently there is `psx` that "ushow string with e

[2022-06-30 14:06] 7ingsong commented on #2756
Other problem

[code]

[2022-07-01 00:26] XVilka commented on #1080
We need to make a list of these characteristics first

[2022-07-02 08:12] #747 closed, assigned to XVilka, ret2libc

[2022-07-02 13:25] Rot127 opened #2766 "Rewrite `filter.c`"
**Is your feature request related to a problem? Please describe.**

I ran into problems with `filter.c::filter()` while developing https://github.com/rizinorg/rizin/pull/2417. `filter()` has hard coded assumptions about the asm string which the newly colored asm strings no longer fulfill (`lea` instructions are no longer recognized because of invalid magic values).

The problem is that fixing it e

[2022-07-02 18:36] #2756 closed, assigned to nobody

[2022-07-03 11:54] thestr4ng3r opened #2774 "Update the "cannot attach" message on macOS with more info"
https://github.com/rizinorg/rizin/blob/1b688fa89ef1480bec1213815df5606a9e074473/librz/io/p/io_mach.c#L399-L403

Another possible cause is that in non-interactive sessions like ssh, the `system.privilege.taskport` authorization cannot be granted by default. Might be good to change this message into a list of things that could be the cause.

[2022-07-05 00:10] XVilka commented on #2749
Was fixed, thanks.

[2022-07-05 00:10] #2749 closed, assigned to nobody

[2022-07-06 09:50] #2750 closed, assigned to nobody

[2022-07-06 12:47] ret2libc commented on #1592
When there is no hash table, we can navigate relocations to determine the highest symbol index referenced there.

[2022-07-07 00:55] XVilka opened #2788 "SystemZ - LZMA unit test fail"
[code]
See https://app.travis-ci.com/github/rizinorg/rizin/jobs/575754258#L3576

[2022-07-07 07:05] ret2libc commented on #2788
This is going to be hard to reproduce without a systemZ system

[2022-07-07 10:26] haeter525 commented on #2648
After tracing the code, I found the issue probably originated from the Java demangler in [rz_libdemangle](https://github.com/rizinorg/rz-libdemangle). Moreover, it seems like the demangler tries to remove any "java/lang" strings from a mangled method.

Here is part of the code of the demangler ([link](https://github.com/rizinorg/rz-libdemangle/blob/main/src/java.c)). The full name of the method (t

[2022-07-07 14:21] XVilka commented on #2788
If the quick solution is impossible, I suggest removing/disabling this unit test on SystemZ, since it prevents running other tests.

[2022-07-07 18:45] ret2libc commented on #2788
I haven't looked at this yet.

[2022-07-08 00:55] PeiweiHu opened #2792 "The command line prompt will cover the last line when the last line doesn't end with \n"
The command line prompt will cover the last line when the last line doesn't end with \n

While developing https://github.com/rizinorg/rizin/pull/2791,  I found if one changes the `rz_cons_printf("%s\n", rz_strbuf_drain(sb));` in librz/core/cmd/cmd_print.c:4910 to `rz_cons_printf("%s", rz_strbuf_drain(sb));`, the last line of output will be covered by command line prompt, as shown in the following.

[2022-07-08 11:50] #2760 closed, assigned to nobody

[2022-07-09 07:21] haeter525 opened #2794 "Add xrefs support for switch statements in Dex"
**Is your feature request related to a problem? Please describe.**

Dalvik architecture uses two opcodes, `packed-switch` and `sparse-switch`, and their table structures to construct the switch statement. By parsing the table structures, we have the addresses of the associated code blocks. The switch statement is a widely-used language feature appearing in many Android APPs. But, I found that Rizi

[2022-07-10 09:21] kazarmy commented on #2792
A possible fix is #2385 but it was deemed too complicated for the given purpose. You might want to resurrect it and simplify it perhaps.

[2022-07-11 11:55] #2788 closed, assigned to ret2libc

[2022-07-12 00:46] XVilka commented on #1285
LLVM added support for Debuginfod as well: https://github.com/llvm/llvm-project/commit/36f01909a0e29c1014301ed6835687a84bf0e9fa

[2022-07-12 14:48] #985 closed, assigned to nobody

[2022-07-14 12:38] kazarmy commented on #2740
Since `readelf` provides the same functionality, I don't think I'll resolve this anytime soon.

[2022-07-17 11:58] XVilka commented on #2554
@wargio @imbillow shall we close this one as completed?

[2022-07-17 13:39] b1llow commented on #2554
I'm not sure, but it doesn't seem to be fully finished (`rz_core_print_disasm`)

[2022-07-17 14:13] jerc33 commented on #284
Hi, @ret2libc , that looks very much like what I need.
I'm terribly sorry for letting this issue become stale.

I've been playing around with aoj and opex, and as far as I can tell it is a perfect fit for what I need, and more.
From my part, this issue/feature_req, can be marked as closed.

Thank you very much for all your help.

[2022-07-17 15:06] ret2libc commented on #284
No problem! Happy to help

[2022-07-17 15:07] #284 closed, assigned to nobody

[2022-07-17 15:33] wargio commented on #2554
not yet

[2022-07-18 13:41] XVilka commented on #2696
Retried with https://github.com/rizinorg/rizin/commit/97cc3ee4b7e36c490effc1951314a12016292072, problem is still there:
[code]

[2022-07-18 23:16] #2269 closed, assigned to nobody

[2022-07-19 01:17] PeiweiHu commented on #1590
ICYMI, `Convert px[ dDhHwWqQol] to new shell` -> https://github.com/rizinorg/rizin/pull/2813

[2022-07-20 16:19] d-ornen opened #2829 "Problems debuggin with watchpoints"
Encountered problems in debugging crackme binary.
The goal is to catch when some value is written to rsp+8 (rsp doesn't change during debugging)
OS: endeavour linux x86_64
Kernel: 5.18.11-arch1-1
### Expected behavior
setting `dbw <address in stack> 'rw'`
pauses execution during debug on either read or write to byte[address in stack]

### Actual behavior
program closes normally without interrupts

[2022-07-20 16:33] XVilka commented on #2829
Please add more information about platform, OS, etc.

[2022-07-21 00:15] PeiweiHu commented on #1590
`pD` is ported already.

[2022-07-21 09:23] ret2libc commented on #2829
Which version of rizin are you using? Probably the problem is still present, but I guess you are using an older version of rizin because in v0.4.0 `dbw` command has been changed to:
[code]

So you would have to do `dbw rw @ 0xcafecafe` to actually put a watchpoint at a given address

[2022-07-21 09:26] ret2libc commented on #2829
[code]

Maybe related, but the size of the watcher is just 1 byte... This looks wrong.

[2022-07-21 15:34] PeiweiHu opened #2831 "Repeated mouse click handling causes chaos in panel mode"
# Repeated mouse click handling causes chaos in panel mode

Under the panel mode (`v`), when the user clicks the items in function/symbol lists, or addresses in the disassembly panel, the panels should jump to the corresponding address. However, since the click contains **up** and **down**, the handler processes the click two times. With the scroll reset, repeated handling causes chaos in use.

Fo

[2022-07-21 15:39] PeiweiHu commented on #2831
also related to https://github.com/rizinorg/rizin/issues/2269#issuecomment-1025440824

[2022-07-22 00:14] XVilka opened #2833 "test/bins/fuzzed/pe12 test failure"
[code]
https://github.com/rizinorg/rizin/runs/7454427725?check_suite_focus=true#step:19:21

[2022-07-22 02:24] d-ornen commented on #2829
@ret2libc
It is `rizin-0.3.4-1`, however, in
`rizin 0.5.0 @ linux-x86-64
commit: 68f6f71fd2fefc6f33cdfde8b028c5737b0cf72a`  the bug is present.

[2022-07-22 07:24] ret2libc opened #2834 "Port `?` (help) to rzshell"

[2022-07-22 14:34] #2676 closed, assigned to nobody

[2022-07-23 02:45] bagelbyte opened #2836 "axtg gives "fd" error"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | elf
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output,

[2022-07-23 14:29] #2836 closed, assigned to nobody

[2022-07-25 01:48] FalcoGer opened #3746 "[FR] Identify class member variables in disassembly"
**Is your feature request related to a problem? Please describe.**

Using debug information or dynamic analysis, one might figure out the layout of a class. For example code like this is fairly straight forward:

[code]

You know that `this + 0x00` is `_age` and `this + 0x04` is `_height`

I have recently seen a feature of the binary ninja decompiler [here](https://youtu.be/XrE-RfAYrzs?t=626). If

[2022-07-25 02:15] FalcoGer commented on #3746
Perhaps the disassembly should be replaced by `dword [ rax + 4 ] ; {int64_t Person::_height}` instead. putting `this` there doesn't really add a lot.

[2022-07-25 04:39] ITAYC0HEN commented on #3746
CC @thestr4ng3r

[2022-07-26 18:53] ret2libc opened #2844 "RzType: allow to load sdb file also for functions of a particular language"
**Is your feature request related to a problem? Please describe.**
See https://github.com/rizinorg/cutter/issues/2911#issuecomment-1195066507 . Some languages may have some functions that are no-return. We may want to provide definitions for those functions and load them only when the binary is detected for a particular language.

**Describe the solution you'd like**
[rz_type_db_init](https://gith

[2022-07-27 05:28] CAFxX commented on #2844
Just a small note: a single binary can contain code compiled from different languages (even, as in the case of https://github.com/rizinorg/cutter/issues/2911, for Go), so the general solution would be to guess which language(s) were used to produce the binary and include the definitions for all of them.

At the same time, perfect is the enemy of good... so starting even just with the definitions f

[2022-07-27 06:12] ret2libc commented on #2844
True.

The alternative I considered above is to just define these functions in the generic `functions-linux.sdb`, `functions-macos.sdb`, etc., however this solution has the problem that some functions might be wrongly analyzed  in some cases (e.g. if a binary has a `runtime.panicIndex` function).

On the other hand, I am now thinking that these functions which are defined in `functions-X.sdb` do n

[2022-07-27 13:55] ghost opened #2845 "cannot detect datarefs correctly like IDA on arm32"
I'm using rizin/Cutter to disassemble an elf on arm32.

one function like this:
[code]
i get datarefs with `aflj` and find **0x00010b3c** datarefs is:
[code]
we know this is incorrect, I want to get datarefs below (IDA can get this result):
[code]
How can I get this result, or can rizin improve this problem?
Thanks, rizin project.

[2022-07-28 08:40] ghost commented on #2845
[arm_sample.zip](https://github.com/rizinorg/rizin/files/9207284/arm_sample.zip)
This is arm sample elf file. You can use 'aap' command to detect 0x00010b3c as a function and see what i said before.

[2022-07-29 00:23] wavexx opened #2851 "Incorrect flow analysis on avr2560"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | avr/32
| `rizin -v` full output, **not truncate

[2022-07-31 08:37] thestr4ng3r opened #2856 "Console on Windows through OpenSSH incorrectly detected as "xterm", breaking Ctrl+C and others"
When using rizin through SSH (https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse?tabs=gui) on a windows host with PowerShell as the shell, errors about `stty` not being recognized are printed and arrow keys don't work right. I have also observed some cases where Ctrl+C didn't break.

![Bildschirmfoto 2022-07-31 um 10 26 56](https://user-images.githubuse

[2022-07-31 09:36] kazarmy commented on #2833
This hasn't been a problem since 2166230a9c35b4bc6d3d3bba0084df8ba6fd1577 so I'm closing this.

[2022-07-31 09:36] #2833 closed, assigned to ret2libc

[2022-07-31 16:58] gblomqvist opened #2859 "rz-bin -z -N 1 on ELF fails to find strings of length < 4"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | Kali x86 64
| File format of the file you reverse      | ELF
| Architecture/bits of the file             | x86/64
| `rizin -v` full output, **not truncated**  | rizin 0.5.0 @ linux-x86-64 com

[2022-07-31 17:04] XVilka commented on #2859
Good catch

[2022-08-01 16:02] thestr4ng3r opened #2864 "Disassembly Colors are broken with latest rizin dev"
With rizin from submodule (b79201b49a0d687c854b6e2f0c88fc8a7f2afa61):
![Bildschirmfoto 2022-08-01 um 17 58 21](https://user-images.githubusercontent.com/1460997/182190472-124afd53-645c-428e-82de-8b03b2c57424.png)

With rizin dev (fc24887c5cabe649cd22bf681c9280666d4f883e):
![Bildschirmfoto 2022-08-01 um 17 58 09](https://user-images.githubusercontent.com/1460997/182190711-39fd1845-ac0f-4fe8-b1f0-f2

[2022-08-01 17:16] pcolladosoto commented on #160
Hi all! According to the current [`INSTALL.md`](https://github.com/rizinorg/rizin/blob/fc24887c5cabe649cd22bf681c9280666d4f883e/INSTALL.md) I believe there's no macOS Homebrew tap available for Rizin.

I usually work on a macOS machine and I would be more than happy to lend a hand and get that tap up and running.

Before doing so I would really appreciate it if you could tell me wether this is som

[2022-08-01 17:49] ret2libc commented on #160
I'm not sure it's still worth it after all TBH... Rizin is already in homebrew core formulas and it is updated right now so maybe we can just rely on that. What do you think?

[2022-08-01 18:18] pcolladosoto commented on #160
As soon as I read the [`INSTALL.md`](https://github.com/rizinorg/rizin/blob/fc24887c5cabe649cd22bf681c9280666d4f883e/INSTALL.md?plain=1#L38-L40) I just didn't think about trying to install Rizin: I assumed it wasn't available at all.

Maybe we can update that line so that other users just use `brew` to install it?

Sorry for the noise... 😅

[2022-08-01 18:30] b1llow commented on #2864
Looks like a bug of `rz_cons_html_filter`

[2022-08-02 11:09] thestr4ng3r commented on #175
#2683

[2022-08-02 11:09] #175 closed, assigned to nobody

[2022-08-02 13:35] Rot127 commented on #2864
Agree on that.
This issue could also be related to https://github.com/rizinorg/cutter/issues/2945

[2022-08-02 14:40] Rot127 commented on #2864
I don't really grasp the parsing algorithm yet and can't look into it more today. But the problem seems to be that `rz_cons_html_filter` does not insert `</font><font ...>` into the resulting string, if one escape sequence follows directly another.

E.g.:
`.. \033[0m\033[38;2;230;225;207msp ..."` (note how after the reset `\033[0m` follows directly the color `\033[38;2;230;225;207m`.

When working

[2022-08-02 16:32] thestr4ng3r commented on #2864
Good findings! I think `rz_cons_html_filter()` should be fixed nonetheless, unless we want to remove it entirely (which might be possible by directly converting from ansi escape codes to Qt structures, but I still find the html somewhat useful).
I would not add anything to `rz_print_colorize_asm_str()` or make a variant of it, also because there is more code emitting ansi colored text in the disas

[2022-08-03 05:30] alxchk opened #2865 "[build] meson_git_wrapper.py called against build dir instead of source dir"
Meson 0.63.0

How to reproduce:
[code]

[code]

[code]

[2022-08-03 10:21] ret2libc commented on #160
Definitely! I think there was no rizin formula at the time. Do you want to update the doc by sending a PR by any chance? 😀

[2022-08-03 10:26] pcolladosoto commented on #160
On it 😼

[2022-08-03 11:38] ret2libc commented on #2845
What version of rizin are you using?

This is what get with rizin from `dev` branch.
[code]

This seems right, isn't it?

[2022-08-03 12:40] ret2libc commented on #2859
Dropping here some thoughts on what could be done (though @wargio might know better):

- change rz_bin_file_strings from `RZ_API RZ_OWN RzList /*<RzBinString *>*/ *rz_bin_file_strings(RZ_NONNULL RzBinFile *bf, size_t min_length, bool raw_strings)` to `RZ_API RZ_OWN RzList /*<RzBinString *>*/ *rz_bin_file_strings(RZ_NONNULL RzBinFile *bf, RzBinFileStringOpt *opt)` where `RzBinFileStringOpt` contain

[2022-08-03 12:50] kazarmy commented on #2865
Use:

[code]

instead, or use the commands in https://github.com/rizinorg/rizin/#how-to-build.

[2022-08-03 15:05] ret2libc commented on #2865
I think https://github.com/rizinorg/rizin/pull/2868 should fix this problem. We'll see if anything fails in our CI, but I'm confident it should work. If you also want to test it, you are more than welcome :)

[2022-08-04 03:22] ghost commented on #2845
@ret2libc
I use rizin 0.5.0 @ linux-x86-64, maybe it is dev version.
Let's see 68424 insturction:
`68424 -->  0x00010b48      ldr     r4, [fcn.00010b78]
0x00010b78      .dword 0x00026420 `
and we can see we should get content from 0x00010b78 to r4 instead of 0x10b78 to r4.
So i think the datarefs should be (IDA do like this too):
`from": 68424, "to": 0x26420`
instead of:
`from": 68424, "to": 68472

[2022-08-04 09:35] wargio commented on #2859
there is actually a check to force the length to a certain length, usually 4 is minimum, because when you select 1, then is easier to just hexdump

[2022-08-04 09:47] ret2libc commented on #2845
[code]

From this code I see that the instruction at 0x00010b48 references the data at 0x00010b78. This is what Rizin tells you and I think it is right (at least it is not wrong IMO). 0x00010b78 contains the value 0x26420, but inferring that the function references 0x26420 would require us to look at how the value stored in r4 is used... Actually, I think the instructions `str   r3, [r4, 4]` and `

[2022-08-04 09:55] ret2libc commented on #2859
Still, it should be possible for users to select a <4 number, like `strings` does.

[2022-08-04 14:29] vext01 opened #2871 "Insert in visual mode doesn't give correct feedback."
### Work environment

 - debian x86_64
 - Today's main dev `48bed798240e`

### Expected behavior

Modifications made in visual mode should be updated in visual mode display  and `px` should show the modifications.

### Actual behavior

Bytes not updated in visual mode or `px` output, **but** if you exit rizin and go back in, the file has in fact been updated!

### Steps to reproduce the behavior

[2022-08-07 16:36] XVilka commented on #2859
@ret2libc yes, your suggestions make sense, especially since these binary-specific options can also include the preference for endianness and encoding.

[2022-08-08 00:10] #2831 closed, assigned to nobody

[2022-08-10 16:14] Rot127 opened #2899 "PPC: Add `cache_line_block_size` configs to PPC plugin"
**Is your feature request related to a problem? Please describe.**

The `dcbz` instruction zeros a cache line block and the memory it belongs to. The size of this block depends on the CPU. Sometimes it is 32, 64 or 128 bytes.
(Check out the[ qemu settings](https://github.com/Rot127/qemu/blob/3e0ce6fe8e5ab9fcc6b8dcdba4557c5a05cbe37b/target/ppc/cpu_init.c#L7487) for each CPU.)
Currently this value i

[2022-08-10 16:32] Rot127 opened #2900 "PPC: `ca32` and `ov32` flags and `ppr32` missing"
**Is your feature request related to a problem? Please describe.**

The ISA v3 only `ca32` and `ov32` flags and register `ppr32` are not implemented. While this is not a huge problem it prevents `rz-tracetest` to test `mfxer` instructions against QEMU traces binaries compiled for ISA v3.

QEMU and Rizin have a mismatch in register content here. QEMU will set and trace the flag bits whenever it run

[2022-08-10 16:56] Rot127 opened #2901 "PPC: Broken RZIL instructions"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | PPC
| `rizin -v` full output, **not truncated** (mandatory)

[2022-08-10 17:15] Rot127 opened #2902 "PPC: RZIL suppport for VLE"
**Is your feature request related to a problem? Please describe.**

While Rizin supports the VLE extension via the internal `libvle` the instructions are not uplifted to RZIL yet.

One challenge for this is that the RZIL code makes a lot of use of Capstone's `cs_insn.detail.ppc` struct (which holds the operand information).

**Describe the solution you'd like**

Since many 32bit VLE instructions m

[2022-08-10 17:23] Rot127 opened #2903 "PPC: No exception handling in RZIL"
**Is your feature request related to a problem? Please describe.**

The PPC RZIL code doesn't implement exception handling although there is a least the `MTSPR`/`MFSPR` and `INVALID` instruction which could potentially use it.

See: https://github.com/Rot127/rizin/blob/0b8c56c5764c586139b192b846346de1d86eedee/librz/analysis/arch/ppc/ppc_il_ops.c#L807

**Describe the solution you'd like**

Implemen

[2022-08-11 00:19] XVilka commented on #2865
I am closing this since no response and it should be fixed. Feel free to add comments if that's not the case.

[2022-08-11 00:19] #2865 closed, assigned to nobody

[2022-08-11 00:43] XVilka commented on #2900
Probably makes sense to open an issue in https://gitlab.com/qemu-project/qemu/-/issues

[2022-08-11 00:54] XVilka opened #2904 "Fix PPC RzIL code compilation with capstone '3' and 'next'"
# capstone-3
[code]
# capstone-next
[code]

@Rot127 please use `dist-` branch name when you send PR to fix this.

[2022-08-11 03:16] ghost opened #2905 "Failing `analysis_global_var` on v0.4.1 release"
My environment: ArchLinux, x86_64, GCC 12.1.1 20220730

1. Get https://github.com/rizinorg/rizin/releases/download/v0.4.0/rizin-src-v0.4.0.tar.xz
2. Unpack it, and cd into rizin-v0.4.0
3. Get test/bins: make -C test/bins (I got 7d0c31ac7711de9c4d37f5047200dc5a407ff713)
4. Run: meson -Duse_sys_libzip=enabled build
   Note: with bundled libzip, build will fail with:
[code]
5. Run test: cd build; nin

[2022-08-11 07:13] ret2libc commented on #2905
JFYI, we check all releases against all bundled dependencies, so it might happen for one reason or the other that when compiling against system libraries something breaks. I've seen few failures in Fedora package as well which I still need to investigate too.

[2022-08-11 10:06] XVilka opened #2906 "Find functions that perform temporary seek from the API and refactor to use the offset argument if possible"
Also my opinion that most Rizin functions which force caller to temporary change seek is bad API and indicator that those functions should probably have offset argument.

_Originally posted by @karliss in https://github.com/rizinorg/cutter/pull/3005#discussion_r943141253_

[2022-08-11 11:00] ret2libc commented on #2906
Please let's create actionable issues though, otherwise we just leave issues hanging around without anyone ever knowing when something is done or what needs to be done exactly.

[2022-08-11 11:28] b1llow commented on #2906
I recommend using an abstraction like memory view , which also includes
buffer, buffer size, and offset. Maybe also include the functionality of `rz_io_read_at`.
https://docs.python.org/3/library/stdtypes.html#memoryview

[2022-08-11 15:08] Rot127 commented on #2900
This is not an issue in QEMU so there is no need for it. Edited the issue above to make this clear.

[2022-08-11 18:18] #2904 closed, assigned to Rot127

[2022-08-13 07:43] #2864 closed, assigned to b1llow, Rot127

[2022-08-13 12:54] XVilka commented on #2906
@imbillow RzBuffer offers such an abstraction - it works with different backends:
[code]
https://github.com/rizinorg/rizin/blob/dev/librz/util/buf.c#L9

It also tracks the state of `seek` and has a notion of start and end.

[2022-08-13 12:55] XVilka commented on #2905
I think we can ignore `sign_integration` since it will be removed in 0.5.0 (already removed in `dev`), but take the `analysis_global_var` seriously.

[2022-08-14 16:56] XVilka commented on #2920
Problem still happens and it's indeed a problem in Rizin.

[2022-08-15 11:30] WingsZeng opened #2922 "`dmhg` and `dmhbg` do not display the graph correctly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 22.04 x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.
| `rizin -v` ful

[2022-08-16 21:12] vext01 opened #2926 "Add a way to force disable parser generation during build?"
Currently the rizin build system checks for the python yaml module at configure time and if it finds it, regenerates the rizin command parser during the build.

I have an (admittedly niche) scenario (OpenBSD packaging with [dpb](http://man.openbsd.org/dpb)), where the yaml module may be present at configure time, but not at build time.

This is what we think caused the build failure:
[code]

For n

[2022-08-16 21:24] ret2libc commented on #2926
Hi, we could add an option to use the embedded parser without regenerating it, but i admit it feels strange to have some dep as configure time but not at build time... Usually packages like Deb and rpm can specify build dependencies or regular dependencies but i think none of these can have configure dependencies. Why does that happen for openbsd?

[2022-08-16 22:19] wargio commented on #2926
as discussed per chat this should be just a meson option to completely disable the line https://github.com/rizinorg/rizin/blob/dev/librz/core/cmd_descs/meson.build#L34 like we do for sys libs

[2022-08-17 01:08] XVilka commented on #297
@Rot127 a bunch of them are from PPC disassembly and uplifting:
[code]

[2022-08-17 07:54] thestr4ng3r commented on #2926
This is actually less trivial than it sounds, since regeneration happens into the build directory (as building should never touch anything in the sources), but the pregenerated files are in the source. So likely not worth the extra logic.

This is absolutely feasible, as @wargio noted. I would imagine having a tristate option to set to auto/on/off. Packaging scripts can force it to `off` always si

[2022-08-17 08:00] thestr4ng3r commented on #2926
If the hypothesis of the race condition is correct, pyyaml would have been just available by chance during configure time and was uninstalled shortly after. Since the rizin package did not specify pyyaml as a dependency at all, it was correctly never installed/kept for it. But our build script still found it and thus assumed it to be available.

[2022-08-17 09:46] sthen commented on #2926
Hi - I updated the OpenBSD port to add the build dependency. We don't want builds to function differently depending on what other packages are installed at build time anyway and it's no problem to depend on pyyaml. I don't think you need to make any changes to cope, it's a pretty common thing for build systems to use tools that they have detected as being available, the porter just needs to list t

[2022-08-17 10:45] thestr4ng3r commented on #2926
I think it will still be nice to have the option to disable the regeneration entirely, even just to have fewer dependencies.

[2022-08-18 10:01] #2922 closed, assigned to nobody

[2022-08-18 12:11] #2856 closed, assigned to GustavoLCR

[2022-08-19 14:05] kobrineli opened #2935 "Integer Overflow to Buffer Overflow in `librz/bin/format/mach0/mach0.c`"
Hi! We've been fuzzing your project and found following error.

### Work environment

OS: Ubuntu 20.04
File format: ELF
rizin verrsion: d4134cb58c2504846320a1e4d56c9137cf95efc2

### Bug description

In https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/mach0/mach0.c#L2794
symbols_size, which represents the number of bytes that will be allocated later,
is calculated `symbols_size = (symbol

[2022-08-19 14:15] #2926 closed, assigned to ret2libc

[2022-08-19 15:36] kobrineli opened #2936 "Heap Buffer Overflow in `memmove` in `librz/util/buf_bytes.c`"
Hi! We've been fuzzing your project and found following error in `librz/util/buf_bytes.c`.

### Work environment

OS: Ubuntu 20.04
File format: ELF
rizin version: d4134cb58c2504846320a1e4d56c9137cf95efc2

### Bug description

In `librz/util/buf_bytes.c` in https://github.com/rizinorg/rizin/blob/dev/librz/util/buf_bytes.c#L79 `memmove` function is called with last argument equals to 4354, which lea

[2022-08-19 18:10] b1llow opened #2938 "`rz_core_analysis_graph` print different colors on windows platform"
# `rz_core_analysis_graph` print different colors on windows platform

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 ? (Visual Studio 2022)
| File format of the file you reverse (mandatory)      | NAN
| Architectur

[2022-08-19 21:13] imyxh opened #2939 "rz-run input truncates on null chars"
Migrated from https://github.com/radareorg/radare2/issues/9782

Proof of concept:

[code]

The same thing occurs when using a `.rrz` file, but now there is an error message:

[code]

However, using the `stdin` flag with an input file works:

[code]

[2022-08-20 07:33] riptl commented on #2939
Fix in r2: https://github.com/radareorg/radare2/pull/20622

[2022-08-20 07:42] riptl opened #2942 "OOB read in rz_run_parseline"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (mandatory)  |

[2022-08-20 16:10] ret2libc opened #2946 "cmd_descs_generator produces duplicate items in case of `choices_cb`"
@ret2libc seems generator produces duplicate items in case of `choices_cb`

_Originally posted by @XVilka in https://github.com/rizinorg/rizin/pull/2916#discussion_r950241165_

[2022-08-20 23:26] wargio commented on #2936
![image](https://user-images.githubusercontent.com/561184/185769270-43160623-304a-4303-a5ed-1b295ace41ba.png)
i cannot.

[2022-08-21 12:13] thestr4ng3r commented on #2102
With https://github.com/rizinorg/rizin/pull/2948, we are deliberately not using meson's cmake module anymore, so calculating the relative path and generating the @PACKAGE_INIT@-like code ourselves is done on purpose.
This means this issue is reduced to just replacing the python script used at
https://github.com/rizinorg/rizin/blob/d7699a9e728a2385fb6991b19f95e3412eec3eac/meson.build#L184
by someth

[2022-08-21 14:06] XVilka commented on #2102
@thestr4ng3r we could also simply request extending their FS module.

[2022-08-21 14:56] thestr4ng3r commented on #2102
Sure, but that too will take a long time until the update is widespread enough for us to use.

[2022-08-21 14:58] XVilka commented on #2102
In fact we could do it in parallel and use the hack you mentioned meanwhile, while sometime in the future switch to the right solution.

[2022-08-21 21:48] #2935 closed, assigned to nobody

[2022-08-21 21:48] #2936 closed, assigned to nobody

[2022-08-21 23:36] ret2libc commented on #2102
I'm ok with this option.

[2022-08-22 00:57] eli-schwartz commented on #2102
https://github.com/mesonbuild/meson/pull/7908

[2022-08-22 06:37] thestr4ng3r commented on #2102
This should indeed solve it cleanly.

[2022-08-22 06:40] eli-schwartz commented on #2102
I really should get around to cleaning up that PR and landing it, very disappointing to see it languish for basically no reason whatsoever because the original submitter got turned off by pointless demands to use a particular python implementation style. :(

[2022-08-22 10:30] m4drat opened #2952 "nullptr read in librz/bin/format/mach0/dyldcache.c:252"
Hi! We've been fuzzing your project and found the following error in `librz/bin/format/mach0/dyldcache.c:252`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

nullptr read in `librz/bin/format/mach0/dyldcache.c:252`

### Steps to reproduce

1. Build docker container from htt

[2022-08-22 10:35] m4drat opened #2953 "Heap out-of-bounds read in funcs.c:310"
Hi! We've been fuzzing your project and found the following error in `librz/magic/funcs.c:310`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 1 in `librz/magic/funcs.c:310`

### Steps to reproduce

1. Build docker container from https://gith

[2022-08-22 10:40] m4drat opened #2954 "Heap out-of-bounds read (segv) in dex.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/format/dex/dex.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read (segv) in `librz/bin/format/dex/dex.c`

### Steps to reproduce

1. Build docker container from https://g

[2022-08-22 10:46] m4drat opened #2955 "Multiple heap out-of-bounds reads of size 1 in dex.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/dex/dex.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 1 in `librz/bin/format/dex/dex.c:1447` and `librz/bin/format/dex/dex.c:1495`

### Steps to repr

[2022-08-22 10:50] m4drat opened #2956 "Heap out-of-bounds write in mach0.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/format/mach0/mach0.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds write of size 2 in `librz/bin/format/mach0/mach0.c:1612`

### Steps to reproduce

1. Build docker contain

[2022-08-22 10:54] m4drat opened #2957 "Heap out-of-bounds read in pe_section.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/format/pe/pe_section.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 40 in `librz/bin/format/pe/pe_section.c:273:14`

### Steps to reproduce

1. Build docker c

[2022-08-22 10:56] m4drat opened #2958 "Heap out-of-bounds read in uleb128.c"
Hi! We've been fuzzing your project and found the following error in `librz/util/uleb128.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 1 in `librz/util/uleb128.c:26:7`

### Steps to reproduce

1. Build docker container from https://githu

[2022-08-22 10:58] m4drat opened #2959 "nullptr write in bin_dyldcache.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/p/bin_dyldcache.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Nullptr write in `librz/bin/p/bin_dyldcache.c:50:14`

### Steps to reproduce

1. Build docker container from https://github.com

[2022-08-22 11:00] m4drat opened #2960 "Heap out-of-bounds read in str.c"
Hi! We've been fuzzing your project and found the following error in `librz/util/str.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 6 in `librz/util/str.c:1952:9`

### Steps to reproduce

1. Build docker container from https://github.com/

[2022-08-22 11:02] m4drat opened #2961 "Heap out-of-bounds read in coresymbolication.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/format/mach0/coresymbolication.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 25 in `librz/bin/format/mach0/coresymbolication.c:132:4`

### Steps to reproduce

[2022-08-22 11:04] m4drat opened #2962 "nullptr read in bin.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/bin.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Nullptr read in `librz/bin/bin.c:1435:37`

### Steps to reproduce

1. Build docker container from https://github.com/ispras/oss-sydr-fuzz/t

[2022-08-22 11:08] m4drat opened #2963 "Multiple heap out-of-bounds writes of size 1 in marshal.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/pyc/marshal.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds write (segv) of size 1 in `librz/bin/format/pyc/marshal.c:345` and `librz/bin/format/pyc/marshal.c:366`

[2022-08-22 11:11] m4drat opened #2964 "double-free in bobj.c"
Hi! We've been fuzzing your project and found the following error in `librz/bin/bobj.c:142`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap double-free in `librz/bin/bobj.c:142:3`

### Steps to reproduce

1. Build docker container from https://github.com/ispras/oss-syd

[2022-08-22 11:20] m4drat opened #2965 "Floating point exception and nullptr read in mach0_rebase.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/mach0/mach0_rebase.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Floating point exception in `librz/bin/format/mach0/mach0_rebase.c:38:48` and nullptr read in `librz/bin/format/mach

[2022-08-22 11:20] wargio commented on #2964
can you just upload the binary here so we can simply test this? same for all the other issues.

[2022-08-22 11:24] m4drat commented on #2964
Okay, I will do that. Here is the crash for this one: [crash-ec0c253b75cf3a89faf1b217cb8f94463852493c.zip](https://github.com/rizinorg/rizin/files/9393836/crash-ec0c253b75cf3a89faf1b217cb8f94463852493c.zip)

[2022-08-22 11:27] m4drat commented on #2965
Here are the crashing files:
1. [crash-d08ad18f0d966916ce9798f0628837b5.zip](https://github.com/rizinorg/rizin/files/9393850/crash-d08ad18f0d966916ce9798f0628837b5.zip)
2. [crash-4bdd112e4f67b21aa77beed6f11d4ee6.zip](https://github.com/rizinorg/rizin/files/9393857/crash-4bdd112e4f67b21aa77beed6f11d4ee6.zip)

[2022-08-22 11:33] m4drat commented on #2963
Crashing inputs:
1. [crash-29b84af05a36d9628093200a1a07b7d931009c84.zip](https://github.com/rizinorg/rizin/files/9393887/crash-29b84af05a36d9628093200a1a07b7d931009c84.zip)
2. [crash-490d344f047c5223f5bfe701dfb406ca2a00710d.zip](https://github.com/rizinorg/rizin/files/9393886/crash-490d344f047c5223f5bfe701dfb406ca2a00710d.zip)

[2022-08-22 11:48] wargio commented on #2952
attach the bin here so we can reproduce this.

[2022-08-22 11:48] wargio commented on #2953
attach the bin here so we can reproduce this.

[2022-08-22 11:48] wargio commented on #2954
attach the bin here so we can reproduce this.

[2022-08-22 11:48] wargio commented on #2955
attach the bin here so we can reproduce this.

[2022-08-22 11:48] wargio commented on #2956
attach the bin here so we can reproduce this.

[2022-08-22 11:48] wargio commented on #2957
attach the bin here so we can reproduce this.

[2022-08-22 11:49] wargio commented on #2958
attach the bin here so we can reproduce this.

[2022-08-22 11:49] wargio commented on #2959
attach the bin here so we can reproduce this.

[2022-08-22 11:49] wargio commented on #2960
attach the bin here so we can reproduce this.

[2022-08-22 11:49] wargio commented on #2961
attach the bin here so we can reproduce this.

[2022-08-22 11:49] wargio commented on #2962
attach the bin here so we can reproduce this.

[2022-08-22 11:50] #2939 closed, assigned to nobody

[2022-08-22 11:50] #2942 closed, assigned to nobody

[2022-08-22 11:56] m4drat commented on #2962
Crashing input: [crash-644b46a2d588124d9c0366596f1b88de920cffbc.zip](https://github.com/rizinorg/rizin/files/9394055/crash-644b46a2d588124d9c0366596f1b88de920cffbc.zip)

[2022-08-22 11:57] m4drat commented on #2961
Crashing input: [crash-a120a6367e0c208ac880fee0e1798050fbe8f232.zip](https://github.com/rizinorg/rizin/files/9394062/crash-a120a6367e0c208ac880fee0e1798050fbe8f232.zip)

[2022-08-22 11:58] m4drat commented on #2960
Crashing input: [crash-690d07b7129871a1d10372c9a961ba6f684967d7.zip](https://github.com/rizinorg/rizin/files/9394069/crash-690d07b7129871a1d10372c9a961ba6f684967d7.zip)

[2022-08-22 11:58] m4drat commented on #2959
Crashing input: [crash-bd01541ca2960a0824fd15dd4f82b752.zip](https://github.com/rizinorg/rizin/files/9394073/crash-bd01541ca2960a0824fd15dd4f82b752.zip)

[2022-08-22 11:59] m4drat commented on #2958
Crashing input: [crash-a98e4cc17d380278e66cbe74cd8901b7a228bda1.zip](https://github.com/rizinorg/rizin/files/9394081/crash-a98e4cc17d380278e66cbe74cd8901b7a228bda1.zip)

[2022-08-22 11:59] m4drat commented on #2957
Crashing input: [crash-2f2e90b8bff13dd49cbc2ead0d32f9aa4cc3a817.zip](https://github.com/rizinorg/rizin/files/9394084/crash-2f2e90b8bff13dd49cbc2ead0d32f9aa4cc3a817.zip)

[2022-08-22 12:00] m4drat commented on #2956
Crashing input: [crash-6e26c88ac8552738277a17561f1ddcafe3b04e6e.zip](https://github.com/rizinorg/rizin/files/9394088/crash-6e26c88ac8552738277a17561f1ddcafe3b04e6e.zip)

[2022-08-22 12:01] m4drat commented on #2955
Crashing inputs:
1. [crash-sydr_afl_s09-id_019734_time_0_execs_0_orig_id_001921_src_000769_time_1138341_execs_90700_op_havoc_rep_4_int_overflow_6_signed.zip](https://github.com/rizinorg/rizin/files/9394092/crash-sydr_afl_s09-id_019734_time_0_execs_0_orig_id_001921_src_000769_time_1138341_execs_90700_op_havoc_rep_4_int_overflow_6_signed.zip)
 2. [crash-sydr_afl_s01-id_004538_sync_afl_main-worker_sr

[2022-08-22 12:01] m4drat commented on #2954
Crashing input: [crash-sydr_sydr-id_001842_sydr_id_004804_time_0_execs_0_orig_afl_s01-id_004493_sync_afl_main-worker_src_004120_+cov_1039_out_of_bounds_5.zip](https://github.com/rizinorg/rizin/files/9394097/crash-sydr_sydr-id_001842_sydr_id_004804_time_0_execs_0_orig_afl_s01-id_004493_sync_afl_main-worker_src_004120_%2Bcov_1039_out_of_bounds_5.zip)

[2022-08-22 12:02] m4drat commented on #2953
Crashing input: [crash-sydr_afl_s12-id_015412_time_0_execs_0_orig_id_004735_sync_afl_main-worker_src_005101_int_overflow_1_unsigned.zip](https://github.com/rizinorg/rizin/files/9394100/crash-sydr_afl_s12-id_015412_time_0_execs_0_orig_id_004735_sync_afl_main-worker_src_005101_int_overflow_1_unsigned.zip)

[2022-08-22 12:04] m4drat commented on #2952
Crashing input: [crash-sydr_724738b1dca6e92c06e702b547da6e6e1142bd66_int_overflow_48_signed.zip](https://github.com/rizinorg/rizin/files/9394121/crash-sydr_724738b1dca6e92c06e702b547da6e6e1142bd66_int_overflow_48_signed.zip)

[2022-08-22 12:13] m4drat opened #2966 "Multiple heap out-of-bounds reads in asn1.c"
Hi! We've been fuzzing your project and found the following errors in `/librz/util/asn1.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

Heap out-of-bounds read of size 1 in `/librz/util/asn1.c:81:38` and heap out-of-bounds read of size 21 in `librz/util/asn1.c:165:2`

##

[2022-08-22 12:22] m4drat opened #2967 "Multiple nullptr reads in x509.c"
Hi! We've been fuzzing your project and found the following errors in `librz/util/x509.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Nullptr read in `x509.c:27:16`, Crash file: [crash-16d217c98a68d45877036ebc770de66bc6662ff3.zip](https://github.com/rizinorg/rizin/fi

[2022-08-22 12:28] m4drat opened #2968 "Multiple nullptr reads in mdmp.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/mdmp/mdmp.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Nullptr read in `mdmp.c:82`, Crash file: [crash-0a4b90615b8dd830e86ef1c4e5e80ea9.zip](https://github.com/rizinorg/rizin/fi

[2022-08-22 12:33] m4drat opened #2969 "Multiple heap out-of-bounds writes in dex.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/dex/dex.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Heap out-of-bounds write of size 1 in `dex.c:89:13`, Crash file:
[crash-b28a51055078fc0271ab6fb59956f709.zip](https://github

[2022-08-22 12:41] m4drat opened #2970 "Multiple heap (stack) out-of-bounds reads in rz_endian.h"
Hi! We've been fuzzing your project and found the following errors in `librz/include/rz_endian.h`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Stack out-of-bounds read of size 1 in `rz_endian.h:89:17`, Crash file: [crash-d25a5c208790bbb080868c250f4fd3bfae4ac13a.zip](h

[2022-08-22 12:46] m4drat opened #2971 "Multiple nullptr reads in dwarf_process.c"
Hi! We've been fuzzing your project and found the following errors in `librz/analysis/dwarf_process.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Nullptr read in `dwarf_process.c:1271:20`, Crash file: [crash-bbb0f10c5d022afa379a12bd43e3d51400b45669.zip](https://gith

[2022-08-22 12:54] m4drat opened #2972 "Multiple heap out-of-bounds reads in ne.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/ne/ne.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Heap out-of-bounds read of size 1 in `ne.c:432:18`, Crash file: [crash-e9f3e4a94499c6730196fbf356896c5811edad4b.zip](https://g

[2022-08-22 12:59] m4drat opened #2973 "Multiple heap out-of-bounds reads in dwarf.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/dwarf.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Heap out-of-bounds read of size 1 in `dwarf.c:1429:21`, Crash file: [crash-af0f9161650d483f35c336f39cefe7f1a15fa707.zip](https://gith

[2022-08-22 13:02] m4drat opened #2974 "Multiple nullptr reads in pe_security.c"
Hi! We've been fuzzing your project and found the following errors in `librz/bin/format/pe/pe_security.c`

### Work environment

OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9

### Bug description

1. Nullptr read in `pe_security.c:14:35`, Crash file: [crash-5e09578769eeee0c44a132a792418f038752ff83.zip](https://githu

[2022-08-22 13:53] #2946 closed, assigned to ret2libc

[2022-08-22 17:14] wargio commented on #2960
i cannot reproduce this. maybe i have patched it when i patched another issue related to dwarf.

[2022-08-22 18:00] Rot127 commented on #297
This test: `<asm> bne cr5 <--- 00009640 ---> <IL>` seems to be broken in Capstone (https://github.com/capstone-engine/capstone/issues/1914). The immediate operand is not filled and contains therefor unprocessed data.

Edit the others come from `cs_reg_name`. It returns `NULL`.

[2022-08-22 20:48] m4drat commented on #2960
Just rechecked, on a clean version (https://github.com/rizinorg/rizin/commit/4b385978a1a33252c4f829d3db59fb3056afadb9) the crash is still triggerable. So, yeah, looks like you've accidentally patched this bug.

[2022-08-23 01:40] XVilka opened #2976 "`;` (add comment) in visual hex mode should add comment at the current offset"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (mandatory)  |

[2022-08-23 08:04] m4drat commented on #2970
Additional crashing samples:
1. [crash-cc6879d7eaed4fa644881f861244a1b5.zip](https://github.com/rizinorg/rizin/files/9400586/crash-cc6879d7eaed4fa644881f861244a1b5.zip)
2. [crash-83c6819b9fa5818b582bd364c7c896c4dc769239.zip](https://github.com/rizinorg/rizin/files/9400590/crash-83c6819b9fa5818b582bd364c7c896c4dc769239.zip)

[2022-08-23 10:58] m4drat commented on #2966
Additional crashing sample:
1. [crash-925a5a725f154e7ce295163656fbad45f27e3438.zip](https://github.com/rizinorg/rizin/files/9401900/crash-925a5a725f154e7ce295163656fbad45f27e3438.zip)

[2022-08-24 00:26] #2974 closed, assigned to nobody

[2022-08-24 00:26] #2971 closed, assigned to nobody

[2022-08-24 00:26] #2972 closed, assigned to nobody

[2022-08-24 00:26] #2973 closed, assigned to nobody

[2022-08-24 00:26] #2969 closed, assigned to nobody

[2022-08-24 00:26] #2970 closed, assigned to nobody

[2022-08-24 00:26] #2966 closed, assigned to nobody

[2022-08-24 00:26] #2967 closed, assigned to nobody

[2022-08-24 00:26] #2968 closed, assigned to nobody

[2022-08-24 00:26] #2963 closed, assigned to nobody

[2022-08-24 00:26] #2964 closed, assigned to nobody

[2022-08-24 00:26] #2965 closed, assigned to nobody

[2022-08-24 00:26] #2960 closed, assigned to nobody

[2022-08-24 00:26] #2961 closed, assigned to nobody

[2022-08-24 00:26] #2962 closed, assigned to nobody

[2022-08-24 00:26] #2956 closed, assigned to nobody

[2022-08-24 00:26] #2957 closed, assigned to nobody

[2022-08-24 00:26] #2958 closed, assigned to nobody

[2022-08-24 00:26] #2959 closed, assigned to nobody

[2022-08-24 00:26] #2952 closed, assigned to nobody

[2022-08-24 00:26] #2953 closed, assigned to nobody

[2022-08-24 00:26] #2954 closed, assigned to nobody

[2022-08-24 00:26] #2955 closed, assigned to nobody

[2022-08-24 04:19] XVilka opened #2979 "Add support for ASCII/Unicode graphs in `Vv` visual mode"
Currently `Vv` mode only provides disassembly view by default with no easy way/hotkey to show the function graph as with `V` mode.

- Add a hotkey
- Extend help message
- Think about rotating different graph types: "normal", "mini" (just lines), etc

<img width="1230" alt="Screen Shot 2022-08-24 at 12 13 45" src="https://user-images.githubusercontent.com/203261/186327638-4ce12ff9-77c5-4365-855a-d6

[2022-08-24 14:16] XVilka opened #2981 "Add rz-bindgen-based linter CI job"
Setup [rz-bindgen](https://github.com/rizinorg/rz-bindgen)-based linter CI job for Rizin. No generation, just checking consistency, etc.

[2022-08-24 15:47] XVilka commented on #2696
Too many changes required, moving off 0.4.1

[2022-08-25 23:53] #1584 closed, assigned to ret2libc

[2022-08-26 09:24] XVilka opened #2983 "Hotkey to show/hide the legend in `Vv` mode"
**Is your feature request related to a problem? Please describe.**

Add a hotkey to show/hide the legend in the `Vv` visual mode to save the space, especially on small screens.

[code]

<img width="1274" alt="Screen Shot 2022-08-26 at 17 21 18" src="https://user-images.githubusercontent.com/203261/186872858-ec2199b5-0229-4dff-ade3-50d0a5425e88.png">

See `librz/core/tui/vmenus.c`

[2022-08-29 03:28] XVilka commented on #2696
It seems also that even on Linux ARMv8 debugging doesn't work. It prints the same error message:
[code]
Note, also it determined the language of the statically compiled (Using Alpine ARMv8 docker) `rz-ax` as 'kotlin', not 'c' for some reason. cc @wargio
(Looks like we search for symbols that contain "kotlin" string while Rizin has it - precisely the functions that check for kotlin strings :D )

At

[2022-08-29 03:52] XVilka opened #2987 "Do not insert mouse codes as characters in `~...` mode"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS ARMv8
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (mand

[2022-08-30 17:00] XVilka commented on #2979
I have a patch for this already. Will send after the split PR

[2022-08-31 00:16] XVilka opened #2991 "Fix Android CI builds"
[code]

See `.github/meson-android-*` files here: https://github.com/rizinorg/rizin/tree/dev/.github

[2022-08-31 05:42] crazyquark opened #2992 "rz-asm: cannot assemble xtensa"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Manjaro
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | xtensa
| `rizin -v` full output, **not truncated** (m

[2022-08-31 05:45] #592 closed, assigned to nobody

[2022-08-31 05:45] #554 closed, assigned to nobody

[2022-08-31 11:28] crazyquark commented on #2992
I built `rizin` from source see if it might have been fixed in later releases and I get the same error:
[code]

[2022-08-31 14:50] crazyquark commented on #2992
Probably not a bug, seems there is no assembly support for xtensa.

[2022-08-31 14:50] #2992 closed, assigned to nobody

[2022-08-31 22:27] netspooky opened #2993 "LE parser DoS (infinite loop on parsing file sections)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 x86_64
| File format of the file you reverse (mandatory)      | LE, but it's a text file actually
| Architecture/bits of the file (mandatory)            | 32
| `rizin

[2022-09-01 00:33] XVilka opened #2995 "Build `stable` rz-ghidra for `stable` rizin Docker"
Currently it tries to take `dev` branch of rz-ghidra every time

See also https://github.com/rizinorg/rz-ghidra/issues/299

[2022-09-01 07:35] ret2libc commented on #2995
Yes the branches for the docker file should be changed as part of the release process on the stable branch. Not much to do though , i don't think an issue is necessary.

[2022-09-01 07:50] XVilka commented on #2995
@ret2libc I thought it was done automatically

[2022-09-01 22:40] #2979 closed, assigned to XVilka

[2022-09-02 03:43] b1llow commented on #2938
resolved by https://github.com/rizinorg/rizin/pull/2949

[2022-09-02 03:43] #2938 closed, assigned to nobody

[2022-09-02 06:50] ret2libc commented on #2995
It is not. How would you switch to stable only on stable branch?

[2022-09-03 05:35] #439 closed, assigned to nobody

[2022-09-04 03:52] XVilka commented on #2905
Broken signatures tests should be fixed by https://github.com/rizinorg/rizin/pull/3003

The global var analysis one looks like a genuine bug still.

@iyzsong can you reproduce the same issue with the latest "dev"?

[2022-09-04 05:10] #2976 closed, assigned to nobody

[2022-09-04 12:49] wargio commented on #2993
Is not an infinite loop, just a very long one.

[2022-09-04 15:14] #2993 closed, assigned to nobody

[2022-09-06 00:01] XVilka commented on #2991
NDK bundle was removed by GitHub: https://github.com/actions/runner-images/commit/893e347c8e357c9bda8afab7b56dea1c9cf0a990

[2022-09-07 21:00] #2851 closed, assigned to wargio

[2022-09-08 01:05] #2995 closed, assigned to nobody

[2022-09-08 04:00] #2991 closed, assigned to nobody

[2022-09-11 02:20] XVilka opened #3019 "Support Zstd-compressed ELF debug information sections"
The support was introduced recently (not yet released) LLVM:
- https://github.com/llvm/llvm-project/commit/5e0464e38bcb63186e5c5eaafe550e92143cab43
- https://github.com/llvm/llvm-project/commit/449f2ca146dde0ef14c9837f71d4a0be92ca4843

And GCC:
- https://gcc.gnu.org/git/?p=gcc.git;a=commitdiff;h=b7723e135334df95597c8c744276b9de5a88214a

More technical details are available in this MaskRay's blog p

[2022-09-11 05:04] XVilka opened #3020 "Fix Hexagon bindgen linter warnings"
Fix the following bindgen warnings:
[code]
See https://github.com/rizinorg/rizin/runs/8289833908?check_suite_focus=true

[2022-09-11 05:06] XVilka commented on #2981
Closed by https://github.com/rizinorg/rizin/commit/59b38e6efaf00b9b9869e0ec5baba4f1b9605f37

[2022-09-11 05:06] #2981 closed, assigned to wingdeans

[2022-09-11 09:51] ret2libc commented on #3019
I think we should be able to add support for this without additional dependencies.

[2022-09-11 14:44] wcampbell0x2a opened #3021 "When using `j` and `k` in `Vv` mode, don't change right pane view mode."
**Is your feature request related to a problem? Please describe.**
`Vv`: When in the `agf` secondary view(anything not the default function view), I expect `j` and `k` to go up and down within this view, but it goes to the default `pd $r`.

**Describe the solution you'd like**
`j` and `k` always move the delta without changing the view.

[2022-09-12 20:09] #3020 closed, assigned to Rot127, wingdeans

[2022-09-13 11:40] XVilka commented on #158
@GustavoLCR could you please also address this when you have some time?

[2022-09-13 13:11] XVilka opened #4906 "XCOFF file format"
XCOFF, for "eXtended [COFF](https://en.wikipedia.org/wiki/COFF)", is an improved and expanded version of the COFF [object file format](https://en.wikipedia.org/wiki/Object_file_format) defined by [IBM](https://en.wikipedia.org/wiki/IBM) and used in [AIX](https://en.wikipedia.org/wiki/AIX_operating_system). Early versions of the [PowerPC](https://en.wikipedia.org/wiki/PowerPC) [Macintosh](https://e

[2022-09-13 13:18] XVilka opened #3023 "Support for C-SKY in native and GDB remote debugger"
All sources, including binutils are located at https://github.com/c-sky

In particular see these files from the latest **binutils-gdb** git:
-  [`gdb/arch/csky.c`](https://github.com/bminor/binutils-gdb/blob/master/gdb/arch/csky.c)
-  [`gdb/arch/csky.h`](https://github.com/bminor/binutils-gdb/blob/master/gdb/arch/csky.h)
-  [`gdb/features/cskyv2-linux.c`](https://github.com/bminor/binutils-gdb/blo

[2022-09-13 15:39] wargio commented on #1285
probably should be worth to use this with flirt, so we can easily create signatures from this.

[2022-09-14 14:41] XVilka opened #3028 "Fix `float_t` incompatibility with RzFloat merged in RzUtil in Rizin"
[code]

[2022-09-15 06:50] ghost commented on #2905
@XVilka Yes, with commit b13202b934, I get:
[code]

[2022-09-16 00:33] #1442 closed, assigned to nobody

[2022-09-16 12:09] thestr4ng3r commented on #3028
This is an issue in rizin, we should not define `float_t` since it is part of c++:
https://cplusplus.com/reference/cmath/float_t/
[code]

[2022-09-16 13:55] #3028 closed, assigned to nobody

[2022-09-17 12:59] m4drat opened #3031 "Division by zero in dyldcache_rebase.c"
Hi! We've been fuzzing your project and found the following error in librz/bin/format/mach0/dyldcache_rebase.c

Work environment
OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/31148d57ae7131ed2952a45e018dfd11e9c43e81

Bug description
Division by zero in librz/bin/format/mach0/dyldcache_rebase.c:217:36

Steps to reproduce
Build docker container from https://

[2022-09-17 12:59] m4drat opened #3032 "Nullptr read in dwarf_process.c"
Hi! We've been fuzzing your project and found the following error in librz/analysis/dwarf_process.c

Work environment
OS: Ubuntu 20.04
File format: -
rizin version: https://github.com/rizinorg/rizin/commit/31148d57ae7131ed2952a45e018dfd11e9c43e81

Bug description
Nullptr read in librz/analysis/dwarf_process.c:1284:19

Steps to reproduce
Build docker container from https://github.com/ispras/oss-syd

[2022-09-17 16:37] #3031 closed, assigned to nobody

[2022-09-17 16:37] #3032 closed, assigned to nobody

[2022-09-18 03:26] XVilka opened #3034 "Diffing algorithms comparable to BinDiff and Diaphora"
- Diffing control flow graphs.
- Porting symbol names and comments.
- Similarity ratio calculation.

In particular, for comparing graphs, we could do that:
1. Strongly connected components hash
2. Topological hash
3. Assign weights to these empirically and combine them into one metric

https://github.com/joxeankoret/diaphora/blob/master/diaphora_heuristics.py

We could also consider using VF3 algo

[2022-09-18 03:42] XVilka opened #3035 "Expose floating arithmetics in RzNum/`rz-ax` tool"
Blocked by https://github.com/rizinorg/rizin/issues/3455

Currently, we have RzFloat bitvector API that will be used in RzIL. It would be nice to have it exposed also in the Rizin's calculator - `rz-ax`, and some of the RzNum APIs.

- `librz/util/float/*`
- `librz/include/rz_util/rz_float.h`

[2022-09-23 13:57] XVilka opened #3045 "OS/2 PE: WARNING: Compressed page not handled: obj.1.page.0"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 36 64 bits
| File format of the file you reverse (mandatory)      | OS/2 PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, **not

[2022-09-23 17:31] XVilka commented on #2696
When I ran `di` the following errors happen as well:
[code]
Also bug is easily reproducible with Alpine ARMv8 VM in [Lima](https://github.com/lima-vm/lima) on MacOS M1:
[code]

[2022-09-29 00:51] XVilka opened #3050 "test/unit/test_float failures on big-endian systems (System Z)"
[code]
See https://app.travis-ci.com/github/rizinorg/rizin/jobs/584188090

[2022-09-29 06:25] Heersin commented on #3050
Thanks I will check it these days

[2022-09-29 13:38] WingsZeng opened #3052 "glibc 2.35 heap"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc

[2022-09-29 13:39] #3052 closed, assigned to nobody

[2022-09-29 13:50] WingsZeng opened #3053 "Heap commands do not work well when using glibc 2.35"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncate

[2022-09-30 08:20] XVilka opened #3054 "Core file generation doesn't work on macOS 12.6 ARM64"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 12.6 ARM64 (M1)
| File format of the file you reverse (mandatory)      | MachO
| Architecture/bits of the file (mandatory)            | ARMv8 64
| `rizin -v` full output, **

[2022-09-30 08:36] marcograss commented on #3054
OS/arch/bits (mandatory) | macOS 12.6 x64
-- | --
File format of the file you reverse (mandatory) | MachO
Architecture/bits of the file (mandatory) | x64
rizin -v full output, not truncated (mandatory) | rizin 0.5.0 @ darwin-x86-64
commit: 7c0bd7cd036d6500bb2ef29adf3d50f0529786a8

[code]
it's stuck had to kill it, the generated core file is empty 0 bytes.

[2022-09-30 15:11] thestr4ng3r commented on #3054
Strange, it "works" for me on both x86 and arm64. (Meaning it writes out some broken mach-o file at least)
Could you please attach a debugger to it when it is stuck and paste a stacktrace?

[2022-09-30 17:15] marcograss commented on #3054
Do you have system integrity protection disabled?

[2022-10-01 08:04] thestr4ng3r commented on #3054
Good point, yes it is currently disabled here at least on the arm64 machine.

Though this does not seem to be the relevant point here, after enabling it still goes through:
![Bildschirmfoto 2022-10-01 um 10 11 37](https://user-images.githubusercontent.com/1460997/193401577-ffa2b78a-682e-4401-9c67-eeb022e92be0.png)

[2022-10-01 10:14] marcograss commented on #3054
I just tried another x64 machine on 12.6, it doesn't work there also, on commit 1ed4a3aee56a3af96b68ed08a12923769f8982c6

[2022-10-05 01:52] XVilka opened #3064 "Use Unicode and "curvy" symbols in the `RZ_CMD_OUTPUT_TABLE`"
Rizin uses `scr.utf8=true` and `scr.utf8.curvy=true` in many places but not table output. It would be nice to make tables pretty too.

## Case 1

1. `echo "e scr.utf8=true" >> ~/.config/rizin/rizinrc`
2. `echo "e scr.utf8.curvy=true" >> ~/.config/rizin/rizinrc`
3. `rz-diff -t functions /bin/true /bin/false` uses ASCII characters

## Case 2

1. `echo "e scr.utf8=true" >> ~/.config/rizin/rizinrc`
2.

[2022-10-05 14:34] XVilka opened #3067 "Make Python3 optional for the building process"
Currently, we can build Rizin using Muon, but it still requires Python3 in some building processes. We should make this optional to be able to build Rizin on systems without Python installed (or only Python 2 installed).

See `py3_exe` occurrences in [`meson.build`](https://github.com/rizinorg/rizin/blob/dev/meson.build).

[2022-10-06 17:02] XVilka commented on #3050
@Heersin have you had a chance to look at this?

[2022-10-07 01:26] Heersin commented on #3050
ok

[2022-10-07 16:16] wargio commented on #2648
@haeter525 this should be fixed, right?

[2022-10-07 16:40] XVilka opened #3072 "Add debug tests for FreeBSD, OpenBSD, NetBSD"
See `test/db/archos/linux-x64/dbg*` tests as a good example.

They will run on our SourceHut-based CI

Depends on:

- [x] https://github.com/rizinorg/rizin/issues/3131
- [x] https://github.com/rizinorg/rizin/issues/1025
- [x] https://github.com/rizinorg/rizin/issues/1873

[2022-10-09 00:05] #3050 closed, assigned to Heersin

[2022-10-09 01:13] XVilka commented on #297
The current count is 147 tests: https://app.travis-ci.com/github/rizinorg/rizin/jobs/585102215

Full log
[sysz-failures.log](https://github.com/rizinorg/rizin/files/9740548/sysz-failures.log)

[2022-10-10 00:38] XVilka opened #3085 "Consider using `scdoc` for generating man pages"
Currently man pages are hard to read and edit. There are much better alternatives, e.g. see how the source of the `muon` man page looks like: https://git.sr.ht/~lattis/muon/tree/master/item/doc/muon.1.scd

See:
- https://drewdevault.com/2018/05/13/scdoc.html
- https://sr.ht/~sircmpwn/scdoc

[2022-10-10 15:20] haeter525 commented on #2648
@wargio Yes. Fixed in v0.4.1. I'm going to close this issue. Thanks!

[2022-10-10 15:20] #2648 closed, assigned to nobody

[2022-10-11 05:03] XVilka opened #3086 "Rework disassembly API"
- Setup typedef/structure specifying disassembly options that should be uniform for all of these functions
- Rename `pdf`-like API functions into something clearer, e.g. `rz_core_print_disasm_linear()`
- Rename `rz_core_print_function_disasm_json()` into something like `rz_core_print_function_disasm_recursive_json()`
- Add missing JSON and non-JSON counterparts to both linear and recursive variant

[2022-10-12 03:28] XVilka opened #3091 "Support MachO chained fixups (binaries compiled with XCode >= 13)"
https://developer.apple.com/documentation/xcode-release-notes/xcode-13-release-notes

[2022-10-12 08:34] #2049 closed, assigned to nobody

[2022-10-13 08:23] ret2libc opened #3093 "Wrong switch-case analysis on MacOS M1 ARM"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS 12.6 M1 Max
| File format of the file you reverse (mandatory)      | MachO
| Architecture/bits of the file (mandatory)            | M1 Max
| `rizin -v` full output, **not tr

[2022-10-13 11:25] thestr4ng3r commented on #3091
Chained fixups overall are supported, but the `DYLD_CHAINED_PTR_64` type is not yet.

[2022-10-14 17:59] #3091 closed, assigned to nobody

[2022-10-24 09:54] wargio opened #3125 "Complete MiniDump Bin Plugin"
- [ ] The thread list in `mdmp/mdmp.c` is not implemented.
- [ ] The thread ex list in `mdmp/mdmp.c` is not used.
- [ ] The misc info in `mdmp/mdmp.c` are not used.
- [ ] The system info in `mdmp/mdmp.c` is not used.
- [ ] The token info in `mdmp/mdmp.c` is not used.

[2022-10-25 14:07] m4drat opened #3128 "Nullptr read in dyldcache_rebase.c"
Hi! We've been fuzzing your project and found the following error in librz/bin/format/mach0/dyldcache_rebase.c

Work environment
OS: Ubuntu 20.04
File format: -
The bug was found for rizin version: https://github.com/rizinorg/rizin/commit/ac99b169bbfabf1db0b80cdff382c635d020a217
However it can be reproduced on the latest version: https://github.com/rizinorg/rizin/commit/3e5217456daf186ca4b5afbf53b

[2022-10-26 06:40] XVilka opened #3130 "Python 3.12, and 3.13 versions bytecode support"
- [x] https://docs.python.org/3.10/whatsnew/3.10.html
- [x] https://docs.python.org/3.11/whatsnew/3.11.html
- [ ] https://docs.python.org/3.12/whatsnew/3.12.html
- [ ] https://docs.python.org/3.13/whatsnew/3.13.html

See also `dis` module from the corresponding Python versions: https://docs.python.org/3/library/dis.html

The changes are possibly required in these files:
- https://github.com/rizino

[2022-10-26 13:47] XVilka opened #3131 "FreeBSD debugger: ld-elf.so.1: /usr/local/lib/librz_debug.so.0.5: Undefined symbol "kinfo_getproc""
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | FreeBSD 13.1 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not tr

[2022-10-26 18:08] ogre2007 opened #3132 "Quotes escaping in `agf dot` string literals"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| `rizin -v` full output  | rizin 0.5.0 @ linu

[2022-10-27 02:20] XVilka opened #3134 "linux-i386 docker: FAILED: subprojects/blake3/libblake3.a.p/c_blake3_avx2_x86-64_unix.S.o"
[code]
See full log at https://github.com/rizinorg/rizin/actions/runs/3332688235/jobs/5514978719

[2022-10-27 13:14] #3134 closed, assigned to wargio

[2022-10-28 00:34] #3132 closed, assigned to nobody

[2022-10-31 08:40] ogre2007 opened #3144 "Add support for public signature server"
Rizin lacks support for public or private signatures server, and there is open implementation for lumina https://github.com/naim94a/lumen . Maybe we should implement support for this base? Obviously, it should be very optional feature, but I'm confident that it helps rizin become more popular in collaborated RE.

**Describe the solution you'd like**
Implementation of lumina client in rizin

**Desc

[2022-10-31 08:49] ret2libc commented on #3144
If that's going to be done, I'd start it as a separate Core plugin in [rizin-extras](https://github.com/rizinorg/rizin-extras) that could be installed with rz-pm.

[2022-10-31 10:03] ogre2007 opened #3145 "RzIL public API for core plugins"
**Is your feature request related to a problem? Please describe.**
If one wants to implement some work related to RZIL, but without intention to implement analysis plugin that will help with lifting (`rz_analysis.h`), there is no means to do it without digging into `core_private.h` or `cmd_descs.h` headers, that is private and not accessible by default. It provides useful things - Init and start V

[2022-11-02 07:30] ogre2007 commented on #3144
I've did a little research on the topic, and found out the main problem with lumina - IDA's proprietary function hashing algo (see https://github.com/naim94a/lumen/issues/2). And it is different from FLIRT signatures. Its simple, but yet very tricky to implement: bitmask is calculated for function bytes, mask's 1s is where variable code position dependent offsets is stored E.g. mask for `bl printf

[2022-11-04 03:40] XVilka opened #3156 "Support for CDEX (Compact DEX) and VEX (Verified DEX)"
See:
- https://lief.re/doc/latest/tutorials/10_android_formats.html
- https://github.com/anestisb/vdexExtractor
- https://android.googlesource.com/platform/art/+/a7f6b8151ee8b8c16a11e148fea1c02ca33dc211/runtime/cdex
- https://android.googlesource.com/platform/art/+/a7f6b8151ee8b8c16a11e148fea1c02ca33dc211/runtime/verifier/
- https://github.com/NationalSecurityAgency/ghidra/commit/ac5d2cfadaff79695

[2022-11-06 06:45] XVilka opened #3164 "Create rz-shell like subsystem for visual modes (handling hotkeys)"
Currently, the code of all visual modes is a bit messy due to giant switches depending on what keys the user presses. Similarly to how rzshell was introduced with commands description in YAML and system of handlers and corresponding API, we could create something similar for visual modes:
1. System of defining key and handler
2. Every handler should receive the state structure
3. No need to define

[2022-11-06 09:29] XVilka commented on #3125
@GustavoLCR assigning you when you have time since you wrote the original implementation.

[2022-11-06 11:19] thestr4ng3r commented on #3164
The overall idea sounds good, but we should also be careful not to overengineer it, e.g. I agree that for visual we should not use yaml.

[2022-11-07 17:29] Maijin opened #3170 "Move Banned keyword feature from cutter to Rizin"
**Is your feature request related to a problem? Please describe.**
The banned keyword feature benefit more than cutter - This

**Describe the solution you'd like**
Move Banned keyword feature from cutter to Rizin
https://github.com/rizinorg/cutter/blob/dev/src/widgets/ImportsWidget.h#L28

[2022-11-08 22:52] #2983 closed, assigned to nobody

[2022-11-09 00:00] XVilka opened #3174 "Add a scroll (navigation) line in `V` and `Vv` modes"
Currently, the quick navigation is impossible in visual modes, you have to scroll using commands or by scrolling the functions/flags roster. By providing a scroll line, especially a clickable with a mouse will provide the experience similar to Cutter, for example.
I suggest putting it in a horizontal position at the bottom. A good example on how it's done in `ncmpcpp`:

![image](https://user-image

[2022-11-09 07:00] R-Peleg opened #3175 "Pointer authentication-related instructions parsed as "invalid""
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS Monterey 12.6, Apple M1
| File format of the file you reverse (mandatory)      | Mach-O 64-bit dynamically linked shared library arm64e
| Architecture/bits of the file (mand

[2022-11-09 18:00] thestr4ng3r commented on #3175
This is a known issue due to the last capstone release still not supporting these instructions.
When building from source, you can pass `-Duse_capstone_version=next` to meson to make it use a newer unreleased version. This one at least will support some of the pac instructions.

[2022-11-12 11:36] emestee opened #3182 "8051 plugin corrupts mapping"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 22.04 LTS x64
| File format of the file you reverse (mandatory)      | raw
| Architecture/bits of the file (mandatory)            | 8051
| `rizin -v` full output, **not tru

[2022-11-12 11:46] emestee commented on #3182
@thestr4ng3r suggested a workaround

[code]

[2022-11-14 02:44] eli-schwartz commented on #3067
- check_meson_subproject.py
  Can you check if this is still needed since https://github.com/mesonbuild/meson/commit/004575874ffdb77ee997f9c19e0a041d144994d6

[2022-11-17 13:45] ni7r0x opened #3191 "Wrong order of operations emulating X86_INSTR_POP"
# Wrong order of operations emulating X86_INSTR_POP
Current emulation performs SP increment as last step , this produces bad result if DST is SP or [SP(+offset)] .
Consider this sequence:
push esp
pop esp
It will return esp = esp + 4

It's mentioned in Intel documentation that SP is incremented before data is assigned to DST.
The correct order of operations for POP instruction is  :

(1) mov tmp ,

[2022-11-18 00:37] Rot127 opened #3192 "[Hexagon] Add v71, v71t, and v73 instructions"
Qualcomm updated the instruction set for the Hexagon architecture in LLVM.
See: https://github.com/llvm/llvm-project/commit/a98fc08396cb71f9e0cce4ac8f1525db46f22a9c

Our Hexagon asm/analysis plugin should be updated by running [rz-hexagon](https://github.com/rizinorg/rz-hexagon/) and opening the PR here.

[2022-11-21 06:14] XVilka opened #3196 "Support loading Unicode and emoji variable, constants, and function names from DWARF, PDB debug information."
C23 standard adopted Unicode names officially: https://www.open-std.org/jtc1/sc22/wg14/www/docs/n2836.pdf

Upcoming GCC 13 release will support them: https://gcc.gnu.org/gcc-13/changes.html
LLVM/Clang 15 should already support them.

We already support this in some cases but not all, AFAIK, nor it's really tested.

We should compile test files with variables, contants, and function names in these

[2022-11-21 09:19] #2751 closed, assigned to nobody

[2022-11-21 14:39] ni7r0x commented on #3191
test_pop_esp.c:
[code]
gcc -g -masm=intel test_pop_esp.c -o test_pop_esp
./test_pop_esp
Output:
[code]
Emulation :
[code]
Output:
[code]
Output with the patch proposed in first comment :
[code]

[2022-11-28 01:39] XVilka opened #3209 "Failure to compile using Capstone 3"
[code]

[2022-11-28 02:43] XVilka opened #3210 "Drop Capstone 3 support"
Capstone 4.0 was out in 2018, most platforms already migrated:
- https://github.com/capstone-engine/capstone/releases/tag/4.0
- https://repology.org/project/capstone/versions

We could announce deprecation in 0.5.0 and remove it in 0.6.0

Biggest platform that still has no CS4 is Ubuntu 18.04.6 LTS which is EOL on April 2023, it is *roughly* the possible time for 0.6.0, so it would be safe to remo

[2022-11-28 06:59] #3209 closed, assigned to DMaroo

[2022-11-28 08:41] ret2libc opened #3212 "Add support for `forkpty` in RzSubprocess"
RzSubprocess API does not have a way to use `forkpty` or any of the `*pty` APIs at all, making it hard to use in scenarios where a new TTY/PTY may be needed.

[2022-11-29 15:26] DMaroo commented on #3182
I checked Radare's code, and found out the line missing in Rizin

https://github.com/radareorg/radare2/blob/684a4599f644d752ead050859fcda05836af34a8/libr/anal/p/anal_8051.c#L872

This was removed in 79a17ef482204642a7ebea04ae5fd81282c39846 by @thestr4ng3r, because of conversion of `set_reg_profile` to `get_reg_profile` (which has no side effects).

The only way to initialize the memory map before

[2022-11-29 16:04] thestr4ng3r commented on #3182
I think we should just remove all of this mapping code in the 8051 plugin. If something like this is needed, it has to be done from scratch anyway since this is clearly not the right way to do it.

[2022-11-29 17:00] wargio commented on #3182
i fully agree. this code should not be there.

[2022-11-30 14:53] emestee commented on #3182
After looking at the code and talking to some of the developers I understand that this is an unfixable architectural issue. I concur that the entire map_cpu_memory() branch should be removed and reimplemented in rzbin.