[2021-02-26 10:40] caribpa commented on #726
Forgot to say that the `cmd.exe` is a x86 Native Tools Command Prompt for VS 2019, obtained from the Visual Studio 2019 Community Edition installation, and `clang-cl` (and the `clang` suite) was installed by checking the optional Clang package from the C++ Development Module (installed with the default options).

[2021-02-26 10:45] XVilka opened #727 "Add an API for the C syntax output"
Currently, a lot of commands, especially `t` commands often output some data in the C syntax format.
It might be useful for some of the `pf` and `i` commands as well.

I propose the API similar to the PJ to form such output in a consistent and succinct way.

We also might want to add a new kind of output mode - `RZ_OUTPUT_MODE_C`.

[2021-02-26 11:16] ret2libc commented on #727
One thing to consider when adding new "modes" is that every mode is a new suffix latter that, in some way, we reserve for a special purpose. That means that if we reserve, for example, the `c` suffix for the "output C mode", users would expect that another command e.g. `zc` would have in some way a similar meaning... Just something to consider :)

[2021-02-26 11:17] ret2libc commented on #727
Also, I think that as there are possibly more output formats that require some form of states (e.g. JSON has PJ, SDB output has SDB, etc.) we should group these states in a single structure e.g. `RzOutputState` or something like that, because otherwise passing around pointers to all these different types of variables is going to be a mess IMO.

[2021-02-26 11:36] #718 closed, assigned to wargio, ret2libc

[2021-02-26 11:46] caribpa opened #730 "Windows 10 x86 - Building Rizin with clang and llvm-rc linker is not possible"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x86
| File format of the file you reverse (mandatory)      | n/a
| Architecture/bits of the file (mandatory)            | n/a
| `rizin -v` full output, **not truncated*

[2021-02-26 12:02] caribpa commented on #657
So:

[code]

[code]

[code]

Right?

So it is basically the same it is now but `z???` shows the long help.

[2021-02-26 12:05] caribpa commented on #657
Why not making `z??` behave like the proposed `z???` because, after all, I don't think people will normally list the short help for a single command when it appears anyways when doing `z?`

[2021-02-26 12:11] caribpa commented on #726
This same issue happens with [Clang 11](https://releases.llvm.org/download.html#11.0.0) (VS 2019 installs `clang` 10).

Also, here's the full log: [ninja.log](https://github.com/rizinorg/rizin/files/6049538/ninja.log)

[2021-02-26 14:48] ret2libc commented on #657
That's right.

This is a good point... One might say that sometimes you just want to know the arguments you have to pass to a command and you don't want your whole screen to be cleared by a lot of help text...

[2021-02-26 15:44] caribpa commented on #657
Well, you could still do: `z? ~:1` 😂

[2021-02-26 15:59] caribpa commented on #657
Honestly, I also get mildly annoyed by the pollution caused by the output of `z?`, etc, so why don't we show it in a "smart-pager" by default?

This "smart-pager" gets opened in another buffer, like the HUD input mode (`_`) in visual/panels mode, allowing searching with `/`, etc like the `~..` pager, then, when pressing `q` (or other exit key), it returns to your previous, unpolluted, prompt.

Exa

[2021-02-26 16:01] caribpa commented on #657
Sure thing, this change comes with an `e` variable to disable this behavior for old-schoolers/scholars.

[2021-02-27 15:01] caribpa opened #735 "Linux x64 - Cross-arch static compilation to x86 requires static_runtime=true"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Kali Linux x64
| File format of the file you reverse (mandatory)      | n/a
| Architecture/bits of the file (mandatory)            | n/a
| `rizin -v` full output, **not truncated*

[2021-02-27 17:03] ret2libc commented on #735
It is expected.

Wanting to compile the internal rizin libraries as static does not mean that you want to also want get the dependencies in a static way.

What we could do is to automatically set `CFLAGS=-static` and `LDFLAGS=-static` whenever you set `-Dstatic_runtime=true`, so in case you want to compile rizin statically, you just set `-Dstatic_runtime=true`.

[2021-02-27 19:04] caribpa commented on #735
Why isn't this an issue in Windows?

[2021-02-27 19:24] ret2libc commented on #735
I will check.. Maybe `util` lib does not exist on Windows?

[2021-02-27 20:28] ITAYC0HEN commented on #727
I claim that people.who use special output formats (json, yaml, c) use it for scripting or exporting data. And as such, the value of single letter suffix to represent a type isn't a big deal for them in compare with people who run the shell commands.

Meaning that replacing j, c, t suffix with something longer but more self explanatory, wouldn't be a big of an issue because it wasn't built for a r

[2021-02-27 20:30] ret2libc commented on #727
I love `pd:json` and `afl:yaml` actually!!

[2021-02-28 12:37] caribpa opened #736 "Onboading guide to aid newbies understand the codebase"
**Is your feature request related to a problem? Please describe.**
I'd like to contribute to Rizin but I don't how where to start in order to understand how the different files/libraries/modules interact with each other.

I've read the [CONTRIBUTING](https://github.com/rizinorg/rizin/blob/dev/CONTRIBUTING.md) and [DEVELOPERS](https://github.com/rizinorg/rizin/blob/dev/DEVELOPERS.md) documents, gen

[2021-02-28 12:52] ret2libc commented on #736
Yes, definitely needed. See also #286

[2021-02-28 13:07] caribpa commented on #736
Maybe I could start bugging the devs myself with newbie questions and produce an onboarding guide following the structure I referred in the example of the OP.

Do you think I'll be more successful by creating a [discussion](https://github.com/rizinorg/rizin/discussions) and asking there, or in Mattermost?

[2021-02-28 13:47] ret2libc commented on #736
Mettermost, I'd say.

[2021-03-01 08:52] ret2libc commented on #657
This could have the disadvantage of not being able to see the command syntax while typing it. Sometimes you do `z?` to see the arguments accepted by a command and then you can still reference it while typing the command, but if the help just disappears, it might be annoying.

However I do see value in both cases.

[2021-03-01 09:30] ret2libc commented on #332
Please note that `afvx` and `afv` were already converted to newshell.

[2021-03-01 10:18] wargio commented on #616
i like it

[2021-03-01 11:34] ret2libc commented on #735
I believe this, as a building problem and maybe requiring doc adjustment, should be fixed for 0.2.0 @caribpa @XVilka

In particular because it was working before, AFAIR.

[2021-03-01 12:35] caribpa commented on #657
What could be done (in a really far future) is to make an interactive help-buffer with a cursor that pastes in the prompt the selected command, and allows traversing in the sub-command/group in tree-like fashion. For example:

[code]

[2021-03-01 12:39] caribpa commented on #657
Well, or it could end overriding the current `z?` call for cleanliness:

[code]

instead of:

[code]

[2021-03-01 13:33] ret2libc opened #743 "Group dist files under dist/ directory"
**Is your feature request related to a problem? Please describe.**
Right now dist files are scattered in the repo or in multiple repos (e.g. rizin-win-installer)

**Describe the solution you'd like**
Create special sub-directories in dist/ to hold those kind of data, so that everything can be easily found there. In particular:
- [x] files to create windows installer
- [x] files for homebrew?
- [ ]

[2021-03-01 15:08] officialcjunior opened #744 "The configuration variable `asm.fcn.signature` is not working properly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux (x64)
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-03-01 17:49] sandhrabino commented on #404
[code]
@PinkNoize and I have together obtained this Output, should I also add the entire string to the "FLG" parameter as I thought that might affect the tabular structure of the dump. Also this has been implemented for ELF's. I can add the entire section flag names if necessary.
@XVilka Can you please review?

[2021-03-01 17:57] XVilka commented on #404
Looks fine. I think you can keep short flags but then you need to print a legend below as `readelf` does.

[2021-03-01 18:16] sandhrabino commented on #404
Okay yeah

[2021-03-01 20:50] sandhrabino commented on #404
[code]

[2021-03-01 21:00] ret2libc commented on #404
@sandrabeme is the code to get that anywhere? Would you mind creating a PR in draft mode so you can start getting some early feedback about it?

Do these flags make sense with other bin plugins? Are we going to list all flags of all plugins? If yes, I think there will be a super long list of bin-specific flags.

[2021-03-01 21:32] sandrabeme commented on #404
@ret2libc Yes, my changes can be found here for now- https://github.com/sandrabeme/rizin/commit/df4d19ddcc874385ce5932196c9f4db68b285b0f
I was waiting for my patch to get merged to the fix-404 branch to make the PR together. It would be great to get some early feedback and yes I have not added flags to Windows section headers as mentioned in one of the previous comments, in this commit.

[2021-03-01 22:30] PinkNoize commented on #404
Draft PR is here: https://github.com/rizinorg/rizin/pull/746

[2021-03-02 07:44] #701 closed, assigned to wargio, ret2libc

[2021-03-02 08:46] ret2libc opened #747 "Backports from radare2"
- [x] #1422
- [x] #1423
- [x] #1424
- [x] #1425
- [x] #1426
- [x] #1427
- [x] #1430
- [x] #1428
- [x] #1429
- [x] [Fix emulation for AARCH64 ldr,str,stp,ldp instructions ##esil](https://github.com/radareorg/radare2/commit/cf93f2aaf96bd3d23cb59e9b380c927741b9bd55)

## Enhancements
- [x] https://github.com/radareorg/radare2/pull/18545
- [x] https://github.com/radareorg/radare2/commit/fcf3ad1e1d95f49

[2021-03-02 11:26] ret2libc opened #751 "Remove io_rbuf"
There's a plugin io_rbuf that does not seem to work at all. It's not tested either. I propose to kill it.

[2021-03-02 11:37] ret2libc commented on #751
@thestr4ng3r RIght now there is this `io_rbuf` plugin, that however does not reallly work. In theory, your new RzIOPlugin that is used to read special virtual files, should just wrap all the RzBuffer methods, right? So in theory you might need a io plugin similar to this that can just wrap an existing rzbuffer. WDYT?

[2021-03-02 13:28] ret2libc opened #752 "There seems to be no way to determine the base of a number when there are no analysis hints defined"
Copied from https://github.com/radareorg/radare2/issues/17727

# Description
I'm trying to implement a hotkey to toggle the immediate base in Cutter. For the hotkey to always work correctly, I need to obtain the current immediate base for the selected instruction. However, there seems to be no way to get that information, unless an analysis hint was defined for that particular address earlier.
The

[2021-03-02 13:29] ret2libc commented on #752
@plaets I have copied the issue in Rizin repository as well, just FYI.

[2021-03-02 13:50] thestr4ng3r commented on #751
It needs a bit more, in particular opening from a given uri like `bin://3/somefile` and for this, finding the right buffer in the core. But the reading, writing, etc. will be similar, yes.

[2021-03-02 14:00] ret2libc commented on #751
Then we can probably just kill this plugin and create a new one...

[2021-03-02 15:29] ret2libc commented on #683
https://reuse.software/faq/#quick-summary

[2021-03-02 16:59] wargio commented on #657
that feature is cool, but i do not think is needed right now. i think is better to just use `<combo>?*~<keyword>`

[2021-03-02 17:34] wargio commented on #657
I'm more than ok with this. makes more sense.

[2021-03-02 18:11] ret2libc commented on #209
@XVilka what are the actionable items to be done for this issue? It's in 0.2.0 but I'm not sure what needs to be done, *exactly*.

[2021-03-03 04:10] #237 closed, assigned to nobody

[2021-03-03 04:28] XVilka opened #755 "Rizin segfaults with Tree-Sitter 0.19.x"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            |  x86/64
| `rizin -v` full output, **not trun

[2021-03-03 08:57] #735 closed, assigned to ret2libc

[2021-03-03 10:05] XVilka commented on #209
@ret2libc it's a rolling issue, not a blocking one. Regarding actionable item, see e.g. https://github.com/rizinorg/rizin/issues/721
In general, unless there is a custom modification, everything under `Copied files` headers should be linked as a subproject or a dynamic dependency.

[2021-03-03 12:49] ret2libc commented on #755
Moved to 0.3.0 for now. 0.19.0 was released just 2 days ago and we don't *have to* update if don't want to. Right now rizin is working with tree-sitter 0.18.0.

[2021-03-03 15:13] caribpa commented on #735
I've just tried to cross-compile with `CFLAGS="-m32" LDFLAGS="-m32" meson --prefix="${PWD}/build/install" -Dstatic_runtime=true --buildtype=release build` and (as expected) it errors with:
[code]

Instead of returning an error (and forcing the user to comply), shouldn't it be better to warn the user, automatically set `--default-library=static`, and proceed with the setup?

[2021-03-03 15:39] ret2libc commented on #735
In theory... it would. It is not possible though :D

[2021-03-03 16:57] ret2libc commented on #721
Yes, except the version we ship is from OpenBSD, that as said in the link wrote its own code to implement libmagic :(

[2021-03-03 19:58] xarkes opened #759 "Segfault when printing disassembly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux,Windows,...
| File format of the file you reverse (mandatory)      | none
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not trunca

[2021-03-04 03:29] XVilka commented on #721
@caribpa @ret2libc if the patching cannot be avoided we could employ semantic patching with Coccinelle suite:
- https://coccinelle.gitlabpages.inria.fr/website/sp.html
- https://dewaka.com/blog/2020/01/25/semantic-patching/

[2021-03-04 08:00] ret2libc commented on #721
I'm not sure what coccinnelle has to do with libmagiz :) Could you elaborate?

[2021-03-04 09:51] caribpa commented on #721
From what I understand, @XVilka is suggesting to use the latest libmagiz (still needs to be discussed which one), and smart-patch it (with the Rizin specific changes) using Semantic patching (coccinelle).

[2021-03-04 09:54] caribpa commented on #721
I think we should see first if it is possible to simply use the system's libmagic and replace the unwanted behavior.

[2021-03-04 10:13] caribpa commented on #721
@ret2libc why the thumbs down? 😭

[2021-03-04 10:18] caribpa commented on #721
Btw, what I was suggesting when I said `simply use the system's libmagic and replace the unwanted behavior` was using the `weak` attribute (though I realized it is not portable), or [dlsym](https://pubs.opengroup.org/onlinepubs/9699919799/functions/dlsym.html) (which is POSIX but apparently not on Windows).

[2021-03-04 10:20] caribpa commented on #721
Windows seems to have a `pragma` for `weak`-like, see [this answer](https://stackoverflow.com/a/11529277)

[2021-03-04 10:23] caribpa commented on #721
According to [this answer](https://stackoverflow.com/a/4184047), the `dlsym` equivalent in Windows is [GetProcAddress](https://docs.microsoft.com/en-us/windows/win32/api/libloaderapi/nf-libloaderapi-getprocaddress?redirectedfrom=MSDN)

[2021-03-04 10:36] caribpa commented on #721
Well, apparently there's already [rz_lib_dl_sym](https://github.com/rizinorg/rizin/blob/dev/librz/util/lib.c#L71) for solving the portability issues 🙂

[2021-03-04 10:37] ret2libc commented on #721
Just because I don't like the approach. And, again, I don't see why coccinelle would really help to do any non-trivial adjustments.

[2021-03-04 12:11] caribpa commented on #704
I see there are guides in these links with examples (using `mycpu`, etc), but I meant a tutorial wrapping, for example, a real Python library/file (like [expdevBadChars](https://github.com/mgeeky/expdevBadChars)) per se.

[2021-03-04 12:15] caribpa commented on #704
It would be nice to have a "simple wrapper" tutorial adding `expdevBadChars` functionality, and (in a distant future) a way more elaborate one, with an intermediary layer, wrapping something not-meant-for-Rizin like [mona](https://github.com/corelan/mona).

[2021-03-04 12:58] caribpa opened #761 "Debugger stepping - `ds` => step opcode - `dsi` => step instruction"
**Is your feature request related to a problem? Please describe.**
It would be nice to have the distinction between stepping an instruction and stepping an opcode.

Sometimes (I haven't really pay attention if the circumstances are the same) I do `ds` and the prompt address stays the same until issuing `ds` at least once (or more). From this behavior I came to the understanding that the address un

[2021-03-04 13:10] caribpa opened #762 "Debug - Use a trailing `b` to perform the action backwards"
**Is your feature request related to a problem? Please describe.**
There's currently one command for stepping back: `dsb` (same for continuing)

AFAIK, there's no way for "step back over", "step back until...", etc, unlike when stepping forward (`dso` and `dsu` respectively).

**Describe the solution you'd like**
Make the `b` a modifier that could be added at the end of the debug commands (like `j

[2021-03-04 13:37] ret2libc commented on #761
You lost me here... What would it be the difference between "stepping an opcode" and "stepping an instruction"?

[2021-03-04 15:41] caribpa commented on #761
Well, I'm going to quote the beginning of [this answer](https://retrocomputing.stackexchange.com/a/5285):

As well as [this answer](https://retrocomputing.stackexchange.com/a/5309), as it is more visual:

Now, there are instructions like, for example, `mov dword ptr [esp+24], 10` that are performing multiple operations at once. Though I haven't checked if that's the case, they may be generating mo

[2021-03-04 15:46] caribpa commented on #761
I don't know if I'm explaining myself 😅

[2021-03-04 16:11] ret2libc commented on #761
Well... there was no need to copy what a opcode/instruction is. Rather, i wanted to know how you could just *step over just an opcode* but not the whole instruction. Because IMO that doesn't make sense, as a concept. You can't just execute/step the `mov` opcode. You can execute/step the `mov dword ptr [esp+24], 10` instruction though.

Now, `mov dword ptr [esp+24], 10` is just one instruction. It

[2021-03-04 16:35] caribpa commented on #761
Yes, `mov dword ptr [esp+24], 10` should get translated into one opcode instruction. Again, I am not sure in which cases I am experiencing this strange `ds` that doesn't actually steps until insisting with another `ds` (or more), I'll try to find that one instance.

The other option is that something wasn't properly recognized by Rizin (like, for example, the architecture, platform, etc), and `pd

[2021-03-04 16:41] caribpa commented on #761
That's why my mind told me: *hey! this:* `mov dword ptr [esp+24], 10` *is being processed by the cpu in this way: first it does* `dword ptr [esp+24]` *because why not?, and then it does* `mov <result from dword ptr [esp+24]>, 10`*, that's why you have to do* `ds` *twice you silly!*

And apparently I was convinced by this 😔

[2021-03-04 16:44] caribpa commented on #761
Well, this was an example of my inner-deliberation regarding these strange cases where I had to `ds` intensively in order to finally step the instruction. I am not implying that `mov dword ptr [esp+24], 10` is the culprit, it is just an example.

[2021-03-04 16:52] caribpa commented on #761
On the other hand, I have some strange memories from way back when I couldn't shave to avoid looking like a newborn, where there was this debugger (with an UI, btw), that made a distinction between "stepping" (whatever that was) and stepping one instruction. That's why my mind thought that maybe some difference like that was going on Rizin (but by default `ds` steps one instruction and there's no

[2021-03-04 17:29] caribpa opened #765 "Debug persistent tracing - `-t` flag"
**Is your feature request related to a problem? Please describe.**
As someone who always realizes that should have enabled tracing when its too late, I'd like to suggest creating a `rizin` flag that enables tracing at startup.

**Describe the solution you'd like**
The `-t` flag enables tracing at startup (and remains when reopening the file or opening another):
`rizin -dt /bin/rizin` is equivalent

[2021-03-04 18:14] caribpa opened #766 "User friendly way for searching in a defined memory map"
**Is your feature request related to a problem? Please describe.**
In a constant quest for finding the next level of laziness (and extending the life of my keyboard), I am saddened with the fact that there's no easy and clean way for searching in a defined memory region.

To accomplish this, one has to resort to the undignified `e search.from/to=` (and altering `search.in`) after annotating the li

[2021-03-04 18:24] caribpa commented on #766
Forgot to say, but the `stack` and the `heap` are also in the group of "defined memory maps", so:
[code]

[2021-03-04 18:33] ret2libc commented on #761
I suggest you re-phrase the issue description, otherwise it is very confusing, in particular due to the many messages. Also, before doing this it would be great to 1) really check what the feature would be about 2) check if some instructions are not "step" when running `ds` 3) open bugs if some instructions should have been passed but were not (e.g. if doing `ds` over `mov dword ptr [esp+24], 10`

[2021-03-04 18:36] caribpa commented on #761
Yes, let's close this issue until I figure out what happens and when.

Basically now I know that Rizin doesn't make any distinction between stepping an opcode and stepping an instruction, so it is probably a strange bug.

[2021-03-04 18:36] #761 closed, assigned to nobody

[2021-03-04 19:01] caribpa opened #767 "Meta-D - Delete the content under the cursor until the next word boundary to the right"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x64
| File format of the file you reverse (mandatory)      | n/a
| Architecture/bits of the file (mandatory)            | n/a
| `rizin -v` full output, **not truncated*

[2021-03-04 19:20] ret2libc commented on #767
Thanks for creating this. It was actually in my TODO for a very long time because to me it is super annoying!! I will fix this for 0.3.0, when, I think, I will focus on general shell/usage improvements.

[2021-03-04 19:39] caribpa commented on #767
@ret2libc, I feel your pain (*hugs @ret2libc and both cry* 😭)

[2021-03-05 00:08] Semnodime opened #1725 "String displayed with wrong offset"
**Environment information**
* Cutter version: 1.12.0

**Describe the bug**
The assembly view displays the whole string, although the cursor is positioned with some offset.
Therefore I was mislead to believe the string would start at the given address although the code referenced only the second half of the string.
The correct position within the string can thus only be determined by looking at the

[2021-03-05 06:41] #751 closed, assigned to ret2libc, thestr4ng3r

[2021-03-05 06:59] XVilka commented on #70
@madprogrammer looks like you are the original author of the `libqnxr` according to the commit history, could you please help us to clarify what exact license was used? LGPL but what version? Also, some files are marked as "GPL", also without version.
Is it possible to relicense them as LGPLv3? Or "LGPLv3 or later"?

See https://github.com/radareorg/radare2/commit/d7635e085e38778b86e5e277dba247a92

[2021-03-05 07:31] XVilka commented on #209
Regarding libopcodes, here is the example on how to use it as a dependency: http://efedel.github.io/tg-community/content/opdis/index.html

[2021-03-05 07:53] XVilka commented on #721
@caribpa @ret2libc I extracted all changes for files in `librz/magic` since the initial import into the separate repository, also combined some commits for clarity, see https://github.com/XVilka/rizin-magic

Please note that it's made through `git replace --graft` so GitHub does't show the right history, locally it should be fine.

`git replace --graft f448ee2682c48d8cc3d2592147f96984ecbc6ced a8e8

[2021-03-05 08:04] XVilka commented on #721
And here is the combined patch of all changes in both radare2 and rizin since the initial import:

[magic_radare_rizin_changes.patch.zip](https://github.com/rizinorg/rizin/files/6089010/magic_radare_rizin_changes.patch.zip)

The same difference but without changes by `clang-format`:

[magic_radare_rizin_changes_no_clang_format.patch.zip](https://github.com/rizinorg/rizin/files/6089048/magic_radare

[2021-03-05 09:31] ret2libc commented on #70
Currently marked as GPL-2.0-or-later, but the original license doesn't say the exact GPL version, so I am unsure.

[2021-03-05 11:21] fangxlmr commented on #679
This issue seems related to #678, so I'd like to regard these 2 issues into 1 micro-task in RSoC. How's that?
@XVilka

[2021-03-05 11:34] XVilka commented on #679
@fangxlmr sure.

[2021-03-05 11:41] XVilka commented on #683
Current status:
[code]

[2021-03-05 12:30] caribpa commented on #721
Excellent work @XVilka 👏

I think we should first research if we could make libmagic a dependency (like capstone), compile it, and then use [rz_lib_dl_sym](https://github.com/rizinorg/rizin/blob/dev/librz/util/lib.c#L71) for getting the libmagic functions we don't want to modify (and implement our own version/wrap of the things we want to work differently) for future-proofing.

[2021-03-05 12:48] caribpa commented on #766
By the way @ret2libc, do you know why `/a jmp rsp @{$(dmm ~rizin[0,1])}` is not working (and separate shell expansions are required, like showed in the OP)?

[2021-03-05 13:41] fangxlmr commented on #469
@ss-buyi This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-05 13:45] fangxlmr commented on #413
@cascades-sjtu This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-05 13:53] ret2libc commented on #766
It seems a bug in the grammar. I'll have a look.

[2021-03-05 13:57] ret2libc opened #773 "`/a jmp rsp @{$(dmm ~rizin[0,1])}` is not working"
By the way @ret2libc, do you know why `/a jmp rsp @{$(dmm ~rizin[0,1])}` is not working (and separate shell expansions are required, like showed in the OP)?

_Originally posted by @caribpa in https://github.com/rizinorg/rizin/issues/766#issuecomment-791398622_

---

In grammar.js there is:
[code]
thus the grammar expects two arguments between `@{...}`. However `${....)` is considered as a single a

[2021-03-05 14:07] fangxlmr commented on #403
@HuangPayoung This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-05 15:17] caribpa commented on #773
This solves the problem in `@{`, but doesn't seem like a generalized solution 😔

Honestly, I don't know how the popular shells expand the shell-substitution, but if I have to guess, they recursively expand the `$()` (and backticks) from the innermost to the outermost, like a LIFO, before parsing the command (at least this is the behavior I expect).

This said, I am not sure which other Rizin comma

[2021-03-05 16:34] ret2libc commented on #773
I will of course try to solve it in other places as I see fit.

You have to parse things before anyway, because otherwise you may end up replacing things like
[code]
but in this case the command should not be substituted, because of the single quotes.

[2021-03-05 16:47] caribpa commented on #773
Excellent point. No idea how the shells do it, maybe they first detect the quoting before the LIFO shell expansion, followed by the command parsing? Sounds really complex... 🤔

[2021-03-06 06:49] cascades-sjtu commented on #413
Roger that. Do I have to write it in C?

[2021-03-06 06:50] cascades-sjtu commented on #413
Roger that.

[2021-03-06 12:35] Maijin commented on #1725
Do you have a binary you can share and example of location where that happens?

[2021-03-06 21:51] ret2libc commented on #773
BTW, just to be clear, by design we don't allow a command substitution to create new "tokens", though you can create new "arguments" (except in this case and maybe others i will check better).

[2021-03-07 09:43] Heersin opened #780 "pyc related plugins are not loaded"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Manjaro 20.2.1
| File format of the file you reverse (mandatory)      | PYC
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.2.0-git @ linux-x86-64

### Expected

[2021-03-07 10:45] caribpa commented on #773
That's perfectly fine as it is better not to overcomplicate the code just for 2 commands that may support this hackery

[2021-03-07 12:19] #780 closed, assigned to nobody

[2021-03-07 14:29] HuangPayoung commented on #403
I follow BUILDING.md and finish it. Now I use rizin to test iSS command, comparing with readelf.
File offset and memory alignment are in the same struct with virtual address, maybe I can follow the iSS code to fix it.
I read the document, but the project is big and I can't search iSS command in document.
@XVilka @fangxlmr Can you help me that which file is about iSS command source code?

[2021-03-07 14:39] XVilka commented on #403
librz/core/cmd_info.c

On Sun, Mar 7, 2021, 22:30 HuangPayoung <notifications@github.com> wrote:

[2021-03-07 14:49] HuangPayoung commented on #403
Thank you. I will view the source code and learn from it.

[2021-03-08 02:44] XVilka commented on #403
@HuangPayoung you could check also this work-in-progress pull request that does a similar thing but for the binary sections, not segments. Hope that helps. https://github.com/rizinorg/rizin/pull/746

[2021-03-08 04:17] XVilka opened #782 "Colorize the `pf` output (especially in `rizin -nn binary` case)"
**Is your feature request related to a problem? Please describe.**
Currently rizin prints both `pf` and built-in `pf` output in `rizin -nn` mode without any colors, even if they are enabled. It would be amazing to improve the readability to colorize them according to the current color options and colorscheme.

![image](https://user-images.githubusercontent.com/203261/76514618-2449ae00-6493-11ea-8b

[2021-03-08 04:20] XVilka opened #783 "`pf` enhancements"
- [ ] Support `pf.` nested struct/union name autocompletion (currently works only for the 1st level)
 - [ ] Support bitfields (they are supported in `t` command parsing but not in the `pf` syntax, thus printing it from `tp` command is impossible since it uses `pf` commands for that.
 - [ ] Add custom terminator support (for strings, etc)
 - [ ] Improve (and sort, may be group) help for the command

[2021-03-08 07:19] ret2libc commented on #783
I'm not that familiar with `pf` codebase, but please be aware that the syntax right now is completely parsed by the `pf` handlers, not by newshell. Actually, the grammar had to had some special workarounds just for `pf` syntax, because there are some chars that are usually not presents in regular arguments (e.g. I remember `(` and `)`, if I'm not wrong).

[2021-03-08 07:58] ret2libc opened #786 "Convert `i` commands to newshell"

[2021-03-08 08:44] ret2libc commented on #773
There are probably few other commands that require fixing. In general, all statements that accept more than one argument (but not "as many as possible"). For example, `@@@=` wants exactly 2*n number of arguments, but you may want to "create" those arguments with a command substitution. Another example is `@@s:`, which wants 3 arguments.

The solution I will implement is to make those statements ac

[2021-03-08 09:11] XVilka opened #792 "Convert `C` (cmd_meta.c) commands to rzshell"

[2021-03-08 11:44] caribpa commented on #773
This is indeed the smartest choice, good call 👍 👍

[2021-03-08 12:18] caribpa commented on #773
On a side note, are `@@@=` and `@@@c:` necessary? can't the parser just tell if, for example, `@@=` will act like current `@@=`, or `@@@=` depending on the type of arguments it receives (like `pd` with the optional `arm <bits>` arguments)?

[2021-03-08 12:27] ret2libc commented on #773
I think it is necessary, yes. I don't see how you can distinguish in `pd @@=10 20 30 40` whether you want to execute `pd` on `10`, `20`, `30`, and `40` or if you want to execute `pd` on `10` with blocksize `20`, and `30` with blocksize `40`. Hope it's clear.

[2021-03-08 12:31] caribpa commented on #773
Shouldn't `@@=` use addresses (according to the help)?

[2021-03-08 12:39] ret2libc commented on #773
It does. `10`, `20`, `30, `40` are addresses. What i mean is that if you use your proposed solution (that was to use `@@=` for both current `@@=` and `@@@=`) there is no way to distinguish what is an address and what is a block size.

[2021-03-08 12:54] caribpa commented on #773
I've just checked that the following works:
[code]
But what's exactly its use case (of allowing these int to hex conversion)?

I've always used `@@=` with "addresses" (in appearance), especially something relative like: `pd 1 @@=$$ $$+10 $$+20`, or `pd 32 @@=esp ebp`.

What I'm suggesting (implementation wise) is, if `@@=` is force to recognize addresses only (something preceded by 0x, or magicall

[2021-03-08 13:06] ret2libc commented on #773
`@@@?` does not exist anymore. I've merged most of radare2 `@@`/`@@@` into just `@@?`.

I think your concept of "addresses" is broken, sorry :D Every number or anything that can be converted to a number is an address. 10, 0xa, 012, 0b1010 all refer to the same address "0xa" (which is just a number). Also `flag1 + flag2` is an address. It already works how you suggest it, because "or magically conv

[2021-03-08 14:36] caribpa commented on #773
The battle was hard and you fought better. I yield 🙇

[2021-03-09 02:57] fangxlmr commented on #400
@yuuoniy This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-09 03:00] Yuuoniy commented on #400
Got it.

[2021-03-09 05:41] XVilka commented on #783
We could also check the Kaitai specification as a good example of the data description language, in terms of formatting/printing of course, we don't need everything: https://doc.kaitai.io/user_guide.html#_expression_language

[2021-03-09 07:06] #773 closed, assigned to ret2libc

[2021-03-09 08:46] Yuuoniy commented on #400
I‘ve made a PR for this #798

[2021-03-09 09:20] Semnodime commented on #1725
Sure (shellcode): `4c6f72656d20697073756d20646f6c6f722073697420616d65742c20636f6e73656374657475722061646970697363696e6720656c69742c2073656420646f20656975736d6f642074656d706f7220696e6369646964756e74207574206c61626f7265206574`

Basically any file containing strings is suitable. Just scroll to an offset within the string. Still, the whole string will be displayed instead of the part starting at the c

[2021-03-09 10:24] Semnodime opened #827 "asm.size leads to wrong string length being displayed"
**Environment information**
* Operating System: linuxmint 20.1
* Cutter version: 1.12.0
* File format: any
 * Arch: N/A
 * Type: N/A

**Describe the bug**
String length is rendered wrongly (some digits appended) depending on independent setting.
This is probably not the only attribute affected by this bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Load shellcode `536f6d6520427574746572

[2021-03-09 12:25] lukasjuhrich opened #802 "4-byte strings (`wchar*`) recognized inconsistently"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86-64
| `rizin -v` full output, **not trun

[2021-03-09 13:14] Heersin opened #803 "rz-asm crashed when parsing python bytecode"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux
| File format of the file you reverse (mandatory)      | pyc
| Architecture/bits of the file (mandatory)            | pyc
| `rizin -v` full output, **not truncated** (mandat

[2021-03-09 14:10] ret2libc commented on #802
@XVilka I'm assigning this to you because it is about the `C` command and I guess it makes sense to fix this while you move the commands to newshell. I believe the API has no real problem and indeed strings like these are recognized when loading the binary (see `rz_core_bin_apply_strings`), but you cannot use any `C` subcommands to define it. `rz_core_bin_apply_strings` uses the `rz_meta_set` API,

[2021-03-09 14:11] fangxlmr commented on #679
@Liyuanpei This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-09 14:11] fangxlmr commented on #678
@Liyuanpei This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-09 14:16] ret2libc commented on #792
Few issues to consider while doing this conversion:
1) some `C` commands change behaviour based on the fact that there is `@` or not. This is IMHO wrong, because a command should behave the same no matter if there is `@` or not. In particular, the problem was about `C @ <addr>` (set a new meta) vs `C` (list meta). I don't remember if I already did something about this, but worth double checking
2)

[2021-03-10 03:29] Yuuoniy commented on #803
I don't think the code you paste has problems, function `rz_list_get_n`  `rz_pyc_disasm`  would deal with NULL pointer.
actually, I debug it with gdb, the  segmentation fault is due to `get_opcode_by_version:148 in opcode.c ` after adding a `rz_return_val_if_fail` for `version`，`disassemble:31 in asm_pyc.c ` would then cause an cause segmentation fault due to `opcodes_cache` NULL pointer.
Patching

[2021-03-10 03:49] XVilka opened #805 "Add tests for "pyc" (python bytecode) plugins"
Rizin has the support for disassembling and analyzing the python bytecode of different versions but it's uncovered by tests.
[code]

[2021-03-10 05:16] nayakaj commented on #805
hi I'm new here can u plz tell me what i should do

[2021-03-10 06:25] Yuuoniy commented on #744
I think the mistake code lies in `ds_show_functions in disasm.c ` ,  variable `asm.calls` also has a similar problem.
`asm.fcn.signature` and `asm.calls` are both  related to function signature print. their values are not handled properly.

[2021-03-10 09:16] Heersin commented on #803
You are right, I didn't continue to debug it after catching the NULL pointer.
The `0x0000006a` is a randomly generated data for testing the pyc plugin. So the expected output is an opcode or an error message.

[2021-03-10 09:47] ret2libc opened #807 "debugger uses cmd.prompt/dbg.status to update flags"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 32
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x64
| `rizin -v` full output, **not truncated** (ma

[2021-03-10 09:48] ret2libc commented on #807
See test marked as broken: https://github.com/rizinorg/rizin/blob/b37d6fbe0e81d7fc545d8e317909edd26132f777/test/db/archos/linux-x64/dbg_step#L207

[2021-03-10 10:00] #256 closed, assigned to kazarmy

[2021-03-10 10:48] fangxlmr commented on #416
@Basstorm This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-10 10:54] fangxlmr commented on #414
@tyeyeah This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-11 04:41] XVilka commented on #416
@Basstorm please note, that this is "meta" issue, so any improvement in vtable detection in one of the aforementioned categories counts.

[2021-03-11 04:50] Basstorm commented on #416
@XVilka @fangxlmr  Okay, I'll do my best, thanks.

[2021-03-11 10:29] ret2libc opened #809 "Rewrite RzNum parser with tree-sitter"
**Is your feature request related to a problem? Please describe.**
Currently the grammar accepted by rznum is unclear, it doesn't respect quotes and not rigid enough. For example `?v 10 20` returns `0xa` and it ignores `20`.

**Describe the solution you'd like**
Rewrite a very simple expression parser with tree-sitter, maybe it's even possible to directly include it in the shell grammar. Check als

[2021-03-11 10:29] ret2libc opened #3754 "Rewrite RzNum parser with tree-sitter"
**Is your feature request related to a problem? Please describe.**
Currently the grammar accepted by rznum is unclear, it doesn't respect quotes and not rigid enough. For example `?v 10 20` returns `0xa` and it ignores `20`.

**Describe the solution you'd like**
Rewrite a very simple expression parser with tree-sitter, maybe it's even possible to directly include it in the shell grammar. Check als

[2021-03-11 14:04] valdaarhun commented on #612
Hi, I would like to work on this issue. I have already gone through several files that I thought would be relevant for this issue. I have also gone through parts of the ebook and doxygen docs. I am not sure if I have found the right location but I think the changes will have to be made in the dietline.c file near lines 1530-1532 and in the `rz_cons_break_pop()` function.
[code]

[2021-03-11 14:34] valdaarhun commented on #612
There is also one thing that I haven't understood. In `I.buffer.data` (in the previous comment), what does `I` refer to? In the doxygen  docs, when I click on `I` it takes me to this line (line 164 in `arc.h`):
[code]
But isn't I(x) like a math expression?

[2021-03-11 15:27] ret2libc commented on #612
I suggest you use some better IDE/tool to navigate the codebase (e.g. clangd, ccls, Visual Studio Code, etc.). It will allow you to go from a use of a variable/symbol to its definition in a more precise way.

Anyway, in the case of dietline.c, `I` is defined in `cons.c` as:
[code]

Thanks for working on this by the way :) Much appreciated.

[2021-03-11 15:55] temp1337temp1337 commented on #154
Currently working on the issue as part of the GSoC 2021.

Thank you!

[2021-03-11 18:30] valdaarhun commented on #612
Thanks for the quick response. Will do!

[2021-03-12 00:18] #400 closed, assigned to nobody

[2021-03-12 02:58] HuangPayoung commented on #403
I change the output as follow :
[code]
I think the next step is to add `ut64 offset; ut64 align;` in this struct and read them from Program Header Table
[code]
I don't know how `rz_bin_object_t::sections` this list read from elf_file?
Can you give some advice? Thank you.
@XVilka @fangxlmr

[2021-03-12 07:59] XVilka commented on #809
I think it should work with dereferencing  pointers, also probably allow type casting, e.g. `?v *(struct bla *)p` where `p` is some `void *p` variable, for example.

[2021-03-12 07:59] XVilka commented on #3754
I think, it should work with dereferencing  pointers, also probably allow type casting, e.g. `?v *(struct bla *)p` where `p` is some `void *p` variable, for example.

[2021-03-12 10:28] XVilka opened #814 "Update binutils code to the latest binutils"
Until we figured how to reuse the code using linking or Meson subprojects, it's better to update the binutils code in Rizin to support more instructions. The current code is very old.

Pieces from **binutils-gdb** were used in many different places (opcodes library/libopcodes, libiberty, BFD library):
 - [x] `librz/asm/arch/arm/aarch64/`
 - [x] `librz/asm/arch/cris/gnu/`
 - [x] `librz/asm/arch/mip

[2021-03-12 11:19] XVilka opened #815 "Relocate automatically overlapping sections in object files."
Due to the structure of the ELF object files (`*.o`) before linking occurs, it's common to have the overlapping sections, e.g. `.text` and `.bss`. Unlike real ELF binaries, these sections can be harmlessly relocated with RzIO/RzBin to not interfere with disassembly and analysis.

[code]

[eofarch.c-gcc-arm-O3.o.zip](https://github.com/rizinorg/rizin/files/6129611/eofarch.c-gcc-arm-O3.o.zip)
[main.

[2021-03-12 19:26] valdaarhun commented on #612
Hi. I have been trying to understand the code base (for example, in the dietline.c file) and I feel kind of lost. I have managed to understand a few things in the code but there are many things I haven't been able to understand. The documentation (such as the doxygen docs) only describe the function definitions (return types, arguments, data members in structs, etc) but don't have the actual descr

[2021-03-12 19:56] caribpa commented on #612
@valdaarhun not long ago I started writing an onboarding guide to help newcomers understand the codebase, unfortunately I won't be able to finish it for now due to unfortunate circumstances (maybe I'll have time in 2-3 weeks).

What you can do is ask the experts in the [Rizin official chat](https://im.rizin.re/) for guidance. They are really nice people and would be more than happy to help you 🙂

[2021-03-12 20:19] valdaarhun commented on #612
@caribpa Thanks! I'll do that.

[2021-03-12 22:25] williballenthin opened #817 "FLIRT implementation and testing signatures"
I've recently implemented FLIRT [elsewhere](https://github.com/williballenthin/lancelot/tree/master/flirt/src) (and [here](https://github.com/williballenthin/viv-utils/blob/master/viv_utils/flirt.py)), and would be happy to share information and test cases from our Apache 2.0 work.

To get started, here is a .sig file (and corresponding .pat file) that contains around 108k FLIRT signatures generat

[2021-03-13 01:48] Basstorm commented on #416
Can I using `rz_bin_get_classes` function in `class.c` directly  to get the classes and their members, and do the next job like `constructor autorecognition`?
@XVilka

[2021-03-13 12:03] Yuuoniy commented on #744
I am working on this issue. There are something I want to make clear.
1. Does rizin needs to print function size after function name/signature? (just as now) . Or just as the Expected behavior the issue mentions, get rid of function size.
2. What if `asm.fcn.signature=false `while `asm.calls=true ` what's the expected output ?  As `asm.calls` is used for `showing callee function related info as co

[2021-03-14 05:25] ITAYC0HEN commented on #744
Hey! Thanks for taking this one :)
There is no need to print the size in any case, unless `asm.fcn.size` is enabled. And if it does, then it should be prior to the printed function signature and not in its end
See: https://github.com/rizinorg/rizin/pull/669

[2021-03-14 11:16] Liyuanpei commented on #678
[questions and something I gained from this issue-issues678-liyuanpei..pdf](https://github.com/rizinorg/rizin/files/6136543/questions.and.something.I.gained.from.this.issue-issues678-liyuanpei.pdf)

[2021-03-15 01:28] fangxlmr commented on #334
@lxyAnnie This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-15 01:43] fangxlmr commented on #678
@Liyuanpei

1. First of all, I don't think listing you questions in PDF is a proper way of doing this. You could just type those at comment in Markdown, so that everbody else knows what you're asking and probably try to help you out after a glance rather than download a pdf.
If you think the QA list and debug info is too long to display, then use [`<details>`](https://gist.github.com/ericclemmons/

[2021-03-15 03:41] XVilka commented on #416
@Basstorm I think you got your answer on the Mattermost. Let me know if there is something unclear yet.

[2021-03-15 03:43] XVilka commented on #678
Also for the testcases I recommend to provide both source and binaries, since the resulting binary could depend on the build environment a lot.

[2021-03-15 04:38] XVilka commented on #403
@HuangPayoung see the segments reading code in `librz/bin/formats/elf/elf.c`:
- https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/elf/elf.c#L505
- https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/elf/elf.c#L693

[2021-03-15 05:15] ITAYC0HEN commented on #827
Good catch. Does it happen with Rizin as well? you can try to run `pd 5` from the console to check

[2021-03-15 05:39] XVilka commented on #817
@williballenthin this is glorious! We will take a look and test our implementation more thoroughly. Of course, we would be happy to have it integrated in the Rizin/Cutter/RzGhidra.

[2021-03-15 05:44] ITAYC0HEN commented on #817
This is fantastic @williballenthin! :)
Are the Apache2-licensed signatures overlap with some of IDA's? (if so, that's great).
Would you mind sharing some stats about the performance we should expect to see when applying these signatures to certain binaries?

[2021-03-15 05:47] fangxlmr commented on #470
@Liyuanpei This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-15 08:56] ret2libc commented on #612
@valdaarhun I've looked a bit at the code... It seems you have found the piece of code that handles `^J`. Now, what I did to understand what's wrong with it, was to look at how `enter` behaves. How does `enter` adds the newline for the prompt? After finding that, it should be easy to find the fix. Hope it helps!

[2021-03-15 09:11] Basstorm commented on #416
@XVilka Where can I get the clean function name without `method.class.name` and symbols?

[2021-03-15 09:38] ret2libc opened #823 "Allow user to configure runtime exceptions to intercept"
**Is your feature request related to a problem? Please describe.**
Some software may use privileged instructions like `sti` to make debugging harder, as debuggers usually catch the exceptions generated by those instructions.

**Describe the solution you'd like**
I'd like to be able to configure which exceptions the debugger should intercept/ignore, as I can do, for example, with IDA.

**Describe a

[2021-03-15 10:01] karliss commented on #823
Here is an example how the config looks in gdb
[code]
You can choose any combination of the 3 options for each signal: whether to stop execution (similar to breakpoints), whether to print message, and whether to pass signal back to program or hide it after the stopping and printing.

Thinking about it a little more. It is very similar to breakpoints with biggest differences being when it happens a

[2021-03-15 10:05] karliss commented on #823
It would also be useful to have a command for querying current debugger stop reason. It would be useful if you have disabled printing, executed a bunch of commands and forgot the reason or displaying in Cutter.

[2021-03-15 10:14] karliss commented on #823
Extra points if debugger can properly distinguish between SIGTRAP caused by breakpoint that it made earlier and SIGTRAP caused by corresponding instruction the program code. With the config only affecting second half of cases.

[2021-03-15 14:57] williballenthin commented on #817
They should, since I suspect both we and Hex-Rays are extracting signatures from things like the MSVC universal runtimes, ATL/MFC frameworks, etc. But to reiterate, we're not taking nor translating any signatures provided by Hex-Rays.

[2021-03-15 15:01] williballenthin commented on #817
The above signature files (1.sig and 1.pat) should only be used for testing right now - they do contain many signatures but they're not as comprehensive as they could be nor are they documented like they should be (e.g. exactly which input .lib files did we use, which versions of MSVC do they cover, etc). Soon we'll have something more appropriate for distribution and I'll be happy to update this

[2021-03-15 16:47] Semnodime commented on #827
console:
[code]

[2021-03-15 16:47] Semnodime commented on #827
label rizin

[2021-03-15 16:57] ITAYC0HEN commented on #817
Thanks for all your assistance! I can't express how meaningful it is for us. Coming from IDA, I just waited for the day Rizin will detect library functions as part of its initial analysis phase.

I tested the sig file against some random binaries using `rizin` and it worked very nicely.

[code]

I tried to compare the results with IDA but I couldn't apply `1.sig` to the binary. I loaded the signat

[2021-03-15 17:20] ITAYC0HEN commented on #827
Transferred from Cutter.
Enabling `asm.size` causes the length of the string to be printed twice:

[code]

[2021-03-15 17:32] valdaarhun commented on #612
@ret2libc Yeah, I found the `enter` block of the code and realised that that should help resolve the issue. But it took me time to understand what each part of the code does. I still haven't understood each part exactly. But given that `Ctrl+J` is supposed to do the same job as `enter`, I thought it would be fine to have `enter`'s code in the `Ctrl-J` block as well.

[2021-03-15 17:32] thestr4ng3r opened #828 "Non-deterministic test failure in db/cmd/write"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | OpenBSD 6.8, x86_64
| `rizin -v` full output, **not truncated** (mandatory)  | `rizin 0.2.0-git @ openbsd-x86-64 commit: 6b3c58ebfaeb71a72737a2e60acd952f51ea96ed, build: 2021-03-1

[2021-03-15 18:04] ret2libc commented on #612
@valdaarhun well, understanding everything is quite hard ;) even after years many of us don't understand all details, but we try to understand as needed. It's impossible to understand everything since the project had/has many contributors, so most of the time you touch code written by someone else.

[2021-03-15 18:37] valdaarhun commented on #612
@ret2libc Yep. In fact, I had to experiment a lot to find out which part of the code was mainly responsible for the newline. I was continuously commenting, rebuilding, testing and uncommenting. Finally, I realised that in the `_end` section, the block
[code]
was responsible. Because when I commented out everything else except for this it would print the newline, but when I commented this out as we

[2021-03-16 01:30] #612 closed, assigned to nobody

[2021-03-16 03:44] Yuuoniy commented on #744
Maybe you can close this issue, this PR #820 resolve is.

[2021-03-16 04:06] XVilka commented on #744
@Yuuoniy thanks! Next time you could just put `Closes #35443435` in the pull request description (see the template) and it will be done automatically.

[2021-03-16 04:06] #744 closed, assigned to nobody

[2021-03-16 05:01] XVilka commented on #679
The issue was unassigned.

[2021-03-16 08:40] #404 closed, assigned to nobody

[2021-03-16 08:51] XVilka opened #834 "Unbreak broken tests"
Currently 938 tests marked as broken. Some are outdated and can be fixed with the new output, some are indicative of the serious bugs. We should go through all of them and fix one by one, by either fixing the output, fixing the issue, or removing the test as invalid.
[code]

[2021-03-16 09:00] HuangPayoung commented on #403
Today is deadline the of [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).
I send a [PullRequest](https://github.com/rizinorg/rizin/pull/833) #833 to report the work I have finish.
I haven't finished this issue, it still need to improve. Thank you.
@XVilka @fangxlmr

[2021-03-16 09:38] fangxlmr commented on #114
@Heersin This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-16 09:44] XVilka commented on #42
Now it's halved:
[code]

[2021-03-16 10:06] XVilka commented on #683
This is relevant to us for all these copied third-party sources:
- https://github.com/fsfe/reuse-tool/issues/236
- https://github.com/fsfe/reuse-docs/issues/70

[2021-03-16 13:42] jvoisin opened #837 "The testsuite if broken on some architectures"
It seems that the testsuite [doesn't play well]( https://gitlab.alpinelinux.org/alpine/aports/-/blob/master/testing/rizin/APKBUILD#L8-12 ) on Alpine Linux: x86, armv7, armhf, s390x and mips64 are currently broken there.

[2021-03-16 14:00] ret2libc commented on #837
Is the build done without internet? I think there are some tests that require to download the PDB file from a remote server. Also, likely the debug tests will fail.

[2021-03-16 14:06] Heersin commented on #114
Thanks， I will do my best

[2021-03-16 14:18] jvoisin commented on #837
I think that the builder has access to internet.

[2021-03-16 14:22] ret2libc commented on #837
I suggest you paste here the exact problem that happens on Alpine, otherwise it's a bit hard to even understand what's going on...

[2021-03-16 14:32] XVilka commented on #837
@jvoisin @ret2libc looks exactly the same as https://github.com/rizinorg/rizin/issues/279
Also serialize_analysis test was fixed since, only PDB one left. Note, since we have the Travis CI with S390 and PPC platforms, it's easy to send a pull request ;)

*P.S. See also https://github.com/rizinorg/rizin/issues/297 *

[2021-03-16 14:38] #803 closed, assigned to nobody

[2021-03-16 15:00] ret2libc commented on #837
Shall we close this then?

[2021-03-16 15:04] #837 closed, assigned to nobody

[2021-03-16 17:38] XVilka opened #841 "Failure to demangle some C++ functions"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-03-16 20:19] thestr4ng3r opened #843 "Refactor RzBinFile.sdb_addrinfo out of Sdb"
https://github.com/rizinorg/rizin/blob/31a2406f461d8f15c5789b855e7eaa9cb4dc120e/librz/include/rz_bin.h#L297

This is an sdb with records like `0x424242=some/filename.c:1337`, next to some other entries where the dwarf code abuses this sdb for completely different purposes.
This could be done much better in either a hashtable or even better a tree (so queries like "closest addr info" are possible).

[2021-03-17 08:15] #827 closed, assigned to nobody

[2021-03-17 08:40] XVilka opened #847 "Support GNUv2 C++ mangling scheme"
Support GNUv2 C++ mangling scheme

How to reproduce:
[code]

Currently demangling is implemented in `librz/bin/mangling/*`. The code on which the current GNU demangler is based on might have supported the V2 scheme as it contains `gnu_demangling` and `gnu_v3_demangling` in the list mangling styles.

See "8.4 Gnu 2 name mangling" chapter of the [calling_conventions.pdf](https://github.com/rizinorg/

[2021-03-17 11:38] XVilka opened #851 "Wrong demangling of `__TIFFSwab16BitData`"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | COFF
| Architecture/bits of the file (mandatory)            | x86
| `rizin -v` full output, **not truncat

[2021-03-17 13:16] thestr4ng3r opened #854 "Unreliable HTTP Test"
[code]

Besides, I do not think it is a good idea for our test suite to phone home all the time.

[2021-03-17 19:30] karliss commented on #847
One thing to consider is do we want to maintain our own version of libiberty glued together from multiple versions of it or better write a new clean implementation for GNUv2 mangling and use an unmodified libiberty for handling the new versions.

From what I understood it is desired in rizin cleaning up the dependencies so that they are better separated, labelled and with minimal modifications. Th

[2021-03-17 19:43] pelijah commented on #851
I already reported this bug but can't find an issue.

[2021-03-18 05:41] XVilka commented on #676
I also ran `aaa` on that binary under ASAN, there are some warnings that might be needed to fix:
[code]

[2021-03-18 05:43] XVilka commented on #805
Was fixed by @Heersin in https://github.com/rizinorg/rizin/commit/a866544de6bb091807f51ddcf3ebe7bfd6b4e430

[2021-03-18 05:43] #805 closed, assigned to nobody

[2021-03-18 05:48] XVilka commented on #653
@thestr4ng3r maybe you could include this in our DWARF refactoring PR too?

[2021-03-18 06:03] XVilka commented on #70
`librz/hash/sha1.[ch]` can be substituted with the one licensed with Public Domain: https://github.com/clibs/sha1

[2021-03-18 07:13] Basstorm commented on #416
#811
#819
#852
[d-lang PR](https://github.com/rizinorg/rizin-testbins/pull/13)

[2021-03-18 08:02] madprogrammer commented on #70
@XVilka I don't mind to relicense under LGPLv3, however, some code in `shlr/qnx` is not only based on `shlr/gdb` by defragger, but also uses code from QNX patch for GDB, see https://sourceware.org/legacy-ml/gdb-patches/2003-09/txt00003.txt and this file was licensed under GPL so I am probably not allowed to relicense the derived code under LGPL.

cc @rlaemmert

[2021-03-18 08:20] XVilka commented on #70
@madprogrammer it's fine then, thanks for clarification!

[2021-03-18 11:06] thestr4ng3r commented on #653
Yes, this can be done. But line information is conceptually independent of dwarf as dwarf is just one possible source of information for it.

[2021-03-18 11:20] ret2libc commented on #786
I'm going to wait for @thestr4ng3r refactoring on RzBin before doing this. Let's see how it goes, but if it takes too much we can probably move this out of 0.2.0 and I'll focus on another set of commands.

[2021-03-18 16:58] ret2libc commented on #387
FYI: this needs to be done *after* the release (or at least a pre-release) is done, because I need a nice and good URL for the src tarball to try things a bit.

[2021-03-19 05:09] XVilka opened #863 "Explain RZ_OWN, RZ_BORROW, etc in developers documentation"
There are some conventions that are used in Rizin code but unexplained in DEVELOPERS.md.
They are:
- `RZ_OWN`
- `RZ_BORROW`
- `RZ_NULLABLE`
- `RZ_NONNULL`
- `RZ_INOUT`
- `RZ_OUT`
- `RZ_DEPRECATE`

They are defined in `librz/include/rz_types.h` and briefly explained there, but it's not enough for new developers.

[2021-03-19 07:25] chinggg commented on #863
Hi, I am a newcomer. It seems that the DEVELOPERS.md contains mainly guidelines like codestyles that are worth attention. Can you suggest the place to hold these explanations of `RZ_*` definitions and the content of explanations ?

[2021-03-19 07:40] valdaarhun commented on #489
Hi. I am currently working on this issue as a microtask for gsoc this year. I was going through the code and there are several questions that I would like to ask.

1. My understanding is that in statements like `if (mode ==’j’)`, ‘j’ needs to be replaced with an enum constant. Is that correct? Basically should all literals in `if`/`switch` statements be replaced with an enum constant?

2. If the a

[2021-03-19 07:44] XVilka commented on #489
@valdaarhun

1. Yes, and the argument type should be of `RzOutputMode`
2. Use `RzOutputMode` enum
3. Just ignore those
4. Precisely, "*" also means "RIZIN" usually, "k" means "SDB", "l" means "LONG".

See the example of `RZ_IPI RzCmdStatus rz_seek_history_list_handler(RzCore *core, int argc, const char **argv, RzOutputMode mode)` in `librz/core/cmd_seek.c`

[2021-03-19 07:51] ret2libc commented on #863
https://github.com/rizinorg/rizin/blob/ddcefec61417ae908f4d7c90893f0d35ad109414/librz/include/rz_types.h#L45

[2021-03-19 07:55] valdaarhun commented on #489
@XVilka Thanks for the clarifications! I'll start working on this immediately.

[2021-03-19 08:14] XVilka commented on #863
@chinggg I think a new section in DEVELOPERS.md would be nice, something like "Manage ownership" or something, like "Manage endianess" currently.

[2021-03-19 08:56] chinggg commented on #863
@ret2libc Thanks! I know they are defined there, but I cannot simply copy these comments to DEVELOPERS.md

@XVilka Thanks for giving suggestion for place to hold explanations.
I will try to explain these conventions even though I do not understand them well myself.

[2021-03-19 09:12] ret2libc commented on #863
@chinggg I suggest you look for uses of some of those defines, they should make it clearer how to use them and what they are for.
Some should be simple, like RZ_NONNULL near an argument of a function means that the argument should not be NULL. RZ_OUT near an argument means that the parameter provides some results (e.g. through a pointer), etc. etc.

I guess the trickier are RZ_BORROW and RZ_OWN. I

[2021-03-19 12:13] fangxlmr commented on #332
@fhgkdhg This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-19 12:38] ret2libc opened #866 "Show current flag in the command prompt, near the address"
**Is your feature request related to a problem? Please describe.**
For example, I set `db sym.imp.free` and `db sym.imp.malloc` (i have no idea where they are in memory). Then I do `dc` to continue debugging and I hit a breakpoint. I see this:
[code]
I have no idea what I hit.

**Describe the solution you'd like**
It would be great to see something like this:
[code]

**Describe alternatives you've

[2021-03-19 14:26] valdaarhun commented on #489
There are a few more modes that I have come across. Could you please let me know what they are? They are 'c', 'x' and 'w' in this [switch case](https://github.com/rizinorg/rizin/blob/dev/librz/core/canalysis.c#L4460) and 'm' in this [statement](https://github.com/rizinorg/rizin/blob/dev/librz/core/canalysis.c#L3448)

[2021-03-19 14:30] ret2libc commented on #489
There are some common modes, that are explained in RzOutputMode. Other commands might have various suffixes, but they are not generic enough to use them everywhere. So for those cases we won't use just RzOutputMode.

[2021-03-19 14:32] valdaarhun commented on #489
In that case, should I leave the ones that aren't described in `RzOutputMode` untouched?

[2021-03-19 14:32] XVilka commented on #866
Good idea but should be optional.

[2021-03-19 14:38] chinggg commented on #863
@XVilka @ret2libc I searched for "pointer ownership" and there are good answers in [Stack OverFlow](https://stackoverflow.com/questions/60046802/understanding-memory-ownership-models-in-c).
Now I have written a draft, you can check it and give suggestions. Since I am not a native english speaker, there may be mistakes. Feel free to point them out!

[2021-03-19 14:39] chinggg commented on #863
# Manage Ownership
The C standard does not provide any model of memory ownership, so Rizin uses macros to indicate pointer ownership, which are defined in `librz/include/rz_types.h`:

[code]

Most of them are easy to understand and you can see brief explanation in the comments. But `RZ_OWN` and `RZ_BORROW` may be a little tricky to new developers.

Here is a short example of how we usually use `RZ

[2021-03-19 15:38] ret2libc commented on #489
Yes

[2021-03-20 14:03] ret2libc commented on #863
I would be a bit more generic. These are not just about ownership, but also to "explain"/"describe" how arguments of a functions are used. Whether they are used as input, input/output/just output, how the ownership is handled but also whether you can use null or not... I'm not sure exactly how to put it, but it is not just ownership.

I like this part and I agree it is probably the only real one t

[2021-03-20 14:08] Heersin opened #878 "Rizin didn't detect the correct language of binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | AMD x86-64 architecture
| `rizin -v` full output, **not

[2021-03-20 14:12] Heersin opened #879 "Rizin navigates to a strange address when seek to pascal main"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | AMD x86-64 architecture
| `rizin -v` full output, **not

[2021-03-21 02:13] chinggg commented on #863
@ret2libc Thanks! I think your suggestion is useful.

I already use `grep` to find where `RZ_OWN` and `RZ_BORROW` are used. I must admit that most of them are more obscure than the example I posted above so I cannot understand them well myself, let alone explain them clearly.

To be specific, there are 2*2=4 places that `RZ_OWN` and `RZ_BORROW` could be found in my observation.
(1) before the **re

[2021-03-21 03:10] Heersin opened #882 "Missing arguments or redundant arguments for main function"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | PPC, PPC32, arm, Mips, Mips64
| `rizin -v` full output,

[2021-03-21 03:19] Heersin opened #883 "Map_dwarf_reg_to_x86_reg warnings when processing a modified binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86
| `rizin -v` full output, **not truncated** (mandat

[2021-03-21 08:08] fhgkdhg commented on #332
@XVilka My idea is add a parameter of boolean in function list_vars(), then add two functions named cmd_afvxa() and cmd_afvxv() in file cmd_analysis.c. And both of them will be called in function cmd_afvx(). But I can't avoid code duplication.
[code]
sorry, I can't figure out a better way to solve the problem.

[2021-03-21 09:09] valdaarhun commented on #489
Hi, I know 'j' stands for `RZ_OUTPUT_MODE_JSON`. Similarly, how is `RZ_OUTPUT_MODE_LONG_JSON` represented? Is it 'lj' or 'J' (uppercase) or something else?

[2021-03-21 11:46] Maijin opened #886 "Merge LUA53 (in extras) with LUA54 (in core)"
**Is your feature request related to a problem? Please describe.**
There are two plugins for Lua, one in extras supporting LUA53 and one in core supporting LUA54.

Extras URL - https://github.com/rizinorg/rizin-extras/tree/master/lua53

**Describe the solution you'd like**

* Merge LUA53 (in extras) with LUA54 (in core)
* Remove LUA53 from extras

CC @Heersin

[2021-03-21 12:09] ret2libc commented on #332
@fhgkdhg you have to consider the code in `rz_analysis_function_vars_xrefs_handler`, not `cmd_afvx` (that is not used anymore). Also, to add new commands you have to use `cmd_analysis.yaml`. I suggest to look at it, at `cmd_descs.yaml` (and the comments there) and also to look at `doc/newshell.md`. Please let us know if something is not clear.

[2021-03-21 12:11] ret2libc commented on #883
@thestr4ng3r i've given this task to you just because you very recently worked on dwarf. If you don't have time/will, just un-assign it ;) FYI.

[2021-03-21 13:16] ret2libc commented on #863
I'd say there are only 2 cases, as it doesn't really matter whether you use them in definition/declaration. I think you should use them in both, though there is no check in place to ensure that you use them consistently in both.

* `RZ_OWN`: the ownership of the returned object is transferred to the caller. The caller *owns* the object, so it must free it (or ensure that something else frees it).

[2021-03-21 14:10] Heersin commented on #759
### More Info about this

In librz/core/disasm.c `ds_print_meta_infos` , the `hexlen` is smaller than `delta`, and `rz_print_hexdump` recvs a negative value.
I dont't know the meaning of argmument `len` and `idx`, maybe they are miscalculated somewhere.

Even though we may prevent this segfault here
[code]

Some output
[code]

[2021-03-21 15:03] Heersin commented on #886
Ok, I will work on it these days :D

[2021-03-22 00:42] chinggg commented on #863
@ret2libc Thanks for your detailed explanation! The final exams of winter semester are waiting for me in the next two days. I will rewrite my section and make a PR after that.

[2021-03-22 12:01] fangxlmr commented on #616
@seanachao This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-22 12:42] fhgkdhg commented on #332
@ret2libc I've added two subcommands below command afvx in file cmd_analysis.yaml, and added two new functions followed instructions in file newshell.md. And here is my question:
1. I noticed that every function named 'xxx_handler' in file cmd_analysis.c also has the prefix 'rz_', should I add this prefix too?
2. would you mind if I modify the function list_vars() like I said yesterday?
3.

[2021-03-22 12:51] fhgkdhg commented on #332
@ret2libc thanks. I've added two subcommands below command afvx in file cmd_analysis.yaml, and added two new functions followed instructions in file newshell.md. And here is my question:
1. I noticed that every function named "*_handler" in file cmd_analysis.c also has the prefix "rz_", should I add this prefix to my function name too?
And next, I 'd like to modify the funciton list_vars() like I

[2021-03-22 12:59] fhgkdhg commented on #332
@ret2libc thanks, I've added two subcommands below command afvx in file cmd_analysis.c, and I added two funcitons following instructions in file newshell.md. I noticed that erery function named "*_handler" also has the prefix "rz_", shou I add this prefix to function name too? And next, I'd like to modify the function list_vars() like I said yesterday.

[2021-03-22 13:15] fhgkdhg commented on #332
@ret2libc thanks, I've added two subcommands below command afvx in file cmd_analysis.yaml, and added two functions in file cmd_analysis.c following instructions in new_shell.md. And next, I'd like to modify funciton list_vars() like I said yesterday and finish the code in the function I added.
I noticed that functions named "*_handler" in file cmd_analysis.c, they all have the prefix "rz_", shoud

[2021-03-22 13:31] ret2libc commented on #332
Yes, use `rz_` prefix as said in https://github.com/rizinorg/rizin/blob/dev/librz/core/cmd_descs/cmd_descs.yaml#L31 .

[2021-03-23 03:46] #114 closed

[2021-03-23 03:55] XVilka commented on #878
Please add a link to the test in the testsuite

[2021-03-23 03:55] XVilka commented on #879
Please add a link to the test in the testsuite

[2021-03-23 03:56] XVilka commented on #882
Please add a link to these tests in the testsuite

[2021-03-23 06:01] XVilka commented on #569
@wargio @ret2libc lets close this issue since majority of it had been done already. The only left part is assembly, right?
And maybe better integration with DEX

[2021-03-23 06:01] #569 closed, assigned to wargio

[2021-03-23 08:28] Maijin commented on #878
Hi @Heersin make sure you mock-up the tests when the current output is wrong and use BROKEN=1, otherwise it means that the current output is what is expected. Feel free to enhance it - just make sure not to put invalid output as non-broken 😄

Here is an example - https://github.com/rizinorg/rizin/pull/894

[2021-03-23 10:32] Heersin commented on #878
Sorry for my misuse of expect output, I would enhance them now. thanks to point it out with examples ~

[2021-03-24 05:15] fangxlmr commented on #334
@lxyAnnie After commiting and pushing to [your forked Rizin repo](https://github.com/lxyAnnie/rizin), a seperate Pull-Request to [this repo](https://github.com/rizinorg/rizin) is needed for some one else to review. Your commits will be merged to the mainline after Reviews. Merely commiting to your own repo and mentioning this issue will make no effect to this main repo at the end of the day.

[2021-03-24 11:09] #680 closed, assigned to nobody

[2021-03-24 12:52] XVilka opened #900 "Combine output of `ir`, `is`, `ii` commands into one table with multiple columns for symbols that are in all three."
Currently Rizin parses the contents of `rel.dyn` for the symbols but the information is available only in the flag values or relocations (`ir` output). I think, if we also expose this information in `is` or `ii` output or some new command, it would become some binary analysis easier.
Please note, that `sym.` and `rel.dyn`, even PLT/GOT all could have different values for these, so we should handle

[2021-03-24 14:23] MalhotraPulak opened #902 "Output enhancement of `dmh` family of commands"
This issue is created to track some of the suggestions that were made by @merrychap in [this thread](https://github.com/rizinorg/rizin/pull/810#issuecomment-802013632)
**Is your feature request related to a problem? Please describe.**
If there are too many chunks in heap/bins or chunks with different flags, the output of `dmh`, `dmhf`, `dmhd` command can become hard to read and understand quickly.

[2021-03-24 14:26] MalhotraPulak commented on #902
I intend to solve this issue in the next few weeks

[2021-03-25 04:14] XVilka commented on #200
The only user of manual JSON creation now is `librz/util/format.c` (`pf` handler).

[2021-03-25 05:12] XVilka opened #904 "Nested `~{0}~{}` doesn't work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (mandatory)  |

[2021-03-25 05:56] XVilka opened #905 "Rewrite `pf` formats parser"
Current parser located in `librz/type/format.c` is a total mess and hard to understand/maintain. It would be beneficial to port this grammar to the tree-sitter too. It will allow to change/extend the syntax easier too.

Probably makes sense to do together with https://github.com/rizinorg/rizin/issues/783

[2021-03-25 07:38] ret2libc commented on #904
I agree. I think grep syntax should be completely moved and handled by the parser. Right now almost everything after `~` is passed to rz_cons_grep, which does not support many of the nested things (even multi-word grep are supported just through a hack that rewrites them into a single grep with `,`).

[2021-03-25 09:15] #863 closed, assigned to nobody

[2021-03-25 09:24] XVilka commented on #470
Issue is unassigned.

[2021-03-25 09:26] XVilka commented on #678
Issue is unassigned.

[2021-03-25 15:20] valdaarhun commented on #489
In some functions (for example in [this one](https://github.com/rizinorg/rizin/blob/dev/librz/core/cmd_info.c#L350)),  `mode` is being initialized to a number for example `int mode = 0`. Should I change this to `RzOutputMode mode = RZ_OUTPUT_MODE_STANDARD`?

Also, should `RZ_MODE_RIZINCMD` and `RZ_MODE_SIMPLE` be changed to `RZ_OUTPUT_MODE_RIZIN` and `RZ_OUTPUT_MODE_STANDARD` respectively?

[2021-03-26 03:34] XVilka commented on #759
Fixed in https://github.com/rizinorg/rizin/commit/22977ff7330d898a3db13e1fc2d694afcc919fc9

[2021-03-26 04:35] XVilka opened #907 "Unify code of source information access for DWARF, PDB, dSYM"
Currently the code for handling source-level information access with DWARF, PDB, dSYM, etc is separate in every cases.
We should think about better abstract API for all of these. It will also affect config variables like `asm.dwarf`, etc.

See also:
- https://github.com/rizinorg/rizin/pull/880
- https://github.com/rizinorg/rizin/issues/653
- https://github.com/rizinorg/rizin/issues/3535

Good sour

[2021-03-26 08:11] ret2libc commented on #489
@valdaarhun `SIMPLE` is `RZ_OUTPUT_MODE_QUIET`, while `RIZINCMD` is `RZ_OUTPUT_MODE_RIZIN`.

[2021-03-26 08:13] ret2libc commented on #678
Can we have a binary+libc to reproduce this bug? I cannot reproduce.

[2021-03-26 08:18] valdaarhun commented on #489
I tried rebuilding and recompiling the project after making the changes and got a compilation error.

In [this](https://github.com/rizinorg/rizin/blob/dev/librz/config/config.c#L169) switch case, there's `case 2` on line 181 and `case 'j'` on line 245. I can't simply change `case 'j'` to `case RZ_OUTPUT_MODE_JSON` because of the definition `RZ_OUTPUT_MODE_JSON = 1 << 1` in the enum.

Should I leav

[2021-03-26 08:51] thestr4ng3r commented on #907
After #880, the line info is available in a format-agnistic way in `RzBinObject.lines` so from the perspective of querying the info after it has been loaded, this is already done.
Regarding loading itself, bin plugins can supply their line info using the `lines` callback. This is already nice, but it only really works when the debug info is bound to the binary format itself, like dex.
Dwarf howeve

[2021-03-26 08:58] wargio commented on #489
when you convert the command you have to add a small fix to the old shell. essentially instead of passing to mode a char you will have to pass `RZ_OUTPUT_MODE_<something>` and handle `'j'` from where the (for example) `rz_core_task_list` is being called on old shell

[2021-03-26 10:58] ret2libc commented on #907
As well as separate files completely. Not sure if it changes anything, but just keep it in mind.

[2021-03-26 11:23] valdaarhun commented on #489
@wargio I have understood what you mean. So basically, for example, in functions that have `mode` as an argument, I need to pass for example `RZ_OUTPUT_MODE_JSON` instead of `'j'`.

But there are some functions in which it checks the value of mode(for example `if (mode == 0)` or `if (mode == 'j')`). There are a few places where switch case has been used to do the checking(like [here](https://githu

[2021-03-26 13:02] wargio commented on #489
you can still change that from `case 'j':` to `case RZ_OUTPUT_MODE_JSON`.

[2021-03-26 13:03] wargio commented on #489
You also need to change `int mode` into `RzOutputMode mode`

[2021-03-26 13:15] valdaarhun commented on #489
Yeah, I have done this.

I tried doing this. But then I get this error:

![Screenshot from 2021-03-26 18-44-04](https://user-images.githubusercontent.com/39989901/112636590-4b3b0e00-8e63-11eb-83be-88f0316bd640.png)

[2021-03-26 17:42] temp1337temp1337 commented on #154
Initial work for this issue has been conducted, for platform `freebsd-i386`. The PR should be ready within the next week.

Thank you.

[2021-03-27 17:55] officialcjunior commented on #607
If `exit` is going to be equal to `q` command, it's just a line long, so we can make `exit` a new command without thinking much.
Where should it be added? `cmd_quit.yaml` as well?

[2021-03-28 10:22] thestr4ng3r opened #920 "RZ_GITTIP is "unknown" when built from Cutter with Release 0.1.1"
Happens in the CI builds of https://github.com/rizinorg/cutter/commit/e28b2a15b0588dc65d5e1172078be1ae88eab6db, which use rizin release 0.1.1 (dfe0ff1)
![Bildschirmfoto 2021-03-28 um 12 21 34](https://user-images.githubusercontent.com/1460997/112749064-290ad280-8fc0-11eb-9b2d-dc7fff991c80.png)
![Bildschirmfoto 2021-03-28 um 12 20 14](https://user-images.githubusercontent.com/1460997/112749033-f792

[2021-03-28 13:25] konatabrk commented on #678
What `libc` do you use to reproduce the issue?

[2021-03-28 19:28] valdaarhun commented on #489
Hi. I have almost completed refactoring the code base. There were just a few more questions that I wanted to ask.

1. If I am not mistaken `int mode = 0` should be changed to `RZ_OUTPUT_MODE_QUIET`, right? Similarly, what should `mode = 1`, `mode = 2` and `mode = 3` be changed to?

2. Just as `RZ_MODE_SIMPLE`is `RZ_OUTPUT_MODE_QUIET`, what is `RZ_MODE_SIMPLEST`?

3. Should `char mode = ' '` and `c

[2021-03-28 21:36] pelijah commented on #45
Can't reproduce this on dev. I guess the bug was fixed by #449.

[2021-03-29 00:27] wargio commented on #489
can you please open a PR (draft mode) so we can inspect the code? it's hard to understand what you are talking about!

[2021-03-29 03:38] seanachao commented on #616
There are some test question, I will continue to resolve it .

[2021-03-29 04:45] XVilka opened #923 "Port `test/unit/legacy_unit` tests to the current unit test framework"
There is a bunch of tests in `test/unit/legacy_unit`.
Some of them are irrelevant now, some could be ported to the newer miniunit format that we use currently.

[2021-03-29 05:21] p371jah commented on #45
What is expected behavior? `call 0x00401000`?

[2021-03-29 05:29] XVilka commented on #45
@pelijah yes.

[2021-03-29 05:30] XVilka commented on #45
I think we should prohibit substitution of flags like `section.` or `segment.` in all kind of jumps and calls.

[2021-03-29 06:57] ret2libc commented on #607
Yes, it is just that.

No, I believe it makes more sense to have it directly in the root tree, in `cmd_descs.yaml`.

[2021-03-29 07:00] ret2libc commented on #920
If you use a release tarball there is no GITTIP because it is computed only when git is present.

[2021-03-29 07:32] ret2libc commented on #678
I'm on Fedora 33, x86-64, libc-2.32.so . What `libc` do you use to reproduce?

[2021-03-29 07:44] officialcjunior commented on #607
Sure. And the actual function handler should go at... `cmd_quit.c` ?

[2021-03-29 08:19] ret2libc commented on #607
That's fine, yes. Or just in `cmd.c`, as you prefer.

[2021-03-29 09:29] valdaarhun commented on #489
@wargio Yeah, I'll do that.

[2021-03-29 09:29] thestr4ng3r commented on #920
It's using git from the submodule. It could as well be an issue in Cutter, but I didn't check in detail yet.

[2021-03-29 17:14] #755 closed, assigned to ret2libc

[2021-03-29 18:06] HoundThe commented on #883
I had a look and some DWARF mapping to registers from https://01.org/sites/default/files/file_attach/intel386-psabi-1.0.pdf are missing, from a quick debug its FPU registers (numbers 11-18) and number 8 which is RA.

[2021-03-30 05:07] #843 closed, assigned to thestr4ng3r

[2021-03-30 05:17] XVilka commented on #786
It is also important for the https://github.com/rizinorg/cutter/pull/2637 - a better `i`-like API is required.

[2021-03-30 06:07] XVilka commented on #676
@merrychap please retry again, the situation should be improved significantly. I just retried myself and it is much faster now.

[2021-03-30 06:55] #607 closed, assigned to nobody

[2021-03-30 10:22] fangxlmr commented on #332
@no1rr This issue is asigned to you as RSoC micro-task. Since @fhgkdhg isn't going to send any PR, you could continue this work. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-03-30 12:07] ITAYC0HEN commented on #45
For post-aaa Call fcn.0412345

Because it is already detected as a function, or should be detected as such

[2021-03-30 12:09] ITAYC0HEN commented on #45
For post-analysis I remember seeing similar stuff when asm.realname is enabled.

Or in other words, I saw it multiple times in cutter, after the default analysis and in which realnames are enabled (default)

[2021-03-30 17:26] imag0r opened #955 "PDB parser loses information about certain method overrides"
**Environment information**
* Operating System: Windows 10 20H2
* Cutter version: 2.0.0
* Obtained from:
  - [ ] Built from source
  - [x] Downloaded release from Cutter website or GitHub
  - [ ] Distribution repository
* File format: PE32 + PDB

**Describe the bug**
When applying PDB information Cutter seems to ignore certain method overrides. They are correctly recognized by the MSDIA parser bas

[2021-03-30 17:38] p371jah commented on #45
But rizin shows `call fcn.00401000` after `aa`. What is wrong?

[2021-03-30 20:07] ghost commented on #329
From what I understand the main culprit is reg_set that come from ctx ptr.

`rz_core_recover_vars` (librz/core/canalysis.c line 4115)
The analysis seems to be diverging from the original one in the function `rz_analysis_block_recurse_depth_first`.

I didn´t found the function `variable_expand_for_file`.

[2021-03-30 20:08] ghost commented on #329
I was wandering is there a way to trigger this bug without running the whole analysis?

[2021-03-30 20:35] ghost commented on #329
I have an other theory. The command aaa doesn´t reset the functions state. So there is a great chance of side effect.

I am thinking about core->analysis->fcns. A ugly patch could be to reset this at the beginning of each analysis.

We don´t have any way to detect if the fcn was modified and need to be reanalysed.

[2021-03-30 20:39] ITAYC0HEN commented on #45
Maybe you need to enable realnames.tonsee the issue? Sorry I don't have access to pc in the coming days, but I'm sure saw this times and times after analysis. Maybe a combination of realnames with something (I use cutter usually)

[2021-03-30 20:48] p371jah commented on #45
Confirm: `asm.flags.real=1` is enough

[2021-03-30 21:38] p371jah commented on #45
If function exists at destination offset it is enough to set `RZ_FLAGS_FS_FUNCTIONS` as preferable
[code]
If there is no function flag at the given offset (function is not detected), you will still get `section..text`

[2021-03-31 08:07] ghost commented on #329
The purge ´hack´ fix a crash with test/bins/elf/vim

[code]

[2021-03-31 09:15] XVilka opened #942 "Document release process"
Because until the dust settles there are some changes in the release process, we should track them and put into the documentation for developers/maintainers.

[2021-03-31 09:22] XVilka commented on #942
1. As `stable` branch might get some cherry-picks or special commits to fix particular bugs or things specific for the stable branch, it can get de-sync with `dev` branch. When you want to release a new version that just tracks current `dev` branch, you can pull the changes from `dev` into `stable` with the branch name `release-X.Y.Z` where `X.Y.Z` is the released version. See these commands:
[cod

[2021-03-31 12:48] maitid commented on #923
how do I resolve this problem could you please help.

[2021-03-31 13:58] ret2libc commented on #923
@dipumaiti Make sure to read https://github.com/rizinorg/rizin/tree/dev/test#unit-tests , https://github.com/rizinorg/rizin/tree/dev/test#unit-tests-1 and try to run them. Understand how minunit is used and look through some existing unit tests in https://github.com/rizinorg/rizin/tree/dev/test/unit .

Then look at https://github.com/rizinorg/rizin/tree/dev/test/unit/legacy_unit and try to come up

[2021-03-31 15:38] maitid commented on #923
hello ret2libc! I am very beginner and really don't have any idea to how to run and where  to run any code if you could explain me how could I crack this problem it would be great help!! please.

[2021-03-31 18:00] ret2libc commented on #923
Then look at https://github.com/rizinorg/rizin/blob/dev/README.md , try to build Rizin and play a bit with it, maybe by looking at https://book.rizin.re/ as well. Then go through the materials I've linked above.

To understand a bit the various API I'd start by quickly reading the include files that you can find in `librz/include/`.

[2021-03-31 18:00] ghost commented on #329
@fangxlmr Where did you get this binary? Can we trust it? The binary has debug information and during the analysis rizin is loading dwarf information to do a type analysis. This type analysis is breaking the second aaa analysis.

[2021-04-01 04:01] fangxlmr commented on #329
@08A Actually, I built this `make` from the [source code](http://ftp.gnu.org/gnu/make/make-4.3.tar.gz) on a x86-64 machine without stripping, and that's why it has debug info. You can trust it obviously. Or you could built one on you own to reproduce and I'm good.

[2021-04-01 05:51] xarkes commented on #759
I'm not sure we should close it, as the PR says, it's a work around so it does not crash, but the problem is still here afaik.

[2021-04-01 08:03] XVilka commented on #907
Even more, it can be served by a daemon:

See https://developers.redhat.com/blog/2019/10/14/introducing-debuginfod-the-elfutils-debuginfo-server/ for more information.

- https://sourceware.org/elfutils/Debuginfod.html
- https://wiki.debian.org/Debuginfod

[2021-04-01 12:16] ghost commented on #329
Okay thank you for the answer, it help a lot.

[2021-04-01 13:21] ret2libc commented on #759
I agree. Now instead of the crash there will be the WARNING generated by `rz_return_val_if_fail`.

[2021-04-01 13:36] ghost commented on #329
I tried to reproduce your binary without success (with your link).

commands
[code]

[2021-04-01 14:54] ghost commented on #851
@XVilka It shouldn´t detect this field as a mangled swift name?

[2021-04-01 20:03] konatabrk commented on #678
I'm on Archlinux, x86-64, libc-2.33.so. But I don't think that there is much difference between 33 and 32 :thinking:

[2021-04-01 23:16] ryandesign opened #952 "Undefined symbols: "_environ""
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Mac OS X 10.6.8 i386 32
| File format of the file you reverse (mandatory)      | n/a
| Architecture/bits of the file (mandatory)            | n/a
| `rizin -v` full output, **not t

[2021-04-02 01:27] fangxlmr commented on #329
@08A Ah, what's happening then? I'm stuck. :(

I do the following to rebuild `make` lately:
[code]
Again, here is the binary [make1.zip](https://github.com/rizinorg/rizin/files/6247143/make1.zip).
Also I reproduce the issue with latest Rizin over again.
<details>
 <summary>Rizin make1</summary>

[code]

</details>

Nevertheless, the binary that cause this issue is a valid ELF though you can't repr

[2021-04-02 03:57] XVilka commented on #952
I think it might be because we don't check for `_environ` in `meson.build` while we should. cc @ret2libc @karliss

[2021-04-02 05:18] XVilka commented on #759
Ok, valid concern, but shouldn't block 0.2.0 release, moving to 0.3.0

[2021-04-02 07:38] ret2libc commented on #678
Ok, I can reproduce on Archlinux. There's probably some subtle difference between our two libc versions :)

[2021-04-02 10:12] ghost commented on #329
Yes there is problem. I was just wandering why your binary break and not mine. This could lead me to the bug.

[2021-04-02 10:13] ghost commented on #329
Thank you, for the feedback.

[2021-04-02 13:39] #851 closed, assigned to nobody

[2021-04-02 14:29] no1rr commented on #332
@ret2libc I can't find any function that calls `rz_analysis_function_vars_xrefs_handler`, where are the parameters passed to `rz_analysis_function_vars_xrefs_handler`?

[2021-04-02 15:16] ret2libc commented on #332
Those command handler functions are called automatically by the command parser (`RzCmd`). You can see in the YAML files in `librz/core/cmd_descs/` which handler is called for each command. In particular, `afvx` command is defined in https://github.com/rizinorg/rizin/blob/dev/librz/core/cmd_descs/cmd_analysis.yaml#L227 and the handler is defined with `cname: analysis_function_vars_xrefs` (the `rz_`

[2021-04-06 02:30] fangxlmr commented on #238
@ReJimp  This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-04-06 02:37] fangxlmr commented on #332
@no1rr Make a PR for review please. Thanks.

[2021-04-06 09:11] XVilka commented on #398
Updated the issue, now only 3 debug tests are broken with TinyCC.

[2021-04-06 09:36] thestr4ng3r commented on #786
Can be started now imo. There might be more changes from me in those commands, but I wouldn't expect anything large.

[2021-04-06 10:04] #369 closed, assigned to XVilka

[2021-04-06 17:09] #952 closed, assigned to nobody

[2021-04-06 17:10] XVilka commented on #952
@ryandesign please test again with the latest version from `dev` branch.

[2021-04-07 04:53] XVilka commented on #747
I don't think porting Coverity fixes makes sense since we have our own Coverity instance, so we could just use it.

[2021-04-07 05:50] XVilka opened #972 "Static build and old Debian tests stuck"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Alpine x86_64, Debian x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not

[2021-04-07 06:13] salutdamour commented on #238
I have found the targeted function rz_list_sort. I feel awkward to ask a simple question. Before I test and repair the afls command, shall I have to build the project? I have also installed the rizin by a easy way in my PC.

[2021-04-07 06:57] XVilka commented on #238
@ReJimp of course, see these documents for building and contributing:
- [BUILDING.md](https://github.com/rizinorg/rizin/blob/dev/BUILDING.md)
- [CONTRIBUTING.md](https://github.com/rizinorg/rizin/blob/dev/CONTRIBUTING.md)
- [DEVELOPERS.md](https://github.com/rizinorg/rizin/blob/dev/DEVELOPERS.md)

[2021-04-07 10:49] XVilka opened #973 "Remove legacy signatures ("zignatures") support"
Current format of signatures serialization uses SDB and separates values with commas (`,`) which is often problematic. Moreover, this storage format is inefficient.

We need to reimplement the storing and loading, consider some denser format as well.

See the current implementation in:
- `librz/core/cmd_zign.c`
- `librz/analysis/sign.c`

[2021-04-07 11:33] XVilka commented on #275
Some issues that are in the C grammar of the Tree-Sitter that are relevant:
- https://github.com/tree-sitter/tree-sitter-c/issues/59
- https://github.com/tree-sitter/tree-sitter-c/issues/55
- https://github.com/tree-sitter/tree-sitter-c/issues/44
- https://github.com/tree-sitter/tree-sitter-cpp/issues/63
- https://github.com/tree-sitter/tree-sitter-c/issues/48
- https://github.com/tree-sitter/tree

[2021-04-08 04:04] XVilka commented on #942
Now, that project migrations are implemented by @thestr4ng3r in `librz/core/project_migrate.c` the important part of the release process would be testing how old projects are loaded and if some serialized information is missing or changed the format.

[2021-04-08 06:28] fangxlmr commented on #272
@Robot-RRR This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-04-08 11:29] thestr4ng3r commented on #942
No, project testing should be irrelevant to the release process. This kind of stuff must be done on a per-commit level (at least when the projects are considered "stable") so there will be 0 breakage no matter which dev commit you use. Also all this testing should be automatic.

[2021-04-08 15:48] #972 closed, assigned to nobody

[2021-04-09 04:19] XVilka opened #982 "Fix broken tests on Alpine linux"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Alpine Linux x86_64 (Docker)
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not

[2021-04-09 04:25] XVilka commented on #982
I particularly like this broken one (on Alpine):
[code]
cc @yossizap

[2021-04-09 04:35] XVilka commented on #274
I am closing this since we pursued path on cleaning up SDB and removing unnecessary parts. Moreover, in many places we switched to use either hashtable or RzVector for better performance.

[2021-04-09 04:35] #274 closed, assigned to nobody

[2021-04-09 04:38] #332 closed, assigned to nobody

[2021-04-09 08:17] Autosaida commented on #272
@fangxlmr Sorry, I just saw that I was assigned to this issue, but actually I plan to solve another issue(#417) under the Signatures label, is it OK?
By the way, when I try to analyze the EXE file given by @pelijah under this issue, the `aaa` command will directly cause the crash. What's the problem? The git commit ID that I test is 175849813e043ab47c26059fdde093119cd222c6.

[2021-04-09 08:30] XVilka commented on #272
Can confirm the crash:
[code]

[2021-04-09 08:52] fangxlmr commented on #272
@Robot-RRR Sure.

[2021-04-09 09:42] XVilka opened #985 "Remove the use of `sdb_json_*` API"
Remove use of `sdb_json_*` API:

[code]

For parsing JSON there is already `librz/util/json_parser.c`/`librz/include/rz_util/rz_json.h` API. Good example on how to use such an API is in `librz/analysis/serialize_analysis.c`.
For storing configuration it's better to use something different.

[2021-04-09 12:44] Autosaida commented on #417
I tried to use dumpsig.exe in the ida pro 7.5 sdk to process the different compressed versions of sig files in the sig folder, and they can all be dumped correctly. Does this mean that in order to fix this problem, the same function as the dumpsig.exe is required? So is the reverse analysis of the dumpsig.exe a practical means?

[2021-04-09 12:44] Robot-RRR commented on #417
I tried to use dumpsig.exe in the ida pro 7.5 sdk to process the different compressed versions of sig files in the sig folder, and they can all be dumped correctly. Does this mean that in order to fix this problem, the same function as the dumpsig.exe is required? So is the reverse analysis of the dumpsig.exe a practical means?

[2021-04-09 14:13] XVilka commented on #417
@Robot-RRR yes, the task implies data format reverse-engineering.

[2021-04-09 19:43] salutdamour commented on #238
@XVilka  Oh my god! I found I forgot to use git-clang-format 11 to format my code. It made PR run failed. What should I do to solve the problem.

[2021-04-10 09:34] XVilka commented on #417
@Robot-RRR check also these links too:
- https://github.com/williballenthin/lancelot/tree/master/flirt/src
- https://github.com/williballenthin/viv-utils/blob/master/viv_utils/flirt.py

[2021-04-11 04:14] XVilka opened #992 "An API to get the function BB graph, callgraph, etc"
Currently the commands in `librz/core/cmd_analysis.c` and called functions in `librz/core/canalysis.c` draw the graph directly.
It would be very useful to introduce the API to return such graphs only once in `RzGraph` data structure, then use such an API in these commands as well.

Also split `librz/core/agraph.c` into two parts - purely graph things (probably move some of these into `RzUtil` (`li

[2021-04-11 14:02] osogi opened #995 "Some bug with `aaef` by `aaa`"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                             | Debian x86_64
| File format of the file you reverse       | ELF64
| Architecture/bits of the file          | ARM aarch64
| `rizin -v` full output, **not truncated**  | rizin 0.3.0-git @ linux-x86-64 commit: `63fbf

[2021-04-11 16:20] Autosaida commented on #417
After testing and analysis, I found that, in fact, sig files that compressed by version 6 cannot be dumped correctly. And the reason is as same as the version 5. Because the data will fail to decompress with the zlib in the flirt.c. (and the flirt.c does not restrict this). The relevant code in the flirt.c is as follows:
[code]

Further analysis found that the compressed version 7 and higher have

[2021-04-11 16:56] XVilka commented on #417
@Robot-RRR good research! Sadly, I am not aware of any other simpler ways. This format is undocumented and only RE and other implementations can help.

[2021-04-11 19:55] lenerd opened #996 "Build error: ‘RZ_CRYPTO_STATIC_PLUGINS’ undeclared here"
# Build error: ‘RZ_CRYPTO_STATIC_PLUGINS’ undeclared here

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux, x86 64
| File format of the file you reverse (mandatory)      | n/a
| Architecture/bits of the file (mandato

[2021-04-12 00:42] XVilka commented on #920
@thestr4ng3r is this still a problem?

[2021-04-12 03:42] XVilka commented on #747
There are a few interesting patches from radare2 regarding ELF debuginfo:
- https://github.com/radareorg/radare2/commit/fcf3ad1e1d95f493f0648b42f60a6901be53c5e5
- https://github.com/radareorg/radare2/commit/17a160cc7705e4af7bf92e6d6b11e9f706cb31e2 : interesting addition. See also https://reviews.llvm.org/D66791 .

And a couple for Mach-O:
- https://github.com/radareorg/radare2/commit/f47804f3e9c81

[2021-04-12 04:59] XVilka opened #999 "Load Layout in Visual Panels doesn't request a path for the file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (mandatory)  ht

[2021-04-12 06:34] Robot-RRR commented on #417
OK, I will reverse analyze the related files in combination with other related implementation in my spare time. And in the end, I will complete a related report. By the way, what is the specific deadline and how to submit the report?

[2021-04-12 08:57] thestr4ng3r commented on #747
I would not trust these without tests.

[2021-04-12 09:02] thestr4ng3r commented on #920
yes, currently it shows up as "".

[2021-04-12 11:52] ret2libc commented on #996
Hi,

I was not able to reproduce this issue.

Could you give us more information like:
- meson version
- ninja version
- content of `build/meson-logs/meson-log.txt`
- gcc version
- content of `build/config.h`

Thanks!

[2021-04-12 12:11] lenerd commented on #996
Hi,
here are the versions:
[code]
and the requested files:
- [config.h.txt](https://github.com/rizinorg/rizin/files/6296532/config.h.txt)
- [meson-log.txt](https://github.com/rizinorg/rizin/files/6296533/meson-log.txt)

I also added a copy of the `crypto.c` after preprocessing `-E`:
- [crypto_preprocessed.c.txt](https://github.com/rizinorg/rizin/files/6296550/crypto_preprocessed.c.txt)

[2021-04-12 12:26] XVilka opened #1004 "Detect structure member shadowing another variable"
Currently, Rizin can detect if structure overshadows some variables, e.g.:
[code]
 Note the  `var int64_t var_98h @ rsp+0x98` was removed in the ` shadow_var_struct_members(RzAnalysisVar *var)` function in `librz/analysis/var.c`.
 But the structure type `_mut__i32_`(`&mut [i32]`) has two members:
[code]
 which is equivalent to:
[code]
 Thus, after removing the `var_98h` it should mark that `mov

[2021-04-12 12:36] thestr4ng3r commented on #1004
What is important to note here is that the current/old code only "works" when the type is a struct at the root, so it only works when there is a struct A, it only works when the type of the variable is exactly `A` and only for structs.
So it makes the most sense to fix this after #371 is done, which means that then variables don't just contain a string in C syntax that would have to be re-interpre

[2021-04-12 15:14] ret2libc commented on #992
See as well https://github.com/rizinorg/rizin/pull/637#issuecomment-779973443 . RzGraphDrawable was one first initial attempt by @karliss to improve the situation. I agree we should have some better way to deal with all those graph-drawing commands... How to do that exactly is another story :)

[2021-04-12 23:00] PalinuroSec opened #1006 "Tool inclusion in Parrot Security"
Hello, i am a Parrot Security developer and we are at work to include rizin and rizin-cutter by default as part of our security oriented distribution.

The first packages are already installable via APT and will come pre-installed in the next minor version. We would like hear your opinion on how our packaging was done and whether you have any tips for us.

[2021-04-13 07:36] karliss commented on #1006
Do you have any links to the repository with package build scripts you used?

[2021-04-13 09:32] XVilka opened #1009 "Implement Visual Types mode"
Previously Rizin had Visual Types mode but it was implemented poorly and clashed with RzTypes refactoring (`Vbt` command).
Thus [it was removed](https://github.com/rizinorg/rizin/commit/9f761c990ae9fdb9205c5e9a814a921682c2636f).

After the refactoring is finished it makes sense to restore it properly. Instead of the `pf` string or SDB keys this mode should have C/C++-like output, maybe also ASM-li

[2021-04-13 12:09] XVilka opened #1011 "Bundle RzGhidra into official Docker image"
Maybe some other useful extra plugins.
Since it's Docker it makes to have it by default.

[2021-04-13 12:14] fangxlmr commented on #1011
+1

[2021-04-13 14:22] PalinuroSec commented on #1006
this is where we maintain the packages
https://nest.parrotsec.org/packages/tools/rizin
https://nest.parrotsec.org/packages/tools/rizin-cutter
https://nest.parrotsec.org/packages/tools/rizin-ghidra-plugin

and this is where you can find the binary artifacts
https://deb.parrot.sh/parrot/pool/main/r/rizin/
https://deb.parrot.sh/parrot/pool/main/r/rizin-cutter/
https://deb.parrot.sh/parrot/pool/main/r

[2021-04-13 15:19] karliss commented on #1006
@PalinuroSec Why are you manually copying each file from source or build folder during install step for Cutter instead of using provided install step with minor adjustments if necessary?

[2021-04-13 15:24] dmknght commented on #1006
Because the `Make install` installs files to system directly and the Debian packaging need to write files into `debian/<package_name>` to create packages so some files could be missing.

[2021-04-13 15:24] lenerd commented on #996
I solved the problem: There was some non-existent directory in my `CPATH` and `C_INCLUDE_PATH` environment variables. For some reason this shuffled the order of the include paths specified via `-I` such that a wrong `config.h` was included.

I am happy having fixed the problem, but I do not understand this behavior ...

Anyway, thanks for your time!

[2021-04-13 15:24] #996 closed, assigned to ret2libc

[2021-04-13 15:36] karliss commented on #1006
Make install places files where you ask it to place them. Any sane packaging system should be able to deal with it and I assume that Debian tooling isn't an exception. Even if it doesn't do it automatically there should be a way to pass extra argument to configure and install calls to do the required folder adjustments.

[2021-04-13 16:28] dmknght opened #1013 "Create system plugin path for rizin for more friendly Debian packaging"
**Is your feature request related to a problem? Please describe.**

Current path of rizin's system plugins is not very friendly with Debian packaging. When i create new package (let say that ghidra plugin), there are some cons:
- Save time for users by installing pre-compiled package to system
- Easier to search and install by using `apt` or `software-center` like Gnome just in case some new users

[2021-04-13 19:20] dmknght commented on #1013
More info: the path is hardcoded and likely can't be changed by cmake flags
https://github.com/rizinorg/rz-ghidra/blob/dev/CMakeLists.txt#L6

[2021-04-13 19:28] karliss commented on #1013
That's more of rz-ghidra issue. The path can be changed using CMAKE flags, that's exactly what official Cutter packaging scripts do and is opposite of hardcoding. You are supposed to set them since folder varies based on operating system and how you built rizin.

[2021-04-14 04:20] XVilka commented on #814
See also https://github.com/radareorg/radare2/pull/18579

[2021-04-14 07:10] ret2libc commented on #920
I'm preparing package for Fedora for rizin 0.2.0 and I did not see problems with GITTIP. It just showed the first line when doing `rizin -v`. Maybe it has to do with submodules?

[2021-04-14 09:01] ret2libc commented on #1006
Thank you for this! Right now I'm not that familiar with debian packaging... I need however to look at it a bit so I will review this in the next couple of weeks.

[2021-04-14 09:11] ret2libc commented on #1013
As said by @karliss I think it should be possible to force the plugins to compile libs in the proper directory.

That said, the fact that home plugins are in one directory, while system plugins are split by version puzzles me a bit. cc @thestr4ng3r . I think it might make sense to have plugins split by version, because as we are doing things right now and in the foreseeable future we won't guarant

[2021-04-14 10:03] ret2libc opened #1017 "Custom magic files do not work with GNU magic"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2021-04-14 15:05] thestr4ng3r commented on #783
Another possibility is to drop pf itself as a data representation and use only regular types. For saying for example whether to print some value in hex or decimal, endian swap, etc., types could get some kind of annotations if needed.
And for ease of use, we could have a pf-like syntax that can be used to quickly define such types so if you do `pf cQQ` (this is https://docs.python.org/3/library/st

[2021-04-14 18:33] dmknght commented on #1013
I agree about rebuild plugins. But when Rizin is upgraded, all plugins must be upgraded or rebuild on maintainer's side before arrives repository and can be installed at user's system -> Everything is latest so i see no point of keeping an other version of plugin for older version of rizin. Eventually system will upgrade all plugins and remove older versions unless maintainers does something wrong

[2021-04-15 04:08] XVilka opened #1025 "Better support for debugging for FreeBSD"
[code]

[2021-04-15 04:41] XVilka commented on #417
@Robot-RRR I wrote you an email - please check when you have time.

[2021-04-15 06:42] XVilka opened #1027 "API for the `i` (file information) commands"
In particular the most important are:
- [x] `i` - file basic info `RzBinInfo *rz_bin_get_info(RzBin *bin);`
- [x] `iSS` - file segments
- [ ] `iS` - file sections
- [ ] `is` - file symbols
- [ ] `ii` - file imports
- [ ] `iE` - file exports
- [ ] `ie` - file entrypoint
- [ ] `iz`, `izz`, `izzz` - file strings

There should be also unit tests in `librz/unit/` for those.

Also related: https://githu

[2021-04-15 07:56] XVilka commented on #886
Was fixed in https://github.com/rizinorg/rizin/commit/3bbff71ee1300a54d32db6ee4178c61228404741

[2021-04-15 07:56] #886 closed, assigned to Heersin

[2021-04-16 04:20] XVilka opened #1032 "Wrong use of `sz = wcstombs(NULL, buf, len);` in `librz/util/str.c`"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2021-04-16 07:07] ret2libc commented on #1032
What about putting this for 0.2.1? I don't like having such warnings when building :D

[2021-04-16 08:49] ret2libc commented on #1013
I think it does make sense, yes.

[2021-04-16 10:41] #1011 closed, assigned to nobody

[2021-04-16 10:45] fangxlmr opened #1036 "Failed to install RzGhidra using rz-pm inside docker: fatal error: rz_type.h: No such file or directory"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Official Debian Docker
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.
| `r

[2021-04-16 10:47] fangxlmr commented on #1036
Using rizin v0.2.0 image and failed too!
[code]

<details> <summary>Log here</summary>

[code]

</details>

[2021-04-16 10:48] XVilka commented on #1036
It's because of my RzType changes in Rizin that RzGhidra now uses in the `dev` branch. Try 0.2.0 instead.

[2021-04-16 10:55] fangxlmr commented on #1036
Yeah, true. But other questions are:

1. Is it proper that always fetching the latest RzGhidra code while installing by rz-pm?
2. Does Rizin has any versioning management between rizin and rz-ghidra in rz-pm?

If above questions are not addressed, basically we have no semver at all I assume.

And also, see [above comment](https://github.com/rizinorg/rizin/issues/1036#issuecomment-821090162). I use

[2021-04-16 11:01] XVilka commented on #1036
It should fetch the tag from these: https://github.com/rizinorg/rz-ghidra/tags

I guess this is culprit:
[code]

[2021-04-16 11:08] fangxlmr commented on #1036
I think these two points are basic and resonable:

1. rz-pm will install RzGhidra and other plugins successfully no matter what rz-pm and rizin version are;
2. and then rizin has no problem to work with those plugins

Not sure if you would agree with it. @XVilka

[2021-04-16 11:39] XVilka commented on #1036
As @thestr4ng3r suggested this might be caused by `git clone --depth 1` in `binrz/rz-pm/rz-pm`:
[code]
[binrz/rz-pm/rz-pm:344](https://github.com/rizinorg/rizin/blob/dev/binrz/rz-pm/rz-pm#L344)

[2021-04-16 14:22] rever1and opened #2920 "The function flags lost in disassembly widget"
**Environment information**
* Operating System: Ubuntu 20.04
* Cutter version: 8d47919234e179284e7ca918cde827abc82a1b6b
* Obtained from:
  - [x] Built from source
  - [ ] Downloaded release from Cutter website or GitHub
  - [ ] Distribution repository
* File format: ELF

**Describe the bug**

I just suddenly notice the xref flag missing in disam views, its weired, because it is here before. I didn

[2021-04-16 14:27] rever1and commented on #2920
[rsa_calculator.zip](https://github.com/rizinorg/cutter/files/6325795/rsa_calculator.zip)

sorry I forgot this, the zip contains the elf file from pwnable.kr rsa_caculator and my project file

[2021-04-16 16:03] karliss commented on #2920
Do you have the "show x-refs" option enabled?

[2021-04-16 16:11] karliss commented on #2920
Ignore my last comment, I misunderstood what you are referring to.

[2021-04-18 03:20] dmknght commented on #1013
@ret2libc and imo, about the plugin compatible when rizin release newer version: maybe plugins should contains version of rizin at compile time so plugins can show warning message about compatible version?

[2021-04-18 05:23] Andr0pov opened #1044 "Endless 'Exceeded analysis threshold' while diffing windows executable"
I'm trying to diff two version of ntoskrnl.exe, using `rz-diff`
So, when I run:
[code]
I get smth like this(and it goes on endlessly):
[code]

I also tried to do this:
[code]
But it gave the same result.

/*My Versions*/
Rizin:
[code]

Windows:
`Version 1909 (OS Build 18363.418)`

Binaries:
I took them form this KB updates(x64):
1) KB4471328
2) KB4467107

Attached them, for you to reproduce bug

[

[2021-04-19 07:21] ret2libc commented on #1013
I believe there is already a check for that. https://github.com/rizinorg/rizin/blob/db04bed5031f1a46be7628040b37948c67af5c62/librz/util/lib.c#L314

[2021-04-19 07:21] #1036 closed, assigned to nobody

[2021-04-19 08:20] XVilka opened #1048 "RzBin/RzIO MSVC 2019 warnings"
https://github.com/rizinorg/rizin/commit/5f37d846b57fb074a2bec9715b1075c66354cdfc

[code]
https://ci.appveyor.com/project/rizinorg/rizin/builds/38762056/job/t30fa71d8ttnulpa?fullLog=true

[2021-04-19 08:31] XVilka commented on #368
I think this one can be closed, since all `sdb_types` accesses are already isolated in `RzTypes` and now are part of the https://github.com/rizinorg/rizin/issues/371 and https://github.com/rizinorg/rizin/issues/275

[2021-04-19 08:31] #368 closed, assigned to XVilka

[2021-04-19 14:51] #1017 closed, assigned to ret2libc

[2021-04-20 04:14] XVilka opened #1052 "Add support for UTF-16 BE, UTF-32 BE strings detection"
Currently Rizin supports UTF-16 LE and UTF-32 LE strings detection but not the big-endian versions of these.
The support should be added with corresponding tests.

The detection is implemented in `static int string_scan_range()` and `static void get_strings_range()` in [`librz/bin/bfile.c`](https://github.com/rizinorg/rizin/blob/dev/librz/bin/bfile.c)

Since most of the function operates on the `R

[2021-04-20 19:07] #1048 closed, assigned to thestr4ng3r

[2021-04-21 01:20] rever1and commented on #2920
yes, I have, other sym flag looks good

[2021-04-21 01:21] rever1and commented on #2920
I just notice that rizin will pdf @ sym.main print like this..looks like a problem about rizin

[2021-04-21 08:20] #615 closed, assigned to nobody

[2021-04-21 08:20] #616 closed, assigned to nobody

[2021-04-21 10:16] XVilka commented on #904
@ret2libc in fact, now with `:` modifiers, it makes sense to maybe use something like `:json` or similar instead of `~{}` for pretty-printing. What do you think?

[2021-04-21 10:22] #1032 closed, assigned to nobody

[2021-04-21 11:19] wargio opened #1058 "Migrate from `wcstombs()` function since is not thread-safe"
`wcstombs` is not thread safe and should be fixed.

This issue is linked to this PR: https://github.com/rizinorg/rizin/pull/1045

![image](https://user-images.githubusercontent.com/561184/115545748-7408c480-a2a4-11eb-899a-91dc892f7fbf.png)

[2021-04-21 12:10] ret2libc commented on #904
I think we want to use `:json` to get the json output mode in the future, but if you default to pretty-printing, how do you get the non-pretty output (e.g. for rz-pipe)?

[2021-04-22 04:16] XVilka commented on #783
Also note, that some format values are emitted in `librz/core/carg.c` - `print_format_values()` function.

[2021-04-22 06:41] XVilka commented on #904
We could use `:json:pretty` or something like that.

[2021-04-22 07:00] XVilka opened #1064 "Support for nested structures and unions"
Current RzType doesn't work well with nested types, see `librz/type/type.c` for `FIXME:` nested comments.

Should be started only after https://github.com/rizinorg/rizin/pull/1047 is merged.

[2021-04-22 09:47] #767 closed, assigned to ret2libc

[2021-04-22 10:51] ret2libc commented on #1006
How are things going here? Is there anything we can/shall do?

[2021-04-22 10:53] dmknght commented on #1006
I believe everything is completed. Rizin, rizin-cutter and rizin-ghidra works by install from repo with `apt` command. I'm thinking about do more plugins for rizin like frida or retdec

[2021-04-22 12:28] karliss commented on #1006
What was the point of asking for feedback if you are ignoring the suggestions. The install process of for cutter is still completely wrong.

[2021-04-22 19:20] thestr4ng3r opened #1067 "Test and Fix SNES ROM Loading"
This is partially an issue for testing and evaluation.
During #1062 I noticed that the `sfc` bin plugin seems to be quite broken.
The only testbin we have throws some warnings when loading and then only maps the raw file, as the fallback in core...
[code]
instead of hitting the actual mapping code here:
https://github.com/rizinorg/rizin/blob/cad4e0ae0f967f325bfb2da25d18f1d3ddff2966/librz/bin/p/bin

[2021-04-22 22:51] dmknght commented on #1013
Thank you! good to know because i didn't test plugins when rizin is upgraded :D

[2021-04-23 07:30] ret2libc commented on #1013
@dmknght just to wrap up and be clear: this issue is about changing `RZ_LIBR_PLUGINS=/usr/lib64/rizin/0.2.0` to `RZ_LIBR_PLUGINS=/usr/share/rizin/plugins`, right?

[2021-04-23 07:33] dmknght commented on #1013
Yes it is just like that. i think maybe if rizin team wants to keep original PATH as well so maybe having 2 paths of global plugin location is possible. Ofc it creates problems like what if 2 folders are having same plugin and further problems but i think it is possible todo. Cutter added multiple paths before.

[2021-04-23 07:39] ret2libc commented on #1013
I think it is alright to have just one system plugin directory.

[2021-04-23 07:48] ret2libc commented on #992
@XVilka can we remove this from 0.3.0? With you being loaded with types issues and me on commands, I think we don't have time in the next weeks/month to work on this. WDYT?

[2021-04-23 07:48] ret2libc commented on #985
What's the status of this? Is anything missing?

[2021-04-23 07:51] ret2libc commented on #900
I'm removing this from 0.3.0, because there is not a proposed solution yet. I think to move this forward we should propose concrete rizin commands/output with examples.

[2021-04-23 07:52] ret2libc commented on #883
@thestr4ng3r how much work would this be? Do you have any idea? Is it a complicated or easy thing?

@HoundThe do you have time/will to help with this?

[2021-04-23 07:54] ret2libc commented on #792
See https://github.com/rizinorg/rizin/issues/802 as well.

[2021-04-23 07:56] ret2libc commented on #683
We are almost there with this! :) We can do it!

[2021-04-23 08:01] ret2libc commented on #403
@XVilka I think the offset field is already present, but it's just called `paddr` in the output. No?

[2021-04-23 09:00] XVilka commented on #985
@ret2libc the panels PR is already there, it's just blocked by the unrelated bug in loading layout - it wasn't working even before my change.
The missing part is the use of `sdb_json` in `librz/cons/grep.c` - I had no time to fix it.

[2021-04-23 10:05] ret2libc commented on #985
@XVilka Postponing this to one of the next releases then?

[2021-04-23 10:14] fangxlmr commented on #403
@chinggg This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-04-23 10:16] XVilka commented on #985
It is quick to do once more important issues are finished. Wait until 0.3.0 is closer, then we can consider to move this if not possible to finish.

[2021-04-23 10:18] fangxlmr commented on #403
@chinggg This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-04-23 10:18] XVilka commented on #403
@ret2libc those are a bit different, see https://github.com/rizinorg/rizin/pull/889

[2021-04-23 10:23] chinggg commented on #403
@XVilka Since the `paddr` is now actually the `offset`, I can try to add the memory alignment first.

[2021-04-23 10:24] XVilka commented on #403
@chinggg yes, go for it.

[2021-04-23 10:27] XVilka commented on #373
Why? I already work on that.

[2021-04-23 11:16] XVilka commented on #992
Yes, sure, it's a long term issue.

[2021-04-23 11:19] chinggg commented on #403
Now I just made the similar challenges as #845 do
[code]
But the align output is `0x0`. It seems that `align` has not been read yet.

https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/elf/elf.c#L3258-L3277

And I found the function `RzBinElfSection *Elf_(rz_bin_elf_get_sections)(ELFOBJ *bin)` in `elf.c`, which can be seen in the link above. There are statements like `ret[i].align = bin->

[2021-04-23 11:19] XVilka commented on #1058
Isn't this just a 2 line fix to use this function instead?
- https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/wcsrtombs?view=msvc-160
- https://www.cplusplus.com/reference/cwchar/wcsrtombs/

[2021-04-23 11:27] XVilka commented on #403
@chinggg because segments are specific to ELF and a couple other formats Rizin reuses `RzBinSection` datatype for both, but sets `bool segment` in case for segment. The code you saw `align` in doesn't execute in case of segments.

[2021-04-23 11:33] XVilka commented on #403
@chinggg please also be cautious about changing how `phdr`/`shdr` are read because of this quirk: [librz/bin/format/elf/elf.c:318](https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/elf/elf.c#L318):
[code]

[2021-04-23 11:33] ret2libc commented on #403
Yes, I extracted some parts of the ELF spec in https://github.com/rizinorg/rizin/pull/889#pullrequestreview-617254957 . However, I'm not sure we should really care about the physical address, as that is not used by applications and it would hardly be a concept that can be easily abstracted in RzBinSection.

[2021-04-23 15:13] karliss commented on #1058
Now that this is a separate issue. Wouldn't hurt checking other functions with similar problem. Here are a few links listing some of them:
* http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1371.htm
* https://www.keil.com/support/man/docs/armlib/armlib_chr1359122864707.htm
* https://sourceforge.net/p/opensaf/wiki/Unsafe%20and%20Obsolete%20Functions/

[2021-04-25 04:58] XVilka commented on #942
Cutter did an amazing job on this, we could use the template:
- https://github.com/rizinorg/cutter/issues/2680
- https://github.com/neovim/neovim/issues/11023 - is also good to check

[2021-04-25 05:40] XVilka commented on #985
The `librz/cons/grep.c` conversion is tricky, since it supports long JSON paths, e.g: `~{[0].methods[2].flags[0]}`, while `librz/util/json_parser.c` doesn't - it's `json_get()` function handles only one level without recursion. Thus, to fully solve this issue the JSON parser should be extended.

[2021-04-26 04:53] fangxlmr commented on #272
Likewise, @chinggg This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

(And bear with me here for adding similar comments related to RSoC, THANKS!)

[2021-04-26 05:08] XVilka opened #1078 "Add type renaming command"
To rename existing type.

[2021-04-26 10:35] #403 closed, assigned to nobody

[2021-04-26 11:06] chinggg commented on #272
Compared with last micro-task, this one seems to be a tough nut to crack :crying_cat_face:
Sadly, the `aaa` command still causes the crash with the lastest commit. It seems I should try to find the reason of the crash and fix it before researching on the improvement of signature matching? :thinking:

@XVilka Do you have any suggestions? Thanks!

[2021-04-26 19:00] p371jah commented on #272
@chinggg I have fixed that bug.

[2021-04-27 08:21] XVilka commented on #275
@ret2libc why removed, it's already WIP in https://github.com/rizinorg/rizin/pull/1047/

[2021-04-27 08:51] XVilka commented on #632
I think after refactoring done by @wargio we can safely close this issue:
- https://github.com/rizinorg/rizin/pull/1072
- https://github.com/rizinorg/rizin/commit/54fd6a66bcdf397fa438bc9e48aaac10aa01f8a3

[2021-04-27 08:51] #632 closed, assigned to nobody

[2021-04-27 09:13] ret2libc commented on #1027
See also https://github.com/rizinorg/cutter/issues/2666

[2021-04-27 09:40] thestr4ng3r opened #1080 "Add API for getting an atomic RzBaseType with certain characteristics"
Usually, the types database will be populated by default with some basic atomic types like `uint32_t`, `int32_t`, `char`, etc.. Users are allowed to rename these or change them to for example call `uint32_t` `ut32` instead.

Then in analysis, there will often be the case where for example there is a 32bit write of an unsigned value to the stack and analysis should define a variable for it, so it n

[2021-04-27 09:46] thestr4ng3r opened #1081 "Add underlying type to Enum RzBaseType"
Enums are essentially just ints with pre-specified value names. To correctly analyze them, we need to know which int type actually is used underneath.
In C afaik it's implementation-defined and in C++ you can even specify it explicitly so in a single program you can have
[code]

So we should probably store a reference to the underlying atomic type here:
[code]

[2021-04-27 09:49] thestr4ng3r commented on #1081
Nvm, this is available in `RzBaseType.size`/`RzBaseType.type`, though this should probably be distributed over the individual RzBaseType "subclasses".

[2021-04-27 09:49] #1081 closed, assigned to nobody

[2021-04-27 10:22] Youssef-Beltagy commented on #1052
This is my first issue, so I am not sure how it will go. But I'm working on this issue.

[2021-04-27 14:04] ret2libc commented on #1027
Commands without nice API:
- `it`
- `iV`
- `iC`

[2021-04-27 17:06] mxmehl commented on #683
So great to see you working on this!

Regarding CI jobs, I just would like to make sure you are aware of [REUSE's information for developers](https://reuse.software/dev/). Including it in CI is simple, and you might also want to consider registering your project to the API to get a dynamic fancy badge to show off :)

[2021-04-28 03:14] XVilka opened #1084 "New GCC 11.0.1 (Fedora 34) build warnings"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 34 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2021-04-28 11:23] wargio commented on #1084
i have removed the SHA2 ones, since i patched them in the PR related to hashes

[2021-04-28 14:28] officialcjunior commented on #814
I was trying to update `hppa/gnu`. It compiles fine, but they seem to have changed their format a bit and removed braces for `if` statements with one lines, making a huge diff at some places. Should I do anything with that?

[2021-04-28 14:54] ret2libc commented on #814
IMHO the code should be taken as-is from upstream and moved to a subproject. If necessary (it is necessary likely) we will provide a custom meson.build as done for others subprojects to create a meson object that compiles the right files with the right config.

[2021-04-29 09:05] #902 closed, assigned to nobody

[2021-04-29 09:20] chinggg commented on #272
@pelijah Hi, I want to know how `ucrt_stdio.sdb` is created. Do you create it by manually signing the `main.obj` file? Since the function names are long and unofficial. If so, we might not expect the signature to work for all MSVC executable files using `stdio`. That might need machine learning.
And now the problem is signature search gives wrong result even the `ucrt_stdio.sdb` shares the same or

[2021-04-29 11:15] MalhotraPulak opened #1088 "Fix Heap commands for different versions of glibc"
_Originally posted by @merrychap in https://github.com/rizinorg/rizin/issues/810#issuecomment-802013632_
### Testcase and environment

I tried to run it against several libcs:
- `libc6_2.24-3ubuntu1_amd64` - no tcache
- `libc6_2.27-3ubuntu1.3_amd64` - + tcache
- `libc6_2.29-0ubuntu2_amd64` - + tcache key
- `libc6_2.33-0ubuntu2_amd64` - + safe-linking

Here is my testcase:

[code]

Compile command:

[2021-04-29 11:19] MalhotraPulak commented on #1088
I intend to solve this issue, I will open a PR when I am able to successfully reproduce it

[2021-04-29 11:20] ret2libc commented on #1088
Very likely related to https://github.com/rizinorg/rizin/issues/678 as well.

[2021-04-29 11:51] wargio commented on #678
This issue can be tested with the `/bins/elf/simple_malloc_x86_64`
[code]

[2021-04-29 11:52] wargio commented on #678
i think you do not need to use @ in this case, but it should be directly an argument for dmh

[2021-04-29 18:36] p371jah commented on #272
`ucrt_stdio.sdb` was generated from object files of ucrt lib from Windows SDK. `main.exe` was linked against a bit older version of `ucrt` lib but I suppose that implementation of `stdio` functions haven't changed.

[2021-04-29 18:48] swoops commented on #272
I have just been thinking on this a lot, no code so far. If I get some actual code working I will ping here. I understand if you don't want to wait on me.

[2021-04-30 07:23] thestr4ng3r opened #1093 "Integration Test test_open_analyse_save_load_project only works a single time"
After running it once, the `.tmp` folder already exists and it fails:
![Bildschirmfoto 2021-04-30 um 09 21 48](https://user-images.githubusercontent.com/1460997/116662056-9631cf00-a995-11eb-8286-200f8412d8a6.png)

[2021-04-30 20:56] wargio opened #1094 "Proposal: write meson command line flags to build rizin for each linux distro"
**Is your feature request related to a problem? Please describe.**

Users are finding issues due wrong installation paths when building from sources.

**Describe the solution you'd like**
My proposal is to add an markdown file with a list of configurations per distro (or even better per OS).

[2021-04-30 22:09] ret2libc commented on #1094
What kind of issues?

[2021-04-30 22:37] wargio commented on #1094
Like wrong install dir, like /usr/local instead of /usr

[2021-05-01 01:06] ret2libc commented on #1094
What is wrong in installing in /usr/local? I think these kind of things are already explained in BUILDING.md

[2021-05-01 09:32] wargio commented on #1094
sometimes libs doesn't work because of the wrong installation path. so for example you the bin doesn't find the right locatioin

[2021-05-01 10:27] ret2libc commented on #1094
As said, it's already explained in the building instructions. Packagers in particular should be very well aware that by default most build systems use /usr/linux . What else do you want to add?

[2021-05-01 11:56] wargio commented on #1094
that most people don't go past `meson build/`

[2021-05-01 13:03] ret2libc commented on #1094
Ok, what do you want to do exactly? I mean, you can't force people to read and adding yet another markdown file to read won't change or solve anything. If you have practical changes to improve building.md I'd suggest to just do them there and close this issue.

[2021-05-01 13:58] wargio commented on #1094
hmm you are right.. i'm closing this

[2021-05-01 13:58] #1094 closed, assigned to nobody

[2021-05-02 15:06] sandhrabino commented on #470
What are all the expected values in the table, here?
For eg.
![Screenshot from 2021-05-02 20-30-16](https://user-images.githubusercontent.com/42898716/116817741-87117380-ab85-11eb-8333-114156327950.png)
Should all the values in the info dump be added to the table, there are 31 values printed out with `iI` command but fitting them all in the table might look messy
Could you please suggest what's ex

[2021-05-02 15:52] wargio commented on #470
i think it is ok, we can optimize by having like flags, being displayed for each binary, for example:
[code]

[2021-05-02 17:04] MalhotraPulak commented on #678
@ret2libc can you provide the binary and exact steps to reproduce it? I have set up an arch vm with glibc 2.33 but I am not able to reproduce the issue.

[2021-05-02 18:50] konatabrk commented on #677
Any plans on this feature?

[2021-05-02 21:42] sandhrabino commented on #470
![Screenshot from 2021-05-03 03-10-37](https://user-images.githubusercontent.com/42898716/116828587-36b60800-abbd-11eb-83e8-2c5469b56148.png)
Is this the expected format? If this is, then I will make a pr and then continue with the changes over there.

[2021-05-02 21:45] sandhrabino commented on #470
I need to shorten the compiler intrp and machine fields with flags like mentioned before. But this is output unreadable on a bigger font size.

[2021-05-02 22:20] wargio commented on #470
woah. that is very very long.
@XVilka @ret2libc @thestr4ng3r

[2021-05-03 07:55] ret2libc commented on #678
Mmmmm... I cannot reproduce anymore indeed. @merrychap are you able to?

[2021-05-03 07:56] ret2libc commented on #677
Not right now, unless someone wants to pick it up (maybe @PulakIIIT or @yossizap ? But I can't speak for them, ofc :). We are already moving forward with various quite big refactoring involving RzBin, types, shell, hash... So I think we have our hands quite full at the moment.

[2021-05-03 07:59] ret2libc commented on #470
What if we translate the table, like `i` does right now? Meaning that on each row you put each different field (e.g. arch, endian, laddr, RELOCS, etc.) and each column represents a different binfile. What do you think?

[2021-05-03 08:18] wargio commented on #470
that would solve the huge length, but i wonder if we should assign this to a new cmd.

[2021-05-03 08:31] ret2libc commented on #470
Ah, no probably can just be an enhancement to `i`? @Maijin ?

[2021-05-03 17:28] eadmaster opened #1100 "rz-asm show a detailed description for a single opcode"
**Is your feature request related to a problem? Please describe.**
Is it possible to get a short text description associated to every instruction decoded?

**Describe the solution you'd like**
e.g.
[code]

A json output would be nice as well:
[code]

**Describe alternatives you've considered**

- Consult online docs (not always available, slower to search).
- Looked for a downloadable db in some c

[2021-05-03 21:13] sandhrabino commented on #470
@ret2libc @wargio So you are suggesting a vertical table similar to the output we get now?

[2021-05-03 22:50] wargio commented on #470
yes

[2021-05-03 23:33] majodu commented on #613
If possible could I take this issue?

[2021-05-04 05:05] XVilka commented on #470
Agree on the vertical table

[2021-05-04 06:47] chinggg commented on #272
~~I found `zb` has no output at `0x1400033cc` but it should print `sym.___common_fsopen_D__YAPEAU_iobuf__QEBD0H_Z` just as `zb` prints `sym._fread_nolock_s` at `0x1400033d8`.
It is weird that `zb` cannot find match zignature at current offset even I found the bytes at that offset are nearly the same as `sym.fopen` in the zignature.~~

I used `gdb` and found `zb` at `0x1400033cc` will not call `rz_

[2021-05-04 07:24] ret2libc commented on #613
Sure! You can work on whatever you prefer ;)

[2021-05-04 07:27] ret2libc commented on #1100
It is possible to get something like that with `rizin` (e.g. use `asm.describe=true`) but I think there's no way right now to get that same behaviour just within `rz-asm`.

[2021-05-04 10:59] eadmaster commented on #1100
can this be done via a script invoked from the shell? (e.g. `$ opcodefind x86 nop`)

As alternative i've found the files in `/usr/share/rizin/0.2.1/opcodes/*.sdb` holds the infos i am looking for, and [this tool](https://github.com/rizinorg/sdb) should be able to parse them.
But i am not sure how to use it to query those dbs, can you help me with that?

[2021-05-04 13:30] chinggg commented on #272
@swoops Hi, I found your `zb` command do the similar thing (find closest matching zignatures to function at current offset) as zignature search during `aaa`, but they use different functions thus giving different results. `aaa` will call `search()` in `cmd_zign.c` but `zb` called `do_bestmatch_sig()` which in turn calls `rz_sign_find_closest_sig()` to calculate scores and return list of possible r

[2021-05-04 18:09] swoops commented on #272
I intended `zb` to be for manual testing when `z/` failed. It will be slower and it will always find a result unless threshold is set. I think using the `do_bestmatch_sig` in `aaa` would result in more matches but also more false positives.

Thanks for finding that missing `\n`.

[2021-05-05 05:58] eadmaster commented on #1100
btw [static binaries should not be linked with glibc in order to avoid this issue](https://stackoverflow.com/questions/26304531/compiling-with-static-libgcc-static-libstdc-still-results-in-dynamic-depende)...

[2021-05-05 07:40] ret2libc commented on #1100
Ok there is the flag also in `rz-asm`.

`rz-asm -w -a x86 -b 32 mov`

That accepts just the mnemonic though, not the full instruction, but it returns the same results that you would get from the full instruction actually (because the descriptions are based just on that).

If you want to get the output from rizin instead you can either do:
* `aoda` to get the full dump of all descriptions
* `aod xo

[2021-05-05 08:52] eadmaster commented on #1100
when i  run that with the [static build](https://github.com/rizinorg/rizin/releases/download/v0.2.1/rizin-v0.2.1-static-x86_64.tar.xz) i get no output...
is it a limitation of the static build?

EDIT: indeed with a reguar radare2 install works:
[code]

[2021-05-05 09:27] ret2libc commented on #1100
Please be aware that this is rizin, not radare2. So the right command is `rz-asm`. And it should work in rizin indeed.

Where are you trying those binaries?

[code]

[2021-05-05 09:30] eadmaster commented on #1100
nevermind, i've found this was a problem with my setup missing the shared files...

[2021-05-05 09:31] eadmaster commented on #1100
is it possible to get more infos for each instruction, like the size in byes?

[2021-05-05 10:11] ret2libc commented on #1100
Our static binaries don't have shared libraries... Otherwise they wouldn't be *static*.

 Please confirm that it works on static rizin release.

`ao` in rizin gives you a lot of info. You can use `rz-pipe` right now if you want to use those information easily in python or other supported languages. Otherwise for bash or quick stuff you can still do:
[code]

[2021-05-05 10:22] eadmaster commented on #1100
I meant the shared files in `/usr/share/rizin/0.2.1/opcodes`

Thanks alot, exactly what i was looking for!

[2021-05-05 10:45] ret2libc commented on #1100
What do you mean? Those files should come together with the static release and the static rizin binary should be able to correctly find those files, relative to the directory where the static rizin is placed.

:+1:

[2021-05-05 14:48] sandhrabino commented on #470
I have implemented gotten the table printed vertically but the colours and alignment is still messed up.I Will update the progress here.
This is how it looks right now.
![Screenshot from 2021-05-05 20-10-13](https://user-images.githubusercontent.com/42898716/117160616-e3230480-adde-11eb-8457-62ae7ca67efb.png)

[2021-05-05 15:04] wargio commented on #470
i think this output is good (besides the color issue)

[2021-05-05 15:37] Maijin commented on #470
Make sure you implement that logic in RzTable so it can be reused later :)

[2021-05-05 15:58] sandhrabino commented on #470
Yes I'm trying to implement the unimplemented API to get the transpose of a table.  n this is just being printed, have to get it in an RzTable.

[2021-05-05 17:04] eadmaster commented on #1100
Yep, but i didn't extract those :-P

Btw, is it possible to invoke `rizin` without passing a binary to it? (pass only an opcode like `rz-asm`)

[2021-05-05 17:28] eadmaster commented on #1100
Yep, but i didn't extract those :-P

Btw, is it possible to invoke `rizin` without passing a binary to it? (pass only an opcode like `rz-asm`)

I've tried with: `rizin -a x86 -qc'aoj nop;q' -`, but it prints the description of the `add` instruction instead...

[2021-05-05 18:12] officialcjunior commented on #382
For the above command, if [this](https://github.com/rizinorg/rizin/blob/dev/librz/core/cmd_print.c#L1559-L1568) is what's getting executed, I can get an API just for that, I suppose. Same calls are in agraph as well.

[2021-05-06 05:20] fangxlmr commented on #38
@mymistoe This issue is asigned to you as RSoC micro-task, so you could work on this from now on. Feel free to ask questions and send Pull Requests.

In case for anyone who is not aware about [RSoC](https://keenlab.tencent.com/zh/2021/03/04/RSoC-keenlab-2021/).

CC @XVilka

[2021-05-06 06:39] ret2libc commented on #1100
So, this is changing in `dev` and it will change in next release. We have chosen to become more "unix-like", meaning that we will try to follow usual things done by unix tool. That means that `rizin` will open rizin without any file opened. `rizin =` will open a `malloc://512`, that is `0000...` (this is what `rizin -`/ was doing up to latest release). `rizin -` will take the input binary from the

[2021-05-06 11:01] XVilka commented on #158
@PulakIIIT regarding this. Currently heap parsing is running only on Linux. But the heap parsing is untied to the debugger. What about making existing heap parsing tests static? So they will be runned on all supported platforms - e.g. Linux glibc binary heap would be parsed even on Windows, MacOS, FreeBSD.

[2021-05-06 11:29] MalhotraPulak commented on #158
Can you elaborate more or provide some relevant links? I am a bit confused, I do not understand how Glibc binary can be run on a platform like MacOS.

[2021-05-06 11:32] XVilka commented on #158
@PulakIIIT idea is not to run these binaries. Idea is to:
1. Run the binary on Linux with desired configuration
2. Save the required memory maps in files
3. Add them in rizin-testbins
4. Open them as `om`
5. Then run heap parsing without any actual debugging

This way we will preserve old versions support easier, since these snapshots will not be touched since.

Just see the issue description - it

[2021-05-06 11:57] MalhotraPulak commented on #158
Thanks this was helpful. One more thing, as mentioned in  #157 the heap parsing code currently compiled as per the OS. So currently when we save the memory map on Linux with glibc binary, it will be interpreted by Jemalloc on macOS, right? Will this cause any issues?

[2021-05-06 12:02] XVilka commented on #158
@PulakIIIT right, so this should be fixed first. I think it's better to do a minor refactoring, to just allow it to be built on all platforms, without doing major changes. This would allow us to create static tests that in turn would help us with further, cleaner refactoring of the heap parsing code. What do you think about this approach?

[2021-05-06 12:24] eadmaster commented on #1100
ok, so, in the current release there is no way to pass a binary from stdin?

this works but requires a complete instruction with its args  to be passed , while i'd like to query for an instruction/opcode without knowing the args required.

[2021-05-06 12:25] MalhotraPulak commented on #158
Yeah this approach sounds good to me. I will start working on the minor refactor.

[2021-05-06 12:55] a1ext opened #1106 "axgj command returns an invalid JSON if a new code ref was added manually"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Debian buster x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, **not t

[2021-05-06 14:55] davendu opened #1107 "rz_core_file_close removed from API list"
Hi guys, in commit b212b462d6ae4e9765e37ce24c630614a1e6e6d5, for file `librz/include/rz_core.h`:
[code]

The function `rz_core_file_free` is changed from IPI to API. Is this expected? Since I think after a file is opened by `rz_core_file_open`, it should be closed and free by `rz_core_file_free`.

@thestr4ng3r

[2021-05-06 15:43] konatabrk commented on #677
Okay, got it. Thanks for the answer :+1:

[2021-05-06 18:07] thestr4ng3r commented on #1107
`rz_core_file_free()` should never be called from outside. After opening a file, you can close it using `rz_core_file_close()`, which internally also frees the pointer.

[2021-05-06 18:45] davendu commented on #1107
I see, thanks a lot!

[2021-05-06 18:45] #1107 closed, assigned to nobody

[2021-05-07 01:50] officialcjunior commented on #999
Hey, what did you mean by it's not showing any menu?
Currently it stores all the files at `~/.local/share/rizin/.rzpanels` on my machine. Isn't that a good thing?

Are you referring that it should ask the user from where to load the saved panels from when picking 'Saved'?
![image](https://user-images.githubusercontent.com/29057155/117385895-8bca8480-af03-11eb-924c-580224e5977a.png)

[2021-05-07 02:01] XVilka commented on #999
Yes

On Fri, May 7, 2021, 09:50 Aswin C ***@***.***> wrote:

[2021-05-07 04:19] XVilka commented on #999
Nevermind, after some thinking I came to the conclusion that it is fine AS IS already. Lets close this.

[2021-05-07 04:19] #999 closed, assigned to nobody

[2021-05-07 05:08] XVilka opened #1108 "Support JSON Path in `librz/util/json_parser.c`"
To ease the access of corresponding key and array number if available, something like `[0].methods[2].flags[0]` where first `[0]` will take first element of the JSON array, then key `"methods"`, which contains an array in turn, then take third element from that array, search for `"flags"` key, which has an array as a value, and take a first element of that array.

Files to change:
- `librz/util/js

[2021-05-07 05:08] XVilka commented on #985
Blocked by https://github.com/rizinorg/rizin/issues/1108

[2021-05-07 05:24] XVilka commented on #747
Also signatures refactorings:
- [ ] https://github.com/radareorg/radare2/commit/0a10c3f13a5fb5548d7035ef5e54d2f840424069
- [ ] https://github.com/radareorg/radare2/commit/98150ad1829df99e52a96f2ed91fe4399c1ead5c
- [ ] https://github.com/radareorg/radare2/commit/086038fecaada0a6db3c8e1c49927614204d675a
- [ ] https://github.com/radareorg/radare2/commit/74b8b3cc99f293f101a616099a728247256a8e65
- [ ]

[2021-05-07 06:27] sandhrabino commented on #470
Implemented the table logic here:
[code]

[2021-05-07 07:24] Maijin commented on #470
Great, can you do a PR for this?

[2021-05-07 09:23] sandhrabino commented on #470
Sure will send one.

[2021-05-08 03:10] mymistoe commented on #38
I will try my best to finish my micro-task  in seven days. Thank you.

[2021-05-08 19:35] herrgahr commented on #1108
Would you want to go full-on JSON path and support things like `[0].methods[*].flags[0]` or is it enough to limit the functionality to getting single elements?

[2021-05-08 19:52] ret2libc commented on #1100
Yes for current release just use riZin =

See previous comments. aod, etc.

[2021-05-09 16:23] eadmaster commented on #1100
EDIT: i still do not see how to print a full instruction description without passing the operands:
[code]
(the 1st command fails depending on the instruction)

Will it work this way with the next release?
[code]

[2021-05-10 05:20] #1108 closed, assigned to nobody

[2021-05-10 05:40] XVilka opened #1117 "Refactor `afi` and `afl` commands code"
Currently, the `afi` handler calls `rz_core_analysis_fcn_list()` which is marked as `RZ_DEPRECATED` and does a lot of unnecessary stuff, e.g. `rz_analysis_function_contains()`, etc.

They both use functions like `fcn_list_json()`, `fcn_list_default()`, and `fc_list_defail()` which also might require some refactoring.

The code path for both `afi` and `afl` should be untangled and use a separate AP

[2021-05-11 00:42] haystack-ia opened #1120 "Suggestion to move `ib` command"
**Is your feature request related to a problem? Please describe.**

I recently had cause to use the `ib` command to reload a file using the ELF loader after extracting an ELF into a `malloc://` buffer from something else. Despite being a somewhat experienced user, it took me quite a while (and some googling) to figure out what command to use.

I was struck by the weird placement of the `ib` comman

[2021-05-11 02:01] XVilka commented on #1120
Good idea, `ob` is already taken though, we should think about the good alternative. cc @ret2libc @thestr4ng3r

[2021-05-11 08:24] wargio commented on #1120
agree. i saw that being used in the java tests before.

[2021-05-11 08:34] XVilka commented on #1013
By the way, I found out, that if we use the following API:
[code]
 which is supposed to search in these "system" paths, it doesn't load plugin, while `rizin` binary itself does. The symlink into `$HOME` helps:
[code]
But that `core_ghidra.so` plugin was installed with `rz-pm`. There is obvious inconsistency that we should solve.

[2021-05-11 10:45] thestr4ng3r commented on #1120
It does reloading of the bin so it belongs under `ob`, yes.

[2021-05-11 12:26] dmknght commented on #1013
Is there any method to make `rizin` loads plugin from path that has no version? like `$PREFIX/lib/rizin/plugins/` or something like that? Because we always triggers rebuild the `ghidra` plugin (and could be other plugins` after rizin and cutter is updated). For now i'm using the symlink generation method (as i mentioned above) but i think a folder without symlink could be better.

[2021-05-12 03:25] XVilka commented on #904
We should move `grep` feature out of the RzCons and to the RzCore.

[2021-05-12 06:33] XVilka opened #1123 "`Ve` `asm.*` settings preview should use the "default" code"
`Ve` provides the way to preview the changes in `asm.*` variables in real time. The problem with current implementation is that it uses the code underneath, which is not often presentative of these many options. For example, if we open `rizin =` then `Ve`, it will show the following output:
[code]
Obviously, it's hardly useful.

I propose the following solution:
1. Introduce new config option `scr

[2021-05-12 09:35] mymistoe commented on #38
In the past three days, I have tried to analyze the samples provided by this issue.

I tried to analyze the sample in Radare2 and Rizin and found that this problem could be repeated in both radare2 5.2.0 and rizin 0.2.1, and the same situation occurred in the analysis.

The screenshot of the analysis process is as follows:

![radare2 5.2.0 0 @ darwin-arm-64 git. commit: HEAD build: 2021-04-11__23:

[2021-05-12 09:40] Maijin commented on #38
Hi @Mymistoe That issue has nothing to do with binary obfuscation, what needs to be done is cleanup the function that shows the strings as described earlier.

See https://github.com/rizinorg/rizin/issues/38#issuecomment-763535238

[2021-05-12 09:49] mymistoe commented on #38
Thank you for your guidance. I will try to modify the relevant functions.

[2021-05-12 13:16] eadmaster commented on #1100
As alternative, can you link me the original dataset from which the files in `share/rizin/0.2.1/opcodes/` are built, so i can convert them into something i can query directly with `jq`?

[2021-05-14 01:52] swoops commented on #272
https://github.com/radareorg/radare2/pull/18692 is my first step toward preventing miss-naming functions in r2.

[2021-05-14 03:48] XVilka commented on #1084
The biggest offender here is the `librz/asm/arch/arc/gnu/arcompact-dis.c` which will be solved by https://github.com/rizinorg/rizin/issues/814 automatically.

[2021-05-14 03:50] XVilka commented on #200
Also blocked by https://github.com/rizinorg/rizin/issues/985

[2021-05-14 17:58] thestr4ng3r opened #1132 "Unrealistic Type Propagation Test"
The test "jni and SoP" in `test/db/cmd/types`, which tests type/offset propagation from a global variable is quite funny, see the comment here:

[code]

But the test is somewhat valuable to test these specific features. It should be replaced by something else that tests actually correct global variables.

Also this is testing for type propagation that happens automatically in the `tl` command. Imo

[2021-05-14 18:03] XVilka commented on #1132
Non-Fungible Issue.

[2021-05-15 02:51] rever1and opened #1133 "linux static build rizin can not debug"
ubuntu 20.04
v0.2.1 static build

### Expected behavior
[code]

### Actual behavior
[code]
### Steps to reproduce the behavior
download static build v0.2.1
extract
use that rizin -d ./program

### Additional Logs, screenshots, source code,  configuration dump, ...

[2021-05-16 15:39] thestr4ng3r opened #1134 "Update currently broken core_plugin_example.c to Newshell API"
The example core plugin at https://github.com/rizinorg/rizin/blob/bdface85a24a52d1c4a8cf2daa00dc6099e5db51/librz/core/p/core_plugin_example.c still uses a `.call = rz_cmd_example_call` callback for injecting commands, which does not exist anymore.

For reference, here are some plugins that have been updated:
https://git.sr.ht/~thestr4ng3r/rz-commodore/tree/master/item/src/core_commodore.c
https://

[2021-05-16 16:27] thestr4ng3r opened #1135 "Reference to constant CFStrings in Disassembly are shown just as __CFConstantStringClassReference instead of the string"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | x86, objc
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.2.0-git @ linux-x86-64, package: 0.2.0.1 (ret2libc) commit:

[2021-05-16 16:32] thestr4ng3r opened #1136 "CFStrings are wrongly shown as actual Strings in Disassembly"
See this example:
[code]

Here it shows `.string "cstr.Hello World "` at `0x100001078` and at this location it even skips ahead the 13 bytes of the string until the next instruction.
But this is actually completely wrong since the string is not really located there, it is just a constant `struct __CFString` (https://opensource.apple.com/source/CF/CF-1153.18/CFString.c.auto.html) referring to the a

[2021-05-16 21:43] ajakk opened #1137 "use-after-free in pyc parsing"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Gentoo x86-64
| File format of the file you reverse (mandatory)      | pyc
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.3.0-git @ linux-x86-64
commit: bdface

[2021-05-17 04:29] #1137 closed, assigned to nobody

[2021-05-17 05:48] XVilka commented on #1133
Might be also related to https://github.com/rizinorg/rizin/issues/982

[2021-05-17 07:06] XVilka opened #1140 "`Ll~!^c` should print all lines that *aren't* started from `c` but it doesn't"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 34 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2021-05-17 08:34] thestr4ng3r opened #1141 "Split off Relocs Code from bin_elf.inc"
From https://github.com/rizinorg/rizin/pull/1079#discussion_r632270049

Conceptually `librz/bin/p/bin_elf.inc` should implement the side towards the RzBin plugin interface, while standalong ELF parsing should mostly be in `librz/bin/format/elf` instead.
Relocs handling and patching is quite a chunk of code and it is currently implemented in `librz/bin/p/bin_elf.inc`, but a lot of it falls more in

[2021-05-17 14:43] theopechli commented on #1140
This doesn't work for any `L` cmd. I will look into it when I have time.

[2021-05-17 17:31] theopechli commented on #1140
Actually this doesn't work for many cmds.

[code]
So it's a problem with `!`. Dunno if I will work on it.

[2021-05-17 19:14] thestr4ng3r opened #1144 "Stop Analyzing at Tailjump into a Reloc Target"
Since 58433a72accfee45dce6085f49d3f7b84a56aa05, relocs in ELF are patched by default without needing `io.cache`.
This has brought some issues to light since now pretty much the entire test suite runs with reloc patching. In particular when there is a tailjmp to a reloc-ed imported function, the analysis thinks the stub reloc target constructed by the ELF loader in https://github.com/rizinorg/rizin

[2021-05-18 06:40] ret2libc commented on #1133
Please provide all the info like operating system, architecture, etc. Also the tested binary would be great to have!

[2021-05-18 07:53] MalhotraPulak commented on #1088
I tested Rizin with Glibc `2.33` and `2.31` and have not been able to reproduce this issue. Does anyone else have any success with reproducing this issue?

[2021-05-18 08:43] gkamathe opened #1145 "rz-hash <file> coredumps"
I was trying out few commands from below guide

https://book.rizin.re/first_steps/overview.html

rz-hash in particular, however the command core dumps

[code]

Version info

[code]

Reproducer

[code]

backtrace

[code]

Seems the problem lies here ?

[code]

[2021-05-18 09:46] #1140 closed, assigned to nobody

[2021-05-18 09:47] wargio commented on #1145
oh. seems i forgot to check for the null ptr before running strstr

[2021-05-18 10:36] wargio opened #1147 "Improve rz-diff graph diffing"
1. Currently the graph that is generated by rz-diff contains the output of the unified diff of a basic block (via `pdb` command); We need to find a better view to show differences of each basic blocks of a function in the output graph.

Example of a current output:
![image](https://user-images.githubusercontent.com/561184/118362208-e2ccfb00-b58e-11eb-90e1-1f8c03ff122b.png)

2. We do not support gr

[2021-05-18 12:48] #1145 closed, assigned to wargio

[2021-05-19 08:45] ret2libc commented on #1088
@merrychap are you still able to reproduce this?

[2021-05-19 08:56] ret2libc commented on #1144
@thestr4ng3r when does this happen?

[2021-05-19 09:02] thestr4ng3r commented on #1144
What exactly do you mean? It seems like it happens in jumptable analysis.

[2021-05-19 09:04] ret2libc opened #1150 "File is still required when passing one option to rizin"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc

[2021-05-19 09:07] ret2libc commented on #1100
Where did you take this command? What are you trying to achieve?

[code]
or
[code]
or
[code]

Those files are generated from `librz/asm/d/*.sdb.txt` files. I think they were manually created.

[2021-05-19 09:09] ret2libc commented on #1144
Do you see this with any ELF? Just with .o files? Or with .so? Or even with executables?

[2021-05-19 09:10] ret2libc commented on #904
I'm not sure.... I think there are a lot of things you need to do inside RzCons (though I haven't looked at the code in detail).

[2021-05-19 09:18] #679 closed, assigned to MalhotraPulak

[2021-05-19 11:18] thestr4ng3r commented on #1144
The example given in the description is `0x000071e0` in our `bins/elf/ls`, which is an elf executable. In theory it can happen with any ELF that has a tailjmp to an imported function without lazy binding.

[2021-05-19 14:42] eadmaster commented on #1100
my aim was to get this output without having to type a full instruction:
[code]

After digging a bit in the source code, i've found the numeric fields are stored inside [these `ops` arrays](https://github.com/rizinorg/rizin/blob/dev/librz/asm/arch/6502/6502dis.c#L16). If there is no other way i'll try exporting these arrays into json via a script.

[2021-05-20 08:01] #883 closed, assigned to thestr4ng3r

[2021-05-20 10:50] sandhrabino commented on #1147
@wargio is this already being worked on?

[2021-05-20 12:07] wargio commented on #1147
no. you can work on this @sandrabeme

[2021-05-20 21:55] ret2libc commented on #1100
I think you can't get those data by just providing a mnemonic. A mov instruction in x86, for example, could be 2, 4 or more bytes based on the operands. So I'm not sure what kind of data you really expect to find by just giving the mnemonic

[2021-05-21 04:39] eadmaster commented on #1100
I didn't know some archs could have variable instruction sizes, i've only hacked very old archs like the z80 and 6502...

Btw in these cases having a list of values instead of a single one would work out for me. e.g.:
[code]

What do you think could be the easiest solution for this i could try?
Maybe via a core plugin?

Since this is meant only for quick reference usage i don't mind if some archs

[2021-05-21 05:02] XVilka opened #1155 "Possibly wrong `vsize` calculation of `.text` section for the Windows PE file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 34 x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, **not trunca

[2021-05-22 13:25] ghost opened #1159 "Artificial sections created by rz_bin_elf_get_sections"
**Is your feature request related to a problem? Please describe.**
`rz_bin_elf_get_sections` is using dt_dynamic information to create section when there is no section defined in the elf binary.

**Describe the solution you'd like**
bin->g_sections is a list of **elf** sections. There shouldn't be any artificial sections in this list.

**Describe alternatives you've considered**
* RzBinElfSection

[2021-05-25 16:07] TrungNguyen1909 opened #1165 "Write over (wo) commands don't respect block size override"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Darwin Kernel Version 19.6.0: Mon Apr 12 20:57:45 PDT 2021; root:xnu-6153.141.28.1~1/RELEASE_X86_64 x86_64
| File format of the file you reverse (mandatory)      | All
| Architect

[2021-05-26 08:25] MalhotraPulak opened #1167 "Jemalloc heap commands cause segfault"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 64
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.
| `rizin -v`

[2021-05-28 03:58] XVilka opened #1168 "Remove `sdb_fmt` and switch to `rz_strf`/`rz_str_*`/`rz_strbuf_` API depending on the case"
Currently Rizin uses `sdb_fmt` function, which uses global state and is thread-unsafe. I suggest substituting all calls of it with the Rizin API like:
- `rz_strf`
- `rz_str_new[f]()`
- `rz_strbuf_append[f]()`
- `rz_asm_op_setf_asm()`
- Or something else, depending on the case

[code]

[2021-05-28 04:04] XVilka commented on #747
A few more might be of interest:
- https://github.com/radareorg/radare2/commit/4ade590c47afae4736595343d9300ce8ea4332f9 : I haven't tested the radare2 code, but I think we don't need all that to reach the purpose We can use `rz_flag_get_by_spaces` (or `rz_core_flag_get_by_spaces` if that's fine) which allows you get to get the flags at a given address sorted by FlagSpaces.  We already use `rz_core

[2021-05-28 05:32] XVilka opened #1169 "Migrate type links to the hashtable"
Currently the type links are implemented as the SDB of a type name/string. This is inefficient and inflexible in many ways.
Thus, I suggest to do this:
- Drop SDB and move to the hashtable `Ht_UP /* < ut64 address, RzType > */`
- Add serialization and deserialization code
- Add tests for complex type links, e.g. pointers, arrays.

See `librz/analysis/typelink.c`

[2021-05-28 16:59] Gskartwii opened #1171 "Erroneous stack variables in `push [esp+var]` situations"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64-bit
| File format of the file you reverse (mandatory)      | Reproducible without a file
| Architecture/bits of the file (mandatory)            | x86/32 (possibl

[2021-05-31 06:37] XVilka opened #1176 "Resolve the clash between `strdup()`, `rz_str_dup()`, and `rz_str_new()`."
We have 3 similar functions:
- `strdup()` from libc
- `rz_str_dup()`
- `rz_str_new()`

Some places use `strdup()` directly, while some - either `rz_str_dup()` or `rz_str_new()`. We should decide which one to choose and stick to the one, I think.

[code]

See `librz/util/str.c`

[2021-05-31 15:06] theopechli opened #1178 "`rz-pm -i rz-ghidra` installs to `/usr/local` instead of `~/.local`"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 34 x86 64
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.3.0-git @ linux-x86-64 commit: 45796515509a056e991b41d9626a511624ab9b3f, build: 2021-05-30__15:

[2021-05-31 15:06] #1178 closed, assigned to nobody

[2021-06-01 04:32] XVilka commented on #277
This is the list of plugins that currently do uplifting to ESIL (`rg -l "esil = true" librz/analysis/p`):
Priority ones:
[code]

The rest:
[code]

[2021-06-01 22:05] sandhrabino opened #1183 "Rz-diff corner case fail for -S option and parse error for arguments."
The rz-diff corner case fails for minuscule values like 2x3 and the parser for the arguments also need fixing.

### Expected behavior
Properly parse arguments for:
 `rz-diff -HS 120x20 /bin/true /bin/false`
Error out for corner cases with a warning message:
[code]
### Actual behaviour
Errors out for every argument passed with `-S`
[code]
Memory errors for minute values like 2, 3 for setting screen

[2021-06-02 05:29] XVilka opened #1185 "Uncouple ARM's Thumb mode detection from `asm.bits`"
Currently the manual and automatic Thumb detection involves switching the value of `asm.bits` which affects other parts of the analysis, how type length is interpreted, and so on. Ideally, the autodetection and manual switch *should not* setting `asm.bits` and triggering corresponding callbacks.

[2021-06-03 05:29] XVilka opened #1188 "Refactor type constraints and move to `librz/type`"
See the following functions:
- `rz_analysis_var_add_constraint()`
- `rz_analysis_var_get_constraints()`

This will allow easier management, storage, and even constraints propagation through the same code that does type propagation.

[2021-06-04 09:01] trofi opened #1192 "`rzpipe` test always fails on a system without `rizin` binary"
Observed as a test failure as part of testsuite run on Gentoo distribution:

[code]

This seems to happen because test assumes that `rizin` binary is available in $PATH. It is not when test is ran on a fresh system:

rizin-v0.2.1/test/unit/test_rzpipe.c:

[code]

[2021-06-04 10:38] #1183 closed, assigned to nobody

[2021-06-06 09:29] Petross404 opened #1194 "Rizin-0.2.1 compilation on Gentoo error: ‘TSLanguage’ has no member named ‘production_id_count’"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                   | Gentoo  x64
| Compiler                                             | GCC 11.1

### Expected behavior
Building rizin should finish

### Actual behavior
Build fails with error:
[code]
### Ste

[2021-06-07 09:59] ret2libc commented on #1194
Hi @Petross404 !

Looking at the logs you provided I saw:
[code]

I would expect to see at least 0.19.x. Could you double check you have an updated version of tree-sitter on your system? I also tried to build locally against the very latest 0.19.5 release of tree-sitter and it seems to work. My guess is that your version of tree-sitter is older than what we expect.

If you want to build with syste

[2021-06-07 10:10] ret2libc commented on #1165
This is valid bug indeed. Existing help still suggests to use `| <cmd> @ <addr>!<blocksize> # Temporary seek to <addr> and set blocksize to <blocksize>` as a way to temporarily set blocksize while also changing address, however I think we should kill this line of help and just use `@ <addr> @!<blocksize>`. You can indeed chain `@`statements as you prefer and I don't see particular reasons to suppo

[2021-06-07 10:22] wargio commented on #1165
agree, but the help should be `| <cmd> @ <addr> @!<blocksize> # Temporary seek to <addr> and set blocksize to <blocksize>`

[2021-06-07 10:31] ret2libc commented on #1192
The only solution I could think of is to have a new header file in `test/unit/test_config.h.in` with a `#define RIZIN_BUILD_PATH @RIZIN_BUILD_PATH@` with the final header file generated from `test/unit/meson.build` like what is done for rz_version.h.

Then we can use include the header in test_rzpipe.c and use `RIZIN_BUILD_PATH` instead of just "rizin".

@trofi are you already familiar with meson

[2021-06-07 10:37] ret2libc commented on #1168
I think this is not true. `sdb_fmt` gets string from the stack, so they cannot leak. However, `sdb_fmt` has its own problems indeed, because you don't have control over the used buffers. The direct replacement for `sdb_fmt` should be `rz_strf` which still uses stack-allocated buffers.

`rz_str_*` and `rz_strbuf_*` usually allocates things on the stack and sometimes you don't need to waste time on

[2021-06-07 10:42] ret2libc commented on #1100
Right not this request seems quite specific to your use case, so I think it won't be included/implemented within Rizin. As I said, most data won't make sense without having a full instruction. I'm not sure you can really extract all the right data from the current API (e.g. there is no way AFAIK to get the max size of an instruction just by giving the mnemonic).

[2021-06-07 11:15] eadmaster commented on #1100
I understand, thank you for your help anyway, i'll keep looking for alternative solutions for this.

If you have any tip just post here, i have subscribed the issue.

[2021-06-07 11:15] #1100 closed, assigned to nobody

[2021-06-07 11:49] ret2libc commented on #1165
We don't really need that line of help, we can remove it completely, because you can chain various statements as you like.

[2021-06-07 11:51] ret2libc commented on #1100
Sure, thanks for your patience! I was absent from Rizin for a while...

[2021-06-07 12:00] ret2libc commented on #1155
We should really double check whether this is a real bug or not... It might be there are some alignment thing to consider. Also, it might be that this was done because RzBinSection and RzBinMap before were the same thing, so if you wanted to map things correctly you had to "adjust" the RzBinSections... Right now with the better split we might just have RzBinSection as-is from the binary and use th

[2021-06-07 12:30] Heersin opened #1197 "ESIL emulation failed when hit reloc functions"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux
| File format of the file you reverse (mandatory)      |  ELF
| Architecture/bits of the file (mandatory)            | x86/64 etc.
| `rizin -v` full output, **not truncated*

[2021-06-07 23:15] trofi commented on #1192
I know almost nothing about meson :) Specifically I'm not sure how to handle include directories for generated headers. Tried with ` include_directories: [..., '.'],`

Here is my attempt: https://github.com/rizinorg/rizin/pull/1198

[2021-06-09 11:35] XVilka commented on #1194
I think the ebuild of `dev-util/rizin` should be updated to restrict the acceptable tree-sitter version:
https://github.com/gentoo/gentoo/blob/master/dev-util/rizin/rizin-0.2.1.ebuild#L32
[code]
cc @trofi

[2021-06-10 05:24] XVilka opened #1204 "Add support for proper preprocessor in RzType"
New parser uses modified tree-sitter-c grammar which understands the prerprocessor syntax but doesn't perform the preprocessing itself.

Possible solutions:
- Write the custom preprocessor based on the grammar parsed from the tree-sitter-c
- Do a separate preprocessing step *before* feeding the string/file to the tree-sitter, could be done by using customized `tccpp.c`

[2021-06-10 05:26] XVilka opened #1205 "Add support for classes and methods in RzType"
Currently RzType performs only C parsing.
We could extend it by adding C++ parser with tree-sitter-cpp.
Moreover, some of the types and the API should be extended or modified to accommodate classes properly.

- [ ] move the class data structures from RzAnalysis to the RzType module (and transition out of sdb while at it), that way all modules can access them. The class database could be made part

[2021-06-10 17:24] trofi commented on #1194
Gentoo has 2 tree-sitter libraries:
- C library: https://packages.gentoo.org/packages/dev-libs/tree-sitter
- Python library: https://packages.gentoo.org/packages/dev-python/tree-sitter

`0.6.3` looks very misleading. It comes from `0.19.5`'s `/usr/lib64/pkgconfig/tree-sitter.pc` file and happens on my machine as well. I'll investigate locally. Probably a `dev-libs/tree-sitter` packaging bug.

[2021-06-10 17:31] trofi commented on #1194
@Petross404 if you stil have this build issue can you post your `emerge --info dev-libs/tree-sitter` output to see what version you actually have installed?

[2021-06-10 17:50] trofi commented on #1194
`production_id_count` was added in `0.19.0`: https://github.com/tree-sitter/tree-sitter/commit/c1639cc456b0fafb73d91108617ffa1206d6e9f9

[2021-06-11 14:50] pparmin commented on #1134
Hey everyone :)

I am new to the project (for more information about me, check my post on [Mattermost](https://im.rizin.re/rizinorg/pl/3j4j1adkui8odfe8jj186trfqe) ) and I would love to tackle this! I have looked at the update files you have linked and saw that for the update files the ``.call`` part has mostly been removed. Would the updated  core_plugin_example.c require a mere removal of the ``.

[2021-06-11 15:10] ret2libc commented on #1134
@pparmin It's not just about removing `.call` but it is about making it a "newshell" example (see https://github.com/rizinorg/rizin/blob/dev/doc/newshell.md).

Moreover, in the linked files you can see how those commands are implemented. For example, https://github.com/rizinorg/rz-ghidra/blob/dev/src/core_ghidra.cpp#L668 .

[2021-06-11 20:45] Petross404 commented on #1194
Oh dear, I missed the whole conversation. I will sync my portage tree and let you know!

[2021-06-11 21:57] 0xchase commented on #277
In this case, could the ESIL library be implemented in Rust, then.

[2021-06-11 21:58] Petross404 commented on #1194
Updating dev-libs/tree-sitter to 0.19 fixed the build issue for Rizin.

Thank you for your time!

[2021-06-11 21:58] #1194 closed, assigned to ret2libc

[2021-06-14 10:32] #1192 closed, assigned to ret2libc

[2021-06-16 15:31] rbrishabh opened #1217 "Replace kiwiirc irc links with https://web.libera.chat links"
Hi @xarkes! I can work on this!

[2021-06-17 08:02] ret2libc commented on #1006
Closing this for now. I think there's nothing else to do from our side. Thanks for opening this!

[2021-06-17 08:02] #1006 closed, assigned to ret2libc, karliss

[2021-06-17 10:25] #1217 closed, assigned to nobody

[2021-06-17 11:03] #1165 closed, assigned to ret2libc

[2021-06-18 03:51] XVilka opened #1223 "Refactor to not use calling the external commands unless necessary"
There is a bunch of `rz_sys_cmd*()` calls in the `librz/` while most of them unnecessary and can be achieved with the calling of the API function.

There are two categories of such calls - calling of the internal utils, e.g. `rz-bin`, and calling of the external tools, e.g. `cp` or `move`.

[code]

## Todo

Note though, that *some* of them are **legit**.
Tick the once which are, otherwise link PR.

[2021-06-18 17:37] karliss commented on #1223
Couldn't that be done using `SetConsoleCP` and `SetConsoleOutputCP` API? I don't know Windows Console API so I might be wrong.

[2021-06-21 05:41] XVilka commented on #1223
@karliss in fact it calls `SetConsoleOutputCP()` right before. Not sure why it was done. Maybe @kazarmy knows more

[2021-06-21 06:26] XVilka opened #1232 "Refactor and merge `librz/analysis/fcn.c` and `librz/analysis/function.c`"
Part of the RzAnalysisFunction API is implemented in `librz/analysis/fcn.c` while other part is in `librz/analysis/function.c`. They both should be merged, refactored to harmonize the API, there are some naming problems that should be addressed too.

Moreover, it probably makes sense to extract `fcn_recurse()` function into a separate file with a better name.

[2021-06-21 14:44] chinggg commented on #1232
It is labelled as `good first issue` but the single function `fcn_recurse()` has nearly 500 lines. :joy: I think one must be familiar with the codebase to refactor the two files. Waiting for someone to work on it. I will also try to learn the codebase.

[2021-06-22 08:17] #1150 closed, assigned to nobody

[2021-06-24 05:23] XVilka commented on #126
It was done by @wargio, closing. If something is missing - please open a new issue.

[2021-06-24 05:23] #126 closed

[2021-06-24 06:48] XVilka opened #1240 "Add proper bitfields support in RzType"
Currently RzBaseType doesn't consider bitfields for structures, unions, enums. It should be recognized and processed properly.

See also https://github.com/rizinorg/rizin/issues/314

Depends on https://github.com/tree-sitter/tree-sitter-c/issues/42

A good description on bitfields layout on ARM is here: https://www.keil.com/support/man/docs/armcc/armcc_chr1360774870320.htm

[2021-06-24 08:48] XVilka opened #1241 "Support for alignment and packing in composite types"
Support:
- `#pragma` syntax for packing
- `__attribute__()` syntax for packing
- `#pragma` syntax for alignment
- `__attribute__()` syntax for alignment

Depends on https://github.com/tree-sitter/tree-sitter-c/issues/74, https://github.com/tree-sitter/tree-sitter-c/issues/47

[2021-06-27 10:54] Kiran-Sethu46 commented on #439
Hey please assign me this issue

[2021-06-28 08:29] XVilka opened #1249 "Fix `rz_analysis_var_get_argnum` to support stack variables as well"
Currently this function supports only the register arguments that often leads to the incorrect analysis results.

See `librz/analysis/var.c` for the implementation.

The issue requires a few unit tests to be written for all major architectures.

[2021-06-28 15:52] ret2libc commented on #387
As some distros are already shipping rizin I'm going to postone this for 1.0.0. We'll see if it's going to be necessary.

[2021-06-28 15:53] ret2libc commented on #923
This probably does not warrant any specific milestone for now as it's just testing... This seems a good task for someone who wants to start getting familiar with the codebase though.

[2021-06-28 15:54] ret2libc commented on #209
It would be ideal to have this split even more so that we can assign one exact and specific task to the next releases and ensure to move it forward.

[2021-06-28 15:55] ret2libc commented on #200
@XVilka @Maijin what's the status of this?

[2021-06-28 15:58] ret2libc commented on #1167
@PulakIIIT is this still happening? Could you confirm?

[2021-06-28 16:46] MalhotraPulak commented on #1167
@ret2libc Yes I am still able to replicate this issue

[2021-06-29 08:34] #759 closed, assigned to nobody

[2021-06-29 08:38] ret2libc commented on #382
I think this can probably be moved to a later release. It's just refactoring and we seem to have already a lot of things in our hands.

[2021-06-29 08:38] ret2libc commented on #383
I think this can probably be moved to a later release. It's just refactoring and we seem to have already a lot of things in our hands.

[2021-06-29 08:38] ret2libc commented on #491
I think this can probably be moved to a later release. It's just refactoring and we seem to have already a lot of things in our hands.

[2021-06-29 08:54] ret2libc commented on #683
@wargio running `reuse lint` I see:
[code]

Do you know if this is compatible with our other licenses?

[2021-06-29 08:56] wargio commented on #683
Yes it is. https://opensource.org/licenses/MS-PL

[2021-06-29 08:57] wargio commented on #683
If needed i can rewrite the AES stuff.

[2021-06-29 10:01] Maijin commented on #200
See the blocked by issue referenced by Xvilka

[2021-06-29 11:44] #1106 closed, assigned to nobody

[2021-07-01 09:16] XVilka opened #1256 "Calculate default type for variable based on its size"
Currently, some variables are detected as `long long` even when their stack size is actually is 4 bytes (x86_64). It doesn't happen *often* but sometimes. We should fix types autodetection to fit atomic types properly.

One of the examples is `test/bins/elf/arg_down_prop`:
[code]

See the output of Binary Ninja, for example:
[code]

[2021-07-02 09:34] XVilka opened #1257 "Add alignment algorithms for binary diffing in `rz-diff`"
See https://github.com/8051Enthusiast/biodiff as an example:

![image](https://user-images.githubusercontent.com/203261/124254333-8c764480-db5b-11eb-8b03-a49354d2945e.png)

The excerpt from the algorithm description:

[2021-07-02 10:42] MalhotraPulak opened #1259 "Tcache parsing should be handled on per thread basis"
**Is your feature request related to a problem? Please describe.**
In Glibc heap, a different tcache is created per thread. Rizin uses Arenas to find and parse the tcaches. This consequently leads to Rizin not displaying all the tcaches (`dmht` command) when the number of threads is greater than the number of arenas i.e. multiple threads share an Arena.

Here is an example binary:
[code]
The binar

[2021-07-02 11:12] XVilka opened #1260 "Make different variables if they are reused differently"
Sometimes, the same stack location can be reused differently as an integer and a pointer, to save the precious space and operations. In this case, two variables could be created but with the same stack/frame location.

For example, take a look at `fcn.0000f770` of `test/bins/elf/ls.odd`:
[code]

This is how Binary Ninja 2.4.2892-dev shows it:
[code]
Note the pairs like `size_t var_60  {Frame offse

[2021-07-02 11:29] thestr4ng3r commented on #1260
This is essentially a special cases of scope for variables. We can assign a set of addresses (represented by one or multiple intervals) to each variable that defines its scope.
In the same sense, register variables can be extended to also appear inside the code, while right now they are only used for arguments, essentially implying a scope from the function entrypoint to their first assignments.

[2021-07-02 11:50] XVilka opened #1261 "Migrate function checks from headers to Meson"
Currently we have code like
[code]
in `librz/include/rz_types.h`.
It should be migrated to the `meson.build` checks like it's done for some functions already:
[code]

[2021-07-02 11:58] XVilka commented on #1261
There is one more thing, these are defined but not used. Probably should be safe to remove:
[code]

It was used in `librz/util/sandbox.c` which was removed:
- https://github.com/rizinorg/rizin/commit/40a29cba29ebb58a15ca372a765be56e5d19d5ac#diff-d12676f3646474c2ad227b96dc3bb5edf0990fb356b099bfd2b91c194e240ee9L131
- https://github.com/rizinorg/rizin/commit/40a29cba29ebb58a15ca372a765be56e5d19d5ac#d

[2021-07-05 05:17] XVilka opened #1266 "Minor `clang-cl` warnings"
[code]

[2021-07-05 08:21] ret2libc commented on #657
I don't think I will be able to do this for 0.3.0. Going to move it to 0.4.0.

[2021-07-05 09:29] XVilka commented on #337
Just retested and ` relocation truncated to fit: R_X86_64_PC32 against undefined symbol` are gone now with MSYS2 updated binutils, only remaining error are undefined symbols:
[code]

[2021-07-05 11:13] wargio commented on #657
it is fine. so many things to be done and not much time to work on them

[2021-07-05 11:45] ret2libc commented on #337
These are likely easily fixable ;)

[2021-07-05 11:49] ret2libc commented on #985
So according to this, this issue should not be blocked anymore, right?

[2021-07-05 11:58] XVilka commented on #985
@ret2libc it will be closed once https://github.com/rizinorg/rizin/pull/1118 is finished and merged. Apparently, new JSON Path doesn't work in all cases that were covered by sdbjson, see failed tests at https://builds.sr.ht/~xvilka/job/534185#task-test-0

Some cases are tricky, for example `aflj~{main}`:
[code]
`aflj` returns a JSON array, so JSON path `.main` would be invalid. What old code did,

[2021-07-05 16:06] ghost opened #1268 "Elf symbol name are truncated when >= 256"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Make sure you are testing using the latest git version of rizin before submitting any issue.

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|--------------

[2021-07-06 05:27] XVilka opened #1272 "Support C output of structures of pointers of arrays of nested pointers to functions"

[2021-07-06 13:52] haeter525 opened #1276 "Missing method references in DEX"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04.2 LTS x64
| File format of the file you reverse (mandatory)      | APK
| Architecture/bits of the file (mandatory)            | Dalvik
| `rizin -v` full output, **not

[2021-07-07 04:53] haeter525 commented on #1276
Hi, we (@18z, @krnick, @pulorsok, and me) plan to use Rizin as a new core library of our Android malware scoring system, [Quark-Engine](https://github.com/quark-engine/quark-engine).

Solving the issue will help us a lot. If there is anything we can do, please feel free to let us know. :)

[2021-07-07 07:41] ret2libc commented on #1276
[code]

It seems that somehow `axff` is missing `0x000411f4      invoke-virtual {v1, v2, v3}, Lio/socket/client/Socket.on(Ljava/lang/String;Lio/socket/emitter/Emitter$Listener;)Lio/socket/emitter/Emitter; ; 0x141` and `0x0004120c      invoke-virtual {v1, v2, v3}, Lio/socket/client/Socket.on(Ljava/lang/String;Lio/socket/emitter/Emitter$Listener;)Lio/socket/emitter/Emitter; ; 0x141`

[2021-07-07 10:01] #1268 closed, assigned to nobody

[2021-07-08 04:56] XVilka commented on #1093
Fixed in https://github.com/rizinorg/rizin/commit/28faeff9ef261ff68922daea1e8b8b2ac33c0293

[2021-07-08 04:56] #1093 closed, assigned to XVilka

[2021-07-08 06:43] ret2libc commented on #284
Hi! I think right now there is no work happening in this regard, however there is something called `opex` which may be useful in your case.

[code]

[2021-07-08 10:49] XVilka opened #1282 "Wrong analysis results of Busybox PowerPC"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | PPC 32bit
| `rizin -v` full output, **not truncated** (mand

[2021-07-09 08:38] yossizap commented on #1088
I was able to reproduce this with 2.27 but dmhd doesn't get stuck any more

[code]

[2021-07-09 10:29] XVilka opened #1285 "Add support for loading debug information from `debuginfod`"
Fedora 35 release that is scheduled to the end of 2021 will use Debuginfod by default for storing debug information for the binaries:
- https://fedoraproject.org/wiki/Changes/DebuginfodByDefault

See https://developers.redhat.com/blog/2019/10/14/introducing-debuginfod-the-elfutils-debuginfo-server/ for more information.

- https://sourceware.org/elfutils/Debuginfod.html
- **Ubuntu Linux** https://