[2021-07-09 10:34] MalhotraPulak commented on #678
Since this issue cannot be reproduced anymore and `dmh` has been refactored when it was moved to new shell I am closing this issue.

[2021-07-09 10:34] #678 closed, assigned to MalhotraPulak

[2021-07-09 10:47] MalhotraPulak commented on #1259
## Some notes for this issue
Tcache implementation in malloc.c
[code]
The core issue here is to get the base address of `tcache` struct of type`tcache_perthread_struct` for each thread. Once you have that you can easily print the bins using that struct.

### How does `gef` solve this issue?
[code]
 `gef` calls `find_tcache` from each thread to get the base address of `tcache` pointer. This functio

[2021-07-09 11:06] keesj opened #1286 "Allow to visually map assembly and source code (or decompiler output)"
**Is your feature request related to a problem? Please describe.**

There is to my knowledge currently no nice / easy way to map source code and assembly within rizin.

When a simple program gets compiled (with -g) it is possible using objdump -S to get a feeling for this mapping. In a similar fashion it is possible to map the output of the decompiler back to the assembly. If would be nice to be a

[2021-07-09 11:10] MalhotraPulak commented on #1088
The likely cause of this issue was occurence of `libc-` in the absolute path of `libc` shared library. I have added a fix that looks at the last instance of `libc-` in the absolute path of the `libc` shared library in #1279

[2021-07-09 11:48] Rot127 opened #1287 "Add vector and control register type"
**Is your feature request related to a problem? Please describe.**

The Hexagon architecture has vector registers (for Hexagon HVX) and control registers (hardware loop counts, frame limits etc.). The register types in [reg.h](https://github.com/rizinorg/rizin/blob/dev/librz/include/rz_reg.h) have non of those two.

**Describe the solution you'd like**
Add the vector and control register as type t

[2021-07-10 07:56] Maijin commented on #301
still relevant if not done

[2021-07-12 08:14] #1171 closed, assigned to nobody

[2021-07-12 09:38] XVilka opened #1294 "Migrate ESIL and Debug trace from SDB to hashtable"
Currently ESIL trace used heavily in deep levels of analysis and during the type propagation stage. Every instructions produces SDB KV, analysis go over them multiple times recursively (depending on the code path). It slows down the analysis process significantly.
Storing everything in the hashtable should improve the situation. Curiously, part of the ESIL tracing already uses HT, but some part -

[2021-07-12 10:38] XVilka opened #1295 "Detect `char *` type properly for per-char access in the string for x86"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated** (mandato

[2021-07-12 14:09] geekscrapy opened #1296 "Python api does not provide the same output as rz-bin"
I've only tested with one sample and one command (iI), but I dont seem to get the same details when I use:
[code]

As when I do (in `ptpython`):

[code]

As you can see, there are some fields which as represented as `_6`,`_7`, `_11`. So the data is there, just with the wrong name.

[2021-07-12 14:10] wargio commented on #1296
can you provide the binary? or this happens with any pdb binary?

[2021-07-12 14:12] wargio commented on #1296
which version of rizin are you using?

[2021-07-12 14:19] geekscrapy commented on #1296
The binary is 6a09bc6c19c4236c0bd8a01953371a29 (a version of procdump)

[code]

[2021-07-12 15:29] geekscrapy commented on #1296
Seems to work with: `rzpipe.open(p, flags=['-2']).cmdj('iIj')`

[2021-07-13 06:05] XVilka opened #1300 "Fix type matching for signatures"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated** (mandato

[2021-07-13 06:18] XVilka opened #1301 "Compress all resoures (SDB files, etc) into binary for static builds"
Currently statically-built `rizin` still has a bunch of SDB files that should be located at the prefix. We could just concatenate them together and put directly into the binary.

[2021-07-13 16:20] ret2libc commented on #1301
We have portable builds where you can move your static bin wherever you want as long as you move the whole riZin directory. Is it worth the effort?

[2021-07-14 11:25] wargio opened #1305 "MIPS pseudo is broken"
Pseudo on mips binaries is broken.

[code]

assembly

[code]

[2021-07-14 12:33] Phosphorus15 opened #1306 "PowerPC QPX not supported"
Rizin has no support for PowerPC QPX instructions for now, and from some of the source files it was commented out for some reason

https://github.com/rizinorg/rizin/blob/cad4e0ae0f967f325bfb2da25d18f1d3ddff2966/librz/parse/p/parse_ppc_pseudo.c

[2021-07-14 12:36] wargio commented on #1306
[Qpx.pdf](https://github.com/rizinorg/rizin/files/6816022/Qpx.pdf)

[2021-07-15 07:04] dotyuu opened #1720 "Errors parsing types from `Windows.h`"
**Environment information**
* Operating System: Windows 10 (21H1)
* Cutter version:2.0.2
* Obtained from:
 Downloaded release from Cutter website or GitHub
* File format:
PE(exe)
**Describe the bug**
When I import types from Windows.h
type prase wrong.
It says :"There was some error while loading new types"
<string>:1: error: include file '/usr/include/winapifamily.h' not found
<string>:16: error:

[2021-07-15 08:35] XVilka opened #1311 "Fix or improve non-C type tests"
Fix broken type tests:
[code]

[2021-07-16 04:03] ctlayon opened #1314 "zfs creates multiple functions with the same name, breaking project opening"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MAC OS Big Sur x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not t

[2021-07-16 04:23] XVilka commented on #1266
A few more:
[code]

[2021-07-16 05:39] XVilka commented on #726
@GustavoLCR could you please check this typedef issue? I think just writing:
[code]
could help here.

[2021-07-16 07:16] GustavoLCR opened #1317 "Command `dL native` fails"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | Any
| `rizin -v` full output, **not truncated** (mand

[2021-07-16 10:46] XVilka opened #1320 "Improve Windows `rz-test` performance"
Currently, the Windows `rz-test` performance is significantly slower than any other platform. It is beneficial to figure out possible bottleneck and improve testing times.

See
- `binrz/rz-test/rz-test.c`
- `binrz/rz-test/run.c`
- `librz/util/subprocess.c`

[2021-07-16 10:47] XVilka commented on #730
@caribpa have you had any luck with that? Please write here the link to the bug then.

[2021-07-16 12:52] #1088 closed, assigned to MalhotraPulak

[2021-07-18 10:29] caribpa commented on #730
Hey @XVilka, unfortunately I never had the account confirmed (and I completely forgot after a week of waiting) so I could never file that bug. Sorry 😿

[2021-07-18 11:06] XVilka commented on #730
I have an account, you could write the report here, I will copypaste.

[2021-07-18 17:33] caribpa commented on #730
I know I have a file somewhere with a little description about this issue as I wrote it while waiting for the account to be confirmed, but I cannot find it! (Maybe I have a backup, I'll try again later).

To make it even less fun, I no longer have the Windows VM I used to make this test (as a few months ago I went [Marie Kondo](https://en.wikipedia.org/wiki/Marie_Kondo) and formatted my machine),

[2021-07-19 04:17] #1317 closed, assigned to nobody

[2021-07-19 04:26] XVilka opened #1322 "Switch to the new format of types and function prototypes database"
Currently all of standard types and types inside signatures stored as strings in SDB. Thus, every time we load those databases we have to parse all those strings manually which is time and resource-consuming, especially on CI runs.

Thus, we should design a new format of types storage that will allow loading type forest directly without calling C parser.
One of the possible solutions is protobuf.

[2021-07-19 10:47] XVilka opened #1330 "Support DWARF `.debug-sup` section parsing"
See https://www.mail-archive.com/info-gnu@gnu.org/msg02923.html and Binutils for more information

[2021-07-19 16:10] XVilka opened #1332 "Fix OpenBSD test for bins/pe/maxsecXP.exe"
[code]

[2021-07-19 17:46] #370 closed, assigned to XVilka

[2021-07-19 17:46] #371 closed, assigned to XVilka

[2021-07-19 17:46] #373 closed, assigned to XVilka

[2021-07-19 17:46] #275 closed, assigned to XVilka

[2021-07-19 17:46] #1249 closed, assigned to Basstorm

[2021-07-19 17:51] #1169 closed, assigned to XVilka

[2021-07-19 21:01] wargio commented on #1276
looks like an issue related to the xrefs and how dex is parsed.
I will fix this, but it will require a huge refactoring of DEX.

[2021-07-20 03:22] ctlayon commented on #1314
Rudimentary script to clean this up for anyone else experiencing this in the meantime:
[code]

[2021-07-20 05:33] XVilka commented on #1064
They are supported just fine now. If some particular case doesn't work - please open a new issue.

[2021-07-20 05:33] #1064 closed, assigned to XVilka

[2021-07-20 08:55] XVilka opened #1337 "Mainstream Tree-Sitter issues for Rizin use cases"
Some issues that are in the C grammar of the Tree-Sitter that are relevant:
- https://github.com/tree-sitter/tree-sitter-c/issues/143
- https://github.com/tree-sitter/tree-sitter-c/issues/59
- https://github.com/tree-sitter/tree-sitter-c/issues/44
- https://github.com/tree-sitter/tree-sitter-cpp/issues/63
- https://github.com/tree-sitter/tree-sitter-c/issues/48
- https://github.com/tree-sitter/tre

[2021-07-20 12:49] #312 closed, assigned to XVilka

[2021-07-21 04:24] XVilka opened #1340 "capstone-next `test_analysis_sign_za_ppc` is broken."
capstone-next `test_analysis_sign_za_ppc` is broken.
[code]

[2021-07-21 04:50] XVilka opened #1341 "Fix PE: corkami 65535sects.exe - section list, entrypoint, open and analyze with ASAN build"
It is unnecessary slow. Could be and should be optimized. It fails on our CI
[code]

[2021-07-21 05:05] XVilka opened #1342 "Tracking porting the commands parser to the tree-sitter-based one"
# Finished porting

- [x] `!` (external commands) - https://github.com/rizinorg/rizin/pull/1235
- [x] `i` (information) https://github.com/rizinorg/rizin/pull/1238
- [x] `b` (block size) https://github.com/rizinorg/rizin/pull/1745
- [x] `r` (resize) https://github.com/rizinorg/rizin/pull/1737
- [x] `y` (yank) https://github.com/rizinorg/rizin/pull/1734
- [x]  `g` (shellcodes) https://github.com/ri

[2021-07-21 09:13] XVilka opened #1344 "Fix types test on static build"
[code]
It's likely because of using `rz_sys_prefix()` gives different results for static build. The same problem that @officialcjunior met.

[2021-07-21 11:16] XVilka commented on #157
I also suggest to create a subdirectory `librz/core/heap/*` where we should move all those files, so it will be easier to navigate.

[2021-07-21 11:35] XVilka commented on #1044
There are no `exceeded analysis threshold` messages anymore, but only a stream of new ones:
[code]

[2021-07-21 11:46] wargio commented on #1044
`-e analysis.depth=100` the `-e` option does not even exists.

[2021-07-21 16:13] wargio commented on #1044
The PR above should fix this. i have refactored the code and is much faster.

[2021-07-21 20:47] p371jah commented on #1341
I guess it's just killed by timeout.

[2021-07-22 04:40] #1044 closed, assigned to nobody

[2021-07-22 05:26] XVilka commented on #1266
Also
[code]

[2021-07-22 06:55] XVilka commented on #1332
Seems doesn't happen anymore. Lets see if it will appear again.

[2021-07-22 09:55] #1305 closed, assigned to wargio

[2021-07-23 08:56] b1llow commented on #417
I use python's zlib decompress the compressed_buf successful, use

[code]

but in c, I try

[code]

but failed.

[2021-07-23 09:06] XVilka commented on #417
@imbillow negative wbits means the data without the header, but C version of zlib has the similar logic, not sure why.

[2021-07-23 09:10] XVilka commented on #417
I recommend to check the exact reason of the error with API: https://www.zlib.net/manual.html

[2021-07-23 09:13] b1llow commented on #417
It looks have the same logic.

[https://zlib.net/manual.html](https://zlib.net/manual.html)

[code]
This is another version of inflateInit with an extra parameter. The fields next_in, avail_in, zalloc, zfree and opaque must be initialized before by the caller.
The windowBits parameter is the base two logarithm of the maximum window size (the size of the history buffer). It should be in the range 8

[2021-07-23 09:16] b1llow commented on #417
And  `#define Z_DATA_ERROR   (-3)`, not an useful info.

[2021-07-23 09:25] XVilka commented on #417
I recommend to check the Python sources to fish out the difference. I once used the same approach to find out the difference with the OCaml implementation of zlib algorithm. It might be also related to the used CRC function.

[2021-07-23 09:26] b1llow commented on #417
Yeah, I am checking [https://github.com/python/cpython/blob/7d25254cf0763b62f4c4a3019e56385cab597b9f/Modules/zlibmodule.c#L415](https://github.com/python/cpython/blob/7d25254cf0763b62f4c4a3019e56385cab597b9f/Modules/zlibmodule.c#L415)

[2021-07-24 05:03] officialcjunior opened #1356 "Add support for multi-line comments"
**Is your feature request related to a problem? Please describe.**

Rizin currently only supports adding single-lined comments.

To put it in more context, other disassemblers like IDA has a feature where a good amount of information is displayed
as comments in a wrapped, multi-lined manner as shown below:

[code]
Here, even though the main comment is at offset `F268` the information about the reg

[2021-07-26 05:18] XVilka commented on #1356
I think the position should be configurable - e.g. to have some option to show the way it is now or as in IDA Pro - on the right side.

[2021-07-26 05:53] XVilka commented on #42
I think not all `section.` and `segment.` flags should be shown here. cc @08A @thestr4ng3r

[2021-07-26 06:02] XVilka commented on #1167
@PulakIIIT is there any way to avoid the crash and at least print some error meanwhile? Such a quick fix if the proper fix will take time, would be a perfect fit to include in the upcoming 0.3.0

[2021-07-26 07:14] wargio commented on #1341
this behaviour changed with the new code for the Type Analysis.

[2021-07-26 07:22] MalhotraPulak commented on #1167
I am not certain of the cause of this seg fault at the moment. I will look more into and see if it is possible to print some error in the meanwhile.

[2021-07-26 09:18] ret2libc commented on #1286
It is not exactly a side-by-side view like godbolt, but is something like what shown below good enough for you?
[code]
This is what I get when I run rizin on a binary compiled with debug info.

[2021-07-26 09:47] ret2libc commented on #92
I keep this open as it can probably be solved as we improve how plugins are developed/handled, in particular with having more interactions between related plugins for io/bin/core, etc.

[2021-07-26 10:40] ret2libc commented on #1296
More than a problem in `iIj` it seems a problem in conversion from json to python object.

[code]

Notice how the problem is in `cmdJ` and not in `cmdj`.

[2021-07-27 06:43] #417 closed, assigned to nobody

[2021-07-27 09:31] Heersin opened #1365 "`aeb` without `aaa` triggers a segmentfault"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux 5.10.35 x86-64
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | ELF 64-bit
| `rizin -v` full ou

[2021-07-27 13:21] ghost commented on #42
section.* is when the section is not mapped in memory such as .comment or .shstrtab.

[2021-07-27 13:22] ghost commented on #42
Same thing with segment ehdr and GNU_STACK (I need to check this).

[2021-07-27 14:25] ret2libc commented on #42
Yeah there are many addresses that are set to 0 (or UT64_MAX) to indicate that the value is not valid, however they mess up the visualization and many other things because 0 and UT64_MAX are actually valid addresses in the address space... Maybe we would need to specify every address as `RzAddr` instead of just `ut64` where we can also have a field like `is_valid` or `is_virtual` or whatever. Not

[2021-07-27 14:33] ret2libc commented on #317
@XVilka is this still relevant after all the types work?

[2021-07-28 04:43] XVilka commented on #317
Yes.

[2021-07-28 08:07] ghost commented on #42
I was thinking about this some days ago. The idea of having some `RzAddr` and `RzOffset` is a good idea imho. Those structs could be constructed on a macro RzOption.

[2021-07-28 08:33] #1134 closed, assigned to wargio, ret2libc

[2021-07-29 08:43] Basstorm opened #1377 "Handle forward definitions in PDB parser"
**Is your feature request related to a problem? Please describe.**
Currently `PDB parser` does not handle forward definitions in structures, so we will lose some information about structures.
There are some unit tests about them, I commented them to make the unit test pass.
`test/unit/test_pdb.c#L514`

[2021-07-29 09:18] Basstorm commented on #279
This issue is because of the different endianness of the architecture. Currently, the code of the PDB parser is not endianness friendly and we should rewrite the code completely to make it more readable and portable.

[2021-07-29 09:27] ret2libc commented on #1341
Not sure of the status of this... Seems it worked in some cases recently. Let's see.

[2021-07-29 10:35] wargio commented on #1341
if you check the phy size and ignore any 0 sizes when allocating the PE data structure, you will notice that the test will be super fast.
now the issue is that we should rule out any invalid data structure that is not a known used PE section.

[2021-07-29 10:48] wargio opened #1380 "capstone-next tests are broken"
Many tests when using on capstone-next are broken.

[code]

[2021-07-29 12:26] ret2libc commented on #1380
I propose to focus on this for 0.4.0 and keep capstone-v4 for 0.3.0 at least. WDYT @XVilka @thestr4ng3r @wargio @kazarmy ?

[2021-07-29 13:46] #1344 closed, assigned to nobody

[2021-07-29 17:29] wargio commented on #1380
agreed

[2021-07-30 04:59] #1365 closed, assigned to nobody

[2021-07-30 05:36] ret2libc commented on #1380
Related: https://github.com/rizinorg/rizin/issues/1340

[2021-07-30 05:36] ret2libc commented on #1340
I'd close this in favor of https://github.com/rizinorg/rizin/issues/1380. capstone-next focus is going to happen for 0.4.0.

[2021-07-30 05:36] #1340 closed, assigned to nobody

[2021-07-30 06:11] XVilka commented on #817
Now Rizin fixed parsing of all signatures, including those. We should work on better integration in the analysis loop, etc.

[2021-07-30 06:51] XVilka commented on #1380
Related: https://github.com/rizinorg/rizin/pull/345

[2021-07-30 09:07] wargio commented on #1341
is this fixed? dev is green

[2021-07-30 09:35] ret2libc commented on #1341
It seems so, but let's wait few days and then we can close this and probably also another one.

[2021-08-01 09:21] XVilka commented on #645
Fixed by https://github.com/rizinorg/rizin/commit/5f5c0d66dfdc01db1af782bb024c2873fdd27a1a

[2021-08-01 09:21] #645 closed, assigned to thestr4ng3r

[2021-08-02 06:16] XVilka opened #1388 "Extract SPP into subproject"
Currently it's located in `shlr/spp` and just a copy. I suggest to move it to subprojects for now.

[2021-08-02 06:53] XVilka commented on #1084
Not Fedora, but NetBSD with Clang 10:
[code]

[2021-08-02 06:58] XVilka commented on #982
Apart from debug tests some new got broken recently:
[code]

[2021-08-02 09:05] XVilka commented on #1388
There is also fle `shlr/spp/rz_api.c` which is completely unnecessary since it can use the same functions directly from `RzUtil`.

[2021-08-02 09:34] ret2libc commented on #1388
Yes, but consider `spp` is a separate (and possibly standalone) project.

[2021-08-02 09:40] MalhotraPulak opened #1391 "`tsj` output does not match `ts`"
*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 64 bit
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the fi

[2021-08-02 09:57] MalhotraPulak commented on #1391
Ill try to fix this

[2021-08-02 10:27] XVilka opened #1392 "Refactor RzUtil to remove `RzPrint` and `cb_printf()` usage"
RzUtil should not contain those hacks to print.
It's possible to return either `RzStrBuf` or `char *` instead.

[code]

[2021-08-02 14:25] #1391 closed, assigned to nobody

[2021-08-03 06:23] XVilka commented on #276
A good starting point would be removing global variables, e.g. in `librz/cons/editor.c`:
[code]

[2021-08-03 13:29] ret2libc commented on #384
I think this is not going to happen anytime "soon" and by soon I mean at least a year, considering the many projects we have opened right now. I propose to close this issue for now as a way to try to keep the list of issues manageable.

[2021-08-03 16:43] XVilka commented on #384
No, it's important issue and there is a lot of duplicated code.

[2021-08-04 07:21] MalhotraPulak opened #1399 "Add API for C string representation of types"
**Is your feature request related to a problem? Please describe.**
Cutter relies on parsing the cmd output of `tXc` commands to get the C string representation of struct/enum etc but this functionality is not working with the new RzTypes commands for some reason. A better solution is to just use an RZ_API for getting the c string representation of the type.

**Describe alternatives you've consider

[2021-08-04 07:22] MalhotraPulak commented on #1399
Ill give this issue a try!

[2021-08-04 08:08] #1188 closed, assigned to Basstorm

[2021-08-04 08:13] XVilka commented on #1399
See also https://github.com/rizinorg/rizin/issues/727

[2021-08-04 08:14] XVilka commented on #1399
In general it should be enough to use `rz_type_as_string()` and `rz_type_declaration_as_string()` and `rz_type_indentifier_declaration_as_string()` depending on the use case.

[2021-08-05 05:42] XVilka commented on #2643
I reproduced this with the latest Rizin:
[code]
[code]

[2021-08-05 13:17] ret2libc commented on #1341
Seems green lately!

[2021-08-05 13:17] #1341 closed, assigned to nobody

[2021-08-05 13:17] ret2libc commented on #1332
Seems green so far!

[2021-08-05 13:17] #1332 closed, assigned to XVilka

[2021-08-05 16:25] wargio opened #1406 "RISC-V compiler warnings"
There were some compile warnings thrown by the risc-v compiler on my board:
[code]

[2021-08-06 07:34] MalhotraPulak commented on #1399
Since `rz_type_as_string()` mostly does the job I am closing this issue

[2021-08-06 07:34] #1399 closed, assigned to nobody

[2021-08-06 23:57] ret2libc commented on #1388
After looking at it it's probably much better to move spp into librz instead of treating it as a standalone project. It's much easier to write spp code if it always depends on rz_util..

Right now it would be almost impossible to move spp into a subproject because it needs rz_util which is defined by this repository. So there is a chicken and egg issue.

Closing this.

[2021-08-06 23:57] #1388 closed, assigned to ret2libc

[2021-08-07 23:01] ajakk opened #1409 "Resource exhaustion in LE parsing"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| File format of the file you reverse (mandatory)      | LE

### Expected behavior

Rizin doesn't use all available memory.

### Actual behavior

Rizin uses all available memory.

### Steps to reproduce the behavior
The reproduction ins

[2021-08-09 04:58] XVilka commented on #1232
One of the examples that rename is required - some of the API use `_fcn_` while others - `_function_`.  I suggest we stick with `_function_` everywhere.

Function `run_basic_block_analysis()` is probably better to extract into a separate C file, probably split into multiple functions instead of the huge one.

Some of the defines should be converted into configure vaiables, e.g. `JMPTBL_LEA_SARCH_S

[2021-08-09 09:44] ret2libc opened #1413 "Support separate help entries when number of arguments is different"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to have one command name to deal with multiple operations. A classical example is the "print" command, which can often be executed without arguments to print a list of items and with an argument to print the details of one specific item. Right now we have to put together the helps of both functionalities and ever

[2021-08-09 10:14] XVilka commented on #1409
Fixed by https://github.com/rizinorg/rizin/commit/b0a8b76e8e943f421165fe5b1d014af74ed19d96

[2021-08-09 10:14] #1409 closed, assigned to nobody

[2021-08-10 04:19] XVilka opened #1416 "`dte` doesn't show ESIL trace"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 34 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-08-10 04:38] xrkk opened #1417 "Save project in compressed format, to save disk space."
Since default gzip will compress 8.1M rzdb to 1.1M, it will save a lot of disk space.

Rizin has `rz_inflate_*()` functions for decompression of the Zlib data. It might be useful to add the `rz_deflate_*()` functions and use them in the compressing the projects.

See:
- `librz/include/rz_util/rz_file.h`
- `librz/util/file.c`
- `librz/core/project.h`

[2021-08-10 04:54] XVilka commented on #1416
If I do the same during the debug, `dte` also shows nothing:
[code]

[2021-08-10 05:03] #1294 closed, assigned to Heersin

[2021-08-10 05:24] XVilka commented on #398
It was fixed in the latest `dev`: https://github.com/rizinorg/rizin/runs/3287509910#step:12:749

In the https://github.com/rizinorg/rizin/pull/1414 I will enable TinyCC tests to be checked again.

[2021-08-10 05:24] #398 closed, assigned to nobody

[2021-08-10 05:36] Himanxu1 commented on #1417
I want to contribute to this project!

[2021-08-10 06:09] ret2libc commented on #1417
cc @thestr4ng3r

[2021-08-10 06:51] ret2libc commented on #1416
@XVilka `Usage: dte   Show esil trace logs` so `dte` should not show anything for debug traces. It's just for ESIL.

[2021-08-10 06:52] XVilka commented on #1416
Ok, I thought it might work for debug traces as well, since it's located in the `dt` namespace.

[2021-08-10 06:53] ret2libc commented on #1416
Also, for reference this is the old behaviour of latest release:
[code]

[2021-08-10 06:55] XVilka commented on #1416
We need a test for this then.

[2021-08-10 06:57] ret2libc commented on #280
Greeping for this in latest log doesn't show this warning anymore.  https://ci.appveyor.com/project/rizinorg/rizin/builds/40308801/job/y9fswi3kwappllev I'm closing this, but feel free to reopen if I'm mistaken ofc.

[2021-08-10 06:57] #280 closed, assigned to nobody

[2021-08-10 08:30] ret2libc commented on #272
As this is not a regression and we are focused on other things for the upcoming 0.3.0 release, I'm moving this for next release. We'll try to focus on the whole zignature thing a bit more then.

[2021-08-10 09:02] ret2libc opened #1421 "radareorg/radare2@676cb56"

[2021-08-10 09:03] #1421 closed, assigned to nobody

[2021-08-10 09:04] ret2libc opened #1422 "Backport "Correct MOVD instruction and SSE registers definition""
radareorg/radare2@676cb56

[2021-08-10 09:08] ret2libc opened #1423 "Backport "Reset certificate search properly""
radareorg/radare2@92ed240

[2021-08-10 09:09] ret2libc opened #1424 "Backport "System LIBRARY_PATH must be honored (not replaced) on HaikuOS""
radareorg/radare2@8abc24c

[2021-08-10 09:09] ret2libc opened #1425 "Backport "Fix coverity issue in Mach-O format""
radareorg/radare2@f47804f : Mach0 leak, to check

[2021-08-10 09:09] ret2libc opened #1426 "Backport "Fix large loading times when parsing encrypted/fuzzed macho""
radareorg/radare2@f0cafe9 : Mach0 issue

[2021-08-10 09:09] ret2libc opened #1427 "Backport "Dont trust the unaligned rich PEs ##bin""
radareorg/radare2@4a2e846 : PE issue, to check

[2021-08-10 09:09] ret2libc opened #1428 "Backport "Fix emulation for ARM's ldrd""
radareorg/radare2@c6f09b9 : analysis_arm_cs issue

[2021-08-10 09:14] ret2libc opened #1429 "Backport "Sort flags by [sections,formats][other][regs]""
radareorg/radare2@4ade590

I haven't tested the radare2 code, but I think we don't need all that to reach the purpose We can use rz_flag_get_by_spaces (or rz_core_flag_get_by_spaces if that's fine) which allows you get to get the flags at a given address sorted by FlagSpaces. We already use rz_core_flag_get_by_spaces in many other places, so maybe that's the right function to use here as well, for

[2021-08-10 09:14] ret2libc opened #1430 "Backport "Wrong assembly generated for: 'add x0, x0, 1, lsl # 12'""
radareorg/radare2@2b5bf5a

[2021-08-10 09:21] XVilka commented on #200
Closed in favor of https://github.com/rizinorg/rizin/issues/985

[2021-08-10 09:21] #200 closed, assigned to XVilka, ret2libc

[2021-08-10 09:22] ret2libc commented on #200
@XVilka how are #905 and #783 related to PJ?

[2021-08-10 09:23] XVilka commented on #200
Ah, my bad, `pf` was converted to the PJ as well.

[2021-08-10 09:27] ret2libc commented on #1261
I will split this into a list of defines that we need to have, but I think there's no need for this to block any release. We did already major meson stuff in the last release and the upcoming one, this is just a nice plus but IMO not a blocker. Postponing for 0.4.0. I will focus a bit more on these kind of things in the future.

[2021-08-10 10:12] ret2libc commented on #1314
Moving to 0.4.0, so it can be done together with #973 and #272 . Thanks for the precise report btw!

[2021-08-10 10:14] ret2libc opened #1431 "PPC broken test: db/analysis/sysz aoj 4140f008"
See https://github.com/rizinorg/rizin/pull/1250 and https://github.com/rizinorg/rizin/pull/1250#issuecomment-876493375 in particular.

[2021-08-10 10:16] ret2libc opened #1432 "PPC broken test: db/tools/rz_gg rz-gg debruijn sequence"
See #1250 and https://github.com/rizinorg/rizin/pull/1250#issuecomment-869583762 in particular.

AFAIR the problem is in main/rz-gg.c that tries to disassemble things even if only the patterns should be printed.

[2021-08-10 10:17] ret2libc commented on #1431
[code]

[2021-08-10 10:17] ret2libc commented on #1432
[code]

[2021-08-10 10:17] ret2libc opened #1433 "PPC broken test: db/cmd/types tpv"
See https://github.com/rizinorg/rizin/pull/1250#issuecomment-869583762 .

[2021-08-10 10:18] ret2libc commented on #1433
[code]

[2021-08-10 14:53] ret2libc commented on #1133
This is quite an important bug to fix. I've put it in 0.4.0, but it would actually be great to fix it even before 0.3.0.

[2021-08-10 14:59] ret2libc commented on #882
Re-checked this and this is the currently failing ones:
- `./build-dev/binrz/rizin/rizin -A -qc "s main;pdf~main:0" test/bins/abi_bins/elf/platforms/powerpc-linux-gnu-symexec-guess`
- `./build-dev/binrz/rizin/rizin -A -qc "s main;pdf~main:0" test/bins/abi_bins/elf/platforms/x86_64-macho-echo`

So it is already a quite good improvement!

[2021-08-10 15:05] ret2libc commented on #1311
@XVilka is this still a problem?

[2021-08-10 15:05] ret2libc commented on #1300
@XVilka is this still a problem?

[2021-08-10 15:55] XVilka commented on #1300
Yes, it's more of the zignatures problem rather than types themselves

[2021-08-10 15:55] XVilka commented on #1311
Yes

[2021-08-10 15:56] ret2libc commented on #157
What's the status of this? Also, the issue references many "problems" and features, so we should be clear what is missing and what not. @XVilka @PulakIIIT

[2021-08-10 15:56] ret2libc commented on #152
I propose to close this for now. I don't see this happening or being useful for the next 3 years at least. None will ever learn such features, considering that very few people even know the full rizin/r2 syntax or even the basic set like `~` and other things. Let's use python/perl or whatever else for doing complicated operations with the rizin data. I see this just as showing off something, but n

[2021-08-10 15:56] #152 closed, assigned to nobody

[2021-08-10 15:57] ret2libc commented on #103
Is this related to rz-svd done by @officialcjunior ?

[2021-08-10 16:00] ret2libc commented on #64
@wargio I think the regex is now working well after your work. `~` does not support regex, but that's by design, let's say.... I'd close this issue!

[2021-08-10 16:00] #64 closed, assigned to ret2libc

[2021-08-11 05:18] XVilka commented on #1431
It doesn't happen anymore: https://app.travis-ci.com/github/rizinorg/rizin/jobs/530437747

It was solved by the @wargio's work of refactoring pseudo

[2021-08-11 05:18] #1431 closed, assigned to ret2libc

[2021-08-11 09:18] XVilka opened #1437 "Remove typelinks (`tl`) in favor of the global variables"
Since the introduction #1407 of the global variables, the typelink concept becomes reduntant. We shoulld:
- Remove the `tl` commands
- Remove the `librz/analysis/typelink.c`
- Port the analysis code from using `rz_analysis_type_link_*` API to use types of the global variables instead
- Port the disassembly output to use global variables instead of the typelinks
- Remove the typelinks from the proj

[2021-08-12 07:43] #1167 closed, assigned to MalhotraPulak

[2021-08-13 05:28] XVilka opened #1442 "Convert analysis `a` (cmd_analysis.c) commands to rzshell"
Some of the commands are already converted, we should finish the complete migration. Moreover, some analysis logic is inside the `librz/core/cmd_analysis.c`. We should move as much as possible inside either `librz/analysis/*` or `librz/core/canalysis.c` from `librz/core/cmd_analysis.c`.

The task implies also possible API changes and some refactorings, see https://github.com/rizinorg/rizin/issues/

[2021-08-13 07:27] XVilka opened #1445 "Move YXML dependency into RzUtil, like JSON"
Currently, a few different parts of Rizin use JSON parsing and printing, which is implemented as a part of `RzUtil` and located in `libr/util/`

The same can be done for the XML parser (`subprojects/yxml`) and providing high-level Rizin API wrappers on top of that. It would help the `rz-svd` plugin as well.

[2021-08-13 09:04] ddevault opened #1449 "Excessive use of builds.sr.ht"
Hello! I am an administrator for sourcehut and I've noticed that your builds are consuming an excessive amount of resources. Over the past month, Rizin has run over 121,000 build minutes on builds.sr.ht, which if priced similarly to, say, CircleCI, would have run you a bill over $750.

You need to reduce your usage: it is disruptive to other users. Please disable your pull request hook on https://

[2021-08-13 09:09] XVilka commented on #1449
Disabled the PR hook.

[2021-08-13 09:24] XVilka commented on #1449
Sorry about that. We will add the github ref checks into the build configuration to build only `dev`, `stable`, `dist`, and dedicated `bsd` branch later today.

[2021-08-13 09:25] ddevault commented on #1449
Thanks!

[2021-08-13 12:24] XVilka commented on #1155
@GustavoLCR could you please take a look at this as well?

[2021-08-14 21:37] ifyGecko opened #1452 "incorrect avr disassembly"
While looking at some binaries I noticed that an instruction that adjusts the
stack pointer for the current stack frame was not properly disassembled.

[prog.zip](https://github.com/rizinorg/rizin/files/6987208/prog.zip)
![rizin](https://user-images.githubusercontent.com/26214995/129460449-d98f206d-bb28-46f0-b825-fbfd8635f83b.png)

### Work environment

| Questions

[2021-08-16 04:30] #1452 closed, assigned to nobody

[2021-08-16 06:33] XVilka opened #1458 "Move all printing functions from `librz/core/*.c` into one file `librz/core/print.c`"
Currently, there are functions that print something all over the place of `librz/core/*.c`, e.g. `rz_core_analysis_bbs_info_print()` or `rz_core_analysis_bb_info_print()`  from `librz/core/canalysis.c` or `rz_core_asm_plugin_print()` from `librz/core/casm.c`.

I suggest to separate "logic" and non-printing API from the printing one, they all should have a `_print()` suffix and located in the same

[2021-08-16 07:17] XVilka commented on #316
Not stale, it's work in progress in https://github.com/rizinorg/rizin/pull/1438

[2021-08-16 10:09] XVilka opened #1461 "Add Trans theory and rounding modes into RZIL"
Currently only supported theories are:
- Bool
- Bitvector
- Mem (Array)
- Effect

The biggest missing chunk is the Float theory

- [x] Implement IEE754 types and helper APIs in RzUtil
- [x] Implement Fbasic operations https://github.com/rizinorg/rizin/pull/3184
- [x] Cover these by unit tests
- [ ] Add rounding modes (Rmode) operations
- [ ] Add Trans (transcendental) operations

See:
- http://bin

[2021-08-16 21:35] ret2libc commented on #1458
I do agree with the `_list` and `_print` suffixes, however I don't like having all _print functions in one place. I think the _print should be close to the related file. So having fcn_var_print in canalysis.c is ok for me.

[2021-08-16 22:00] #45 closed

[2021-08-17 03:44] XVilka commented on #1458
@wargio @thestr4ng3r @kazarmy any opinion on this?

[2021-08-17 09:15] kazarmy commented on #1458
I agree with @ret2libc. This is the OOP philosophy of organizing methods based on state, which seems to work well imo.

[2021-08-17 15:21] ret2libc commented on #1429
I'm going to remove this from 0.3.0 because this is not going to be a simple backport. In particular, we should first add a rz_flag_get_list_by_spaces API, add unit tests for it and use that in disasm.c to get a list of flagitems sorted by the specified spaces.

[2021-08-17 15:48] ret2libc commented on #1084
@XVilka i can't see any warning on a fedora34 container. Are you using any particular option?

[2021-08-17 16:29] wargio commented on #1084
Try a asan build

[2021-08-17 16:31] wargio commented on #1084
Btw, i have fixed the gnu-arc warnings here https://github.com/rizinorg/rizin/commit/4e3bbf1d9d2d55cc6f26101c53a6b60395c82f22

[2021-08-17 17:18] ret2libc commented on #1084
I think this can be closed then! I see some -Warray-bounds warnings:
[code]

But I believe they are false positives and looking online it seems it's quite frequent problem...

[2021-08-17 17:18] #1084 closed, assigned to ret2libc

[2021-08-18 07:16] #1430 closed, assigned to nobody

[2021-08-18 07:16] #1427 closed, assigned to nobody

[2021-08-18 07:16] #1428 closed, assigned to nobody

[2021-08-18 07:16] #1425 closed, assigned to nobody

[2021-08-18 07:16] #1426 closed, assigned to nobody

[2021-08-18 07:16] #1422 closed, assigned to nobody

[2021-08-18 07:16] #1424 closed, assigned to nobody

[2021-08-18 08:38] XVilka opened #1475 "Convert `i`/`rz-bin` calls inside Rizin to the API calls"
[code]

_Originally posted by @XVilka in https://github.com/rizinorg/rizin/issues/1238#issuecomment-870335117_

<details>
I have removed the following:
[code]

because those are not `i` commands.
</details>

[2021-08-18 10:12] #1432 closed, assigned to wargio, ret2libc

[2021-08-18 12:39] wargio commented on #1433
this issue is located within `pf`

[code]

[2021-08-18 15:22] #1423 closed, assigned to ret2libc

[2021-08-18 19:40] ret2libc commented on #619
Can we have a binary where this can be reproduced? I cannot check if it still happens otherwise. Thanks!

[2021-08-19 04:23] XVilka commented on #1429
I think it's better to coincide this change with porting of the `f` commands to the newshell and proper API. It will help to understand better API design.

[2021-08-19 07:14] XVilka commented on #1433
@wargio that's the easy part. Then it starts the gore of `librz/type/format.c`.

[2021-08-19 07:45] XVilka commented on #1433
The same happens on S390 (System Z) target.

[2021-08-19 09:07] ret2libc commented on #920
@thestr4ng3r please check again. I think this problem is fixed, so I'm going to close.

[2021-08-19 09:07] #920 closed, assigned to thestr4ng3r

[2021-08-19 09:18] ret2libc commented on #1286
I'm closing this issue. As said in the previous comment, I think this is already done. If something specific does not work or you have concrete suggestions to improve the situation, please feel free to create a new issue with all the details you need! Thanks a lot for reporting your problem to us.

[2021-08-19 09:19] ret2libc commented on #1013
I'm going to add this for 0.4.0. I will probably work on rz-pm and libs/plugins in general, so it would be a nice opportunity to improve this as well.

[2021-08-19 09:43] ret2libc commented on #677
I'm reviewing the issues and this indeed seems a very big win for the users. Honestly, the rizin output is really bad compared to gef. I can't understand what's in that memory, no idea at all. It shouldn't be *too hard* to improve the situation here. I'm going to place this for 0.4.0 so we don't forget.

[2021-08-19 09:57] ret2libc opened #1485 "Support for more than 65535 segments in ELF64"
Filing it here, to not forget. From https://github.com/radareorg/radare2/issues/18783#issue-907516761

[code]

[2021-08-19 11:55] ret2libc commented on #1301
I propose to close this. As said, there is already portable builds which solve the issue.

[2021-08-19 15:59] ret2libc commented on #828
@thestr4ng3r @XVilka is this still happening? I haven't really followed the openbsd CI...

[2021-08-19 16:01] XVilka commented on #828
Haven't seen it happening for quite a while. Was accidentally fixed probably. Closing.

[2021-08-19 16:01] #828 closed, assigned to thestr4ng3r

[2021-08-19 16:02] XVilka commented on #828
The only errors we now see on OpenBSD are timeouts.

[2021-08-19 19:13] #591 closed, assigned to nobody

[2021-08-20 20:25] ret2libc opened #1493 "avg <non-existing-var> does not return an error"
Filing so i remember:

`avg asdsadsadas` where `asdadsadsa` does not exist just returns nothing. It should give a user-visible error so I know something is wrong.

Reference: https://github.com/rizinorg/rizin/issues/333

[2021-08-20 20:30] ret2libc opened #1494 "Global variables should be valid addresses"
**Is your feature request related to a problem? Please describe.**
If I define a global variable then I can't use it to seek somewhere else.

**Describe the solution you'd like**
When I define a global variable with `avga` at a particular address, then I want to be able to use that same global variable name to e.g. seek to that address.

**Describe alternatives you've considered**
.

**Additional

[2021-08-20 20:35] ret2libc opened #1495 "Global variables should be replaced in disassembly"
**Is your feature request related to a problem? Please describe.**
Even if I have defined a global variable with `avg`, this does not improve the readability of the disassembly.

**Describe the solution you'd like**
- [ ] global variable name used when the address is used in the disassembly
- [ ] if the variable is a struct or a complex type, show also accesses to inner fields

**Describe alternat

[2021-08-20 20:43] ret2libc opened #1496 "avgt should specify var_name as VAR_TYPE, not STRING"
https://github.com/rizinorg/rizin/blob/dev/librz/core/cmd_descs/cmd_analysis.yaml#L444

Just so i don't forget.

[2021-08-20 21:05] ret2libc opened #1497 "project saved in 0.2.1, opened with 0.3.0-git, base types cannot be found"
Still for me to investigate more.

Quickly, what i did was creating a project in 0.2.1, then load with current dev and saving the project again. When saving it was saying that some of the base types could not be found. I saved anyway. When re-opening the project, there were multiple errors of parsing like:

[code]

[2021-08-21 02:57] XVilka commented on #1493
@Basstorm could you please take a look at this after PDB? Should be quick to do and is important.

[2021-08-21 02:58] Basstorm commented on #1493
Sure

[2021-08-21 03:04] XVilka commented on #1497
As I explained before on the "Types" channel it cannot be done in principle. Before, the TinyCC code was using for parsing C descriptions from `td` and `to` commands and convert them to the SDB key-value format where every parsed type was saved as string. While using TCC made sure the syntax is correct, the pre-shipped "standard" types from `librz/analysis/d/` were in the text form of SDB and had

[2021-08-21 06:37] ret2libc commented on #1497
Thanks for the explanation, makes sense! I'll just double check as i have time, but i think it was just that, yes!

[2021-08-21 11:01] #127 closed

[2021-08-21 11:01] #203 closed

[2021-08-23 09:52] XVilka commented on #942
We also should put a corresponding tag to the used `rizinorg/rizin-testbins` commit.

[2021-08-23 10:57] XVilka opened #1504 "`rz-bin` crashes in RzCoreSymbolication, Mach-O and Python bytecode"
## 121ec5bf0b342c6acb06f20bebc808b4
[code]
##  440e7c155a88aaf78637444e372f3d6c
[code]
## 495b39cdcf0653075675bb7ecb92a387
[code]
## 2089f76b05ae8565f32cc4d808a98522
[code]
## 3841393046dfcd4260d50de5a6b216ef
[code]
## f5504bc99dae8d45a2e2875afbc5055c
[code]
## fea960e7245bd8c9090af2eb3cb1ded4
[code]

[uniques_rzbin.zip](https://github.com/rizinorg/rizin/files/7012281/uniques_rzbin.zip)

[2021-08-23 12:06] ret2libc commented on #1497
@XVilka I think it's worth looking quickly at this. What I did was essentially:
1. open a file with 0.2.0 and saving a project
2. open the project with current version . you get some warnings.
3. save again the project with current version (other few warnings, but that's fine i guess)
4. open the project with current version. I would not expect to find again errors now, because the project should

[2021-08-23 12:06] ret2libc commented on #1497
Given it's just about project migrations and we are still in 0.x, you can also choose to close this and ignore the problem if you think it's too much trouble for little benefit at this point.

[2021-08-23 14:04] ret2libc opened #1506 "io.cache: oob-read when reading from cache"
See https://github.com/radareorg/radare2/issues/19006 and https://github.com/radareorg/radare2/pull/19008/

[2021-08-23 14:05] XVilka commented on #1497
Will check once more stuff for 0.3.0 addressed.

[2021-08-23 14:06] XVilka commented on #1497
I will add `unknown_t` type, like in Ghidra.

[2021-08-23 14:37] #571 closed, assigned to nobody

[2021-08-23 16:13] ret2libc opened #1507 "pipe to head/tail crashes rizin because of SIGPIPE"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x64
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not truncate

[2021-08-23 16:21] #1485 closed, assigned to nobody

[2021-08-23 17:26] ret2libc opened #1508 "Fuzzed test fails on dev branch"
[code]

[2021-08-23 20:56] keesj commented on #1286
Yes, this looks pretty good already!

[2021-08-23 21:21] wargio commented on #1276
Fix submitted, by resolving virtual methods

[2021-08-24 01:25] xrkk opened #1511 "def-use analysis capabilities"
I searched doc, but didn't find any information about `def-use` analysis.

[2021-08-24 04:19] XVilka commented on #1508
Fixed in https://github.com/rizinorg/rizin/commit/7e49ab2c4316dcd742a90434b887accf6cecb53b

[2021-08-24 04:19] #1508 closed, assigned to XVilka, wargio, ret2libc

[2021-08-24 07:09] ret2libc commented on #1511
AFAIK there isn't any kind of def-use/use-def analysis, sorry.

You can find variables in a function and where they are read/written (with `afvR`/`afvW`), but likely that isn't exactly what you are looking for.

[2021-08-24 07:16] XVilka commented on #1511
This kind of analysis is best defined in terms of the new IL, which is not yet finished and major architectures are not ported. Before that point it really doesn't make sense to work on that.

You can keep an eye on https://github.com/rizinorg/rizin/issues/277 and https://github.com/rizinorg/rizin/pull/1451

[2021-08-24 08:09] ret2libc opened #1514 "`izzz` reports wrong addresses"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | Macho
| Architecture/bits of the file (mandatory)            | 64
| `rizin -v` full output, **not truncated** (m

[2021-08-24 10:35] ret2libc opened #1516 "Also, `iHH` should be killed in profit of `iH` only."
Also, `iHH` should be killed in profit of `iH` only.

_Originally posted by @Maijin in https://github.com/rizinorg/rizin/issues/232#issuecomment-758032372_

[2021-08-24 11:04] #1276 closed, assigned to wargio

[2021-08-24 15:05] wargio commented on #1433
Issues resides in `asm.bits` not setting due default asm arch.

[2021-08-24 16:02] #1433 closed, assigned to XVilka, wargio, ret2libc

[2021-08-25 07:42] Basstorm commented on #1205
There are some PDB tests marked as broken because we don't support classes yet.
https://github.com/rizinorg/rizin/pull/1517/commits/45ca9441e1740b4d17e0d545d73f881e8ae7be3d
See files:
- `test/db/formats/pdb` (search for `BROKEN=1` string)
- `librz/analysis/type_pdb.c` (`parse_regular_type()` function)

[2021-08-25 07:48] Basstorm opened #1523 "Couldn't get the node inside the RBTree via `rz_rbtree_find()`"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian arm 64, Ubuntu x86 32
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc

[2021-08-25 08:07] ret2libc commented on #1523
Is this happening only on your PR or also on dev? I see dev green though.

[2021-08-25 08:08] Basstorm commented on #1523
As far as I know, It just occurred in PDB pr, it works well on global variables or other things.

[2021-08-25 08:13] ret2libc commented on #1523
Did you add any specific test there in your PR? Or it is just the plain test as in `dev` branch?

[2021-08-25 08:15] XVilka commented on #1523
[code]

[2021-08-25 08:16] Basstorm commented on #1523
[code]

[2021-08-25 08:29] ret2libc commented on #1523
[code]

This is what I get while running that test on your branch. Seems to work, no?

[2021-08-25 08:31] XVilka commented on #1516
@ret2libc note, currently both `iH` and `iHH` somehow show also the imports while they **should not**:
[code]

[2021-08-25 08:33] Basstorm commented on #1523
[code]
I assume it's NULL here. So when the problem exists, it will pass the test.

[2021-08-25 08:35] XVilka commented on #1523
Then you probably meant `mu_assert_nonnull()`

[2021-08-25 08:36] #1506 closed, assigned to ret2libc, thestr4ng3r, GustavoLCR

[2021-08-25 10:37] XVilka commented on #1493
Please also add a small test

[2021-08-25 13:14] #1493 closed, assigned to ret2libc, Basstorm

[2021-08-25 13:46] ret2libc opened #1527 "Integrate Rizin with oss-fuzz"
**Is your feature request related to a problem? Please describe.**

This is a nice step in terms of software development. It covers some nasty bugs and some simple ones. Those simple bugs can also be a nice opportunity for first-time contributors.

**Describe the solution you'd like**
Add Rizin to oss-fuzz project

**Describe alternatives you've considered**

ClusterFuzzLite:
- https://security.go

[2021-08-25 17:23] ret2libc commented on #1523
Actually, it doesn't matter. Both mu_assert_null and mu_assert_notnull make the test pass, probably because the loop is never entered...

[2021-08-25 21:06] wargio opened #1530 "Rewrite bin plugins to use the offset API"
There are some bin plugins that needs to be rewritten.

- [x] [LE/LX bin plugin](https://github.com/rizinorg/rizin/tree/dev/librz/bin/format/le)
   - http://hobbes.nmsu.edu/download/pub/os2/dev/info/lxexe.doc
- [x] [NE bin plugin](https://github.com/rizinorg/rizin/tree/dev/librz/bin/format/ne)
   - https://wiki.osdev.org/NE
   - https://bytepointer.com/resources/win16_ne_exe_format_win3.0.htm
   -

[2021-08-26 03:08] Basstorm commented on #1523
Ah, my bad, the PDB file is incorrect. It should be `bins/pdb/vs2019_cpp_override.pdb`.
The weird thing is that I can still pass the unit test, but I got NULL when it comes to real logic.
See:
[code]
I got:
`Field list not found for enum 0x2386, field list id: 0x2385`.
This is the logic within the `rz_bin_pdb_get_type_by_index()`:
[code]
One thing that is certain is that 0x2385 is not a simple typ

[2021-08-26 03:11] DMaroo commented on #1494
I would like to work on this. Shall I go ahead?

[2021-08-26 04:23] XVilka commented on #1523
@Basstorm so the resulting test would be this, right?
[code]

[2021-08-26 04:45] Basstorm commented on #1523
Look at the log first
[code]
As you can see in the code below, I print out the log when that enum's type index is 0x2386 and failed to get its under type(tmp). Its under type is 0x2385.
[code]
And see the `rz_bin_pdb_get_type_by_index()`:
When failed to get node via `rz_rbtree_find()` and the index is not a simple type, I use `rz_rbtree_foreach` to make sure we have 0x2385 in the RBTree indeed. So

[2021-08-26 07:15] ret2libc commented on #1494
Cool! Thanks!

@XVilka @wargio @kazarmy do you think adding a flag at the variable address is an ok solution? Do you have alternative ideas? Better to think about them now so @DMaroo can start working on this with a clear goal and path.

[2021-08-26 07:26] ret2libc commented on #1523
Make sure you are using a build with ASAN and UBSAN. Then, you have to try to reduce the real logic into a small unit tests that can reproduce. So far, it seems that it's a problem with your code in the PR rather than in RBTree. As said, asan can help.

[2021-08-26 08:20] XVilka opened #1533 "Migrate `ae` commands to the rzshell"
To make ESIL API more consistent and ease the migration from ESIL to RZIL.

See:
- `librz/core/cmd_analysis.c`
- `librz/core/cmd_descs/cmd_analysis.yaml`

### Todo

**Remove**

- [ ] `ae*` - https://github.com/rizinorg/rizin/pull/4730

**To RzShell, but remove with ESIL**
- [ ] `aepc`
- [ ] `ae `
- [ ] `aex`

**To RzShell, but port to RzIL**

- [ ] `aeb`
- [ ] `aef`
- [ ] `aefa`
- [ ] `aeA`
- [ ]

[2021-08-26 09:06] XVilka commented on #1261
I think all function detection is already converted to Meson by now.

[2021-08-26 09:34] ret2libc commented on #1261
More or less.. there's probably much more room for improvements, but let's close this. Things will be fixed as they are noticed!

[2021-08-26 09:34] #1261 closed, assigned to XVilka, ret2libc

[2021-08-27 07:14] XVilka commented on #1494
Yes, lets just add a flag.

[2021-08-27 09:25] wargio commented on #1494
agree. just add the flag

[2021-08-27 09:29] wargio opened #1537 "Detect Groovy & Kotlin on dex binaries"
Do like i have done on Java and detect Groovy and Kotlin langs:

https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/java/class_bin.c#L354

- Kotlin: https://github.com/rizinorg/rizin/files/7064465/2105.09591.pdf

[2021-08-27 10:34] kazarmy commented on #1494
Since the flag is expected just like function flags are expected, I agree to add a flag. Just don't forget to delete/change the flag when the global variable is deleted/changed.

[2021-08-27 11:28] keesj commented on #1286
Back on this subject. the x86 output does look decent but for arm this is not the case

[code]
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

gcc -Wall -g -o a.out main.c  && rizin  -qq -c "aa ;s sym.main; pdf" ./a.out

[code]
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

arm-linux-gnueabihf-gcc -Wall -g -o a.out main.c  && rizin  -qq -c "aa ;s sym.main; pdf" ./a.out

[code]

objdump output

[2021-08-27 11:51] #1504 closed, assigned to nobody

[2021-08-27 14:41] ret2libc commented on #1286
If you could upload here directly the binary it would help. I don't have the tooling right now to compile that myself and so others.

[2021-08-29 13:45] #1416 closed, assigned to XVilka, Heersin

[2021-08-29 16:37] DMaroo commented on #1495
The first point will be taken care of by #1536. Addresses in disassembly will now have a comment next to them (containing the global variable name) in case they refer to a global variable (this is because of the flag corresponding to the global variable being recognized by rizin while showing disassembly).

[2021-08-30 05:50] XVilka opened #1548 "Android packages build error"
[code]

[2021-08-30 07:28] ret2libc opened #1551 "Autocomplete global variable names"
**Is your feature request related to a problem? Please describe.**
Global variables are not autocompleted in rzshell.

**Describe the solution you'd like**
Whenever I need to reference a global variable by name, the shell should suggest available names when I press TAB.

**Describe alternatives you've considered**
None

**Additional context**
We should add a new `RzCmdArgType` in rz_cmd.h for glob

[2021-08-30 08:27] #1548 closed, assigned to nobody

[2021-08-30 08:54] #1417 closed, assigned to nobody

[2021-08-30 09:49] ret2libc opened #1555 "Do not compress files by default"
**Is your feature request related to a problem? Please describe.**
As a user I want to be able to put my project in a git repository and diff/view it/merge my changes with those of others.

**Describe the solution you'd like**
By default I want my project file to be viewable/diffable and git-friendly.

**Describe alternatives you've considered**
Set prj.compress = false, but that's an additional s

[2021-08-30 10:05] XVilka commented on #683
Roughly 40 files left to convert/account for.

[2021-08-30 11:08] XVilka opened #1556 "Show the `mu_*` asserts in the AppVeyor (Windows) logs"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 64 bits
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            |  -
| `rizin -v` full output, **not truncated**

[2021-08-30 12:36] ret2libc commented on #1556
I'm not sure what we can do about this...  It seems a meson/ninja problem at a first look.

[2021-08-31 04:37] XVilka commented on #1556
Ok, I opened an issue in Meson, lets see what happens: https://github.com/mesonbuild/meson/issues/9195

[2021-08-31 07:36] ret2libc commented on #1514
After looking at the code that searches for strings... I'm not sure we can fix it in short time. The whole "string search" code is a quite convoluted that would likely require a big refactoring + unit tests to properly fix the problem and be sure things would still work.

[2021-08-31 07:42] XVilka commented on #1514
Agree. It will also benefit from this work: https://github.com/rizinorg/rizin/pull/1535

[2021-08-31 07:45] ret2libc opened #1560 "Non existing types are saved in a project"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-08-31 07:47] XVilka commented on #1560
They are existing, see:
[code]
[code]

[2021-08-31 09:24] #1555 closed, assigned to ret2libc

[2021-08-31 14:00] ret2libc commented on #1429
@wargio wasn't this done already by you? Or do i remember wrong?

[2021-09-01 00:18] #1507 closed, assigned to ret2libc, thestr4ng3r

[2021-09-01 10:46] ret2libc opened #1567 "`icc` command prints wrong objc code"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | Mach-O 64-bit x86_64 executable,
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` fu

[2021-09-02 03:29] DMaroo commented on #707
@thestr4ng3r In case you haven't already started with this, can I take this up? I would like to fix this.

[2021-09-02 07:34] thestr4ng3r commented on #707
Sure, sounds like a good addition!

[2021-09-02 08:22] ret2libc opened #1572 "SEGV on ld-linux loading"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | ELF (with DWARF)
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not

[2021-09-02 08:43] #1494 closed, assigned to DMaroo

[2021-09-02 12:44] #1572 closed, assigned to nobody

[2021-09-02 16:15] DMaroo commented on #1496
This will be fixed in #1577. It uses `RZ_CMD_ARG_TYPE_GLOBAL_VAR` for specifying the name of the global. This takes care of the associated auto-completion as well.

[2021-09-02 16:54] #683 closed, assigned to ret2libc

[2021-09-03 07:49] #1551 closed, assigned to nobody

[2021-09-03 07:49] #1496 closed, assigned to ret2libc

[2021-09-03 09:36] ret2libc opened #1580 "Script to detect unused RZ_API functions"
**Is your feature request related to a problem? Please describe.**
Due to RZ_API being exported functions, compiler does not warn you about unused functions. This can be useful to notice old APIs that are not used anymore and can be finally removed after being deprecated.

**Describe the solution you'd like**
A script to print the list of unused functions.

**Describe alternatives you've considere

[2021-09-03 12:18] ret2libc commented on #579
The bug is still present. It now works when using `|`, but not when using `~`.

[2021-09-03 17:46] ret2libc commented on #1027
I would like to close this together with https://github.com/rizinorg/rizin/pull/1238  . I think API might not be perfect yet, but I'd prefer proper issues if problems are found while using them. Also, there are no unit tests for all those things, yet.

[2021-09-03 17:55] ret2libc commented on #1523
This needs investigation as it can't be reproduced anywhere, just on a specific branch. So I removed it from 0.3.0 milestone.

[2021-09-03 23:29] #1301 closed, assigned to nobody

[2021-09-03 23:56] ret2libc opened #1583 "Port `$` (aliases) to rzshell"

[2021-09-03 23:58] ret2libc opened #1584 "Port `(` (macroses) to rzshell"

[2021-09-03 23:58] ret2libc opened #1585 "Port `-` (open editor) to rzshell"

[2021-09-03 23:58] ret2libc opened #1586 "Port `/` (search) to rzshell"
- [x] `/R` - ROP gadgets
- [x] `/` - string search
- [x] `/x` - hex search
- [x] `/a` - assembly search - `/a` done with https://github.com/rizinorg/rizin/pull/4931. Other commands: https://github.com/rizinorg/rizin/issues/4955
- [x] `/c` - cryptographic search - https://github.com/rizinorg/rizin/pull/4954
- [x] `/e` - regexp search
- [x] `/E` - ESIL search - https://github.com/rizinorg/rizin/pull

[2021-09-03 23:58] ret2libc opened #1587 "Port `f` (flags) to rzshell"
- [x] `f`
- [x] `fc`
- [x] `fd`
- [x] `ft` https://github.com/rizinorg/rizin/pull/2162
- [x] `fs` https://github.com/rizinorg/rizin/pull/2208
- [x] `fz` https://github.com/rizinorg/rizin/pull/2165

[2021-09-03 23:58] ret2libc opened #1588 "Port `m` to rzshell"
Rizin's `m` commands are currently implemented in the old-shell way. This issue tracks porting those commands under`m` to rz-shell.

Currently, the `m` commands are at [line 827](https://github.com/rizinorg/rizin/blob/f29272cc0eb81bc0bee8d33c5eb4fe28a4eaf8de/librz/core/cmd.c#L872) at `librz/core/cmd.c`. This method or the code must be moved to their respective rz-shell command handlers. The handle

[2021-09-03 23:58] ret2libc opened #1589 "Port `o` (open) to rzshell"

[2021-09-03 23:58] ret2libc opened #1590 "Port `p` (print) to rzshell"
## Completed

- [x] `pd` https://github.com/rizinorg/rizin/pull/2552
- [x] `pc`
- [x] `pg`
- [x] `pm`
- [x] `ph`
- [x] `pt`
- [x] `p6` https://github.com/rizinorg/rizin/pull/2819
- [x] `pa` https://github.com/rizinorg/rizin/pull/2824
- [x] `pA` https://github.com/rizinorg/rizin/pull/3163
- [x] `pb`/`pB` https://github.com/rizinorg/rizin/pull/2828
- [x] `pC` https://github.com/rizinorg/rizin/pull/3

[2021-09-04 00:11] ret2libc opened #1591 "Provide command output modes as `:<mode>` instead of suffix letter"
**Is your feature request related to a problem? Please describe.**
Using a letter to specify which output mode a command should provide leads to occupying a lot of letters in many cases. Usually users will just use the default mode. JSON might be needed for scripts and tables can be made the default mode in many cases.

**Describe the solution you'd like**
Avoid wasting letters as suffixes for the

[2021-09-04 10:12] ret2libc opened #1592 "ELF gnu_hash not correctly detected"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated**

[2021-09-04 14:37] #786 closed, assigned to ret2libc

[2021-09-04 14:37] #1120 closed, assigned to ret2libc

[2021-09-04 14:37] #1516 closed, assigned to ret2libc

[2021-09-04 14:37] #1027 closed, assigned to ret2libc

[2021-09-04 16:07] ret2libc commented on #1266
Fixed in https://github.com/rizinorg/rizin/pull/1582

[2021-09-04 16:07] #1266 closed, assigned to ret2libc

[2021-09-05 12:32] XVilka opened #1597 "`db/cmd/feat_yank` "yank-segfault4" test failure on FreeBSD"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | FreeBSD latest x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not tr

[2021-09-06 00:10] #1537 closed, assigned to nobody

[2021-09-06 04:18] #1497 closed, assigned to XVilka, ret2libc

[2021-09-06 04:28] XVilka opened #1600 "Extract demangling code into the separate library"
- [ ] Move the code from `librz/bin/mangling/*` to the separate library `rz-demangle`
- [ ] Make it a Meson subproject in Rizin
- [ ] Move issues and pure demangling tests to this library instead
- [ ] Move `rz-libswift` code either completely or as a subproject of this library as well
- [ ] Move [issues with label "magling"](https://github.com/rizinorg/rizin/labels/mangling) to this new library r

[2021-09-06 07:32] XVilka commented on #1597
Strange, doesn't happen anymore neither on `dev` nor on updated pull requests. Closing.

[2021-09-06 07:32] #1597 closed, assigned to nobody

[2021-09-06 16:08] ret2libc commented on #1592
This happens when there are no defined symbols. gnu creates this "ill formed" table so it avoids doing any operation on it at all. Thus when this happens, relying on the gnu hash table to determine the number of entries in dynsym cannot be done. We can instead rely on relocations and find out what is the highest symbol found there.

[2021-09-06 16:53] ret2libc commented on #1592
I think this can be implemented correctly and with no rush after 0.3.0, maybe added for 0.3.1 if there will be. We probably just need to make the error messages less noisy or clearer for now. After all, the situation is *at least better* than before. cc @XVilka @wargio WDYT?

[2021-09-06 17:06] wargio commented on #1592
ok for me

[2021-09-06 17:53] ret2libc commented on #1286
@keesj Any update? I have re-opened the issue for now so we don't lose track of it.

[2021-09-07 05:30] XVilka commented on #1592
Sounds good to me.

[2021-09-07 05:45] XVilka commented on #1592
Can we just remove the warning for now?

[2021-09-07 06:27] ret2libc commented on #1592
Yes, that warning needs to be improved for sure

[2021-09-07 06:46] ret2libc opened #1607 "types not correctly autocompleted"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | any
| `rizin -v` full output, **not truncate

[2021-09-07 06:52] ret2libc commented on #1607
Actually, I found there are some inconsistencies, because other commands like `tp` and `t` takes `s2` as arguments and not `struct s2`. These commands need to consistently accept user input, otherwise it's too hard to understand even for me.

[2021-09-07 09:26] ret2libc opened #1611 "`t*` available but not working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.3.0-git @ linux-x86-64 commit: 7b13e5a69d5d0cac04a0d08e4704cd48686fc7ae, build: 2021-09-06__18:54:15

### Steps to reproduce the behavior
[code]

Either we remove `t*` i

[2021-09-07 09:34] #1560 closed, assigned to XVilka

[2021-09-07 09:45] ret2libc opened #1612 "RZ_LOG_DEBUG should not be compiled in releases mode"
**Is your feature request related to a problem? Please describe.**
While debugging/developing you may want to add a lot of logs that can be enabled with `e log.level=X` where X is a number for 0 to 6. However, when we release Rizin we likely do not want those DEBUG prints to ever be printed, saving in some cases a lot of useless printing and calculations.

**Describe the solution you'd like**
When

[2021-09-07 14:57] ret2libc commented on #766
`/a push r15 @($(dm~map.usr_bin_ls.r_x[0,1]))` works now, btw.

Also, what once was `@{ ... }` is now `@(....)`.

I think for this to be considered to be implemented we should be a bit more precise on exactly what we want. In particular, `@m:rizin` what shall it mean, exactly? There may be 10 maps related to the rizin binary while debugging, which one? ALl of them? How to specify just one? Have we

[2021-09-07 16:22] #1607 closed, assigned to XVilka

[2021-09-07 16:23] #1611 closed, assigned to XVilka

[2021-09-08 06:47] #1612 closed, assigned to nobody

[2021-09-08 07:56] ret2libc opened #1624 "Provide `rz_type_as_string_pretty` API for Cutter and others to pretty-print a type"
**Is your feature request related to a problem? Please describe.**
Existing API like `rz_type_db_base_type_as_string` just print the type in one line, even though i'd like a nice representation similar to what's done in `tc <type>`.

**Describe the solution you'd like**
Provide a new API that allows you to specify whether you want multiline and maybe other kind of pretty-printing stuff.

**Describ

[2021-09-08 09:10] #1133 closed, assigned to yossizap

[2021-09-08 09:38] ret2libc opened #1626 "Provide variable to disable RzBinMap patching"
**Is your feature request related to a problem? Please describe.**
When we open a binary with relocs, for example an ELF, Rizin now automatically shows the patched relocations. However, one may want to also see the real file without the relocations applied. This is not possible anymore, not easily at least.

**Describe the solution you'd like**
I'd like to have a variable e.g. `bin.patch` to contr

[2021-09-08 12:14] ret2libc opened #1629 "Upgrade tree-sitter dependency to 0.19.5"

[2021-09-08 12:41] #1585 closed, assigned to nobody

[2021-09-08 22:11] ret2libc opened #1632 "CPU profiles improvements"
**Is your feature request related to a problem? Please describe.**
* `.comment` value in the cpu/platform profiles is not used in any way.
* there is no way to specify I/O-only registers. These are common in x86 architectures where I/O ports, accessed with `in`/`out` instructions access a completely separate address space
* there is no way to specify I/O-mapped registers. These seems to be used at

[2021-09-09 00:21] #1629 closed, assigned to ret2libc

[2021-09-09 04:06] DMaroo commented on #1624
What do you mean by other kind of pretty-printing stuff? What kind of options should the API function provide?

[2021-09-09 05:07] XVilka commented on #1624
It should allow:
- Have the option to enable/disable multiline output
- Have the option to enable/disable nested types unfolding:
[code]
vs
[code]
Or the anonymous structures:
[code]
vs
[code]

[2021-09-09 11:51] ret2libc opened #1636 "RzType: struct with an array as member generate wrong string in rz_type_db_base_type_as_string"
Try something like:
[code]
and then get the result of `rz_type_db_base_type_as_string`. The `[16]` part would be omitted.

[2021-09-09 19:15] ret2libc opened #1640 "`pf` prints error messages like `Cannot find format "3xi foo bar"`"
[code]

I do not expect those strange errors when executing `pf`.

[2021-09-09 22:23] ret2libc opened #1642 "toe does not load existing type in editor and it does not change it afterward"
| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | PE, ELF etc.
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not truncated** (mandatory)

[2021-09-10 00:27] #1636 closed, assigned to XVilka

[2021-09-10 04:17] XVilka commented on #1640
It is strange, since I don't see them. This warning is commented out a month ago...

https://github.com/rizinorg/rizin/blob/dev/librz/type/format.c#L1893

[2021-09-10 04:17] #1640 closed, assigned to XVilka

[2021-09-10 07:15] ret2libc commented on #1640
Oops, I was probably using the wrong version sorry!

[2021-09-10 16:57] iGr33k opened #1651 "Rebasing binary breaks analysis"
[binary.zip](https://github.com/rizinorg/rizin/files/7146214/binary.zip)
I noticed that when you change the base address of the binary using oob, all the addresses of functions and other information obtained as a result of the analysis remains tied to the original addresses that existed before the address change.

### Work environment

| Questions                                            | Answe

[2021-09-10 17:05] iGr33k commented on #1651
`obr` and `obR` leads to almost the same problem, but now there are zeros at the addresses.

[2021-09-10 17:17] ret2libc commented on #1651
Could you provide the binary as well? I think obr or obR should work. As said in chat, this whole reopening thing needs to be redesigned and fixed.

[2021-09-10 20:20] iGr33k commented on #1651
Updated issue with the uploaded binary.

[2021-09-10 20:46] ret2libc commented on #1651
Confirmed the issue. Although binary info are rebased according to the new baseaddr, the functions are still at the old addresses. Moreover, there's something wrong with flags, which appear to be rebased but they really are not.. Needs investigation.

[2021-09-11 20:48] Rot127 commented on #1651
That is more or less the same problem I tried to solve here: https://github.com/rizinorg/rizin/pull/1605

The relocs are not patched because they are only patched once per Elf binary object. After line https://github.com/rizinorg/rizin/blob/f70a4da1d2ecb74dc42ae40aa90600ed396a300c/librz/bin/p/bin_elf.inc#L676 the patching code will not executed again.

Though I think rebasing and reloc patching ca

[2021-09-12 01:50] ret2libc commented on #1651
It is not exactly the same problem i believe. One is elf specific and it's about bin info, the other is about non-bin info

[2021-09-12 13:04] ret2libc opened #1661 "ELF: relocations are not re-patched on rebase"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not truncated**

[2021-09-12 17:56] ret2libc opened #1662 "Printing a type makes Rizin crash"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not truncated** (m

[2021-09-13 05:53] XVilka opened #1666 "Support types with multiple declarators"
[code]

See `librz/type/parser/type_parser.c`

The problem that such AST nodes have multiple nodes with the same identifier "declarator". And there seems no the API to get the next named field.
[code]

Asked the help of the Tree-Sitter community in https://github.com/tree-sitter/tree-sitter/discussions/1382

[2021-09-13 09:33] #1642 closed, assigned to XVilka

[2021-09-13 10:42] ddevault commented on #1449
Any updates? In the last month you have used over 1500 build hours, which is about a quarter of all builds.sr.ht usage.

[2021-09-13 10:50] XVilka commented on #1449
@ddevault I checked the documentation and found nothing about how to limit the trigger only to the particular branch. Is there anything something like GitHub's CI:
[code]
Sorry for the trouble. I grepped also SourceHut sources but found nothing useful either. Thank you!

[2021-09-13 10:53] ddevault commented on #1449
No - but you can terminate the build early (via the "complete-build" command) if you're not on the right branch.

https://man.sr.ht/dispatch.sr.ht/github.md#environment-variables

GITHUB_REF will be set to e.g. refs/heads/dev.

[2021-09-13 10:56] thestr4ng3r commented on #1449
Thanks, that seems even better than built into the yml.

[2021-09-13 11:14] thestr4ng3r commented on #1449
Looks like that pr has the wrong builds associated with it (commit id matches, but branch does not).
Still it seems to work: https://builds.sr.ht/~xvilka/job/587135 vs https://builds.sr.ht/~xvilka/job/587138
It is still installing packages always though. Do you think this is ok @ddevault or should we move the installing to a shell script after the skipping?

[2021-09-13 11:31] ddevault commented on #1449
This is an improvement, if nothing else - can keep improving if it doesn't sufficiently address the problem. Thanks!

[2021-09-13 12:14] thestr4ng3r commented on #1449
Ok, let's see how it goes with this. Sorry for the long delay and thank you!

[2021-09-13 12:14] #1449 closed, assigned to XVilka

[2021-09-13 12:42] #1662 closed, assigned to XVilka, ret2libc, thestr4ng3r

[2021-09-13 13:17] ret2libc commented on #1666
Did you try ts_node_next_sibling / ts_node_next_sibling ?

[2021-09-13 13:26] Rot127 opened #1670 "rz-test: Segmentation fault if optional flags are added without assignment"
If an optional flag in any test file is added without an assignement `rz-test` will seg fault.

Example 1:
[code]

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86_64
| File format of the file you reverse (mandatory)

[2021-09-13 13:42] ret2libc opened #1671 "CPU profiles: add the `.comment` value as rizin comment near the flag, if defined"
The .comment value in the CPU platform profile seems to be completely ignored.
I think instead it should be added as a Rizin comment to the address where the port is used.

Moreover, a `.comment` should be available in architecture profiles as well, because those may be useful as well.

[2021-09-13 13:43] ret2libc opened #1672 "CPU profiles: use `io`/`mem`/`io-mem` types"
Remove the concept of `io` and `ext_io` and introduce the types `io`,`mem`,`io-mem`. The `io` type is for registers that are referenced by I/O instructions (in x86 and avr they are `in`/`out`). `mem` are those registers that are just mapped as regular memory, so they should have a flag in the address space. `io-mem` has both an address in the I/O space and an address in the memory, so it should al

[2021-09-13 20:53] wargio opened #1674 "Add -Wimplicit-fallthrough to meson.build"
There are many `fall-through` in the codebase, which needs to be checked via `-Wimplicit-fallthrough`.

[2021-09-14 05:48] XVilka commented on #1240
There are some PDB changes required after added support for those

https://github.com/rizinorg/rizin/pull/1517/commits/45ca9441e1740b4d17e0d545d73f881e8ae7be3d
See files:
- `test/db/formats/pdb`
- `librz/analysis/type_pdb.c` (`parse_regular_type()` function)

Also add more tests in `test/unit/test_pdb.c`

[2021-09-14 06:02] XVilka commented on #1666
@ret2libc no, they will not work in general case. The answer to the question was to use `ts_tree_cursor_current_field_name()` function, but this change would be more than a few lines. Will not make it for the 0.3.0, will do after.

[2021-09-14 09:00] ret2libc commented on #1674
Is it really better? I think it's quite common to have comments like FALLTHRU or similar. Golang even has a fallthru instruction AFAIK. I think something that would be nice to do is instead to enable the fallthrough warning in gcc, so that we notice where fallthrough happens.

[2021-09-14 09:08] XVilka opened #1676 "Convert `ec` commands to the newshell and proper API"
In `librz/core/cmd_eval.c` there is a function called `rz_eval_color()` that still represents the "oldshell-style parsing". It should be:
- Migrated to the corresponding separate rzshell commands: `ec`, `eco`, `ecr`, etc
- Use `RzOutputMode` enum and output state for JSON
- Refactor the APIs like `rz_cons_pal_list()` to return the `RzList` instead, and introduce a separate function to print this `

[2021-09-14 09:10] ret2libc commented on #1666
That's the cursor API, which is a completely different thing... I'm quite positive you can do that with one of the sibling functions, either ts_node_next_sibling or ts_node_next_named_sibling.

[2021-09-14 09:14] XVilka commented on #727
@DMaroo see also this discussion, by the way.

[2021-09-14 09:16] nnnewb opened #1776 "incorrect assembly code in masm syntax"
## Rizin

[cm02-easy.exe.gz](https://github.com/rizinorg/cutter/files/7257285/cm02-easy.exe.gz)

[code]

## Cutter

**Environment information**
* Operating System: Microsoft Windows [Version 10.0.19043.1165]
* Cutter version:  2.0.2
* Obtained from:
  - [ ] Built from source
  - [x] Downloaded release from Cutter website or GitHub
  - [ ] Distribution repository
* File format: PE

**Describe the b

[2021-09-14 09:18] ret2libc commented on #727
I'm honestly not sure if it's worth adding a new output mode for C. So far I'd prefer special commands like we have in `t`.

[2021-09-14 09:22] DMaroo commented on #727
In my knowledge, for types it won't be a problem since the pretty print API will output in valid C (valid indentation and everything). So adding this mode would not require rewriting any of the printing functions.

[2021-09-14 09:22] ret2libc commented on #1670
Is it right that you are on a 32bit system (I see `Debian x86 32`)?

I'm testing on F33 with rz-test 0.3.0-git @ linux-x86-64 commit: 4612b27234de7bf9685d5a98c6dbbc97532e2969, build: 2021-09-10__09:23:34 and I cannot reproduce.

[2021-09-14 09:25] XVilka commented on #1670
@Rot127 I recommend you to try under ASAN/UBSAN or Valgrind to get the meaningful backtrace.

[2021-09-14 10:28] wargio commented on #1674
fully agree

[2021-09-14 12:55] Rot127 commented on #1670
Oh, my fault. Was in a rush. It is `Ubuntu x86_64`. Updated the table. Also used the most resent state of the dev branch (also added to the table).

Compiled with `tcc version 0.9.27 mob:e97e108 (x86_64 Linux)`.

[code]

Compiled with `gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0`:

[code]

[2021-09-14 13:08] keesj commented on #1286
Thank you for your support. I think I am having different issues at the same time and this makes is a bit hard to work on.
on my desktop I installed rizin and the output looks like this

[code]

For the the same binary that was actually
[yo.zip](https://github.com/rizinorg/rizin/files/7162093/yo.zip)
 compiled within the container the output (when running in the container looks like)
[code]

I am

[2021-09-14 13:39] ret2libc commented on #1674
So, do we agree on keeping `/* fall-thru */` comments and just add the gcc option to ensure those comments are present? If so, let's update the issue title/description.

[2021-09-14 13:43] ret2libc commented on #1670
Ok i think i noticed the issue in `rz_test_load_cmd_test_file`:
[code]

When there is no `=` val becomes NULL ? Maybe it's this.

[2021-09-14 14:26] wargio commented on #1674
ok

[2021-09-15 01:40] officialcjunior commented on #1671
Alright, so I think adding comments from Platform profiles [here at canalysis](https://github.com/rizinorg/rizin/blob/dev/librz/core/canalysis.c#L6087) at the place where the port/flag was defined was the wrong way to do it, since it doesn't show up at the place it is used. I think we'll remove this part?

As a fix, I believe that the comments can be unpacked and added over here at [disasm.c](http

[2021-09-15 07:51] Rot127 commented on #1670
That was it. The case if `val == NULL` is handled too late and at some point `val` will be used. Thanks for looking it up!

[2021-09-15 08:46] XVilka opened #1691 "`aaa` crash on `rizin.exe`"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-09-15 08:54] ret2libc commented on #1671
I see... so we are using the comment at the place where the port/mmio is defined, not where it is used. I'm not sure, but I think seeing the description where the port/mmio is used is better than having it where the port/mmio is defined.

@thestr4ng3r @XVilka @wargio WDYT?

[2021-09-15 08:57] XVilka commented on #1671
@ret2libc I think it's good to have the same comment in both places actually - in place of definition (actual location) and the place of use.

[2021-09-15 09:02] ret2libc commented on #1691
Happens on linux as well:
[code]

[2021-09-15 09:32] #1670 closed, assigned to nobody

[2021-09-15 09:46] wargio commented on #1671
i agree. probably in both places is better.

[2021-09-15 10:17] #1691 closed, assigned to nobody

[2021-09-15 16:41] TristanCrawford opened #1696 "Analysis of binary with `aaa` resulting in segfault."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Void Linux x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, **not trunc

[2021-09-16 06:38] XVilka opened #1698 "Fail to load ARMv8 ELF file properly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARMv8
| `rizin -v` full output, **not truncated** (mandator

[2021-09-16 06:46] XVilka commented on #1698
Rizin says there are no relocations while readelf reports many:
[code]

[2021-09-16 09:16] Maijin commented on #232
@ret2libc

[2021-09-16 09:29] XVilka commented on #1141
There are hundreds of the relocations missing as well, we should add all supported by the Binutils.

[2021-09-16 14:41] bigger777 opened #1702 "Multiple input in rizin"
# Multiple input in rizin

While debugging a program, I need to enter two different sequences of lines.

I tried to do it with .rrz file:
[code]
foo.txt:
[code]
But on the first and second input, the whole file is read. I also tried .rrz file like this:
[code]
But the result is the same.
How can I get separate input?

Code of the test program:
[code]

[2021-09-17 04:29] XVilka commented on #1296
Is this still a problem with the latest Rizin? @geekscrapy @wargio @ret2libc

[2021-09-17 06:56] ret2libc commented on #1296
I think we did nothing to fix this.

[2021-09-17 08:37] #1052 closed, assigned to nobody

[2021-09-17 09:02] wargio commented on #1296
[code]

and

[code]

[2021-09-17 10:49] officialcjunior commented on #1671
So, I've made a short API to return the comment and was looking for the best place to call it and add the comment.

A place like `ds_print_sysregs` sounds alright, but is the places where the ports are used really confined to just one opcode type?

[2021-09-17 10:55] wargio commented on #1671
Yes, it can be either load/store/IO opcodes

[2021-09-17 11:31] #807 closed, assigned to yossizap, GustavoLCR

[2021-09-17 13:10] mxmehl commented on #683
Congratulations, good job!

If you want, you could also register the project at the [REUSE API](https://api.reuse.software/) and get a shiny badge :)

[2021-09-17 15:41] ezra100 opened #1710 "unable to change rflags register via dr"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x86 32
| File format of the file you reverse (mandatory)      | elf64
| Architecture/bits of the file (mandatory)            | x86
| `rizin -v` full output, **not truncated

[2021-09-18 05:01] XVilka commented on #683
Done: https://api.reuse.software/info/github.com/rizinorg/rizin

[2021-09-18 05:57] XVilka commented on #1725
It's not a shellcode, not sure how it can be used to reproduce anything at all:
[code]

[2021-09-18 06:04] XVilka commented on #1696
by @Basstorm

See `sdb/fmt.c#24`

[2021-09-18 08:00] XVilka opened #1716 "Do not print too much registers in `Vpp` mode"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | -
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | ARMv8 64 (AARCH64)
| `rizin -v` full output, **not truncated*

[2021-09-18 08:24] XVilka opened #1717 "Visual two-column mode leaves junk on the screen upon scrolling"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 34 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-09-18 10:36] xarkes commented on #1725
The problem is that Rizin tries to disassemble the String, and it figures it's doing a dereference of the said string with a small offset.
I'm not sure there's anything that can be done besides explicitly telling Cutter this is data, not instructions.

[2021-09-18 14:48] #1696 closed, assigned to Basstorm

[2021-09-19 04:51] officialcjunior commented on #1671
I think we'll get another function `ds_print_arch_ports` or something and add the comment if the `ds->analop.type` is any of those opcode types?

[2021-09-19 12:19] Maijin commented on #1725
One of the idea that had been proposed in the past is having a routine that attempt to detect the architecture/bits instead of defaulting to x64.

[2021-09-20 02:18] Semnodime opened #1724 "Assembly of `lea rXX, XXX` instructions produces wrong machine code."
**Environment information**
* Operating System: linuxmint 20.1
* Cutter version: 1.12.0 Using rizin-0.1.0-git
* File format: elf64
 * Arch: x86 (AMD x86-64 architecture)
 * Type: EXEC (Executable file)

**Describe the bug**
Assembly of `lea rXX, XXX` instructions produces wrong machine code (the second nibble is wrong):
For rXX = r8...r15, rXX gets wrongly turned into rax, rcx, rdx, rbx, rsp, rbp,

[2021-09-20 07:19] ret2libc commented on #1724
This is very likely an issue for Rizin. I'm moving it there.
Also, it seems to be in the x86 internal assembler. I bet x86.ks plugin (keystone) can disassemble this correctly.

[2021-09-20 07:25] ret2libc commented on #1725
This likely needs to be moved/copied to rizin, because the problem happens in Rizin visual as well.

[2021-09-20 07:36] ret2libc commented on #1716
We need to check how registers are printed in visual mode. `dr` is supposed to output "GPR"(General purpose Registers) registers, so those additional things should not be printed, I think.

[2021-09-20 15:13] Semnodime opened #1726 "Wrong assembly of `nop dword [rax + rax]`."
**Environment information**
* Cutter version: 1.12.0 (Using rizin-0.1.0-git)
* File format: elf64
 * Arch: x86
 * Type: EXEC (Executable file)

**Describe the bug**
Wrong assembly of `nop dword [rax + rax]`.
It results in machine code `0x90` (`nop`) instead of `0x0f1f440000`.

**To Reproduce**
Steps to reproduce the behavior:
1. Cutter -> open any elf64 x86 binary
2. In the Disassembly tab -> righ

[2021-09-22 05:30] xrkk opened #1729 "Fail to load ELF ARM binary"
[code]

This string is the part of the ELF data - `.interp` section

[code]

![image](https://user-images.githubusercontent.com/203261/134290469-1dd412e6-c752-4574-a286-4e087202a03e.png)

[2021-09-22 05:50] XVilka commented on #1729
It's indeed string, so it should not be the code. It looks like some ELF file loading failed instead. cc @08A
[code]

This string is the part of the ELF data - `.interp` section

[code]

![image](https://user-images.githubusercontent.com/203261/134290469-1dd412e6-c752-4574-a286-4e087202a03e.png)

[2021-09-22 06:05] XVilka commented on #1729
Curiosly, it seems that the culprit is the wrong value of the entrypoint - it points to the file beginning:
[code]
![image](https://user-images.githubusercontent.com/203261/134291212-f046ed8a-603c-42f7-82cd-714c75e81c99.png)

We probably should mark headers as the data-only specifically, if they don't have `x` bits.

![image](https://user-images.githubusercontent.com/203261/134291432-9674ad23-7369

[2021-09-22 10:28] ret2libc commented on #1729
@XVilka the original issue was "Empty operands when analyzing some ARM binary", so I restored the title. That's the problem reported by @xrkk .

@xrkk could you test the fix in https://github.com/rizinorg/rizin/pull/1730 to see if it works for other instructions as well? I think it makes sense, but if you have some spare time to double check that would be awesome. Thanks!

[2021-09-22 10:28] XVilka commented on #1729
@ret2libc are you sure the issue is about that? It is essentially about ELF loading process.

[2021-09-22 10:40] ret2libc commented on #1729
Well, this is what @xrkk reported

The 2nd operand is part of the opex structure returned by aoj. Now, there may be other problems with the binary, but let's open separate issues for that. This issue was specifically about the missing operand in opex.

[2021-09-22 10:54] XVilka commented on #1729
@ret2libc it's not even the actual code, it's a string.

[2021-09-22 12:15] ret2libc commented on #1729
Yep, I got it. But that's a separate problem.

[2021-09-22 15:23] ret2libc commented on #1702
I just write to let you know that I will work on this issue in the next days.

rz-run tool unfortunately it is almost untested and we first need to find a way to test it so that we can be sure things do not break after a while.

That said, it is normal that if you pass the whole input to such a program, the first read will read the whole thing, same as if you do `echo -en "foo\nbar" | ./poc`. With

[2021-09-23 05:07] XVilka opened #1732 "Convert `bin_versioninfo()` from `librz/core/cbin.c` into the proper API"
Currently it just prints. This whole chunk of functions should be split in two main pieces: one to extract all information and another to print it:
- `rz_core_bin_versions_print()`
- `rz_bin_versions_info()`

Note, that the actual API function to get the information about versions could be moved to `librz/bin/version.c`, for example, since it doesn't require anything `RzCore`-specific. The printin

[2021-09-23 05:12] XVilka opened #1733 "Convert `bin_resources()` from `librz/core/cbin.c` into the proper API"
Currently it just prints. This whole chunk of functions should be split in two main pieces: one to extract all information and another to print it:
- `rz_core_bin_resources_print()`
- `rz_bin_resources_info()`

Note, that the actual API function to get the information about versions could be moved to `librz/bin/resources.c`, for example, since it doesn't require anything `RzCore`-specific. The pri

[2021-09-23 05:17] #1458 closed, assigned to nobody

[2021-09-23 05:56] xrkk commented on #1729
@ret2libc Pull #1730 did fix the 2nd operand problem.
[code]

Thank you.

[2021-09-23 06:41] DMaroo commented on #1726
I am working on this. I'll send in a PR soon.

[2021-09-23 08:04] XVilka commented on #1702
Moreover, we probably should move `librz/socket/run.c` from `librz/socket` since it has nothing to do with sockets, probably inside the core

[2021-09-23 12:04] XVilka commented on #1584
Should be they a command or a special syntax construct? Using `(` as the command name always looked strange.

[2021-09-23 19:37] ret2libc commented on #1584
They already have a special construction in the grammar indeed..

[2021-09-23 22:36] ret2libc commented on #985
I think the test is just wrong... there is no `main` defined anywhere in the expected output. I'd say to add a bunch of tests in your PR and be rigid about the filter applied between `{...}`.

[2021-09-24 08:12] XVilka opened #1746 "Different color in help for the referenced arguments"
If we have something like this in the command YAML:
[code]
Then it would be nice to parse the `summary` and `detail` fields to detect the argument names in the `[``]` brackets, to highlight them with different color in the help message.
In this case they are `[len]` and `[offset]`

[2021-09-24 12:30] #707 closed, assigned to thestr4ng3r

[2021-09-26 07:25] xrkk opened #1751 "Faster way to iterate all operands and of instructions?"
Current I'm using below Python code to iterate through all operands of all instructions, but in my environment(Intel-i7, WSLv1), it can only reach up to 15 functions in 1 second. Is there any faster way to do this?

[code]

[2021-09-26 10:23] #1751 closed, assigned to nobody

[2021-09-26 12:02] ret2libc opened #1754 "Make `args: []` optional in YAML files for cmd_descs"
**Is your feature request related to a problem? Please describe.**
Having to specify `args: []` is boring.

**Describe the solution you'd like**
When there is no `args:` field in the cmd_descs YAML files, assume `args: []`.

[2021-09-26 17:34] FranciscoPombal opened #1755 "Bad pkg-config files in the official `static-x86_64` release artifacts"
### Issue summary

pkg-config files distributed in the official `static-x86_64` releases contain wrong hard-coded paths.
This makes it impossible to build software against rizin libs out-of-the-box, which notably breaks plugin installation/build (at least in the case of `rz-ghidra`).
I did not test with the latest git release as this is a problem with the release artifacts.

### Work environment

[2021-09-26 17:53] ret2libc commented on #1755
Thanks for the report!

I'm not sure about this, because the -static binaries are compiled so that they are "portable", meaning that you can use them everywhere, without us knowing where the user is going to install it.

Having an install script for the -static binaries might be a friction, where instead that release build is supposed to be easily deployed/used. Also, inside that artifact you can

[2021-09-26 18:11] ret2libc commented on #1755
I'm looking at `--define-prefix` option. Not sure if it matters. Just noticing it here.

[2021-09-26 18:33] ret2libc commented on #1755
The `prefix` of the `.pc` files seems to be easily replaceable by using `--define-prefix`, the problem with libutil.a instead seems to be something else. I can find it also in a regular build files,where `Libs.private` uses the full path of libutil.so.

[2021-09-26 20:54] ret2libc commented on #1755
For the libutil issue, I've opened an issue for meson, I believe it's a problem there: https://github.com/mesonbuild/meson/issues/9301

[2021-09-26 20:54] FranciscoPombal commented on #1755
That would work if you can pass flags to the invocation of pkg-config, but how can one do that when installing a plugin from the repository (for example, `$ rz-pm -ci rz-ghidra`, as above)?

[2021-09-26 21:15] FranciscoPombal commented on #1755
So how does usage of `rz-pm` factor into this? Installation of plugins requires building them.
Still, after correcting the pkg-config errors mentioned in the OP and temporarily `chmod 777 /usr/local/lib/pkgconfig /usr/local/include`, I managed to execute `$ rz-pm -ci rz-ghidra` successfully.

The chmod workaround is a solution for another issue - some steps of the installation may require installa

[2021-09-26 21:23] ret2libc commented on #1755
That I don't know yet :) I'm just trying to gather information here so that we can reach a good outcome.

[2021-09-27 07:03] XVilka commented on #1716
This is what QEMU's own gdbserver sends to the Rizin:
[code]

[2021-09-27 08:11] XVilka opened #1756 "Refactor GDB client parsing to use YXML"
Currently parsing is done manually with a bunch of `strstr()~` and `rz_str_startswith()` which is not scalable and hard to modify. We should use YXML since it's already used a subproject anyway:

- `shlr/gdb/src/gdbclient/xml.c`
- `subprojects/yxml/*`
- `librz/bin/format/xnu/rz_cf_dict.c`

Moreover, we could add unit tests with some dumped GDB responses and parse them in these unit tests, checking

[2021-09-27 08:33] XVilka commented on #1009
We can reuse the pretty-printing functions for this mode: https://github.com/rizinorg/rizin/pull/1678

[2021-09-27 09:21] kazarmy commented on #1755
I think what can be done is to have `rz-pm` write temporary `.pc` files into a temp directory somewhere, and then prepend the directory to `PKG_CONFIG_PATH` (idea from https://github.com/Homebrew/legacy-homebrew/issues/44272#issuecomment-142774886). Not sure whether this is the best or only option.

[2021-09-27 09:23] ret2libc commented on #1755
Yeah I was thinking the same about having rz-pm rewriting the .pc files in case the build is compiled with RZ_IS_PORTABLE set to 1. We'd also need to resolve the problem with libutil from meson.

[2021-09-27 09:30] #1717 closed, assigned to nobody

[2021-09-27 11:16] XVilka opened #1758 "Support Windows for `shm://` RzIO plugin"
Seems instead of `shm_open()` API the [CreateFileMappingW function (memoryapi.h)](https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-createfilemappingw?redirectedfrom=MSDN) could be used.

See https://stackoverflow.com/questions/26114518/ipc-between-python-and-win32-on-windows-os for the example

[2021-09-27 17:30] #1624 closed, assigned to nobody

[2021-09-28 05:39] XVilka commented on #1758
See https://github.com/rizinorg/rizin/pull/1761 for testing

[2021-09-28 15:49] #1716 closed, assigned to nobody

[2021-09-29 07:13] ret2libc opened #1770 "rz-diff -H view is wrong when one file is much shorter than the other"
Version:
[code]

[code]

scroll down until the end of the /tmp/b file. things at some point the /tmp/b file will stop scrolling but the /tmp/a one keeps going. Then if you scroll up the /tmp/b file starts scrolling up immediately.

![image](https://user-images.githubusercontent.com/562321/136755035-217d5d03-9b3e-4b4e-9697-5feda5384825.png)
![image](https://user-images.githubusercontent.com/562321/

[2021-09-29 10:19] XVilka opened #1772 "Implement binary `sed` alternative"
To allow easy patching of the binary files.
Good example of such feature is `bbe-` tool: https://sourceforge.net/projects/bbe-/

[code]

[2021-09-29 10:28] ret2libc commented on #1772
I'd move it under ideas. And we would need better definition of what's required for a basic version of this tool, etc.

[2021-09-30 05:56] XVilka commented on #1776
Please attach the binary, thank you.

[2021-09-30 06:42] XVilka opened #1775 "Port `librz/core/ctypes.c` type printing functions to the new `rz_type_as_pretty_string` API"
- Provide one more API function `rz_type_db_base_type_as_pretty_string()` to accept also `RzBaseType` instead of `RzType`
- Port all `tsc`, `tsd`, `tuc`, etc handlers that are located in `librz/core/ctypes.c` to these functions:
    - `rz_core_types_enum_as_c()`
    - `rz_core_types_struct_as_c()`
    - ...

Required for https://github.com/rizinorg/rizin/pull/1517

[2021-09-30 06:48] nnnewb commented on #1776
[cm02-easy.exe.gz](https://github.com/rizinorg/cutter/files/7257285/cm02-easy.exe.gz)

@XVilka

[2021-09-30 17:59] XVilka opened #1779 "`Vv` mode left/right arrows should scroll the function name, not switch to the variables"
[code]
Now, the function name is obviously too long to fit into the right "functions" column. Therefore, I expect left and right arrows to scroll the contents of the left pane to show different parts of the name.
Instead, pressing the right arrow enables "variables" mode, pressing left arrow returns back to the functions mode.

Variables mode already available with `v` hotkey, thus I think arrows

[2021-09-30 18:34] XVilka commented on #1523
It wasn't bug in the RBTree, just some wrong use, closing.

[2021-09-30 18:34] #1523 closed, assigned to ret2libc, Basstorm

[2021-10-01 10:45] #1600 closed, assigned to wargio

[2021-10-01 11:53] Rot127 opened #1782 "Project loading does not reopen all previously opened files."
Opening a project (`rizin -p <project_file>`) which had several files opened before it was saved (via `o <file> <offset> <permissions>`), will only reopen the most recent one.

**Example:**

[code]

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2021-10-01 13:03] ret2libc opened #1784 "afvd Cannot find base type "char [20]""
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora x64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ELF/x86_64
| `rizin -v` full output, **not truncat

[2021-10-02 03:00] #1784 closed, assigned to XVilka

[2021-10-02 08:21] #1775 closed, assigned to DMaroo

[2021-10-02 11:46] DMaroo commented on #1779
Loosely related issue: rizinorg/cutter#2734 (also reproducible in rizin in `vv` mode)

It would be nice to have both of these fixed.

[2021-10-02 19:56] thestr4ng3r opened #1789 "Not all unit test requiring install accept the RZ_PREFIX env var"
Especially for distribution packaging, it is often useful to run all unit tests without installing, or with the install staged into a temporary directory.
The `RZ_PREFIX` env var can be used to tell the tests where the prefix is, but tests taking the prefix directly from `rz_sys_env()` will not respect that.
This makes patching like this necessary: https://paste.sr.ht/~thestr4ng3r/89fb2703bb74a846

[2021-10-04 08:08] ret2libc commented on #1789
I'd go for this!

That said, is that going to be enough to make tests runnable without installing? Also, many unit tests require rizin-testbins to run, which is not really "unit" and i'm not sure many distros would like to download all those things (what about licenses as well?) just to run few unit tests.

[2021-10-04 08:41] thestr4ng3r commented on #1789
Another possibility would be to have a function that always "calculates" the prefix and returns an alloced string (`RZ_OWN char
*rz_core_calculate_prefix(RZ_NULLABLE RzCore *core)`, core optional) which can be used in the unit tests and freed there as well. RzCore can call it once and save the prefix to avoid later recalculation. Then `rz_sys_prefix()` can be removed from util entirely.

Definitel

[2021-10-04 09:05] ret2libc commented on #1789
The thing is that rz_sys_prefix and other functions are called from multiple places that are dependencies of RzCore, so you can't put that into RzCore itself.

[2021-10-04 09:23] thestr4ng3r commented on #1789
It could be injected from outside, e.g. like https://github.com/rizinorg/rizin/blob/e75fbc55516a3585c81bd6bd80c526bd8a5d7f6d/librz/include/rz_type.h#L237

[2021-10-04 09:51] ret2libc commented on #1789
That seems like a good idea indeed. However there are cases like rz-bin where a RzCore is not available but you'd still want to access the Rizin Prefix. Shall we duplicate the code there? :(

[2021-10-04 09:51] #1710 closed, assigned to nobody

[2021-10-04 13:43] thestr4ng3r commented on #1789
Hmm yeah that sucks. I guess the generator function could still be kept in util, even if that's not super nice.

[2021-10-04 14:02] Rot127 opened #1796 "`af` interprets conditional jumps as end of function"
This is the same issue as https://github.com/rizinorg/rz-hexagon/issues/30.

The function analysis of `af` simply interprets conditional jump instructions as the end of a function.

Example:

![rz-example](https://user-images.githubusercontent.com/45763064/135860148-d248f04e-b68a-438d-8269-03ab839b60cf.png)

The instruction `if (!P1) jumpr:nt R31` has the `RzAnalysisOp.type = RZ_ANALYSIS_OP_TYPE_R

[2021-10-04 14:51] ajakk opened #1797 "test_autocmplt segfaults in Rizin 0.3.0 when built via Gentoo ebuild"
### Work environment

Building Rizin 0.3.0 and running the unit test suite via a Gentoo ebuild (in attached tarball)

### Expected behavior

`test_autocmplt` shouldn't segfault

### Actual behavior

`test_autocmplt` segfaults (from the meson test log):

[code]

[code]

The same happens when using bundled tree-sitter,

[rizin.tar.gz](https://github.com/rizinorg/rizin/files/7278870/rizin.tar.gz)

[2021-10-04 14:56] ret2libc commented on #1797
Does it happen if you compile rizin without the ebuild with the usual instructions `meson build && meson compile -C build`?

[2021-10-04 23:16] ajakk commented on #1797
Yes.

[2021-10-05 06:06] ret2libc commented on #1797
Can you provide the instructions to reproduce on a clean docker container?

[2021-10-05 07:10] ret2libc commented on #1789
So, to rephrase the issue:
- [ ] Remove direct uses of rz_sys_prefix and similar functions (e.g. rz_str_rz_prefix) from all Rz modules
- [ ] Inject the prefix from the constructor, see https://github.com/rizinorg/rizin/issues/1789#issuecomment-933304576
- [ ] Change unit tests to have the injected prefix respect RZ_PREFIX env var first
- [ ] Move tests depending on rizin-testbins to integration-te

[2021-10-05 11:43] thestr4ng3r commented on #1797
Very strange:
![20211005_13h40m25s_grim](https://user-images.githubusercontent.com/1460997/136015902-4ab8fa05-c732-40c8-aa0e-15fb1c70a551.png)

This is the v0.3.0 tag and:
[code]

[2021-10-05 11:50] thestr4ng3r commented on #1797
Actually, it is not weird at all. Looks like this also expects an installed prefix. By compiling with a random prefix and not installing, this is reproducible everywhere. cc @XVilka because this seems type-related.

[2021-10-05 12:47] thestr4ng3r commented on #1797
Looks like it only works with install by chance because the cmd parser is initialized here:

![Bildschirmfoto 2021-10-05 um 14 46 01](https://user-images.githubusercontent.com/1460997/136025185-00d38cf3-e3ea-4e0b-ac40-00c28ba6a743.png)

Without install `core->rcmd->language` is still null when the autocompletion is triggered.

[2021-10-05 13:34] thestr4ng3r commented on #1797
Anyway, @ajakk this fixes the issue for the ebuild:
[code]

I would still consider this an issue for us though.

[2021-10-05 13:38] thestr4ng3r commented on #1789
I would say:

- [ ] Add a function that generates the prefix by respecting `RZ_PREFIX` and others, as a heap-allocated local string, without setting any global state, in an appropriate place.
- [ ] Remove direct uses of rz_sys_prefix and similar functions (e.g. rz_str_rz_prefix) from all Rz modules
- [ ] Inject the prefix from the constructor, see https://github.com/rizinorg/rizin/issues/1789#issu

[2021-10-05 14:15] thestr4ng3r opened #1800 "Fail opening a fatmacho"
Binary: https://github.com/yakatak/YKWebPImage/blob/master/WebP.framework/WebP

By default, it is recognized as java because of the magic. With `rz -F mach0`, the archs are broken:
[code]

[2021-10-06 07:03] XVilka opened #1803 "PowerPC Linux build warnings"
[code]

[2021-10-06 07:14] thestr4ng3r commented on #1782
At the moment, this is the expected behavior. See https://rizin.re/posts/introducing-projects/#re-loading-of-underlying-binaries

[2021-10-06 09:39] #1782 closed, assigned to nobody

[2021-10-06 09:45] Rot127 commented on #1782
Just in case someone stumbles over this.
The current way to load a project with multiple files is to open all files in rizin separately and load the project on top of them with
[code]

[2021-10-06 12:42] iGr33k opened #1828 "double-clicking address or name in PIE binary seeks to the wrong address"
**Environment information**
* Operating System: ALL
* Cutter version: 2.0.3
* Obtained from:
  - Downloaded release from Cutter website or GitHub
* File format: ELF

**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:
1. Open Binary
2. Double-Click on the name or address

**Expected behavior**

Open PIE binary and click on address analyzed as `main`, in this example it's `0x43

[2021-10-06 13:03] iGr33k commented on #1828
seems like the problem because Cutter incorrectly handles rip-addressing. Instead of following `0x1128+0x3214` Cutter seeks to `0x3214`.

[2021-10-06 13:36] DMaroo commented on #1797
[code]

@thestr4ng3r Could you apply this patch, and try building from your Gentoo setup and test it? I think this can fix it.

[2021-10-06 15:36] ret2libc commented on #1789
I'm ok with all other points. For this, I was thinking about the Portable builds, which find important resources based on the rizin prefix.. Is it safe to allow the external env to change this? Probably it is, but just thinking...

[2021-10-06 18:02] ajakk commented on #1797
That patch seems to fix it for me!

[2021-10-06 20:51] abhimnc commented on #1803
Hi, I am a newbie here and want to contribute to rizin.
forked the repo. Compiled and install it.
Please give me a headstart on how to resolve this issue?

[2021-10-07 07:24] ret2libc commented on #1803
Hi @abhimnc . This is about compiling Rizin on powerpc, so the best would be to setup a ppc cross-compilation toolchain or a VM. On fedora, for example, there is `gcc-ppc64-linux-gnu` which I think can be used to cross-compile for ppc64. You can read on https://mesonbuild.com/Cross-compilation.html how to cross compile with meson.

After you are able to compile it for ppc, you should be able to se

[2021-10-07 08:39] thestr4ng3r commented on #1789
I would say yes, since in core that already happens. The only danger is of course that one may have `RZ_PREFIX` set to something globally and forget about it, causing another build to do weird things. But it wouldn't be a regression at least.

[2021-10-07 09:03] ret2libc commented on #1789
Sounds good. Please update the description of the issue so it's clear what to do in case some newcomers want to pick this up.

[2021-10-07 14:31] ret2libc commented on #1732
At this point I think I'm going to skip this for now... To better define the problem, this is not only about refactoring those functions, but to properly do that we would need to create the right `RzBinVersion` structure, that is generic enough to contain information from all major file formats (right now we support pe, mach0, elf). Then, we will need to add a `.version` method to RzBinPlugins and

[2021-10-08 04:51] XVilka opened #1805 "Allow loading DWARF information from the separate files"
Many Linux distributions now ship the DWARF debugging information separately from the binaries itself in a packages with `-debuginfo` or similar prefixes.

See:
- https://wiki.gentoo.org/wiki/Debugging
- https://wiki.debian.org/DebugPackage
- https://docs.fedoraproject.org/en-US/packaging-guidelines/Debuginfo/
- https://fedoraproject.org/wiki/Releases/36/ChangeSet#MinGW_debug_symbols_location_chan

[2021-10-08 05:01] DMaroo commented on #1797
@ajakk Just to confirm before I make changes, the following patch fixes the build issues on Gentoo, right?

[2021-10-08 08:45] thestr4ng3r commented on #1797
It does, but it also hides the issue that the cmd parser is not being initialized by default, but only after some command has been run. cc @ret2libc

[2021-10-08 08:47] #1733 closed, assigned to ret2libc

[2021-10-08 09:35] ret2libc opened #1807 "RzShell add auto-completion support for @"
**Is your feature request related to a problem? Please describe.**
When using `cfg.oldshell.autocompletion=false` doing `pd 1 @ <TAB>` does not autocomplete flag names/functions/etc.

[2021-10-08 09:37] ret2libc opened #1808 "RzShell add auto-completion support for @ and @@ modifiers"
**Is your feature request related to a problem? Please describe.**
When using `cfg.oldshell.autocompletion=false` doing `pd 1 @<TAB>` (no space) does not autocomplete possible command modifiers like `@!`, `@(`, `@c:`, `@f:`, etc. or things like `@@=`, `@@.`  `@@F`, etc.

[2021-10-08 13:38] #1797 closed, assigned to thestr4ng3r

[2021-10-09 08:57] #279 closed, assigned to thestr4ng3r, Basstorm

[2021-10-09 09:02] XVilka commented on #955
@Basstorm could you please take a look at this issue then?

[2021-10-09 09:40] XVilka commented on #297
@Basstorm by the way, there are PDB tests that fail on the System-Z as well, please take a look:
[code]

[2021-10-09 10:14] #277 closed, assigned to Heersin

[2021-10-09 11:29] XVilka commented on #1770
@ret2libc please write how to reproduce.

[2021-10-09 11:38] XVilka commented on #1530
It will probably also help to solve corresponding issues on big-endian systems: https://github.com/rizinorg/rizin/issues/297

[2021-10-09 22:09] wargio commented on #297
this looks like a serious regression linked to endianness

[2021-10-11 08:09] ctlayon opened #1812 "mips function call represented as **(code **)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux 5.14.10-arch1-1 x86_64 GNU/Linux
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | mips32r2
| `rizin -v`

[2021-10-11 10:15] ret2libc opened #1814 "rizin-src tarball in releases include .git directories of subprojects"
Tarball from https://github.com/rizinorg/rizin/releases/download/v0.3.0/rizin-src-v0.3.0.tar.xz

[code]

[2021-10-12 05:30] XVilka opened #1824 "Move `librz/cons/grep.c` (`~`) command from the RzCons to the RzCore"
It has nothing to do with the RzCons and belongs along with other commands handling, in RzCore. It also should be better integrated with the rzshell.

- `librz/cons/grep.c`
- `librz/include/rz_cons.h`
- `librz/core/cmd.c`

See also：
- https://github.com/rizinorg/rizin/issues/276
- https://github.com/rizinorg/rizin/issues/985
- https://github.com/rizinorg/rizin/issues/1342

[2021-10-12 07:23] XVilka commented on #1514
I know the reason - it's actually quite trivial. The string search is ran using the physical address of the buf, for example in https://github.com/rizinorg/rizin/pull/1752 I did this code to search in the current address space:
[code]
Thus, to show the right addresses, you have to convert them, probably worth to print both vaddr and paddr in the `iz` output, with `rz_io_p2v()` calls.

[2021-10-12 11:08] DMaroo commented on #1828
If you see Cutter's output on the console, you get the following message from Cutter when you double-click:

[code]

As the message explains, Cutter found more than two addresses referencing the `main` symbol. In such a case, the first xref is chosen which, unfortunately, is not the correct address of `main`. The real problem is why are there 2 xrefs.  This is a Rizin problem and not a Cutter prob

[2021-10-13 07:35] ret2libc commented on #1828
By the way, I think the fact that cutter uses analysis references to seek to things when double clicking, is an issue when you disable analysis, because you can't navigate anywhere.

[2021-10-13 07:44] ret2libc commented on #1828
[code]

@GustavoLCR / @kazarmy do you know where to look at to check why that nop is put in the xrefs?

[2021-10-13 10:44] XVilka opened #1831 "`i` commands return strings with a lot of trailing space"
See, for example `test/db/cmd/cmd_i`. It might be related to the RzTable API. It's better to avoid printing unnecessary whitespace if possible.

[2021-10-13 12:02] ret2libc commented on #1831
is it really a problem? I can see some complications in the rztable api just to do this, because when printing a column you'd have to look at the next one and if it's empty or not... (maybe even based on the type of columns, because for example X should handle -1 in different ways).

[2021-10-13 12:32] #469 closed, assigned to nobody

[2021-10-14 02:39] DMaroo commented on #1828
Yes, I agree. Jumping to memory addresses (like `0x1234`) should not require any analysis.

[2021-10-14 07:43] megrxu opened #1834 "`rz-asm` assembly results may be not correct"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trun

[2021-10-14 13:52] razaina opened #1835 "Wrong default bitness while analyzing arm32 ELF binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARM32
| `rizin -v` full output, **not trunc

[2021-10-14 14:31] XVilka opened #1836 "Fix UTF-64LE string detection when contains `\xa1` character"
[code]

See the test called `Csa, Cs. and Cs.l` in `test/db/cmd/metadata.

Regression was introduced in https://github.com/rizinorg/rizin/commit/39613b5c16401544c9841ba96d9fafff36638315 (https://github.com/rizinorg/rizin/pull/1752/)

Fix is likely required in these files:
- `librz/util/str_search.c`
- `libz/util/utf8.c`
- `librz/util/str.c`

[2021-10-15 08:36] ret2libc opened #1837 "Provide a `help` command that can be used to provide help for common topics"
As a new user I want to be able to understand how to use rizin shell without having to rely on 12321 tutorials online, books, and what not. First thing any user in an unknown shell does is `help`. If they are familiar with r2/rizin they might use `?`, but then they are just presented with a list of commands and not with an explanation on how to chain/use the shell.

This feature request is about a

[2021-10-15 08:48] #792 closed, assigned to XVilka

[2021-10-15 08:49] XVilka commented on #1836
@borzacchiello since you worked successfully on the string search algorithm, could you please take a look?

[2021-10-15 10:31] XVilka commented on #802
I think it should be fixed, @lukasjuhrich please retest on the latest `dev`.

[2021-10-15 10:39] XVilka opened #1840 "Create special category for "system" commands"
Currently there are commands like
- `uname`
- `uniq`
- `clear`
- ...

I wonder if it makes sense to group them together and put in a separate YAML file, their handlers in a separate C file. They don't really belong with the rest.

[2021-10-15 10:49] ret2libc opened #1841 "File autocompletion for ~ ($HOME) does not work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not truncated**

[2021-10-15 10:52] ret2libc commented on #1840
What would be the name of the group?

[2021-10-15 10:53] XVilka commented on #1840
`shell` maybe?

[2021-10-15 12:52] ret2libc commented on #1754
On a second thought, I think it is alright as it is now. I did this on purpose initially because while writing commands it was way too easy to just forget to add the arguments and then I could not understand what was wrong. This forces developers to think about the arguments of their commands.

It is few chars more to type, but it ensures that you as developer add the required arguments for your c

[2021-10-15 12:52] #1754 closed, assigned to ret2libc

[2021-10-15 12:54] ret2libc commented on #1746
I would colore `<arg>` and not `[arg]` because we already use `<arg>` everywhere in the help. When the arg is optional it becomes `[<arg>]` in the help, but still `<arg>` is the way to go for referencing args.

[2021-10-15 14:17] ret2libc commented on #1413
Probably low prio at this moment. It can be improved later so I'm not going to focus on this just right now.

[2021-10-15 14:26] ret2libc commented on #1841
Well... this is actually not an issue. Because the shell can't know you want to autocomplete a file and not simply grepping for stuff (which uses `~`!!!). Thus, I'm closing this.

You can force the autocompletion by doing `zfd "~/<TAB>`

[2021-10-15 14:26] #1841 closed, assigned to ret2libc

[2021-10-15 15:38] #1746 closed, assigned to ret2libc

[2021-10-15 20:14] borzacchiello commented on #1836
yep, I will look into it

[2021-10-15 21:05] borzacchiello commented on #1836
The string at 0x140016018 is misinterpreted due to the false-positive filter (https://github.com/rizinorg/rizin/blob/dev/librz/util/str_search.c#L69).

The filter checks whether:
`n_ascii_chars < n_chars / n_utf_blocks`
In the case of the string, there are 2 UTF blocks (due to `\xa1`), and all characters but one is ASCII, so it fails, and the string is processed again accepting only ASCII characte

[2021-10-16 03:36] XVilka commented on #1836
Yes, in the test it was using the `Cs` commands that didn't share the code with the `izz` (the code you refactored into `librz/util/str_search.c`), it had no such checks and FP filters. But I checked the string and it's absolutely valid, thus it's a bug in the FP filter.

[2021-10-16 09:23] DMaroo opened #1845 "`vw?` results in a black screen"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Garuda Linux (Arch-based), x86_64
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full ou

[2021-10-16 09:41] DMaroo commented on #1845
`cmd.c` is missing an else statement while processing the `v` sub-commands. Relevant lines: https://github.com/rizinorg/rizin/blob/cb46249098f0f238a840f49d1f2a479601f4b03d/librz/core/cmd.c#L1179-L1181

I would invite any new contributors to try this issue. This is an easy issue and will help you start your contributions to Rizin :)

[2021-10-17 08:43] chinggg commented on #1845
It is a weird behavior because I think `v` and `Regex(v[^=i? ].*)` should have the same output as they all call `rz_core_visual_panels_root(core, core->panels_root);` at the end.
`cmd_panels` has not been ported to newshell yet, but it can be modified now. Maybe using `switch...case` is better.

[2021-10-18 08:26] #1845 closed, assigned to nobody

[2021-10-19 05:52] XVilka opened #1856 "Types: allow mixed size pointers"
Inspired by https://github.com/NationalSecurityAgency/ghidra/pull/3331

Currently (see `librz/type/type.c`) we assume the pointer size is fixed for the target and usually in align with the target bitness. We should support a way to specify pointer size different from the target bitness and to specify a different size for one particular pointer or typedef to that pointer.

[2021-10-20 07:49] thestr4ng3r opened #1858 "Make RzILBitVector not use heap for <=64bits"
The current structure of a bitvector is the following:
[code]

Assuming we are on a 64bit platform, this can be enhanced to not allocate the data somewhere else for bitvectors <=64bit without making the struct bigger:

[code]

Whether to use `small` or `large` can be determined simply by checking the value of either `len` or `_elem_len`.

[2021-10-20 07:55] thestr4ng3r opened #1859 "Use RzILBitVector directly in rzil_op_int_t"
The int opcode currently looks like this:
[code]

It simply represents a constant bitvector value and in practice will be converted to RzILBitVector for further usage:
[code]

So the op could actually be just:
[code]

It might make sense to do #1858 first, for less memory usage.

[2021-10-20 12:58] #691 closed, assigned to ret2libc, thestr4ng3r

[2021-10-20 12:59] #657 closed, assigned to ret2libc

[2021-10-21 04:30] XVilka opened #1864 "Rizin cannot find `main()` function in the `/bin/ls` binary from Fedora 35 x86_64"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trunc

[2021-10-21 04:31] DMaroo commented on #1840
I think this should be done before #1854 is merged. This is because there are at least 4 shell commands starting with `c` (`cd`, `cat`, `cp`, `clear` (or `cls`)). It would be nicer to port them before, rather than re-porting them once #1854 gets merged.

[2021-10-21 07:22] ret2libc commented on #1840
Please note that once things are ported to rzshell it is very easy to move one command from one place to the other, because it is just a matter of moving the entry in the .yaml file and everything will still work easily. So if you want to work on this first, sure, but in theory it should not be too much work even if done after.

[2021-10-21 07:37] ret2libc opened #1866 "`ecn`/`ecp` do not work when starting from default theme"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 33 x86_64
| File format of the file you reverse (mandatory)      | none
| Architecture/bits of the file (mandatory)            | none
| `rizin -v` full output, **not trunca

[2021-10-22 05:12] XVilka opened #1873 "NetBSD build warnings"
[code]

[2021-10-22 05:27] XVilka opened #1874 "Remove global state from TUI modes"
# `librz/core/tui/panels.c`
[code]

[2021-10-22 12:22] XVilka opened #1877 "Split predefined `$variables` into categories"
[code]

We could make the help better by splitting those into categories. Moreover, some of the variables could probably be renamed for clarity and consistency.

[2021-10-23 17:16] #1864 closed, assigned to nobody

[2021-10-24 02:23] XVilka opened #1881 "dist\windows\rizin.iss: No files found matching "C:\Users\RUNNER~1\AppData\Local\Temp\rizin-win-installer\*""
@ret2libc same 3 failing checks:
[code]

_Originally posted by @XVilka in https://github.com/rizinorg/rizin/issues/1876#issuecomment-949543139_

[2021-10-24 21:31] 0400H opened #1882 "Is it possible to provide some preset configuration files for Visual Panels?"
As a beginner, it is difficult to use it proficiently.
Is it possible to provide the configuration shown in the figure below?
Is it possible to provide preset configurations in future versions?

[panels_overview](https://book.rizin.re/visual_mode/panels_overview.png)
![panels_overview](https://book.rizin.re/visual_mode/panels_overview.png)

[2021-10-25 03:41] XVilka opened #1883 "Add an option to show instruction numbers in `pd`, `pi` commands, various visual modes"
Currently there is an option to print 50 instructions by using `pd 50` or `pi 50`. But there is no quick visual way to determine the index and count of those in the output of `pd` or visual mode.

I propose to add a new column with output similar to {Neo}Vim to show the line (in our case - instructions) numbers.
We could call it `asm.instr.index` or something similar. We also could have it disable

[2021-10-25 08:34] ret2libc commented on #1881
Where does this happen @XVilka ? I started a PR some days ago just to test this and all windows builds succeeded.

[2021-10-25 08:40] XVilka commented on #1881
@ret2libc happened on my latest Coverity PR: https://github.com/rizinorg/rizin/pull/1876

[2021-10-25 09:12] 0400H commented on #1882
where is the Pseudo(source code) UI?
I mainly use this software for debugging. The Pseudo UI is very important, but I can’t find it.

Such as:
[code]
![捕获](https://user-images.githubusercontent.com/16373603/138669638-213c17d3-d004-4cd3-8d1a-ed904a492ee8.JPG)

[2021-10-25 09:49] ret2libc commented on #1881
I have already mentioned somewhere else that I suspect those are problems with your PRs, because I created a clean PR days ago and it worked, while at the same time it didn't work on your PR.

In particular, the issue you see seems to be caused above by things like:
[code]

The builds are not completing correctly.
Probably the script should fail immediately at the failure of ninja step, but that i

[2021-10-25 09:52] ret2libc commented on #1877
This needs some more thinking as `$` is also reserved for aliases, so having for example an alias `$c` could be quite confusing.

[2021-10-25 11:18] XVilka commented on #1877
@ret2libc maybe we could use `%var%` syntax, like Windows cmd.exe?

[2021-10-25 11:21] ret2libc commented on #1877
That would mix a bit with `%` (env) commands... But since `%` is already the same as `env` we could just use `env` and allocate `%` for the variables.

[2021-10-25 13:58] kazarmy opened #1887 "Number of added OK tests by `rz-test -L` for testfile is inconsistent"
### Work environment

linux-meson-gcc-tests CI

### Expected behavior

Whenever a log line is added by `rz-test -L`, the number of added OK tests for a testfile should be consistent.

### Actual behavior

https://github.com/rizinorg/rizin/runs/3995138147?check_suite_focus=true#step:16:562 (+8 OK)

![cmd_pt_1](https://user-images.githubusercontent.com/12002672/138708280-80c5a691-fc10-4dea-ad2f-497e

[2021-10-26 04:04] #1840 closed, assigned to DMaroo

[2021-10-26 08:58] XVilka commented on #1881
Every time looks like it failed on different SDB files:
[code]

[2021-10-26 10:03] XVilka opened #1889 "Failure to generate 32bit Linux shellcode from 'raw' sources"
The failing test seems also to be failing for the `rz-gg` tool itself, which shares the same code with `g` commands. Test expects the shellcode with the last `jmp 0x60` instruction:
[code]
Here is the source code of this `simple_cmp.r` shellcode:
[code]
The assembly code that `simple_cmp.r` produces is this:
[code]

See:
- test/db/cmd/cmd_egg
- test/db/tools/rz_gg

_Originally posted by @XVilka in

[2021-10-26 10:05] XVilka commented on #1882
You can find the TUI source code in `librz/core/tui/*` files.
If you want to have a decompilation result, you need to install [rz-ghidra](https://github.com/rizinorg/rz-ghidra) plugin to be able to see the pseudocode as well with `pdg` command. Be sure to check if it's loaded correctly with `Lc` command:
[code]

[2021-10-27 04:00] DMaroo opened #1892 "`V?` does not print the help"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Garuda Linux, x64 (Arch based)
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | Any
| `rizin -v` full output,

[2021-10-27 07:31] #1807 closed, assigned to nobody

[2021-10-28 16:11] #1808 closed, assigned to nobody

[2021-10-29 11:41] ogre2007 opened #1903 "Add rz-ghidra to docker container"
**Is your feature request related to a problem? Please describe.**
I cannot install rz-ghidra in rizin docker container. It requires compilation, but after build stage there is no cmake etc.

**Describe the solution you'd like**
Add possibility to build docker container with implicit rz-ghidra.

**Describe alternatives you've considered**
Add possibility to install rz-ghidra without compilation.

[2021-10-29 14:11] ret2libc commented on #1903
Ok this is my fault, see 86ba9550c70c6362cd2f25d73d5216ff54e451ac and https://github.com/rizinorg/rizin/pull/1381 .
As commented in the commit description, we should allow rz-pm to install things in a specific directory, so that the build of rz-ghidra can be done in the stage0 container with DESTDIR=/tmp/rizin-install and then the binary files moved into the stage1 container. I hope to move forwar

[2021-10-29 15:19] ogre2007 commented on #1903
As a workaround, I've used this:
[code]
So it may be useful for someone. But the resulting image size raised from 400 MB to 1.8 GB, so it's not a cure.

[2021-10-30 10:25] #1887 closed, assigned to nobody

[2021-10-31 00:28] Andersama opened #1909 "Arbitrarily high hit counts / high allocation counts hurts search performance, refactor search hits to use rz_vector?"
**Is your feature request related to a problem? Please describe.**
May be more related to cutter's gui because it looks like the api has a maximum search limit / count and perhaps that'd solve the issue in commandline. However, without knowing that in advance you can hang the application by running a search which may have too many results. The issue stems from usage of a list structure which alloc

[2021-11-01 00:01] mdonoughe commented on #1320
PerfView sampling on my system says about 60% of samples are in `CreateProcessWStub` so it looks like process creation is the problem. I tried explicitly specifying the handles to inherit using `PROC_THREAD_ATTRIBUTE_HANDLE_LIST`, but there was no meaningful improvement. If this is the performance limit for process creation on Windows there's not much that can be done about it short of redesigning

[2021-11-01 08:09] XVilka opened #1918 "Implement missing RZIL operation handlers"
## Bitvectors
- [x] SLE https://github.com/rizinorg/rizin/pull/2094
- [x] ULE https://github.com/rizinorg/rizin/pull/2094
- [ ] CONCAT (postponed until there is a real need)
- [x] APPEND  https://github.com/rizinorg/rizin/pull/1936
## Effects
- [x] JMP https://github.com/rizinorg/rizin/pull/1924
- [x] BLK https://github.com/rizinorg/rizin/pull/2119
- [x] REPEAT https://github.com/rizinorg/rizin/pu

[2021-11-01 09:32] #1892 closed, assigned to nobody

[2021-11-01 09:40] Rot127 opened #1919 "Make it mandatory to document modified or newly created functions/structs in PRs"
### Is your feature request related to a problem? Please describe.

As a newbie with rizin and as not so experienced programmer it was/is relatively hard to understand the code base.

E.g. when I try to fix a bug, quite a lot of time goes into understanding the path of execution in order to pinpoint the function which _could_ be the problem.

Mostly because quite a lot of functions have no short d

[2021-11-01 13:53] XVilka opened #1921 "Support for Python 3.9, 3.10 bytecode"
Latest currently supported is Python 3.9alpha. Likely will require just updating the magic value. Also tests are required.

- [`librz/bin/format/pyc/pyc_magic.c`](https://github.com/rizinorg/rizin/blob/dev/librz/bin/format/pyc/pyc_magic.c)

[2021-11-01 17:51] officialcjunior commented on #1919
This is a pretty good idea, IMHO. I am positive that this will remind us to add docs if we missed it. I think we can try having this as a checkbox.

I think, most of the APIs that we introduced after the fork has pretty good Doxygen `\brief` docs to it, it's the others that mostly doesn't. So, your idea, which is:

will probably drive us in the right direction :)

[2021-11-02 03:47] XVilka opened #1925 "Alpha linux: linux_debug.c:1170:17: error: unknown type name ‘RZ_DEBUG_REG_T’; did you mean ‘RZ_DEBUG_H’?"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian Alpha
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (man

[2021-11-02 03:50] XVilka opened #1926 "RISC-V Linux debug support"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian RISC-V
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated** (ma

[2021-11-02 09:25] XVilka opened #1927 "HPPA (PARISC) Linux support"
- [ ] Native debugger support
- [ ] GDB remote connection support (e.g. to QEMU gdbserver)

[code]
[code]

Readily available QEMU VM is at [rizin-debian-11-hppa-qemu-qcow2.zip](http://xvilka.me/rizin-debian-11-hppa-qemu-qcow2.zip)

[2021-11-02 14:01] fred26 opened #1928 "Problem building in Windows 10, Visual Studio 2019"
I am having problems building via meson in Windows. I run `meson --buildtype=release --prefix=%CD%\rizin-install build`  from the "x64 Native Tools Command Prompt for VS 2019" and receive the following errors:

Version: 0.59.4
Source dir: D:\Users\feder\Files\Code\Development\rizin-dev
Build dir: D:\Users\feder\Files\Code\Development\rizin-dev\build
Build type: native build
Project name: rizin
Pro

[2021-11-02 16:36] #1859 closed, assigned to nobody

[2021-11-03 04:21] XVilka opened #1931 "SPARC Linux support"
[code]

Readily available QEMU VM is at [rizin-debian-11-sparc-qemu-qcow2.zip](http://xvilka.me/rizin-debian-11-sparc-qemu-qcow2.zip)

[2021-11-03 05:21] XVilka commented on #1928
It should work. We use `dist/windows/vsdevenv.ps1` and `dist/windows/build_windows_installer.ps1` scripts. Maybe you could try those instead from the general PowerShell?

[2021-11-03 08:25] ret2libc commented on #1903
Thanks a lot. Yes that's was what I had in mind for people who wanted rz-ghidra right now. As you said, it increases a lot the size because of all the building files and the build requirements (e.g. g++, etc.).

Ideally, we should be able to tell rz-pm to install rz-ghidra in a particular DESTDIR and then, using staged Dockerfile, we can just move the binary files in the DESTDIR into the final con

[2021-11-03 08:49] ret2libc commented on #1919
I'm +1 for the checkbox!! Good idea. We try to have documentation for new APIs and new public structures.

[2021-11-03 08:49] ret2libc commented on #1919
Can you send a PR to edit  the `PULL_REQUEST_TEMPLATE.md` file?

[2021-11-03 09:07] ret2libc commented on #1928
[code]
I suggest to update meson first and make sure your windows installation is in a good shape. Never seen this error and it does not seem strictly related to Rizin.

[2021-11-03 09:07] #1928 closed, assigned to nobody

[2021-11-03 10:16] ret2libc commented on #1909
Hi! Thanks for your report.

Could you be a bit clearer on what is the problem before discussing possible solutions?
What are you doing? What is the version of Rizin you are using? Which OS? Which binary (if possible to share)?

From the `additional context` section I'm trying doing (Fedora 34, x86_64, rizin v0.3.0)
[code]
And this happens very quicky. Did I understand it right? Are you doing anyt

[2021-11-04 04:19] #1919 closed, assigned to nobody

[2021-11-05 18:14] kallisti5 opened #1943 "Segfault opening riscv64 elf binary with debug symbols"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ArchLinux x86_64
| File format of the file you reverse (mandatory)      | elf
| Architecture/bits of the file (mandatory)            | riscv64
| `rizin -v` full output, **not trun

[2021-11-05 18:16] kallisti5 commented on #1943
[rizin_crash.txt](https://github.com/rizinorg/rizin/files/7488118/rizin_crash.txt)

[2021-11-05 18:17] kallisti5 commented on #1943
[boot_loader_efi.gz](https://github.com/rizinorg/rizin/files/7488132/boot_loader_efi.gz)

[2021-11-05 18:19] kallisti5 commented on #1943
[code]
When compiled with ASAN and asserts:
[code]

[2021-11-07 21:14] 0pendev opened #1944 "Unable to correctly retype a var as struct on binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian x86/64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncate

[2021-11-07 21:17] 0pendev commented on #1944
Had an issue with firefox to upload the example binaries.
I'm reuploading them here.

[example.zip](https://github.com/rizinorg/rizin/files/7493105/example.zip)

[2021-11-08 09:22] ret2libc commented on #1944
I'm probably missing this, but where are the errors?

[2021-11-08 12:24] ret2libc commented on #1866
This was solved by @officialcjunior i think.

[2021-11-08 12:24] #1866 closed, assigned to nobody

[2021-11-08 12:27] ret2libc opened #1947 "No way to distinguish between "core files" and "other files"."
**Is your feature request related to a problem? Please describe.**
I want to use `ou` to specify which file to use, when I have multiple ones available, however when I look at the output of `o` I see multiple files available, including some `null://` and `vfile://` and other kind of files. When I use `ou` I can only use the core files though and there is no way to know which of the entries in the

[2021-11-08 14:25] 0pendev commented on #1944
If you compare the instruction on the offset 0x00401190 of the expected behaviour after defining my struct you can see :
`│      │    0x00401190      mov   rax, qword [data.rip]`

On the actual behaviour I get :
`│       │   0x00401085      mov   rsi, qword [rsp + 0x88]`

I looks to me like the issue occurs when variables are defined relatively to rsp instead of rbp (wich happens with optimization

[2021-11-08 15:17] ret2libc commented on #1944
@XVilka I remember you touched recently this code. Could you have a look when you have some spare time?

[2021-11-09 14:00] Rot127 opened #1951 "Allow to list all settings effecting a command"
**Is your feature request related to a problem? Please describe.**
Some commands are effected by settings which are not directly apparent. Especially not for new users (I assume).

**E.g.:** The command `aar` does not analyses conditional jumps. Only if `analysis.jmps.cref = true` (it is `false` by default).
It is easy to miss this option.

**Describe the solution you'd like**
Having a way to disp

[2021-11-09 14:16] Maijin opened #1952 "iR <hashalgo>"
**Is your feature request related to a problem? Please describe.**
To be able to hash resource the same way we can hash Section like `iS md5` -> `iR md5`.
Just like for iS it should show the hash for non-virtual

`iRj` algo should also work

**Describe the solution you'd like**
`iR algo`
`iRj algo` should also work

[2021-11-09 15:33] ret2libc commented on #1952
It should be quite easy to do. If anyone wants to have a look, you can "borrow" some code from `rz_core_bin_sections_print` and add it to `rz_core_bin_resources_print`

[2021-11-09 15:38] ret2libc commented on #1951
Could you elaborate more on this?

I love the idea, but I don't know yet how to make this list of flags straightforward to update/automatic. Because the problem is that every piece of code could call rz_config_* APIs and depend on some values. I can't think about an automatic way to determine which configuration vars are touched by any given command handler.

BTW, if one wants she can use a longer

[2021-11-10 03:35] xrkk opened #1954 "Disable some stdout message when using rzpipe"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When open some file with rizin, it might print a huge amount of messages like `unimplemented ELF/PPC reloc type 22`, which is very annoying. Can this be disabled?

**Describe the solution you'd like**
A clear and concise description of wha

[2021-11-10 09:57] ret2libc opened #1956 "Provide rz_msg_digest API to compute digests from RzBuffer"
**Is your feature request related to a problem? Please describe.**
Current API always require you to have all the data in memory. Although this is not a problem for small binaries, it is a huge issue for binaries that are hundreds or thousands of MB. Moreover, the binary data is already allocated and requiring users of the rz_msg_digest API to allocate a new buffer and rz_read the data in there is

[2021-11-10 09:57] ret2libc commented on #1956
@wargio why do you disagree with providing such an API?

[2021-11-10 10:11] Rot127 commented on #1951
The idea is to create a call graph for each command handler. The tool which creates the call graph has to be aware of the arguments given to each function in the call graph.
Or the line in the src file each function occurs (this way we could grep the arguments from the src files).

Once we have the call graph of each command handler we check for the following:
[code]

[2021-11-10 10:18] wargio commented on #1956
the current C APIs allows to init, update and finalize, maybe i should change them to use directly the RzBuffer

[2021-11-10 11:00] ret2libc commented on #1956
That would be one way. Otherwise you could also just replace the small_block callback with one that uses RzBuffer. The new API will have anyway to read small chunks of data from the buffer and init/update/update/update/..../fini .

[2021-11-10 11:02] wargio commented on #1956
the current apis already supports this, just not with RzBuffer. there are 2 apis, small blocks and big blocks (via init/update/fini)

[2021-11-10 11:03] ret2libc commented on #1956
As said, I'm proposing to replace small_block callback to accept RzBuffer instead.

[2021-11-10 11:47] xrkk opened #1957 "`Failed to load project: invalid content encountered` when file is moved"
When open previous saved .rzdb file:
[code]
May I know what features are affected?

[2021-11-10 12:05] ret2libc commented on #1957
can you share the .rzdb file? How did you create it?

[2021-11-10 22:32] wargio commented on #1957
have you moved the binary file which you have used for the project ?

this is what is throwing the error.
[code]

[2021-11-10 23:21] xrkk commented on #1957
Yes, the binary file is moved.
Does it matter to do futher analysis with this rzdb?

[2021-11-10 23:55] wargio commented on #1957
yes, the issue is because that file has been moved. @thestr4ng3r is there a way to override this?

[2021-11-11 05:30] XVilka opened #1961 "Refactor `RzTable` API and implementation"
- [ ] Make using table queries non-destructive - currently they modify the original table, they should provide some "views" instead of modifying the table.
- [ ] Provide the API to set a particular value given the names of the column and the row (overwrite if exists, adds if not)
- [ ] Provide the API to set a particular value given the indexes of the column and the row (overwrite if exists, adds

[2021-11-11 07:04] thestr4ng3r commented on #1957
Two ways to override this:
* Change either the absolute or relative (to the rzdb file) path in the rzdb file with a text editor:
[code]
* Open the binary manually with `rz <binary>`, then load the project on top with `Poo 0f673.rzdb`

[2021-11-11 09:11] xrkk commented on #1957
OK. I understand. Thank you!

[2021-11-11 10:08] ret2libc commented on #1957
Can we close this?

[2021-11-11 11:59] xrkk commented on #1957
Yes. Thank you for your time!

[2021-11-11 11:59] #1957 closed, assigned to nobody

[2021-11-11 12:06] vext01 opened #1963 "Provide an `e` option for the default visual view."
**Is your feature request related to a problem? Please describe.**

I mostly use visual disassembly mode. It would be nice if there was the option to select the default visual view to save keystrokes.

**Describe the solution you'd like**

Something that I can put in my config file that could make visual mode start in disassembly mode.

e.g.
[code]

**Describe alternatives you've considered**

Jus

[2021-11-14 10:03] #1963 closed, assigned to nobody

[2021-11-14 10:04] thestr4ng3r commented on #1963
`echo "e scr.visual.mode=1" >> ~/.rizinrc`

[2021-11-14 20:19] geekscrapy opened #1978 "iH - add JSON output"
It would be great to get JSON output of the iH command

I think it was originally raised here: https://github.com/radareorg/radare2/pull/14515

[2021-11-14 21:54] wargio commented on #1978
This is kinda hard to implement to be as generic as possible outside to implement this per bin format.

[2021-11-14 22:33] wargio commented on #1943
i can't reproduce this with current dev. this needs to be tested on v0.3.1

[2021-11-14 22:49] wargio commented on #1881
i think this issue is related to CI running on the same machine at the same time.

[2021-11-14 23:44] Andersama commented on #1909
I built off of whatever's included by default for building cutter on it's default branch. I'm on windows x64 bit. From memory I ran the command to search for 0's by accident across all memory maps when I was attached to inscryption.exe, there's a demo on steam which I can only imagine would do the same thing. I don't have complete context for what rizin would've done in command line, I essentially

[2021-11-15 10:03] XVilka opened #1981 "Make a dummy PDB symbol server just for CI tests"
Every time CI runs a job it tries to perform a network request to fetch the PDB.
From time to time it fails. Or for some restricted workers, like Alpine Static it fails as well.
Idea is to implement simplest server just for testing purpose.

Ghidra does the same:
- https://github.com/NationalSecurityAgency/ghidra/blob/master/Ghidra/Features/PDB/src/test/java/pdb/symbolserver/DummySymbolServer.java

[2021-11-15 10:41] wargio commented on #1943
@XVilka `aaa` dores not crash on stable branch either. also when advance analysis features are enabled.
@kallisti5 is there something besides `aaa` that you have done to crash rizin?

[2021-11-15 10:47] wargio commented on #1943
i'm closing this, please re-open it if you have the same issue when 0.3.1 will be out.

[2021-11-15 10:47] #1943 closed, assigned to nobody

[2021-11-15 12:22] JCWasmx86 opened #1982 "`double free or corruption (fasttop)` if analysing unstripped binary"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            |  x86/64
| `rizin -v` full output, **not truncat

[2021-11-15 13:30] #1952 closed, assigned to nobody

[2021-11-15 13:56] #1858 closed, assigned to nobody

[2021-11-15 21:33] #413 closed, assigned to nobody

[2021-11-16 18:41] wargio commented on #817
@williballenthin Hey, i want to improve the FLIRT support on rizin and also generate signatures, do you have signatures that i can use for testing? like bin -> pat -> flirt that i can test so i can write some code to test the generation?

[2021-11-16 18:56] williballenthin commented on #817
our scripts and data for building signatures are here: https://github.com/mandiant/siglib/, for example, here: https://github.com/mandiant/siglib/tree/master/data/VS2019

this contains references to where we got the bin, the intermediate pat files, and also the sig files. you'll have to bring your own `sigmake.exe` though :-/

[2021-11-16 18:58] williballenthin commented on #817
there's also [idb2pat](https://github.com/mandiant/flare-ida/blob/master/python/flare/idb2pat.py) that you can use to understand how to generate pat files from mapped modules (such as within IDA).

[2021-11-16 20:51] wargio commented on #817
nice! thank you! i will start giving a look to the files :)

[2021-11-17 10:51] #1881 closed, assigned to ret2libc

[2021-11-18 09:50] ret2libc commented on #1978
Yes indeed I am not sure how much benefit there would be in such output because you would need to know what type of file you are dealng with to even know which fields to expect in the JSON.. Maybe it's still useful, but not the best scenario. Other ideas?

[2021-11-18 09:54] ret2libc commented on #1909
We would need few more details to start looking at this. I feel this is more of a "bug report" rather than a "feature request"

We need to understand, at least:
* OS
* rizin full version
* cutter version (taken from where: appimage, exe, etc.)
* binary format (or even better if binary can be shared)
* how did you trigger the bug exactly
* any other bits of info useful to reproduce the bug.

Withou

[2021-11-18 10:08] XVilka commented on #1978
You can wrap the iH output in the "{ format: elf, header: { }}" or
something like that.

On Thu, Nov 18, 2021, 17:51 Riccardo Schirone ***@***.***>
wrote:

[2021-11-18 10:14] ret2libc commented on #1978
still, it doesn't help you much because then you (as the user of the API/command) have to know that elf has "type", "machine", "version", "entrypoint", etc. while pe has something else. Which might be alright, not saying it isn't, but it should be clear at least.

[2021-11-18 10:16] ret2libc commented on #1982
If anyone wants to give this a shot, this is the ASAN trace (commit 5d42d9d1636c165083eeb7348e4beba4bfbb48f2):
[code]

[2021-11-18 10:42] wargio commented on #1978
maybe we can output in json format `pf`

[2021-11-18 12:59] Andersama commented on #1909
Sure ok, I guess you're asking to be more specific:
Windows 10 Home: Version 10.0.19042 Build 19042 (x64)
![image](https://user-images.githubusercontent.com/25020235/142417600-550d387a-851b-46f4-a41d-1db64d5fe33a.png)
![image](https://user-images.githubusercontent.com/25020235/142417786-f173108e-b2d2-405a-87ac-41361f86cdf6.png)

Here's what I did, or I believe there might be an extra option when d

[2021-11-19 16:39] thestr4ng3r opened #1999 "Adding Comments from Visual Mode is broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 12 arm64
| File format of the file you reverse (mandatory)      | malloc://
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.4.0 @ darwin-arm-64 commit: 44

[2021-11-20 09:58] #1999 closed, assigned to nobody

[2021-11-20 10:30] Maijin commented on #878
still accurate

[2021-11-22 08:49] ret2libc commented on #676
This seems to be still very slow...

[2021-11-22 12:27] thestr4ng3r opened #2010 "Move RzILBitVector to RzUtil"
The bitvector is very generic and useful in many places.
It should be renamed from `RzILBitVector` to just `RzBitVector` and moved to RzUtil.

[2021-11-23 12:41] carlocab opened #2013 "Build Improvements for Packaging"
**Is your feature request related to a problem? Please describe.**
@ebmmy was kind enough to work on packaging Rizin for Homebrew. See Homebrew/homebrew-core#89709.

While trying to get the build to pass in Homebrew CI, we encountered issues in `meson` being able to find Homebrew `xxhash` and `libmagic`.

`libmagic` is found via Meson's `find_library`. Unfortunately, `find_library` doesn't seem to

[2021-11-23 12:48] ret2libc commented on #2013
Amazing!! <3 Thanks a lot for this, it's much appreciated.

I will work through the rest of your report to find the best solution.

[2021-11-23 12:56] ret2libc commented on #2013
Nice catch, I think indeed I should replace `dependency('xxhash'..)` with `dependency('libxxhash')` because also on Ubuntu, Fedora and Arch linux the file is called libxxhash.pc. I guess this was a mistake on my side and with this change the find_library fallback should not be needed.

[2021-11-23 12:58] carlocab commented on #2013
That makes sense. Maybe a `dependency('libmagic'...)` would work for our `libmagic` issue too? We have a `libmagic.pc`. Is there any reason `libmagic` doesn't use the `dependency`-with-fallback-to-`find_library` pattern for the other dependencies?

[2021-11-23 12:59] ret2libc commented on #2013
Same for this. We should probably just use `dependency('libmagic'...`).

[2021-11-23 13:00] ret2libc commented on #2013
From the top of my head I *think* I did it that way because I couldn't find the .pc files, but I could be wrong as well and I could have just missed those files. The safest approach is probably to use the dependency + find_library fallback approach for both libs.

[2021-11-23 13:01] carlocab commented on #2013
`libmagic`'s `.pc` file is also called `libmagic.pc`, so that might also be why `dependency('magic'...)` doesn't work.

[2021-11-23 13:01] ret2libc commented on #2013
@carlocab is it ok if we reference homebrew in our INSTALL section as a way to install Rizin on Mac after the formula will be mergd?

[2021-11-23 13:02] carlocab commented on #2013
Of course; that's more than okay. :)

[2021-11-23 14:55] Semnodime opened #2014 "Trailing nibble causes any disasm to fail"
*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v`  | rizin 0.1.0-git 25359 @ linux-x86-64 git.0.1.0-git commit: 8d81d392c76aea394019fd2993f5

[2021-11-23 15:03] Semnodime commented on #2014
In case this currently is expected behavior, I propose to allow for trailing nibbles to simply be parsed as invalid instructions.

[2021-11-23 15:21] ret2libc commented on #2014
Please update your rizin. I see it is still 0.1.0-git, we are at version 0.3.1 now (though as you can see below this was fixed already at least in 0.3.0).

[code]

[2021-11-23 15:25] Semnodime commented on #2014
@ret2libc Your demo is invalid (I accidentally posted the working code that I used to print the expected behavior in the 'expected behavior' section.) Please use the code from the 'actual behavior' section.

I will update my version though to verify my assumption that behavior didn't change since my version of rizin.

[2021-11-23 15:46] OctavioGalland opened #2015 "CVE-2021-4022: Segfault when analyzing an ELF64 for HPPA architecture"
### Work environment

With @ogianatiempo we discovered a bug which makes rizin crash when analyzing certain kind of binaries.

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 x86_64 64
| File format of the file you reverse (mandatory)

[2021-11-23 18:40] ret2libc commented on #2014
Ah ok no problem then! I reopened the issue. Could you edit the description to correctly provide the expected behavior please?

[2021-11-23 18:44] ret2libc commented on #2014
Also, what does `55f` mean? `55f0`? Or `055f`? `55` in x86-64 is `push rbp`, and `f0` is likely an invalid byte sequence alone, so that's why you get `push rbp; invalid`.

[2021-11-23 20:29] p371jah commented on #2015
Can't reproduce.

[2021-11-23 21:42] Semnodime commented on #2014
already done

`55f` should be interpreted as `55f0` and result in
[code]
It just returns `invalid` and it does so on `stderr`, as I figured out now.

------------

`555555555555555555555555555555555555555555555555555555555555555555ff` will be disassebled into
[code]
on stdout.

whereas `555555555555555555555555555555555555555555555555555555555555555555f` will be disassembled into just `invalid` on

[2021-11-23 21:43] Semnodime commented on #619
This is not binary specific and should reproduce with any large binary.

[2021-11-24 00:32] #1982 closed, assigned to nobody

[2021-11-24 02:32] Semnodime commented on #1726
@XVilka I was able to collect even more assembly-bugs and want to fix them.

As I assume those bugs are introduced by the "x86 handmade assembler" rz_asm_plugin_x86_nz.
Now I wonder why this assembler plugin exists in parallel to the rz_asm_plugin_x86_nasm.
I have read somewhere in the repo, that the latter is not available on mac_os in x86_64 mode.

Is this the only reason why there's another x86

[2021-11-24 05:27] XVilka commented on #2015
Endless loop, it seems:
[code]

[2021-11-24 07:22] Semnodime opened #2021 "Wrong x86_64 assembly due to the handmade assembler"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| Architecture/bits of the file            | x86_64
| version | rizin 0.1.0-git 25359 @ linux-x86-64 git.0.1.0-git commit: 8d81d392c76aea394019fd2993f5d32f3c1f94a2 build: 2021-01-03__19:10:40

### Expected behavior
Correct assembly.

##

[2021-11-24 08:32] ret2libc commented on #1726
It is a while we talk about assemblers and yes, the `nz` assembler is very far from perfect and it's an hand made one which gets continuous reports from users failing to assembling the instructions they want. It was there because... it always existed and since it doesn't have any other dependency it can easily compile and be used everywhere, however it has some limitations as you can see.

We are

[2021-11-24 09:14] ret2libc commented on #2013
@carlocab https://github.com/rizinorg/rizin/pull/2023

[2021-11-24 09:25] carlocab commented on #2013
Thanks!

[2021-11-24 12:40] OctavioGalland commented on #2015
Sorry, forgot to add: The crash only happens on a release build. When running a debug build, the error condition is catched by the assertion at the beginning of the function `rz_core_analysis_type_match`.

[2021-11-24 13:20] OctavioGalland commented on #2015
This is a similar output to the one we saw when we tested this using asan. But I think this isn't an infinite loop: at first a bunch of warnings are produced, but then asan detects a read at an invalid address (that read is triggered by the line `analysis_tp.c:950`, which is a call to `free`). If asan wasn't enabled, it would have resulted in a segfault.

Another way to test this is to debug it an

[2021-11-24 23:39] #2013 closed, assigned to ret2libc

[2021-11-26 05:21] #1758 closed, assigned to nobody

[2021-11-26 07:07] PeiweiHu commented on #1961
Do the names/indexes mean one can pass multiple names/indexes?

So the function signature looks like: `bool rz_table_set_val(RzTable *t, RZList *items, const char *arg, ...)`

[2021-11-26 08:24] XVilka opened #2029 "Allow to set expected value of tests to fail in `rz-test`"
On some targets, like Alpine Static or Debian old a few tests fail, e.g. debugging ones and there is no intention to ever fix them.
For now we ignore all test results on those, which might lead to huge regressions in the future. Also for some ongoing ports like System-Z where only some tests pass, but it would be nice to avoid further breakage.

I suggest to add two options:
- `--expect-pass=X` to

[2021-11-26 14:01] ret2libc commented on #2015
@OctavioGalland I marked the CVE in the title. I think in the future we could actually just assign them ourselves from Github, WDYT @XVilka @wargio @thestr4ng3r @kazarmy ?

[2021-11-26 14:05] XVilka commented on #2015
@ret2libc yes, we did this in the past.

[2021-11-26 14:09] wargio commented on #2015
sounds good to me.

[2021-11-26 16:48] #2015 closed, assigned to nobody

[2021-11-26 17:53] wargio commented on #2015
@OctavioGalland can you confirm that the issue has been patched?

[2021-11-29 04:10] XVilka commented on #189
@GustavoLCR could you please check it, especially in terms of the Windows ARM?

[2021-11-29 12:15] OctavioGalland commented on #2015
Yes, it's been fixed. Thanks!

[2021-11-29 12:50] Rot127 commented on #1796
Same issue for indirect jumps via registers.
The analysis does `goto beach` if the instruction type `op.type == RZ_ANALYSIS_OP_TYPE_RJMP`.

https://github.com/rizinorg/rizin/blob/d6ac6b93ef999d906b20dd9d6116d220bf8df5c8/librz/analysis/fcn.c#L1322-L1329

[2021-11-29 14:31] ret2libc opened #2046 "Remove RZ_HOME_OLD_PLUGINS after 0.4.0 is released"
RZ_HOME_OLD_PLUGINS is going to be added in https://github.com/rizinorg/rizin/pull/1997 just as a way to keep compatibility with old path for home plugins. We will give users and plugin devs one release timeframe to adapt their plugins so that they install plugins in the right dir, then we are going to remove this compatibility layer.

[2021-11-29 14:34] Rot127 opened #2047 "`run_basic_block_analysis` ignores `analysis.jmp.after` flag."
`run_basic_block_analysis` ([src](https://github.com/rizinorg/rizin/blob/d6ac6b93ef999d906b20dd9d6116d220bf8df5c8/librz/analysis/fcn.c#L536)) almost always ignores the `analysis.jmp.after` option and treats `jumps` as return instructions. This behavior results in a low analysis quality for binaries with little to no symbol ELF information (think of firmware binaries).

A specific problem caused by

[2021-11-30 07:02] XVilka opened #2049 "Add test for `rz_agent`"
Currently there is `test/db/tools/rz_agent` but it tests nothing of value.
We should test how it's able to connect with Rizin, like we do that with GDB, for example.

[2021-11-30 17:27] borzacchiello opened #2052 "Wrong resolution of R_ARM_RELATIVE relocations"
It seems that the `R_ARM_RELATIVE` relocation is not resolved correctly by rizin (the issue seems to affect also the latest version of rizin, and radare2).

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| Fi

[2021-12-01 01:52] XVilka commented on #2052
@borzacchiello see https://github.com/rizinorg/rizin/pull/1699 as an example. Since it's work-in-progress, you could extract ARMv7-relevant parts, improve them and send a new PR.

[2021-12-01 07:47] ret2libc commented on #1671
Any progress on this @officialcjunior ?

[2021-12-01 08:58] #2010 closed, assigned to nobody

[2021-12-01 13:14] #2052 closed, assigned to nobody

[2021-12-01 15:13] officialcjunior commented on #1671
Hey, hey

Yep, I had written the code for that a while ago and was currently trying to figure how to make/find a binary to actually test it.

Basically, I just want some instruction to load a value from one of the `.address`-es here at `asm/platforms` -- but I just can't seem to do that, probably due to my idiocy. First thing I tried to do was to set up some ARM compiler (all the added platform pr

[2021-12-02 07:02] #726 closed, assigned to GustavoLCR

[2021-12-02 08:34] ret2libc commented on #1671
@officialcjunior are you looking for something like `ldr.w sl, [0x00000434]`? have you looked in `./test/bins/arm/elf/hello_world` ?

[2021-12-02 21:12] Semnodime opened #2059 "Wrong message / Command 'P' does not exist."
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Linux Mint x86_64
| rizin 0.4.0-git @ linux-x86-64 commit: 98e4816b036214e1c3514aaa2e0e38c85f329e1d

### Expected behavior
prints `Usage: P<so?>   # Project management...`

### Ac

[2021-12-03 06:00] officialcjunior commented on #1671
Yes. That's what I was trying to do at the beginning: I wanted an instruction just like that, taking a value from say `0x7e215048` which is `AUX_MU_IIR_REG` from the BCM2835's platform profile.

I looked up and wrote a simple code which seems to do just that:
[code]
Which when assembled gave a disassembly like this:

[code]
So, now I was figuring out how `0x7e215048` is calculated (`[0x8000038:4]=

[2021-12-03 08:09] ret2libc commented on #2059
[code]

As you can see, `P` command does not exist.

This is expressed with the `<...>` that mean a letter is required after `P`. If `P` was a command, you would have seen `P[so?]` instead of `P<so?>`.

[2021-12-03 08:11] ret2libc commented on #2059
Let me reopen to ask: was this specifically created because you don't like the message when the command does not exist?

What if I execute `Po11111`? Would you print `Usage: Poo <project.rzdb>   # Open a project on top of currently loaded binaries`? I'm not sure about this, I think it's better to just say "Command does not exist".

[2021-12-03 08:49] DMaroo commented on #2059
I personally think that it would be consistent to print the help for `P` commands when `P` is entered. In general, for groups of commands which are longer than one letter (in this case `P` commands, `Ps`, `Po[o]`), entering any prefix string should print the help, i.e. `P` should print the help. Just to make it clear, if there is a group of commands like `nice`, `nile` and `night`, then entering b

[2021-12-04 09:06] borzacchiello opened #2065 "NULL pointer dereference in rz_analysis_block_recurse_depth_first"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not trun

[2021-12-04 13:43] Rot127 commented on #2047
Resolved. Open a PR soon.
Edit: For Hexagon only.

[2021-12-06 09:34] XVilka opened #2072 "Failure to detect `main` function in GraalVM-compiled Java ELF"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64 (Java AOT)
| `rizin -v` full output,

[2021-12-07 17:14] officialcjunior commented on #1671
I've opened a draft PR to speed things up a bit.
So far, I've made an API which returns the .comment when the address of the port is passed to it.

I just would like to know what you think should be done next :)

[2021-12-07 20:12] p371jah commented on #1442
`ax` commands have already been ported

[2021-12-08 08:12] thestr4ng3r commented on #2059
Sounds like a reasonable behavior to me, if it can be implemented without jumping through too many hoops regarding the newshell structure.
I think what should be printed is both "Command does not exist" and the help after it, so it's not an explicit feature to show the help, but just adding the help as an additional hint to the error.

[2021-12-08 11:38] antonangeloff opened #2078 "Rizin cannot guess the calling convention correctly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 / x86 / 64 bit
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, **n

[2021-12-08 11:39] antonangeloff commented on #2078
Let me know if it's worth adding this as a test case.

[2021-12-09 09:20] XVilka opened #2080 "ESIL to RZIL conversion"
# First stage (DONE)

<details>
## High-priority

- [x] `librz/analysis/p/analysis_avr.c` https://github.com/rizinorg/rizin/pull/1890
- [x] `librz/analysis/p/analysis_arm_cs.c` ARMv7 https://github.com/rizinorg/rizin/pull/2241
- [x] `librz/analysis/p/analysis_arm_cs.c` ARMv8 https://github.com/rizinorg/rizin/pull/2354
- [x] `librz/analysis/p/analysis_ppc_cs.c` https://github.com/rizinorg/rizin/pul

[2021-12-09 09:39] ret2libc commented on #2065
I believe this should be easy to fix.

[2021-12-09 10:56] officialcjunior commented on #1671
I was checking whether the de-referenced value (i.e 0x7e215048 on the above example code) was stored somewhere.
I couldn't find it out, so I just put that address in a new variable (at here in [disasm.c](https://github.com/rizinorg/rizin/blob/dev/librz/core/disasm.c#L4019)) I made under `ds` and tried to pass it to the new API I made and add the comment.

Which seems to work:

[code]

I think this

[2021-12-09 15:25] OctavioGalland opened #2082 "Multiple heap-based OOB reads when disassemblying opcodes"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 amd64
| File format of the file you reverse (mandatory)      | ELF64
| Architecture/bits of the file (mandatory)            | QUALCOMM DSP6, Propeller
| `rizin -v` fu

[2021-12-09 15:44] OctavioGalland opened #2083 "Heap-based OOB write when parsing dwarf die info"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04 amd64
| File format of the file you reverse (mandatory)      | ELF64
| Architecture/bits of the file (mandatory)            | amd64
| `rizin -v` full output, **not tr

[2021-12-10 08:24] thestr4ng3r commented on #2083
@OctavioGalland can we add this binary to our test suite? https://github.com/rizinorg/rizin-testbins

[2021-12-10 10:18] ret2libc opened #2084 "Incompatible (L)GPL licenses"
As of https://github.com/rizinorg/rizin/commit/1d3f029d0775ab39cfbc14f322a328e820694ea5 , this is the list of licenses we have in our codebase:

Apache-2.0, BSD-2-Clause, BSD-3-Clause, CC-BY-SA-4.0, CC0-1.0, GPL-1.0-or-later, GPL-2.0-only, GPL-2.0-or-later, GPL-3.0-or-later, LGPL-2.0-or-later, LGPL-2.1-only, LGPL-2.1-or-later, LGPL-3.0-only, MIT, MS-PL, NCSA, RSA-MD

Apache, BSD, CC, GPL, LGPL, MI

[2021-12-10 10:20] wargio commented on #2084
[code]

[2021-12-10 12:05] OctavioGalland commented on #2083
@thestr4ng3r sure!

[2021-12-10 13:13] wargio commented on #70
looks like that `shellcodes.c.src` is not used anywhere.

[2021-12-10 14:01] ogianatiempo opened #2088 "Reading oversized debug section causes system resource exhaustion"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04.1 x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not

[2021-12-10 14:41] OctavioGalland opened #2089 "Access to dwarf attribute value without kind checking leads to segfault"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu 20.04
| File format of the file you reverse (mandatory)      | ELF64
| Architecture/bits of the file (mandatory)            | amd64
| `rizin -v` full output, **not truncate

[2021-12-10 14:43] #2083 closed, assigned to nobody

[2021-12-10 14:43] thestr4ng3r commented on #2083
Thanks. Can you confirm it is fixed on dev?

[2021-12-10 14:55] OctavioGalland commented on #2083
Yes, it doesn't crash anymore.

[2021-12-11 05:06] #702 closed, assigned to nobody

[2021-12-14 02:17] #2089 closed, assigned to nobody

[2021-12-14 08:48] ret2libc opened #2102 "Remove python script for calculating PACKAGE_RELATIVE_PATH for cmake config files"
With https://github.com/rizinorg/rizin/pull/2057 we introduced CMake files generated from meson, so that systems without pkg-config (e.g. windows) can still easily discover Rizin libs. They are also useful for cmake projects such as rz-ghidra or cutter, which nowadays provide their own "FindRizin.cmake" files.

However, due to https://github.com/mesonbuild/meson/issues/9702 we had to introduce a w

[2021-12-14 09:49] #1117 closed, assigned to nobody

[2021-12-15 18:08] #817 closed, assigned to XVilka, wargio, ITAYC0HEN

[2021-12-16 11:37] #1814 closed, assigned to ret2libc

[2021-12-17 08:18] #2084 closed, assigned to ret2libc

[2021-12-18 09:17] Semnodime commented on #2059
As @DMaroo mentioned,
I considered `P` to be a command by itself.
Sure, you could say, I should have paid attention to `P<so>` over `P[so]`.
But that'd be slightly missing the point:

----

Speaking of my intuition as a user, rizin has single-lettered commands that build on top of each other.
Specifying a wrong or incomplete command defaults to the usage guide helping me out (while matching the lo

[2021-12-20 10:19] ret2libc commented on #2102
`@PACKAGE_INIT@` should be used in the `cmake.in` files and meson should replace that with the right `get_filename_component(PACKAGE_PREFIX_DIR_WORKAROUND` and `set_and_check` definitions.

[2021-12-20 22:50] wargio opened #2124 "Windows paths are using unix slash"
When building on windows, the paths are set to use a mix of `/` and `\`

This can be easily noticed when calling `rizin.exe -H`
[code]
![nightmare](https://user-images.githubusercontent.com/561184/146920564-12cea1b7-fbc1-484a-9e77-624d00509d80.png)

[2021-12-21 05:03] chinggg commented on #2124
So which one should we pick? Windows slash `\` or UNIX slash `/`?

[2021-12-21 07:04] XVilka opened #2125 "Wrong calculation of the string length in Visual Graphs"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | -
| Architecture/bits of the file (mandatory)            | -
| `rizin -v` full output, **not truncated**

[2021-12-21 07:59] VegaDeftwing opened #2133 "Self-referential type crashes Rizin"
**Environment information**
* Operating System: Arch Linux 5.15.10-zen1-1-zen
* Cutter version: 2.0.4
* Obtained from:
  - [ ] Built from source
  - [x] Downloaded release from Cutter website or GitHub **(AppImage)**
  - [ ] Distribution repository
* File format: .so

**Describe the bug**

Upon loading this .so file, Cutter crashes and displays a window "Cutter received a signal it can't handle an

[2021-12-21 09:01] ret2libc commented on #2124
@wargio : please post the output you get on windows to make the description of the issue clearer. What's the expected output and what's the actual output. IOW follow the template :D

[2021-12-21 09:03] ret2libc commented on #613
This issue is still clearly described, so I'm removing the stale flag in case some newcomers want to give it a shot since it should be quite easy to implement. Low prio however.

[2021-12-21 09:04] ret2libc commented on #592
Still an issue

[2021-12-21 09:07] ret2libc commented on #554
Still a bug

[2021-12-21 09:16] ret2libc commented on #238
@pelijah did you remove the `afls` commands?

[2021-12-21 11:10] wargio commented on #2124
@ret2libc updated

[2021-12-21 12:47] ret2libc commented on #2124
I think the expected output should be:
[code]

[2021-12-21 12:50] ret2libc commented on #2124
So, I think that this is not actually a functional issue, because everything should work fine even with this mix of slashes, however... It is not cool. I think part of the reason is that meson uses unix-slashes even for windows (because they do work AFAIR), however stuff like `rz_path` creates paths by using the platform-specific directory separator. Thus the mix.

[2021-12-21 14:35] wargio commented on #2124
yes, that is the correct output

[2021-12-21 14:36] wargio commented on #2124
that is not true, many file functions expects the windows trailer and will fail if there is a mix (for example `rz_file_basename`).

[2021-12-21 16:55] p371jah commented on #238
Yep, `afls` commands were removed since we have `aflt`.

[2021-12-21 18:00] Maijin opened #2128 "Version Information for go binary 1.18"
**Is your feature request related to a problem? Please describe.**
Go binary version 1.18 now contains full VCS details (like git commit hash etc.)

https://blog.carlmjohnson.net/post/2021/golang-118-minor-features/

![image](https://user-images.githubusercontent.com/1408600/146976746-8b714641-f088-4ceb-ba6f-eeeb6ee14c61.png)

**Describe the solution you'd like**
Append go version information to a

[2021-12-21 18:53] thestr4ng3r opened #2129 "Unify assignment command code"
There are multiple commands that handle assignments like `e asm.arch=6502`. Right now, they all use their own logic and syntax to parse this from argc/argv, but it will be better to have only one behavior and reuse it everywhere to be consistent.

Affected commands:
* `e`
* `ar`/`dr`
* `aezv`
* `$`

[2021-12-21 23:06] #238 closed, assigned to nobody

[2021-12-22 15:57] ret2libc commented on #2129
What do you have in mind?
In `e` i'm just doing a split on `=`.

[2021-12-22 17:01] thestr4ng3r commented on #2129
Doesn't really matter what the syntax exactly is, but the current state is:
* `e` supports `k=v` but explicitly not `k = v` in favor of multiple assignments in one call
* `ar`/`dr` support both `k=v` and `k = v`, but no multiple assignments
* `aezv` does not handle `=` at all and only supports `aezv k v`

I would be ok with using either the `e` one or `ar`/`dr` one everywhere.

[2021-12-23 05:31] XVilka commented on #2128
Also relevant: https://fedoraproject.org/wiki/Changes/Package_information_on_ELF_objects

[2021-12-23 09:29] ret2libc commented on #2133
Seems to be a problem within Rizin, caused by an infinite recursion due to the types refactoring:
[code]

@XVilka will likely work on a fix for this on Rizin side.

[2021-12-23 09:53] ret2libc commented on #2133
Steps to reproduce in Rizin:
[code]

[2021-12-23 10:13] ret2libc commented on #2133
BTW @XVilka
[code]
Compiling this generates the problem as well.

[2021-12-23 13:49] kazarmy opened #2135 "Add `..(` cmd that runs a macro multiple times with different args"
**Is your feature request related to a problem? Please describe.**

Frequently in tests a command is run multiple times with different args e.g. in #2075 so there is repetition:

[code]

It's somewhat annoying to have to copy-and-paste the command multiple times.

**Describe the solution you'd like**

There should be a general way to run a command (or multiple commands) multiple times on a single

[2021-12-23 16:06] #1314 closed, assigned to wargio

[2021-12-23 16:53] #2133 closed, assigned to XVilka

[2021-12-28 09:23] XVilka opened #2145 "MSVC 32bit COFF & demangle issues"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 35 x86_64
| File format of the file you reverse (mandatory)      | COFF
| Architecture/bits of the file (mandatory)            | x86/32 (MSVC Windows)
| `rizin -v` full out

[2021-12-28 13:27] borzacchiello opened #2149 "Invalid Memory Access in rz_core_analysis_type_match"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x86_64
| File format of the file you reverse (mandatory)      | ELF.
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not tru

[2021-12-28 13:28] #2065 closed, assigned to nobody

[2021-12-29 05:17] XVilka commented on #2149
I did some initial attempt to fix this, but had no time to finish the PR, since it broke some tests: https://github.com/rizinorg/rizin/pull/1829

[2021-12-31 00:18] wargio commented on #1282
This issue seems to be already fixed (see screenshot below)
![image](https://user-images.githubusercontent.com/561184/147795914-9760d03f-b89a-47c1-b8b8-784fcffe86c5.png)

[2021-12-31 00:18] #1282 closed, assigned to wargio

[2022-01-03 12:10] #1770 closed, assigned to wargio

[2022-01-03 12:22] DMaroo commented on #1588
This issue has already been fixed by #1875.

[2022-01-03 12:22] #1588 closed, assigned to DMaroo

[2022-01-03 12:41] #1918 closed, assigned to nobody

[2022-01-03 13:31] ret2libc opened #2167 "Shell autocompletion for `iD` should be based on available demangler plugins"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | any
| File format of the file you reverse (mandatory)      | any
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output, **not truncated** (manda

[2022-01-04 12:40] Rot127 opened #2172 "Allow to fine grade branching analysis to fit each architecture."
**Is your feature request related to a problem? Please describe.**

The analysis of basic blocks can already adapted to the user needs by settings like `analysis.jmp.cref` or `analysis.jmp.after`.
Unfortunately the analysis does not obey to all of them (see: https://github.com/rizinorg/rizin/issues/2047).
Although this does not seem to be a problem for `x86` and `arm` architectures, it very much d

[2022-01-04 15:49] re-fox opened #2173 "Segfault when running aaa against sample"
### Work environment
 - Fedora 35

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Fedora 35 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| `rizin -v` full output, *

[2022-01-05 10:38] #1377 closed, assigned to Basstorm

[2022-01-05 16:41] Maijin opened #2179 "aaa adding temporary esil stack that breaks UX"
aaa is adding temporary esil stack that breaks UX in that sample https://bazaar.abuse.ch/sample/f74c7a605588db80b0812de54ae0f5bf26fcaef8e7dce830a64cbeaddbac7673/ **(careful this is ransomware)**

*If you would like to report a bug, please fill the template below*

### Work environment

| Questions                                            | Answers
|-----------------------------------------------

[2022-01-05 16:51] #2047 closed, assigned to nobody

[2022-01-05 16:51] #1796 closed, assigned to nobody

[2022-01-07 07:13] DMaroo commented on #698
Did #2130 fix it or not?

[2022-01-07 16:29] XVilka commented on #2013
@carlocab the fix is now included in the 0.3.3 release: https://github.com/rizinorg/rizin/releases/tag/v0.3.3

[2022-01-07 16:51] carlocab commented on #2013
Yep, I noticed. Thanks for the update!

[2022-01-08 05:46] dmknght opened #2183 "Meson failed TypeError not 'File'"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ParrotOS 5.0 amd64
| `rizin -v` full output, **not truncated** (mandatory)  | rizin 0.3.3

### Expected behavior
Meson generates files in `build` folder
### Actual behavior
Meson

[2022-01-08 14:05] ret2libc commented on #2183
This is caused by https://github.com/rizinorg/rizin/blob/v0.3.3/meson.build#L691 .
The fix is in https://github.com/rizinorg/rizin/commit/95106d3d9c768adb456e6cf6a17ebd8564e99643 .

[2022-01-08 14:15] ret2libc commented on #1676
This is not perfect, yet, but I think we can close this for now. The API for `ec` could be better though...

[2022-01-08 14:15] #1676 closed, assigned to officialcjunior

[2022-01-08 14:26] ret2libc opened #2185 "Deleting arch hint does not work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux
| File format of the file you reverse (mandatory)      | Any
| Architecture/bits of the file (mandatory)            | x86_64
| `rizin -v` full output, **not truncated**

[2022-01-08 14:26] ret2libc commented on #698
I don't think it does. @pelijah do you know whether the commands listed in this issue really do different things or if some of them should be removed?

[2022-01-08 14:49] p371jah commented on #698
They all work but `aho` is not covered by tests.

[2022-01-08 14:55] ret2libc commented on #698
Ok, thanks pelijah. Let's close this then.

[2022-01-08 14:55] #698 closed, assigned to nobody

[2022-01-08 18:23] p371jah commented on #2185
Weird. `aha-` doesn't work too. It deletes hint from the list but output of `pd 1` doesn't change.

[2022-01-08 21:39] ret2libc commented on #2185
I think it doesn't work in r2 either so it's probably a very old bug

[2022-01-08 21:51] p371jah commented on #2185
`ahb`/`ahb-`  uses almost the same code as `aha`/`aha-` so `ahb-` doesn't work too. Well it also removes a hint from the list but it doesn't affect disassembly output.

[2022-01-09 02:43] XVilka opened #2188 "Rewrite or remove the ELF section prefix test"
It doesn't really makes sense and breaks Windows builds:
[code]
See https://ci.appveyor.com/project/rizinorg/rizin/builds/42126495/job/3c605g24rwfewuu8#L4260

[2022-01-09 05:47] #2188 closed, assigned to nobody

[2022-01-10 13:38] DMaroo commented on #1272
#1678 should have fixed this. I'll retest and close this if this has been fixed.

[2022-01-10 14:51] DMaroo opened #2190 "`rz_type_parse_string_single` segfaults when parsing a complex type"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux, x86-64
| File format of the file you reverse (mandatory)      | Not relevant
| Architecture/bits of the file (mandatory)            | x86/64
| `rizin -v` full output,

[2022-01-10 16:17] XVilka commented on #2183
Fixed in https://github.com/rizinorg/rizin/releases/tag/v0.3.4

[2022-01-10 16:17] #2183 closed, assigned to ret2libc

[2022-01-11 07:58] XVilka opened #2195 "Allow to search for symbols/imports/exports with `rz-find`."
Currently we have only magic, string, binary data search.
It would be useful to be able to search for function calls in the set of binaries.

For example, it could look like this:
- `rz-find -I printf /usr/bin/`  would search for `printf()` in executable file imports, and skip every non-executable file
- `rz-find -S blaargh /usr/bin/` would search for the symbol `blaargh()` in the binary (can be i

[2022-01-13 10:10] #2135 closed, assigned to nobody

[2022-01-13 15:55] ret2libc commented on #1720
@xunforce could you please provide more details about your error? Like the windows.h files and any other files necessary to reproduce the error.

[2022-01-13 15:59] ret2libc commented on #973
@XVilka @wargio does this have anything to do with what done by @wargio ? I'm not sure this is a good issue as it stands right now.

[2022-01-13 16:01] ret2libc commented on #814
i don't expect much work to happen here any time soon. Also, as I will refactor plugins hopefully immediately after 0.4.0, it would be better to have the dependency to binutils limited to those plugins.

[2022-01-13 16:02] ret2libc commented on #70
Can we close this? I think we are right now in a good shape with all code limited to `use_gpl` build-time flag. Thus it is easy to remove the gpl code at build time and most of that code is in plugins.

[2022-01-13 16:04] ret2libc commented on #802
I'm closing this according to https://github.com/rizinorg/rizin/issues/802#issuecomment-944191849 . @lukasjuhrich feel free to re-open it or create a new issue if you still have this problem. Thanks for the report!